<template>
    <div>
        <a href="#" class="btn purple dfgd">Export to PDF<i class="fa fa-angle-right" aria-hidden="true"></i></a>
		<p><i class="fa fa-info-circle" aria-hidden="true"></i>Only you can export pdf</p>
    </div>
</template>
<script>
    // var wkhtmltopdf = require('wkhtmltopdf');
    // console.log(wkhtmltopdf);
</script>