<template>
    <div>
        <div class="input-container">
            <label>{{ componentdata.display_name }}<span>{{ conponentdetails.instructions }}</span></label>
            <div class="checbox">
                <p v-for="( option, key ) in conponentdetails.options">
                <input type="checkbox" :name="componentdata.key" :value="key" v-model="selected_checkbox" @click="click(key)" @change="updateCode" :disabled="validated == true ? true : false">
                <label>{{ option }}</label>
                </p>
            </div>
        </div>
        <div class="input-container" v-if="componentdata.key == 'position'">
            <label>Select Primary Position</label>
            <select v-model="primary_position" name="primary_position" :disabled="validated == true ? true : false" @change="updateSport( $event.target.value )">
                <option value="">Select Position</option>
                <option value="" v-for="( option, key ) in conponentdetails.options" :value="key" v-if="selected_checkbox.includes(key)">{{option}}</option>
            </select>
        </div>
    </div>
</template>

<script type="text/javascript">
    export default{
        props: ['data', 'content', 'disabled', 'position'],
        data(){
            return{
                primary_position: this.empty_check( this.position ),
                val_check : false,
                selected_checkbox:[],
                componentdata: this.data,
                validated : this.disabled,
                conponentdetails: this.existance_check( JSON.parse( this.data.details ) )
            }
        },
        watch : {
            // position: function(val){
            //     this.primary_position = val;
            // },
            disabled: function(val){
                if( val == true ){
                    this.validated = true;
                }else{
                    this.validated = false;
                }
            },
            data: function(val){
                this.selected_checkbox = [];
                this.conponentdetails = this.existance_check( JSON.parse( val.details ) );
            },
            content : function (new_prop) {
                let field = this.componentdata.key;
                if( new_prop != null ){
                    let field_value = new_prop[field];
                    if( typeof(field_value) == 'undefined' ){
                        this.selected_checkbox = [];
                    }else{
                        this.selected_checkbox = field_value;
                    }
                }
            }
        },
        methods: {
            empty_check: function(val){
                if( val == null ){
                    return '';
                }
                return val;
            },
            // primary_check: function( val ){
            //     let positions = val;
                
            // },
            updateSport: function( val ){
                this.$parent.$parent.athlete_position_id = val;
            },
            updateCode: function( value ){
                this.$emit( 'input', this.selected_checkbox );
            },
            existance_check: function( details ){
                if( details == null ){
                    return {};
                }else{
                    return details;
                }
            },
            click: function(key){
                
                if(this.selected_checkbox.length > 3){
                   
                    alert("You Can Select Only Three Positions.");
                    $('input:checkbox[value='+key+']').attr('checked', true).trigger('click');


                }else{

                    this.val_check = false;

                }
            }
        },
        created(){
            let field = this.componentdata.key;
            if( this.content[field] != null ){
                let field_value = this.content[field];
                this.selected_checkbox = field_value;
            }
        },
    }
</script>

<style scoped>
    
</style>