<template>
    <div>
        <h4>{{ componentdata.display_name }}</h4>
    </div>
</template>
<script>
    export default{
        props: ['data', 'content'],
        data(){
            return{
                componentdata: this.data,
                conponentdetails: this.existance_check( JSON.parse( this.data.details ) ),
                options: this.getOptions( JSON.parse( this.data.details ) ),
                value: ""
            }
        },
        methods: {
            updateCode: function( val ){
                // console.log( val );
                this.$emit( 'input', val );
            },
            getOptions: function( details ){
                if( details == null ){
                    return {};
                }else{
                    // console.log( details );
                    return details.options;
                }
            },
            existance_check: function( details ){
                if( details == null ){
                    return {};
                }else{
                    return details;
                }
            }
        },
        created(){
            let field = this.componentdata.key;
            if( this.content != null ){
                let field_value = this.content[field];
                this.value = field_value;
            }
        },
    }
</script>