<template>
    <div class="row">
        <div class="col-md-12">
            <label>{{ componentdata.display_name }}<span>{{ conponentdetails.instructions }}</span></label>
            <ul class="checkbox">
                <li v-for="(value1, key) in options">
                    <input type="radio" :value="key" v-model="value" class="" :name="componentdata.key"  @click="updateCode( $event.target.value )" :disabled="validated == true ? true : false"/>
                    <label>{{value1}}</label>
                </li>
            </ul>
        </div> 
    </div>
</template>

<script>
    export default{
        props: ['data', 'content', 'disabled'],
        data(){
            return{
                componentdata: this.data,
                validated : this.disabled,
                conponentdetails: this.existance_check( JSON.parse( this.data.details ) ),
                options: this.getOptions( JSON.parse( this.data.details ) ),
                value: ""
            }
        },
        watch : {
            disabled: function(val){
                if( val == true ){
                    this.validated = true;
                }else{
                    this.validated = false;
                }
            },
            content : function (new_prop) {
                let field = this.componentdata.key;
                if( new_prop != null ){
                    let field_value = new_prop[field];
                    this.value = field_value;
                }
            }
        },
        methods: {
            updateCode: function( val ){
                // console.log( val );
                this.$emit( 'input', val );
            },
            getOptions: function( details ){
                if( details == null ){
                    return {};
                }else{
                    // console.log( details );
                    return details.options;
                }
            },
            existance_check: function( details ){
                if( details == null ){
                    return {};
                }else{
                    return details;
                }
            }
        },
        created(){
            let field = this.componentdata.key;
            if( this.content != null ){
                let field_value = this.content[field];
                this.value = field_value;
            }
        },
    }
</script>
