<template>
    <div>
        <div class="col-md-6 facebook">
            <a :href="'auth/facebook&'+login_id">Facebook<i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-6 twitter">
            <a :href="'auth/twitter&'+login_id">Twitter<i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </div>
</template>
<script>
    export default{
        props: ['loginid'],
        data: function(){
            return{
                login_id: this.loginid,
            }
        },
        watch:{
            loginid: function( id ){
                this.login_id = id;
            }
        }
    }
</script>