<template>
    <div>
        <div class="tab-inner">
            <input type="hidden" id="academic" :value="saved" />
		    <h3>Academic information
		    	<a v-if="total > 0" @click.prevent="editForm" v-show="saved" class="edit" href="#"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
		    	<a v-if="total > 0" v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Cancel</span></a>
		    	<a v-if="total > 0" v-show="editing" @click="submitData" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save</span></a>
		    	<span class="saving" v-show="saving"><img src="/images/spin.gif" /></span><!-- <a class="btn orange pull-right" @click.prevent="add_sport" href="#">Add New</a> --></h3>
		    <div class="inner-content" v-for="( n, index ) in academics.length" :class="add_class(index, academics.length)">
		    	<div class="row relative" 
		    	<div class="relative academics">

		    		<!-- <a href="#" class="edit" v-show="editing" @click.prevent="deleterow(index,academics[index]['id'])"><i class="fa fa-trash-o" aria-hidden="true"></i></a> -->
			    	<div class="col-md-12">
<!-- 			    		<span class="high-school-lable"><p>High School Name</p></span>
 -->			    		
			    		<h2>{{ academics[index]['school_id'] }}
			    		
			    		<input placeholder="High School Name" class="edit-input"   data-vv-as="School Name" :name="'academics'+index+'school'" v-show="editing" type="text" v-model="academics[index]['school_id']" />

			    		</h2>
			    		
			    		<p><label class="lc">Address </label><span>{{ academics[index]['location'] }}</span>
			    		
			    		<input v-show="editing" type="text" class="edit-input"    data-vv-as="School Address" :name="'academics'+index+'location'" placeholder="School Address"  v-model="academics[index]['location']" />

			    		</p>
			    		<p><label class="lc">City </label><span>{{ academics[index]['city'] }}</span>
			    		
			    		<input v-show="editing" type="text"  class="edit-input"   data-vv-as="city" placeholder="City"  v-model="academics[index]['city']" />

			    		</p>
			    		<p><label class="lc">State </label><span>{{ academics[index]['state'] }}</span>
			    		
						<select name="state" v-show="editing"  class="edit-input"    v-model="academics[index]['state']"  data-vv-as="State">
			    		
			    					<option value="">Select State</option>
			                            <option value="AL">Alabama</option>
			                            <option value="AK">Alaska</option>
			                            <option value="AZ">Arizona</option>
			                            <option value="AR">Arkansas</option>
			                            <option value="CA">California</option>
			                            <option value="CO">Colorado</option>
			                            <option value="CT">Connecticut</option>
			                            <option value="DE">Delaware</option>
			                            <option value="DC">District of Columbia</option>
			                            <option value="FL">Florida</option>
			                            <option value="GA">Georgia</option>
			                            <option value="HI">Hawaii</option>
			                            <option value="ID">Idaho</option>
			                            <option value="IL">Illinois</option>
			                            <option value="IN">Indiana</option>
			                            <option value="IA">Iowa</option>
			                            <option value="KS">Kansas</option>
			                            <option value="KY">Kentucky</option>
			                            <option value="LA">Louisiana</option>
			                            <option value="ME">Maine</option>
			                            <option value="MD">Maryland</option>
			                            <option value="MA">Massachusetts</option>
			                            <option value="MI">Michigan</option>
			                            <option value="MN">Minnesota</option>
			                            <option value="MS">Mississippi</option>
			                            <option value="MO">Missouri</option>
			                            <option value="MT">Montana</option>
			                            <option value="NE">Nebraska</option>
			                            <option value="NV">Nevada</option>
			                            <option value="NH">New Hampshire</option>
			                            <option value="NJ">New Jersey</option>
			                            <option value="NM">New Mexico</option>
			                            <option value="NY">New York</option>
			                            <option value="NC">North Carolina</option>
			                            <option value="ND">North Dakota</option>
			                            <option value="OH">Ohio</option>
			                            <option value="OK">Oklahoma</option>
			                            <option value="OR">Oregon</option>
			                            <option value="PA">Pennsylvania</option>
			                            <option value="RI">Rhode Island</option>
			                            <option value="SC">South Carolina</option>
			                            <option value="SD">South Dakota</option>
			                            <option value="TN">Tennessee</option>
			                            <option value="TX">Texas</option>
			                            <option value="UT">Utah</option>
			                            <option value="VT">Vermont</option>
			                            <option value="VA">Virginia</option>
			                            <option value="WA">Washington</option>
			                            <option value="WV">West Virginia</option>
			                            <option value="WI">Wisconsin</option>
			                            <option value="WY">Wyoming</option>
			                        </select>
						    		</p>
						    		
			    		<p><label class="lc">zip code </label><span>{{ academics[index]['zip'] }}</span>
			    		
			    		<input v-show="editing" type="text"  class="edit-input" data-vv-as="Zip Code" :name="'academics'+index+'zip'" placeholder="Zip Code"  v-model="academics[index]['zip']" />
			    		<span class="form-control-feedback" v-if="errors.has('academics'+index+'zip')">{{errors.first('academics'+index+'zip')}}</span>

			    		</p>
			    		<br />
			    		<h4>Academic Status</h4>
			    		<div class="progress-bar">
							<h2>GPA</h2>
							<input @input="sendValue( 'gpa', index, $event.target.value )" type="range"  step="0.1" min="0" max="5"  v-model="academics[index]['gpa']" :disabled="validated == 1 ? true : false" /> = 

							<input type="number" data-vv-as="gpa" v-show="editing" v-validate="'min_value:0|max_value:5'" :name="'academics'+index+'gpa'" step="0.1" min="0" max="5"  class="edit-input inputslider" v-model="academics[index]['gpa']" />
							<div v-show="hideeditnew">{{ academics[index]['gpa'] }}</div>/4
							<span class="form-control-feedback" v-if="errors.has('academics'+index+'gpa')">{{errors.first('academics'+index+'gpa')}}</span>
						</div>
						<br />
			    		<h4>Standardized Test Scores (SATs)</h4>
			    		<div class="progress-bar">
							<h2 class="light">Reading</h2>
							<input @input="" type="range" name="" value="800" min="200" max="800"  v-model="academics[index]['sats']" :disabled="validated == 1 ? true : false" /> = 

							<input v-show="editing" type ="number" class="edit-input inputslider" v-validate="'numeric|min_value:200|max_value:800'"  data-vv-as="sats" :name="'academics'+index+'sats'" min="200" max="800" v-model="academics[index]['sats']" />
							<div v-show="hideeditnew">{{ academics[index]['sats'] }}</div>/800
							<span class="form-control-feedback" v-if="errors.has('academics'+index+'sats')">{{errors.first('academics'+index+'sats')}}</span>

						</div>
						<div class="progress-bar">
							<h2 class="light">Math</h2>
							<input type="range" name="" value="750" min=200 max="800"  v-model="academics[index]['math']" :disabled="validated == 1 ? true : false" /> = 

							<input v-show="editing" type ="number" class="edit-input inputslider" data-vv-as="math" :name="'academics'+index+'math'"  v-validate="'numeric|min_value:200|max_value:800'" v-model="academics[index]['math']" />
							<div v-show="hideeditnew">{{ academics[index]['math'] }}</div>/800
							                    <span class="form-control-feedback" v-if="errors.has('academics'+index+'math')">{{errors.first('academics'+index+'math')}}</span>
						</div>
						<div class="progress-bar">
							<h2 class="light">Verbal</h2>
							<input type="range" name="" value="750" min=200 max="800"  v-model="academics[index]['verbal']" :disabled="validated == 1 ? true : false" /> = 

							<input v-show="editing" type ="number" class="edit-input inputslider" data-vv-as="verbal" :name="'academics'+index+'verbal'"  v-validate="'numeric|min_value:200|max_value:800'" v-model="academics[index]['verbal']" />
							<div v-show="hideeditnew">{{ academics[index]['verbal'] }}</div>/800
							<span class="form-control-feedback" v-if="errors.has('academics'+index+'verbal')">{{errors.first('academics'+index+'verbal')}}</span>

						</div>
			    		<br />
			    		<div class="progress-bar">
							<h2>ACT</h2>
							<input type="range" name="" value="35" min=0 max="36"  v-model="academics[index]['act']" :disabled="validated == 1 ? true : false" /> = 

							<input v-show="editing" type ="number" class="edit-input inputslider" data-vv-as="act" :name="'academics'+index+'act'"  v-validate="'numeric|min_value:0|max_value:36'" v-model="academics[index]['act']" />
							<div v-show="hideeditnew">{{ academics[index]['act'] }}</div>/36
							<span class="form-control-feedback" v-if="errors.has('academics'+index+'act')">{{errors.first('academics'+index+'act')}}</span>

						</div>
			    	</div>
		    	</div>
				<hr class="light">
		       </div>
		    </div>
		</div>
    </div>
</template>


<style scoped>
	.progress-bar h2{
		 margin: 0px 13px 9px 0 !important;
	}
	.progress-bar input[type=range]{
		 margin: 10px 0 !important;
		 width: 75%;
	}
	.progress-bar h2.light {
	    color: #777575;
	}
	.progress-bar input[type=range]::-webkit-slider-runnable-track{
		max-width: 500px;
	}
	.progress-bar input[type=range]::-moz-range-track{
		max-width: 500px;
	}
	.progress-bar input[type=range]::-ms-track{
		max-width: 500px;
	}
</style>

<script>
    export default{
    	props: ['sportsdata','sportsdatabkd'],
        data(){
            return {
            	validated: 1,
            	validateds: 1,
            	hideeditnew:true,
				editing: false,
				
				saved: true,
				saving: false,
				
				academics: this.arrayCreate( this.sportsdata ),
				academics_bkp: this.arrayCreate( this.sportsdatabkd ),
				total: this.totalCount( this.sportsdata ),
				fields: []
			}
		},
        methods:{
        	
        	arrayCreate: function( r_data = null ){
        		if( r_data == null ){
        			return new Array();
        		}else{
        			if( r_data == '' ){
        				return new Array();
        			}else{
        				return r_data ;
        			}
        		}
        	},
        	 get_title: function( id,indexpostion,rowid){
             	console.log(id)
					if(id == 'other'){
						this.schoolname = true;
						this.validateds = 0;
					}else{
						if (typeof(id) != "undefined"){
						this.validateds = 1;
						this.schoolname = false;
			            this.saving = true;
			            let formdata = new FormData();
			            formdata.append('id',id);
			            axios.post( '/resultsearch', formdata ).then(response=>{
			            Vue.set( this.academics, indexpostion, { school_id : id,gpa:0,city:response.data[0].city,state:response.data[0].state,zip:response.data[0].zip,act:0,verbal:0,math:0,qualification:'',sats:0,id:rowid} );
			                  this.saving = false;
			            })
						}
					}
    		  },
        	totalCount: function( data = null ){
        		if( data == null ){
        			return 0;
				}else{
					return 0;
        		}
        	},
            add_sport: function(){
            	
            	this.academics.unshift( { state:'',school_id:'',gpa:0, sats:200, math:200, verbal:200, act:0 } );
                this.total = this.total + 1;
                // this.fields[ this.total ] = {};
                this.editForm();
                //this.submitData();
            },
            check: function( value ){
                if( value == 'undefined' ){
                    return '';
                }
            },add_class( i, x ){
                console.log( i );
                console.log( x );
               
                if( i == 0 && this.editing == true){
                    return "highlight";
                }else{
                    return "";
                }
            },
            cancel: function(){
            	this.total = 0;
	        	// this.testimonails = this.arrayCreate( this.sportsdata );
          //      if( this.testimonails != null ){
    	     //   	for( let i = 0; i < this.testimonails.length; i++ ){
    	     //   		this.total = this.total + 1;
    		    // 	}
          //  	}

	            this.academics = new Array();
        		for( let i = 0; i < this.academics_bkp.length; i++ ){
        			this.academics.push( this.academics_bkp[i] );
        		}


        		this.total = this.academics_bkp.length;
        		this.$validator.validateAll().then(() => {
                
                }).catch(() => {
                    this.errors.clear();
                    return false
                });
	            this.editing = false;
	            this.hideeditnew = true;
	        	this.saved = true;
	        	this.validated = 1;
	        	// this.submitData();
	        },
	        deleterow: function(data,deleteid){

                this.total = this.total - 1;


                this.academics.splice(data,1);

                this.$validator.validateAll().then(() => {
                
                }).catch(() => {
                    this.errors.clear();
                    return false
                });
                if(this.academics.length == 0){
                	this.remove( data );
                 }
                 this.remove(deleteid);
            },
            remove( data ){
            	let data1 = new FormData();
               	data1.append('key', data);
               
                axios.post( '/profile/deleteacadmic', data1 )
                .then(response=>{
                	move(response.data);
                    console.log(response);
                
                    // this.delete_row = true;
                })
                .catch(error=>{
                    console.log(error);
                    this.errors=error.errors;
                })
            },
	        editForm: function(){
	        	this.validateds = 1,
	        	this.validated = 0;
	            this.editing = true;
	            this.saved = false;
	            this.hideeditnew = false;
	        },
	        submitData(){
	         this.$validator.validateAll().then(() => {
				this.editing = false;
                this.saved = false;
                this.saving = true;
	            axios.post( '/profile/acadmic', { academics: this.academics } )
	            .then(response=>{
					this.academics_bkp = this.academics;
	            	var json = response.data['schoollist'];
		            for(var i = 0; i < json.length; i++) {
					    this.schoollist.push(json[i]);
					}  	
					var jsondata = response.data['value'];
				
		            for(var k = 0; k < jsondata.length; k++) {

		            	console.log(jsondata[k]);
					    Vue.set( this.academics, k ,jsondata[k]);
					    
					}
					this.schoolname = false;
					move(response.data['prog']);
	                this.editing = false;
	                this.saved = true;
	                this.hideeditnew = true;
	                this.saving = false;
	                this.validated = 1;
	            })
	            .catch(error=>{
	                this.errors=error.errors;
	           })
		  }).catch(() => {
           console.log("error");
           
           return false
            
       }); 
	        }
        },
        created(){
        	if(this.academics.length == 0){
        		this.add_sport();
        		this.submitData();
        		this.editing = false;
	                this.saved = true;
	                this.hideeditnew = true;
	                this.saving = false;
	                this.validated = 1;
        	}
            if( this.academics != null ){
	        	for( let i = 0; i < this.academics.length; i++ ){
	        		this.total = this.total + 1;
		    	}
		    }
        	
        }
    }
</script>