<template>
	<div class="container">
		<form class="create-acc" id="signup-user" method="post" @submit.prevent="submitProfile">
			<!--<?php-->
			<!--	$data = ;-->
			<!--?>-->
			<div class="half">
				<input type="hidden" name="role" value="2">
				<label>First Name <sup>*</sup></label>
				<input type="text" name="first_name" id="first_name" v-model="AtheleteData.first_name" />
				<span class='error'>{{errors.first_name?errors.first_name[0]:""}}</span>
			</div>
			<div class="half">
				<label>Last Name <sup>*</sup></label>
				<input type="text" name="last_name" id="last_name" v-model="AtheleteData.last_name" />
				<span class='error'>{{errors.last_name?errors.last_name[0]:""}}</span>

			</div>
			<div class="full">
				<label>Email Address <sup>*</sup></label>
				<input type="email" name="email" id="email" v-model="AtheleteData.email" />
				<span class='error'>{{errors.email?errors.email[0]:""}}</span>
			</div>
			<div class="full">
				<label>Password <sup>*</sup></label>
				<password v-model="AtheleteData.password" :secureLength="8" :badge=false ></password>
				<span class='error'>{{errors.password?errors.password[0]:""}}</span>
			</div>
			
			<div class="full">
				<label>Sport</label>
				<select name="sport" class="js-example-basic-single"  v-model="sportsdata.sport">
					<option value="">Select Sport</option>
					<option v-for="sport in allsports" :value="sport.id" >{{sport.title}}</option>
					<!--@foreach( $sports as $s_sport )-->
					<!--	<option @if( isset($sport) && $sport == $s_sport->id ){{'selected'}}@endif value="{{ $s_sport->id }}">{{ $s_sport->title }}</option>-->
					<!--@endforeach-->
			        <option value="other">Others</option>
			    </select>
			    <span class='error'>{{errors.sport?errors.sport[0]:""}}</span>
			</div>
			<div class="full">
				<div class="col-md-6">
					<label>Gender</label>
					<ul class="checkbox">
						<li>
							<input type="radio" checked  name="athelete_gender" value="Men" v-model="AtheleteData.athelete_gender"/>
							<label>Men</label>
						</li>
						<li>
							<input type="radio" name="athelete_gender" value="Women" v-model="AtheleteData.athelete_gender" />
							<label>Women</label>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<label>Graduation Year</label>
					<select name="graduation" class="js-example-basic-single"  v-model="AtheleteData.graduation">
						<option value="">Select Graduation Year</option>
						<option v-for="sport in graduation" :value="sport" >{{sport}}</option>
				    </select>
				    <span class='error'>{{errors.graduation?errors.graduation[0]:""}}</span>
				</div>
			</div>
			<button class="btn orange">Sign Up</button>
			<!--<div style="display: none;">{{ csrf_field() }}</div>-->
		</form>
		<h2>or, sign up using:</h2>
		<div class="social-signup">
			<div class="col-md-6 facebook">
				<a href="auth/facebook&2">Facebook<i class="fa fa-facebook" aria-hidden="true"></i></a>
			</div>
			<div class="col-md-6 twitter">
				<a href="auth/twitter&2">Twitter<i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</template>
<script>
import Password from 'vue-password-strength-meter'

export default {
    	props:['allsports','graduation'],
    	data(){
            return{
            	password: null,
				AtheleteData:{
                    first_name:"",
                    last_name:"",
                    email:"",
                    password:"",
                    sport:"",
                    athelete_gender:"",
                    role: 2,
                    graduation:''
                },
                errors:{}
            }
        },
        components: { Password },
        methods:{
            submitProfile(){
                axios.post('/ajax_create',this.AtheleteData)
                .then(response=>{
                	// login_form();
     //           	console.log(app.before_signup);
					// console.log(response);
					if( response.data.error ){
						this.errors=response.data.errors;
						console.log( this.$parent.before_signup );
						
					}else{
						this.AtheleteData='';
						this.error = '';
						
						this.$parent.before_signup = false;
						this.$parent.signup_popup_message = true;
						// console.log(app.before_signup);
						// location.assign("/complete-registration");
					}
                })
                .catch(error=>{
                    this.errors=error.errors;
               })
            }
        },
    	created(){
    		// console.log( this.allsports );
    	},
    	mounted() {
            console.log('Athelete.')
        }
    }
</script>