<template>
    <div>
        <form class="details no-padding" id="basic_information" method="POST" @submit.prevent="submitProfile">
        <section class="grey-bg">
            <div class="container">
                <div class="info-forms">
                    <div class="sign-up-form">
                        <h1>let’s get you set up</h1>
                        <h2>first, we’ll need some basic info from you</h2>
                        <h3 class="heading-form"><span>1</span>Athlete Information<a @click="edit_athlete"  v-if="step_1 == false">Edit</a></h3>
                        <div id="step_1" class="details loadericon" v-show="step_1">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                <label>First Name <sup>*</sup></label>
                                
                                <input type="text" name="first_name" v-validate="'required'" id="first_name" placeholder="First Name" data-vv-as="First Name" v-model="AtheleteDatastep1.athelete_firstname" />
                                <span class="form-control-feedback" v-if="errors.has('first_name')">{{errors.first('first_name')}}</span>

                        
                                </div>
                                <div class="col-md-6 col-sm-6">
                                <label>Last Name</label>
                                <input type="text" name="last_name" id="last_name" placeholder="Last Name" v-model="AtheleteDatastep1.athelete_lastname" />
                               <!--  <span class="form-control-feedback" v-if="errors.has('last_name')">{{errors.first('last_name')}}</span> -->
        
                                </div>
                                <div class="col-md-12 col-sm-12">
                                <label>Email <sup>*</sup></label>
                                <input type="text"  data-vv-as="Athlete Email" v-validate="'required|email'" name="athelete_email" id="athelete_email" placeholder="Enter Email" v-model="AtheleteDatastep1.athelete_email" />
                                <span class="form-control-feedback" v-if="errors.has('athelete_email')">{{errors.first('athelete_email')}}</span>  

                                </div>
                                <div style="display:none;" class="col-md-12 col-sm-12">
                                        <select v-show="usermeta.sport ? false : true" name="sport" class="sportsdropdown"  v-model="AtheleteDatastep1.sport">
                                            <!-- <option value="">Select Sport</option> -->
                                            <option v-for="sport in orderedSports" :value="sport.id" >{{sport.title}}</option>
                                        </select>
<!--                                         <span class='error'>{{errors.sport?errors.sport[0]:""}}</span>
 -->                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label>Gender</label>
                                    <ul class="checkbox">
                                        <li>
                                            <input type="radio" checked  name="athelete_gender" value="Men" v-model="AtheleteDatastep1.athelete_gender"/>
                                            <label>Male</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="athelete_gender" value="Women" v-model="AtheleteDatastep1.athelete_gender" />
                                            <label>Female</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label>Graduation Year</label>
                                        <select name="graduation" v-model="AtheleteDatastep1.graduation">
                                            <option value="">Select Graduation Year</option>
                                            <option v-for="graduation in graduation" :value="graduation" >{{graduation}}</option>
                                        </select>
<!--                                         <span class='error'>{{errors.graduation?errors.graduation[0]:""}}</span>
 -->                                </div>
                            </div>
                            <button class="btn orange" >Continue<i class="fa fa-angle-right" aria-hidden="true"></i></button>
                            <div class="overlay-center" v-show="saved" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div>

                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </form>
</div>
</template>
    <script>
export default {
        props:['graduation','usermeta','allsports','role_id'],
        data(){
            return{
                step_1: true,
                password: null,
                AtheleteDatastep1:{
                    athelete_firstname:this.usermeta.athelete_firstname,
                    athelete_lastname:this.usermeta.athelete_lastname,
                    athelete_email:this.usermeta.athelete_email,
                    // sport:this.empty_check( this.usermeta.sport ),
                    sport:2,
                    athelete_gender:this.usermeta.athelete_gender,
                    graduation:this.empty_check( this.usermeta.graduation )
                },
                // errors:{}
            }
        },
        computed:{
            orderedSports: function () {
            return _.orderBy(this.allsports , 'title')
        }
        },
        methods:{
            empty_check( val = null ){
                if( val == null )
                    return '';
                else
                    return val;
            },
            submitProfile(){
                 this.$validator.validateAll().then(() => {

                axios.post('/complete-registration',this.AtheleteDatastep1)
                .then(response=>{
                    
                    if( response.data.error ){
                        $('span.error').show();
                        this.errors=response.data.errors;
                        console.log(this.errors);
                        console.log( this.$parent.before_signup );
                        
                    }else{
                        $('span.error').hide();
                        console.log(response.data);
                        window.location = '#2';
                        move(response.data);
                        this.error = '';
                        this.overlay = true;
                        this.$parent.hide_step2 = false;
                        this.$parent.overlay = false;
                        this.$parent.step_2 = true;
                        this.step_1 = false;
                    }
                })
                .catch(error=>{
                    this.errors=error.errors;
              })
                }).catch(() => {
                console.log("error");
                return false
            });
            },
            edit_athlete(){
              window.location = '#1';
              this.step_1 = true;
              this.$parent.step_2 = false;
              this.$parent.hide_step2 = true;  
            }
        },
        created(){
        
        },
        mounted() {
            window.location = '#1';
            // this.usermeta.role_id
            if(this.role_id == 2 ){
            console.log('complete-reg-1');
            window.location = '#2';
            this.$parent.hide_step2 = false;
            this.$parent.overlay = false;
            this.$parent.step_2 = true;
            this.step_1 = false;

            }

        }
    }
</script>