<template>
    <div id="app">
        <h1>photos   <p class="imagehide" v-show="imageuploadmore">{{imageipload}}</p>
        <a @click="editForm" v-show="saved" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
        <a v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Cancel</span></a>
        <a @click="upload" v-show="plusnew" class="edit"><i class="fa fa-plus" aria-hidden="true"></i><span>Add Photo</span></a>
        <span class="saving" v-show="saving"><img src="/images/spin2.gif" /></span>
        
        </h1>
        <div class="uploaded-images">
            <div v-show="imagesblock" class="col-md-6 padding-10">
                <a class="upload" href="#">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Upload New
                    <form id="reset">
                    <input type="file" multiple id="datafile" ref="file_input" @change="uploadFiles">
                    </form>
                </a>
            </div>
            <ul class="gallery list-group">
                <li class="list-group-item" v-for="(file,index) in files" :id="file.public" :data = "index">
                <button   v-show="delete_video" v-on:click="onDelete(file.public,index)">&#10007;<span>Delete</span></button>
                <img  :src="'https://res.cloudinary.com/webforte/image/upload/h_400/'+file.public+'.png'" class="img-responsive"> 
                </li>
            </ul>
        </div>
    </div>
</template>
<script>

    export default{
    props:['usermeta'],
    
    data() {
        return{
            imageuploadmore:false,
            plusnew:false,
            imagesblock:false,
            saving:false,
            editing: false,
            saved: true,
            delete_video:false,
            imageipload:'',
            files:this.usermeta,
            backdata:[]
        }
    },
    methods: {
    onUpdate: function (event) {
         // var old = event.oldIndex,
         //     now = event.newIndex;
         //  let data1swap = new FormData();
         //  data1swap.append('old',old);
         //  data1swap.append('now',now);
         //this.files.splice(now, 0, this.files.splice(old, 1)[0]);
          // axios.post('/photo/swap',data1swap).then(function (response) {
              
          // });
    },
        reorder ({oldIndex, newIndex}) {
          console.log(this.files);
          const movedItem = this.files.splice(oldIndex, 1)[0]
          console.log(movedItem);
        //   this.files.splice(newIndex, 0, movedItem);
        //   axios.post('/photo/imagedrag',{drag : this.files}).then(function (response) {
                
        //   });
         
        },
      uploadFiles: function () {
        var filecount = this.files.length;
         var self = this;
        var files = this.$refs.file_input.files;
        var total = files.length;
        var totalfiles = filecount  +  total;
        console.log(totalfiles);
        
        if(totalfiles > 3){
            
            this.imageuploadmore = true;
            var result = 3 - filecount;
            this.imageipload ='sorry, You can upload total 3 images only';
            setTimeout(function(){ 
                
              self.imageuploadmore = false;
              
            }, 10000);
           $('#reset')[0].reset();  
            return false;
        }
        
        
        
         var valinc = 0;
        const config = { headers: { 'Content-Type': 'multipart/form-data' } };
        var self=this;

        if(files.length > 0){
                    self.saving = true;
                }

            var sizefile = '';

            for (var i = 0; i< files.length; i++) {
            
            if(files[i].size > 2097152){
                             console.log(++valinc);

              var sizefile = 'enter';    
            }else{

            var data = new FormData();
            data.append('file', document.getElementById('datafile').files[i]);
           
                axios.post('/photo/storegallery', data,config).then(function (response) {
                                 console.log(++valinc);

                  document.getElementById('datafile').value ='';
                self.files.push(response.data);
                 self.saved = true;
                if(valinc  == total){
                 self.saving = false;
                }
                console.log(response.data['prog']);

               move(response.data['prog']);
                self.editing = false;
                self.delete_video = false;
                self.saved = true;
                self.plusnew = true;
                self.imagesblock = false;
                if(self.files.length == 3){
                    self.imagesblock = false;
                     self.plusnew = false;
                } 
                if(valinc  == total){
              if(sizefile != ''){
                    alert("Please make sure images are under 2mb.");
                    sizefile = '';
                    self.saving = false;
              } 
            }
                

                });
                
              }

              if(valinc  == total){
              if(sizefile != ''){
                    alert("Please make sure images are under 2mb.");
                    sizefile = '';
                    self.saving = false;
              } 
            }

             } 
              
          },
           onDelete:function(key,index){
                
                this.files.splice(index,1);
             if(this.files.length == 0){
                    this.editing = false;
                     this.plusnew = false;
                    this.imagesblock = true;
                } if(this.files.length >= 1){
                    this.plusnew = true;
                    this.imagesblock = false;
                    
                    
                }
        //   console.log(key);
        //      jQuery('#'+key).remove();
              var data1 = new FormData();
               data1.append('key', key);
                data1.append('index', index);
             axios.post('/photo/gallerydelete',data1).then(response => {
                move(response.data['prog']);
                
                
               
                console.log(response.data.prog);
                
            });
        },
        cancel: function(){
            this.editing = false;
            this.delete_video = false;
            this.saved = true;
        },
        editForm: function(){
            this.editing = true;
             this.saved = false;
            this.delete_video = true;

        },upload:function(){
            
            $('#datafile').trigger('click');
            
        }
        
          
      },
      created(){
            var lenght = this.usermeta;
            if(this.files.length == 3){
                this.imagesblock = false;
                this.plusnew = false;
            }else if(this.files.length >= 1){
                this.plusnew = true;
                this.imagesblock = false;
            }else{
                this.plusnew = false;
                this.imagesblock = true;
            }
            if(lenght == '' || lenght.length == 0 ){
                this.saved = false;
            }
            
        },
     
    }
</script>
