<template>
    <div>
    <div class="loder">
        <span class="saving" v-show="saving"><img src="/images/spin2.gif" /></span>
    <div class="upload">
        <button v-show="image_delete" class='profileimage' v-on:click="onDelete(thumb.publicid)">&#10007;<span>Delete</span></button>
        <img :src="thumb.image" :data="thumb.publicid" class="img-responsive">
        
        <input id="imagenot" type="file" v-on:change="onFileChange" class="form-control image-profile" multiple>
        <button v-show="upload_btn" class="btn btn-success btn-block" id="buttonup" @click="upload">Upload</button>
        <a class="edit-icon" @click="uploadimage"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span>Edit</span></a>
    </div>
    </div>
    </div>
    
</template>
<style scoped>
    img{
        max-height: 36px;
    }
</style>
<script>
    export default{
           props:['usermeta'],

        data(){
            return {
                saving :false,
                upload_btn:false,

                gender:this.usermeta.athelete_gender,
                thumb:{
                image: this.empty_check(this.usermeta.user_profile_image),
                publicid:this.usermeta.profile_public_id
            },
                
            }
        },
        methods: {

            empty_check: function( val ){
            // console.log(this.usermeta.coach_gender);
            if( val == '' || val == null || val == 'users/default.png' ){
                this.image_delete = false;
                let gender;

                if(typeof(this.usermeta.athelete_gender) != 'undefined'){
                     gender = this.usermeta.athelete_gender;
                }
                if(typeof(this.usermeta.coach_gender) != 'undefined'){
                     gender = this.usermeta.coach_gender;
                }

                if(gender == 'Women' && gender != ''){ 

              return "https://sportcontactusa.com/storage/EFuG6j0fKnCeYPkABRMIvbzHdUi2rLC4xB24f4lB.png";

               }else{

                  return 'https://sportcontactusa.com/storage/EFuG6j0fKnCeYPkABRMIvbzHdUi2rLC4xB24f4lB.png';
                 

               }
                 
            }else{
                  this.image_delete = true;
                  return val;
                  
            }
            
        },
            onFileChange(e) {
                  

                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                if(files[0].size > 2097152){

                    alert("please make sure images are under 2mb.");
                    return;
                }
                this.createImage(files[0]);
                console.log(files[0]);
                console.log(files[0].size);


                this.saving = true;
                setTimeout(function() {
                    jQuery("#buttonup").trigger('click');
                }, 3000);
               
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.thumb.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
           onDelete(){
                if(this.usermeta.athelete_gender == 'Men'){  

                   this.thumb.image = "https://sportcontactusa.com/storage/EFuG6j0fKnCeYPkABRMIvbzHdUi2rLC4xB24f4lB.png";

                 }else{

                    this.thumb.image = "https://sportcontactusa.com/storage/EFuG6j0fKnCeYPkABRMIvbzHdUi2rLC4xB24f4lB.png";

                 }
                this.image_delete = false;
               axios.post('/photo/delete/image',{id: this.thumb.publicid}).then(response => {
                  this.saving = false;
                  move(response.data.prog);
                });
           },
           uploadimage(){
              $('#imagenot').trigger('click');
           },
            upload(){
              this.saving = true;

               axios.post('/photo/delete/image',{id: this.thumb.publicid}).then(response => {
                         
                });
                axios.post('/photo/store',{image: this.thumb.image}).then(response => {
                    console.log("helo");
                     document.getElementById('imagenot').value ='';
                     this.image_delete = true;
                     this.thumb.publicid = response.data[1];
                    //  this.hide_button = true;
                     this.saving = false;
                     move(response.data['prog']);



                });
            }
            
        },

    }
</script>