<template>
    <div>
    	<!-- <div class="tab-inner">
    		<input type="hidden" id="sports" :value="saved" /> -->
    		<!-- <h3>Sport / Stats Information<a class="btn orange pull-right" v-show="limit" @click.prevent="add_sport" href="#">Add Sport</a></h3>
    	</div> -->
		<div class="sports_fields" v-for="( n, index ) in total">
		    <div class="tab-inner">
	             <h3>{{sportname}}<a v-if="total > 0" @click.prevent="editForm" v-show="saved" class="edit" href="#"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
	            	<a v-if="total > 0" v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Cancel</span></a>
	            		<a v-if="total > 0" v-show="editing" @click="submitData" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save</span></a>
	            	<span class="saving" v-show="saving"><img src="/images/spin.gif" /></span><a v-show="editing" @click="deleterow(index)" class="edit pull-right" v-if="index != 0"><i class="fa fa-trash-o" aria-hidden="true"></i></a></h3>
	            <div class="inner-content">
			    	<div class="row">
			    	    <div class="col-md-12">
			    	        <select v-show="usermeta.sport ? false : true" :name="index+'_sport'" class="" @change="get_sport_fields(index)" v-model="usersportsdata[index].sport" :disabled="saved == true ? true : false">
	        					<option value="">Select Sport</option>
	        					<option v-for="sport in orderedSports" :value="sport.id" >{{sport.title}}</option>
	        					<!-- <option value="other">Others</option> -->
	        			    </select>
			    	    </div>
				    	<div :class="'col-md-12'">
				    		<form>
				    		    <div v-for="field in fields[index]">
				    		        <checkbox :position="position" :disabled="saved" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'checkbox'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></checkbox>
				    		        <selectbox :disabled="saved" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'select_dropdown'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></selectbox>
				    		        <radio :disabled="saved" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'radio_btn'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></radio>
				    		        <textbox :disabled="saved" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'text'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></textbox>
				    		        <slider :disabled="saved" :count="index" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'slider'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></slider>
				    		        <instruction :count="index" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'instruction'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></instruction>
				    			</div>
				    		</form>
				    	</div>
				    	<hr class="light"  v-if="stats[index] != 0"/>
			    	</div>
			    </div>
			</div>
			<div  class="tab-inner" v-if="stats[index] != 0 && usersportsdata[index].sport != ''">
			    <h3>Stats</h3>
			    <div class="inner-content">
			    	<form>
				    	<div v-for="field in stats[index]">
		    		        <checkbox :disabled="saved" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'checkbox'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></checkbox>
		    		        <selectbox :disabled="saved" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'select_dropdown'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></selectbox>
		    		        <radio :disabled="saved" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'radio_btn'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></radio>
		    		        <textbox :disabled="saved" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'text'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></textbox>
		    		        <slider :disabled="saved" :count="index" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'slider'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></slider>
		    		        <instruction :count="index" :content="usersportsdata[index]" v-model="usersportsdata[index][field.key]" v-if="field.type == 'instruction'" :data="field"><div class="overlay-center" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div></instruction>
		    			</div>
				    </form>
			    </div>
			</div>
		</div>
    </div>
</template>
<style scoped>
	.sports_fields {
	    float: left;
	    width: 100%;
	}
</style>

<script type="text/javascript">
    // import test from './././components/inputtypes/text.vue'
    export default {
        props: [ 'usermeta','allsports' , 'allsportsnew' , 'sportsdata', 'sportfields', 'athlete_sport_id', 'athlete_position_id', 'sync_sport', 'primary_position'],
        data(){
            return {
            	limit: '',
            	validated : 1,
				editing: false,
				sportname:'',
				saved: true,
				saving: false,
				position : this.primary_position,
				sports: this.allsports,
				sportsfields: this.sportfields,
				sport_id: this.athlete_sport_id,
	            position_id: this.athlete_position_id,
				usersportsdata: this.arrayCreate( this.sportsdata ),
				total: this.totalCount( this.sportsdata ),
				fields: [],
				stats: []
			}
		},
		computed:{
            orderedSports: function () {
            return _.orderBy(this.allsportsnew , 'title')
        }
        },
		watch: {
			// athlete_sport_id: function(val){
			// 	// console.log('null check '+val);
			// 	// if( this.sport_id == '' ){
			// 	// 	this.sport_id = val;
			// 		// if( this.total == 0 ){
			// 			// console.log('spo');
			// 			// this.total = this.total + 1;
			// 		// 	Vue.set(this.usersportsdata, 0, {});
			// 		// 	Vue.set(this.usersportsdata[0], 'sport', val);
			// 		// 	// Vue.set(this.usersportsdata[0], 'position', positions);
			// 		// 	if( typeof(this.sportsfields[ this.usersportsdata[0].sport ]) != 'undefined' ){
			// 		// 		Vue.set(this.fields, 0, this.sportsfields[ this.usersportsdata[0].sport ]['fields']);
			// 		// 		Vue.set(this.stats, 0, this.sportsfields[ this.usersportsdata[0].sport ]['stats']);
			// 		// 	}
			// 		// // }
			// 	// }else{
			// 		this.sportname = this.sports[val];
			// 		if( typeof(this.usersportsdata[0].sport) != 'undefined' && this.usersportsdata[0].sport != val ){
			// 			Vue.set(this.usersportsdata, 0, {});
			// 			Vue.set(this.usersportsdata[0], 'sport', val);
			// 			// Vue.set(this.usersportsdata[0], 'position', positions);
			// 			if( typeof(this.sportsfields[ this.usersportsdata[0].sport ]) != 'undefined' ){
			// 				Vue.set(this.fields, 0, this.sportsfields[ this.usersportsdata[0].sport ]['fields']);
			// 				Vue.set(this.stats, 0, this.sportsfields[ this.usersportsdata[0].sport ]['stats']);
			// 			}
			// 		}
			// 	// }
			// },
			// athlete_position_id: function(val){
			// 	// if( this.position_id == '' || this.position_id == null || this.position_id == 'undefined' ){
			// 	// 	if( val != 'undefined' ){
			// 	// 		this.position_id  = val;
			// 	// 		if( typeof(this.usersportsdata[0].position) == 'undefined' ){
			// 	// 			let positions = new Array();
			// 	// 			positions.push(val);
			// 	// 			Vue.set(this.usersportsdata[0], 'position', positions);
			// 	// 		}else{
			// 	// 			let positions = this.usersportsdata[0].position;
			// 	// 			positions.push(val);
			// 	// 			Vue.set(this.usersportsdata[0], 'position', positions);
			// 	// 		}
			// 	// 	}
			// 	// }else{
			// 		let positions = new Array();
			// 		if( typeof(this.usersportsdata[0].position) != 'undefined' ){
			// 			positions = this.usersportsdata[0].position;
			// 		}
			// 		console.log(positions);
			// 		if( positions.includes(val) ){
			// 		}else{
			// 			positions.push(val);
			// 		}
			// 		Vue.set(this.usersportsdata[0], 'position', positions);
			// 		this.position = val;
			// 	// }
			// },
			// sync_sport: function(val){
			// 	if( val == true ){
			// 		// this.$parent.sync_user_sport = false;
			// 		this.submitData();
			// 		// this.sport_id = this.usersportsdata[0]['sport'];
			// 	}
			// }
		},
        methods:{
        	arrayCreate: function( r_data = null ){
        		// console.log( 'sdsdSd' );
        		if( r_data == null ){
        			return new Array();
        		}else{
        			if( r_data == '' ){
        				return new Array();
        			}else{
        				return JSON.parse( r_data );
        			}
        		}
        	},
        	totalCount: function( data = null ){
        		// Vue.set( this.usersportsdata, parseInt(this.total), { sport: '' } );
        		// console.log( data );
        		if( data == null || data == '' ){
        			return 0;
				}else{
					if( JSON.parse( data ).length < 2 ){
						this.limit = true;
					}else{
						this.limit = false;
					}
    				return JSON.parse( data ).length;
        		}
        	},
            add_sport: function(){
            	Vue.set( this.usersportsdata, parseInt(this.total), { sport: '' } );
                this.total = this.total + 1;
                if( this.total >= 2 ){
                	this.limit = false;
                }
                // this.fields[ this.total ] = {};
                // this.stats[ this.total ] = {};
                this.editForm();
                setTimeout(function(){
	                $('html, body').animate({
	                        scrollTop: ( $('.sports_fields:last').offset().top - 10 )
	                },1000);
                });
            },
            get_sport_fields: function(n){
            	// console.log('index' + n);
            	let sport_val = this.usersportsdata[n]['sport'];
            	if( sport_val == '' ){
            		Vue.set(this.usersportsdata, n, {});
	            	Vue.set(this.usersportsdata[n], 'sport', sport_val);
					Vue.set(this.fields, n, {});
					Vue.set(this.stats, n, {});
	            	// console.log(sport_val);
            	}else{
	            	Vue.set(this.usersportsdata, n, {});
	            	Vue.set(this.usersportsdata[n], 'sport', sport_val);
	            	if( typeof(this.sportsfields[ this.usersportsdata[n].sport ]) != 'undefined' ){
		            	Vue.set(this.fields, n, this.sportsfields[ this.usersportsdata[n].sport ]['fields']);
						Vue.set(this.stats, n, this.sportsfields[ this.usersportsdata[n].sport ]['stats']);
					}
	            	this.$parent.athlete_sport_id = this.usersportsdata[0].sport;
	            	this.sportname = this.sports[sport_val];
	            	console.log(this.sportname);
				}
			},
            check: function( value ){
                if( value == 'undefined' ){
                    return '';
                }
            },
            cancel: function(){
	        	this.userData1 = this.usermeta;
	            this.editing = false;
	        	this.saved = true;
	        },
	        editForm: function(){
	            this.editing = true;
	            this.saved = false;
	            this.validated = 0;
	        },
	        submitData(){
				this.editing = false;
				this.saved = false;
				this.saving = true;

				axios.post( '/profile', { sportsdata: this.usersportsdata, primary_position: this.position } )
				.then(response=>{
					move(response.data);
				    this.editing = false;
				    this.saved = true;
				    this.saving = false;
				    this.sport_id = this.usersportsdata[0]['sport'];
				  //  if( this.$parent.sync_user_sport == false ){
					    this.$parent.sync_sport_user = true;
				    // }else{
				    // 	this.$parent.sync_user_sport = false;
				    // }
					this.$parent.athlete_position_id = this.position_id;
				  //   if( typeof(this.usersportsdata[0]['position']) != 'undefined' ){
						// this.$parent.athlete_position_id = this.usersportsdata[0]['position'][0];
				  //   }
					// console.log( this.usersportsdata[0]['position'][0] );    
				})
				.catch(error=>{
				    this.errors=error.errors;
				})
	        },
	        deleterow: function(row_num){
				// let data_was = this.usersportsdata;
                this.total = parseInt( this.total ) - 1;
                if( this.total < 2 ){
                	this.limit = true;
                }
                this.usersportsdata.splice(row_num,1);
                if(this.usersportsdata.length == 0){
	                axios.post( '/profile', { sportsdata: this.usersportsdata } )
		                .then(response=>{
					    move(response.data);
	                })
	                .catch(error=>{
	                    // console.log(error);
	                    this.errors=error.errors;
	                })
	            }
            },
	        fill_sports: function(){
	        	// console.log( this.usersportsdata );
	    		if( this.usersportsdata.length > 0 ){
	    			for( let i = 0; i < this.usersportsdata.length; i++ ){
	    				if( typeof( this.sportsfields[ this.usersportsdata[i].sport ] ) != 'undefined' ){
	    					Vue.set(this.fields, i, this.sportsfields[ this.usersportsdata[i].sport ]['fields']);
	    				}
	    				if( typeof( this.sportsfields[ this.usersportsdata[i].sport ] ) != 'undefined' ){
			        		Vue.set(this.stats, i, this.sportsfields[ this.usersportsdata[i].sport ]['stats']);
	    				}
	    			}
	    		}else{
	    			this.add_sport();
	    			this.editing = false;
				    this.saved = true;
				    this.saving = false;
	    		}
	    		// console.clear();
            }
        },
        created(){
        	// if(typeof(this.usersportsdata[0].sport) != 'undefined'){
        	// 	this.sportname = this.sports[this.usersportsdata[0].sport];
         //    	console.log(this.sportname);
        	// }
        	// console.log( 'length is ' + this.usersportsdata.length );
        	this.fill_sports();
        	if( typeof(this.usersportsdata.length) == 'undefined' || this.usersportsdata.length <= 2 ){
        		this.limit = true;
        	}
        },
        mounted(){
        //console.log(this.usermeta.sport_name);
        // this.editing = true;
        // this.get_sport_fields(0);
        	if(typeof(this.usermeta.sport) != 'undefined'){
        		this.sportname = this.sports[this.usermeta.sport];
        		Vue.set(this.usersportsdata[0],'sport',this.usermeta.sport);
        		if( typeof( this.sportsfields[ this.usersportsdata[0].sport ] ) != 'undefined' ){
					Vue.set(this.fields, 0, this.sportsfields[ this.usersportsdata[0].sport ]['fields']);
				}
				if( typeof( this.sportsfields[ this.usersportsdata[0].sport ] ) != 'undefined' ){
	        		Vue.set(this.stats, 0, this.sportsfields[ this.usersportsdata[0].sport ]['stats']);
				}
        	}
        	// console.log( 'length is ' + this.usersportsdata.length );
        }
    }
</script>