<template>
    <div class="information">
        <input type="hidden" id="user2" :value="saved" />
        <h3>athlete information
            <a @click="editForm" v-show="saved" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
            <a v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Cancel</span></a>
            <a v-show="editing" @click="submitData" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save</span></a>
            <span class="saving" v-show="saving"><img src="/images/spin.gif" /></span></h3>
        <div class="inner-content parent1view">
            <div class="row">
                <div class="col-md-6">
                    <h4>Body Stats</h4>
                </div>
                <div class="col-md-6">
                    <h4>Contact Information</h4>
                </div>
                <div class="clear"></div>
                <div class="col-md-6">
                    
                    <p><label>Height:</label>
                    
                    <!--<input v-show="editing" type="text" class="edit-input"  v-validate="'required'"  data-vv-as="Height" name="athelete_height" v-model="userData1.athelete_height"/>-->
                        <select :disabled="validated == 1 ? true : false" class="edit-input height-select"   v-model="userData1.athelete_height">
                    <option value="">Select Height</option>
                    <option value="0">3'0″</option>
                    <option value="1">3'1″</option>
                    <option value="2">3'2″</option>
                    <option value="3">3'3″</option>
                    <option value="4">3'4″</option>
                    <option value="5">3'5″</option>
                    <option value="6">3'6″</option>
                    <option value="7">3'7″</option>
                    <option value="8">3'8″</option>
                    <option value="9">3'9″</option>
                    <option value="10">3'10″</option>
                    <option value="11">3'11″</option>
                    <option value="12">4'0″</option>
                    <option value="13">4'1″</option>
                    <option value="14">4'2″</option>
                    <option value="15">4'3″</option>
                    <option value="16">4'4″</option>
                    <option value="17">4'5″</option>
                    <option value="18">4'6″</option>
                    <option value="19">4'7″</option>
                    <option value="20">4'8″</option>
                    <option value="21">4'9″</option>
                    <option value="22">4'10″</option>
                    <option value="23">4'11″</option>
                    <option value="24">5'0″</option>
                    <option value="25">5'1″</option>
                    <option value="26">5'2″</option>
                    <option value="27">5'3″</option>
                    <option value="28">5'4″</option>
                    <option value="29">5'5″</option>
                    <option value="30">5'6″</option>
                    <option value="31">5'7″</option>
                    <option value="32">5'8″</option>
                    <option value="33">5'9″</option>
                    <option value="34">5'10″</option>
                    <option value="35">5'11″</option>
                    <option value="36">6'0″</option>
                    <option value="37">6'1″</option>
                    <option value="38">6'2″</option>
                    <option value="39">6'3″</option>
                    <option value="40">6'4″</option>
                    <option value="41">6'5″</option>
                    <option value="42">6'6″</option>
                    <option value="43">6'7″</option>
                    <option value="44">6'8″</option>
                    <option value="45">6'9″</option>
                    <option value="46">6'10″</option>
                    <option value="47">6'11″</option>
                    <option value="48">7'0″</option>
                    <option value="49">7'1″</option>
                    <option value="50">7'2″</option>
                    <option value="51">7'3″</option>
                    <option value="52">7'4″</option>
                    <option value="53">7'5″</option>
                    <option value="54">7'6″</option>
                    <option value="55">7'7″</option>
                    <option value="56">7'8″</option>
                    <option value="57">7'9″</option>
                    <option value="58">7'10″</option>
                    <option value="59">7'11″</option>
                </select>
                
                
                
                    
                    </p>
                </div>

                <div class="col-md-6">
                    <p><span><img src="images/icon/Send.png" />{{userData1.athelete_email}}</span>
                    
                    <input v-show="editing" type="text" class="edit-input" v-validate="'required|email'"  data-vv-as="Email" name="athelete_email" v-model="userData1.athelete_email"/>
                    <span class="form-control-feedback" v-if="errors.has('athelete_email')">{{errors.first('athelete_email')}}</span>
                    </p>
                </div>
                <div class="clear"></div>
                <div class="col-md-6">
                    <p class="lbsclass"><label>Weight:</label> <span>{{userData1.athelete_weight}}</span>
                    <input v-show="editing"   class="edit-input"  type="text" name="athelete_weight" v-model="userData1.athelete_weight"/>
                    <span v-show="editing" class="lbs">lbs</span>
                    <span v-show="hidelbs" class="lbs1">lbs</span>
                    </p>
                </div>


            
              <div class="col-md-6">
                <div class="country-code">
                 <p><span><i class="fa fa-mobile" aria-hidden="true"></i><span v-if="typeof(userData1.athelete_phone) !== 'undefined' && userData1.athelete_phone != ''">+{{userData1.c_code}} {{userData1.athelete_phone}}</span></span></p>

                    <div class="width-30">
                   
                        <select v-show="editing" :disabled="validated == 1 ? true : false" class="edit-input"  v-model="userData1.c_code">
                            <option value="">Select Code</option>
                            <option data-countryCode="GB" value="44" Selected>UK (+44)</option>
    <option data-countryCode="US" value="1">USA (+1)</option>
        <option data-countryCode="DZ" value="213">Algeria (+213)</option>
        <option data-countryCode="AD" value="376">Andorra (+376)</option>
        <option data-countryCode="AO" value="244">Angola (+244)</option>
        <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
        <option data-countryCode="AG" value="1268">Antigua &amp; Barbuda (+1268)</option>
        <option data-countryCode="AR" value="54">Argentina (+54)</option>
        <option data-countryCode="AM" value="374">Armenia (+374)</option>
        <option data-countryCode="AW" value="297">Aruba (+297)</option>
        <option data-countryCode="AU" value="61">Australia (+61)</option>
        <option data-countryCode="AT" value="43">Austria (+43)</option>
        <option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
        <option data-countryCode="BS" value="1242">Bahamas (+1242)</option>
        <option data-countryCode="BH" value="973">Bahrain (+973)</option>
        <option data-countryCode="BD" value="880">Bangladesh (+880)</option>
        <option data-countryCode="BB" value="1246">Barbados (+1246)</option>
        <option data-countryCode="BY" value="375">Belarus (+375)</option>
        <option data-countryCode="BE" value="32">Belgium (+32)</option>
        <option data-countryCode="BZ" value="501">Belize (+501)</option>
        <option data-countryCode="BJ" value="229">Benin (+229)</option>
        <option data-countryCode="BM" value="1441">Bermuda (+1441)</option>
        <option data-countryCode="BT" value="975">Bhutan (+975)</option>
        <option data-countryCode="BO" value="591">Bolivia (+591)</option>
        <option data-countryCode="BA" value="387">Bosnia Herzegovina (+387)</option>
        <option data-countryCode="BW" value="267">Botswana (+267)</option>
        <option data-countryCode="BR" value="55">Brazil (+55)</option>
        <option data-countryCode="BN" value="673">Brunei (+673)</option>
        <option data-countryCode="BG" value="359">Bulgaria (+359)</option>
        <option data-countryCode="BF" value="226">Burkina Faso (+226)</option>
        <option data-countryCode="BI" value="257">Burundi (+257)</option>
        <option data-countryCode="KH" value="855">Cambodia (+855)</option>
        <option data-countryCode="CM" value="237">Cameroon (+237)</option>
        <option data-countryCode="CA" value="1">Canada (+1)</option>
        <option data-countryCode="CV" value="238">Cape Verde Islands (+238)</option>
        <option data-countryCode="KY" value="1345">Cayman Islands (+1345)</option>
        <option data-countryCode="CF" value="236">Central African Republic (+236)</option>
        <option data-countryCode="CL" value="56">Chile (+56)</option>
        <option data-countryCode="CN" value="86">China (+86)</option>
        <option data-countryCode="CO" value="57">Colombia (+57)</option>
        <option data-countryCode="KM" value="269">Comoros (+269)</option>
        <option data-countryCode="CG" value="242">Congo (+242)</option>
        <option data-countryCode="CK" value="682">Cook Islands (+682)</option>
        <option data-countryCode="CR" value="506">Costa Rica (+506)</option>
        <option data-countryCode="HR" value="385">Croatia (+385)</option>
        <option data-countryCode="CU" value="53">Cuba (+53)</option>
        <option data-countryCode="CY" value="90392">Cyprus North (+90392)</option>
        <option data-countryCode="CY" value="357">Cyprus South (+357)</option>
        <option data-countryCode="CZ" value="42">Czech Republic (+42)</option>
        <option data-countryCode="DK" value="45">Denmark (+45)</option>
        <option data-countryCode="DJ" value="253">Djibouti (+253)</option>
        <option data-countryCode="DM" value="1809">Dominica (+1809)</option>
        <option data-countryCode="DO" value="1809">Dominican Republic (+1809)</option>
        <option data-countryCode="EC" value="593">Ecuador (+593)</option>
        <option data-countryCode="EG" value="20">Egypt (+20)</option>
        <option data-countryCode="SV" value="503">El Salvador (+503)</option>
        <option data-countryCode="GQ" value="240">Equatorial Guinea (+240)</option>
        <option data-countryCode="ER" value="291">Eritrea (+291)</option>
        <option data-countryCode="EE" value="372">Estonia (+372)</option>
        <option data-countryCode="ET" value="251">Ethiopia (+251)</option>
        <option data-countryCode="FK" value="500">Falkland Islands (+500)</option>
        <option data-countryCode="FO" value="298">Faroe Islands (+298)</option>
        <option data-countryCode="FJ" value="679">Fiji (+679)</option>
        <option data-countryCode="FI" value="358">Finland (+358)</option>
        <option data-countryCode="FR" value="33">France (+33)</option>
        <option data-countryCode="GF" value="594">French Guiana (+594)</option>
        <option data-countryCode="PF" value="689">French Polynesia (+689)</option>
        <option data-countryCode="GA" value="241">Gabon (+241)</option>
        <option data-countryCode="GM" value="220">Gambia (+220)</option>
        <option data-countryCode="GE" value="7880">Georgia (+7880)</option>
        <option data-countryCode="DE" value="49">Germany (+49)</option>
        <option data-countryCode="GH" value="233">Ghana (+233)</option>
        <option data-countryCode="GI" value="350">Gibraltar (+350)</option>
        <option data-countryCode="GR" value="30">Greece (+30)</option>
        <option data-countryCode="GL" value="299">Greenland (+299)</option>
        <option data-countryCode="GD" value="1473">Grenada (+1473)</option>
        <option data-countryCode="GP" value="590">Guadeloupe (+590)</option>
        <option data-countryCode="GU" value="671">Guam (+671)</option>
        <option data-countryCode="GT" value="502">Guatemala (+502)</option>
        <option data-countryCode="GN" value="224">Guinea (+224)</option>
        <option data-countryCode="GW" value="245">Guinea - Bissau (+245)</option>
        <option data-countryCode="GY" value="592">Guyana (+592)</option>
        <option data-countryCode="HT" value="509">Haiti (+509)</option>
        <option data-countryCode="HN" value="504">Honduras (+504)</option>
        <option data-countryCode="HK" value="852">Hong Kong (+852)</option>
        <option data-countryCode="HU" value="36">Hungary (+36)</option>
        <option data-countryCode="IS" value="354">Iceland (+354)</option>
        <option data-countryCode="IN" value="91">India (+91)</option>
        <option data-countryCode="ID" value="62">Indonesia (+62)</option>
        <option data-countryCode="IR" value="98">Iran (+98)</option>
        <option data-countryCode="IQ" value="964">Iraq (+964)</option>
        <option data-countryCode="IE" value="353">Ireland (+353)</option>
        <option data-countryCode="IL" value="972">Israel (+972)</option>
        <option data-countryCode="IT" value="39">Italy (+39)</option>
        <option data-countryCode="JM" value="1876">Jamaica (+1876)</option>
        <option data-countryCode="JP" value="81">Japan (+81)</option>
        <option data-countryCode="JO" value="962">Jordan (+962)</option>
        <option data-countryCode="KZ" value="7">Kazakhstan (+7)</option>
        <option data-countryCode="KE" value="254">Kenya (+254)</option>
        <option data-countryCode="KI" value="686">Kiribati (+686)</option>
        <option data-countryCode="KP" value="850">Korea North (+850)</option>
        <option data-countryCode="KR" value="82">Korea South (+82)</option>
        <option data-countryCode="KW" value="965">Kuwait (+965)</option>
        <option data-countryCode="KG" value="996">Kyrgyzstan (+996)</option>
        <option data-countryCode="LA" value="856">Laos (+856)</option>
        <option data-countryCode="LV" value="371">Latvia (+371)</option>
        <option data-countryCode="LB" value="961">Lebanon (+961)</option>
        <option data-countryCode="LS" value="266">Lesotho (+266)</option>
        <option data-countryCode="LR" value="231">Liberia (+231)</option>
        <option data-countryCode="LY" value="218">Libya (+218)</option>
        <option data-countryCode="LI" value="417">Liechtenstein (+417)</option>
        <option data-countryCode="LT" value="370">Lithuania (+370)</option>
        <option data-countryCode="LU" value="352">Luxembourg (+352)</option>
        <option data-countryCode="MO" value="853">Macao (+853)</option>
        <option data-countryCode="MK" value="389">Macedonia (+389)</option>
        <option data-countryCode="MG" value="261">Madagascar (+261)</option>
        <option data-countryCode="MW" value="265">Malawi (+265)</option>
        <option data-countryCode="MY" value="60">Malaysia (+60)</option>
        <option data-countryCode="MV" value="960">Maldives (+960)</option>
        <option data-countryCode="ML" value="223">Mali (+223)</option>
        <option data-countryCode="MT" value="356">Malta (+356)</option>
        <option data-countryCode="MH" value="692">Marshall Islands (+692)</option>
        <option data-countryCode="MQ" value="596">Martinique (+596)</option>
        <option data-countryCode="MR" value="222">Mauritania (+222)</option>
        <option data-countryCode="YT" value="269">Mayotte (+269)</option>
        <option data-countryCode="MX" value="52">Mexico (+52)</option>
        <option data-countryCode="FM" value="691">Micronesia (+691)</option>
        <option data-countryCode="MD" value="373">Moldova (+373)</option>
        <option data-countryCode="MC" value="377">Monaco (+377)</option>
        <option data-countryCode="MN" value="976">Mongolia (+976)</option>
        <option data-countryCode="MS" value="1664">Montserrat (+1664)</option>
        <option data-countryCode="MA" value="212">Morocco (+212)</option>
        <option data-countryCode="MZ" value="258">Mozambique (+258)</option>
        <option data-countryCode="MN" value="95">Myanmar (+95)</option>
        <option data-countryCode="NA" value="264">Namibia (+264)</option>
        <option data-countryCode="NR" value="674">Nauru (+674)</option>
        <option data-countryCode="NP" value="977">Nepal (+977)</option>
        <option data-countryCode="NL" value="31">Netherlands (+31)</option>
        <option data-countryCode="NC" value="687">New Caledonia (+687)</option>
        <option data-countryCode="NZ" value="64">New Zealand (+64)</option>
        <option data-countryCode="NI" value="505">Nicaragua (+505)</option>
        <option data-countryCode="NE" value="227">Niger (+227)</option>
        <option data-countryCode="NG" value="234">Nigeria (+234)</option>
        <option data-countryCode="NU" value="683">Niue (+683)</option>
        <option data-countryCode="NF" value="672">Norfolk Islands (+672)</option>
        <option data-countryCode="NP" value="670">Northern Marianas (+670)</option>
        <option data-countryCode="NO" value="47">Norway (+47)</option>
        <option data-countryCode="OM" value="968">Oman (+968)</option>
        <option data-countryCode="PW" value="680">Palau (+680)</option>
        <option data-countryCode="PA" value="507">Panama (+507)</option>
        <option data-countryCode="PG" value="675">Papua New Guinea (+675)</option>
        <option data-countryCode="PY" value="595">Paraguay (+595)</option>
        <option data-countryCode="PE" value="51">Peru (+51)</option>
        <option data-countryCode="PH" value="63">Philippines (+63)</option>
        <option data-countryCode="PL" value="48">Poland (+48)</option>
        <option data-countryCode="PT" value="351">Portugal (+351)</option>
        <option data-countryCode="PR" value="1787">Puerto Rico (+1787)</option>
        <option data-countryCode="QA" value="974">Qatar (+974)</option>
        <option data-countryCode="RE" value="262">Reunion (+262)</option>
        <option data-countryCode="RO" value="40">Romania (+40)</option>
        <option data-countryCode="RU" value="7">Russia (+7)</option>
        <option data-countryCode="RW" value="250">Rwanda (+250)</option>
        <option data-countryCode="SM" value="378">San Marino (+378)</option>
        <option data-countryCode="ST" value="239">Sao Tome &amp; Principe (+239)</option>
        <option data-countryCode="SA" value="966">Saudi Arabia (+966)</option>
        <option data-countryCode="SN" value="221">Senegal (+221)</option>
        <option data-countryCode="CS" value="381">Serbia (+381)</option>
        <option data-countryCode="SC" value="248">Seychelles (+248)</option>
        <option data-countryCode="SL" value="232">Sierra Leone (+232)</option>
        <option data-countryCode="SG" value="65">Singapore (+65)</option>
        <option data-countryCode="SK" value="421">Slovak Republic (+421)</option>
        <option data-countryCode="SI" value="386">Slovenia (+386)</option>
        <option data-countryCode="SB" value="677">Solomon Islands (+677)</option>
        <option data-countryCode="SO" value="252">Somalia (+252)</option>
        <option data-countryCode="ZA" value="27">South Africa (+27)</option>
        <option data-countryCode="ES" value="34">Spain (+34)</option>
        <option data-countryCode="LK" value="94">Sri Lanka (+94)</option>
        <option data-countryCode="SH" value="290">St. Helena (+290)</option>
        <option data-countryCode="KN" value="1869">St. Kitts (+1869)</option>
        <option data-countryCode="SC" value="1758">St. Lucia (+1758)</option>
        <option data-countryCode="SD" value="249">Sudan (+249)</option>
        <option data-countryCode="SR" value="597">Suriname (+597)</option>
        <option data-countryCode="SZ" value="268">Swaziland (+268)</option>
        <option data-countryCode="SE" value="46">Sweden (+46)</option>
        <option data-countryCode="CH" value="41">Switzerland (+41)</option>
        <option data-countryCode="SI" value="963">Syria (+963)</option>
        <option data-countryCode="TW" value="886">Taiwan (+886)</option>
        <option data-countryCode="TJ" value="7">Tajikstan (+7)</option>
        <option data-countryCode="TH" value="66">Thailand (+66)</option>
        <option data-countryCode="TG" value="228">Togo (+228)</option>
        <option data-countryCode="TO" value="676">Tonga (+676)</option>
        <option data-countryCode="TT" value="1868">Trinidad &amp; Tobago (+1868)</option>
        <option data-countryCode="TN" value="216">Tunisia (+216)</option>
        <option data-countryCode="TR" value="90">Turkey (+90)</option>
        <option data-countryCode="TM" value="7">Turkmenistan (+7)</option>
        <option data-countryCode="TM" value="993">Turkmenistan (+993)</option>
        <option data-countryCode="TC" value="1649">Turks &amp; Caicos Islands (+1649)</option>
        <option data-countryCode="TV" value="688">Tuvalu (+688)</option>
        <option data-countryCode="UG" value="256">Uganda (+256)</option>
        <!-- <option data-countryCode="GB" value="44">UK (+44)</option> -->
        <option data-countryCode="UA" value="380">Ukraine (+380)</option>
        <option data-countryCode="AE" value="971">United Arab Emirates (+971)</option>
        <option data-countryCode="UY" value="598">Uruguay (+598)</option>
        <!-- <option data-countryCode="US" value="1">USA (+1)</option> -->
        <option data-countryCode="UZ" value="7">Uzbekistan (+7)</option>
        <option data-countryCode="VU" value="678">Vanuatu (+678)</option>
        <option data-countryCode="VA" value="379">Vatican City (+379)</option>
        <option data-countryCode="VE" value="58">Venezuela (+58)</option>
        <option data-countryCode="VN" value="84">Vietnam (+84)</option>
        <option data-countryCode="VG" value="84">Virgin Islands - British (+1284)</option>
        <option data-countryCode="VI" value="84">Virgin Islands - US (+1340)</option>
        <option data-countryCode="WF" value="681">Wallis &amp; Futuna (+681)</option>
        <option data-countryCode="YE" value="969">Yemen (North)(+969)</option>
        <option data-countryCode="YE" value="967">Yemen (South)(+967)</option>
        <option data-countryCode="ZM" value="260">Zambia (+260)</option>
        <option data-countryCode="ZW" value="263">Zimbabwe (+263)</option>
                        </select>
                    </div>
                    <div class="width-70">
                        <input  class="edit-input phone"  data-vv-as="Phone" v-validate="'regex:^[\+]?[(]?[0-9]{3}[)]?[ \s\.]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4}'"  v-show="editing" name="athelete_phone" v-model="userData1.athelete_phone" placeholder="Phone number" type="text" />
                    </div>
                     <span class="form-control-feedback" v-if="errors.has('athelete_phone')">{{errors.first('athelete_phone')}}</span>
                </div>
</div>


                <div class="clear"></div>
                <div class="col-md-6">
                    <p><label>Gender:</label> 
                        <span v-if=" userData1.athelete_gender == 'Men' ">
                        Male</span>
                          <span v-if=" userData1.athelete_gender == 'Women' ">
                        Female</span>
                    <ul v-show="editing" class="checkbox">
                        <li>
                            <input type="radio" checked  name="athelete_gender" value="Men" v-model="userData1.athelete_gender"/>
                            <label>Male</label>
                        </li>
                        <li>
                            <input type="radio" name="athelete_gender" value="Women" v-model="userData1.athelete_gender" />
                            <label>Female</label>
                        </li>
                    </ul></p>   
                    <p><label class="birth">Birthdate:</label> <span class="birthnew">{{userData1.athelete_birth}}</span>
                        <input type="hidden"  id="calendar_birth1"  name="athelete_birth">
                        <input type="text" v-show="editing" 
                        data-vv-as="Birthdate" id="calendar_birth" class="edit-input cal" name="athelete_birth">
                    </p>                  
                </div>

                
                <div class="col-md-6">
                    <!--<h4>Address<i class="fa fa-info-circle" aria-hidden="true"></i></h4>-->
                    <h4>Address</h4>

                    <p class="captalize">{{userData1.athelete_address}}</p>
                    <input v-show="editing" type="text" name="athelete_address" class="edit-input"  v-model="userData1.athelete_address">
                </div>

                <div class="clear"></div>

                <div class="col-md-6">
                    <p><label>City:</label> <span class="captalize">{{userData1.city}}</span>
                        <input v-show="editing" type="text" class="edit-input"   name="city" v-model="userData1.city"/>
                    </p>
                </div>
                <div class="col-md-6">
                    <p><label>State:</label> <span>{{userData1.state}}</span>
                    <select name="state" v-show="editing"  class="edit-input"   v-model="userData1.state" data-vv-as="State">
            
                        <option value="">Select State</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>

                
                </p>
                </div>

                <div class="clear"></div>

                <div class="col-md-6">
                        <p><label>Zip Code:</label> <span>{{userData1.zip}}</span>
                    <input  class="edit-input zipmask"   v-show="editing"  
                                     v-model="userData1.zip"  placeholder="Zip Code" type="text" />
                                     

                        <!--<input type="text" class="edit-input"   v-show="editing" name="zipcode" id="title" v-validate="'required|numeric|min:5|max:5'" v-model="userData1.zip" data-vv-as="Zipcode" />-->
                        <!--<span class="form-control-feedback" v-if="errors.has('zipcode')">{{errors.first('zipcode')}}</span>-->
                    <!--<input  class="edit-input"   v-show="editing"  v-validate="'required'" data-vv-value-path="innerValue" data-vv-name="Zipcode" v-model="userData1.zip" mask="11111" placeholder="Zipcode" type="text" />-->
                    
                    <!--<input v-show="editing" type="text" class="edit-input"  v-validate="'required'"  data-vv-as="Zipcode" name="zip" v-model="userData1.zip"/>-->
                    </p>
                
                    <!--<input type="text"/>--></p>
                </div>
            
            </div>
            <hr class="light" />
           <div class="social-profile">
                <h4>Social Profiles</h4>
                <div class="row">
                    <div class="col-md-6">

                        <a :disabled="disabledscocial == 1 ? true : false" target="_blank" class="facebook" :href="userData1.athelete_facebook"><i class="fa fa-facebook" aria-hidden="true"></i>
                        
                        {{facebook(userData1.athelete_facebook)}}

                        </a>
                            <input v-show="editing" type="text" name="athelete_facebook" placeholder="ENTER FULL URL" v-model="userData1.athelete_facebook"/>

                        <a :disabled="disabledscocial == 1 ? true : false" target="_blank" class="twitter" :href="userData1.athelete_twitter"><i class="fa fa-twitter" aria-hidden="true"></i>
                         {{twitter(userData1.athelete_twitter)}}
                        </a>
                            <input v-show="editing" type="text" name="athelete_twitter" placeholder="ENTER FULL URL" v-model="userData1.athelete_twitter"/>
                        
                        <a :disabled="disabledscocial == 1 ? true : false" target="_blank" class="instagram" :href="userData1.athelete_instagram"><i class="fa fa-instagram" aria-hidden="true"></i>
                         {{instagram(userData1.athelete_instagram)}}

                         </a>
                    
                    
                        <input v-show="editing" type="text" name="athelete_instagram" placeholder="ENTER FULL URL" v-model="userData1.athelete_instagram"/>
                    </div>
                    <div class="col-md-6">
                        <a :disabled="disabledscocial == 1 ? true : false" target="_blank" class="snapchat" :href="userData1.athelete_snapchat"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                        {{snapchat(userData1.athelete_snapchat)}}
                        </a>
                        <input v-show="editing" placeholder="ENTER FULL URL" type="text" name="athelete_snapchat" v-model="userData1.athelete_snapchat"/>
                        <a :disabled="disabledscocial == 1 ? true : false" target="_blank" class="skype" :href="userData1.athelete_skype"><i class="fa fa-skype" aria-hidden="true"></i>
                        {{skype(userData1.athelete_skype)}}
                        </a>
                        <input v-show="editing" placeholder="ENTER FULL URL" type="text" name="athelete_skype" v-model="userData1.athelete_skype"/>
                        <a :disabled="disabledscocial == 1 ? true : false" target="_blank" class="whatsapp" :href="userData1.athelete_whatsapp"><i class="fa fa-whatsapp" aria-hidden="true"></i>
                            {{whatsapp(userData1.athelete_whatsapp)}}
                        </a>
                        <input v-show="editing" placeholder="ENTER FULL URL" type="text" name="athelete_skype" v-model="userData1.athelete_whatsapp"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// import MaskedInput from 'vue-masked-input';

export default{
    props:['usermeta'],
    data (){
        return{
            validated: 1,
            disabledscocial:0,
            editing: false,
            saved: true,
            saving: false,
            hidelbs:true,
            userData1: {
                athelete_height: this.empty_check( this.usermeta.athelete_height ),
                athelete_weight: this.empty_check( this.usermeta.athelete_weight ),
                athelete_birth: this.empty_check( this.usermeta.athelete_birth ),
                athelete_email: this.empty_check( this.usermeta.athelete_email ),
                athelete_phone: this.empty_check( this.usermeta.athelete_phone ),
                athelete_gender: this.empty_check( this.usermeta.athelete_gender ),
                athelete_address: this.empty_check( this.usermeta.athelete_address ),
                athelete_facebook: this.url_empty_check( this.usermeta.athelete_facebook ),
                city: this.empty_check( this.usermeta.city ),
                athelete_twitter: this.url_empty_check( this.usermeta.athelete_twitter ),
                athelete_instagram: this.url_empty_check( this.usermeta.athelete_instagram ),
                athelete_snapchat: this.url_empty_check( this.usermeta.athelete_snapchat ),
                athelete_skype: this.url_empty_check( this.usermeta.athelete_skype ),
                athelete_whatsapp: this.url_empty_check( this.usermeta.athelete_whatsapp ),
                state: this.empty_check( this.usermeta.state ),
                zip: this.empty_check( this.usermeta.zip ),
                c_code: this.empty_check( this.usermeta.c_code ),

            }
        }  
    },
    // components: { MaskedInput },
    methods:{
        empty_check: function( val ){
            if( val == '' || val == null ){
                return '';
                // return 'NA';
            }else{
                return val;
            }
        },
        facebook(val){
           let arr = '';
            if(val != ''){
                
            arr = val.split('/');
           let strFile = arr[arr.length-1];
            if(strFile != ''){
              return strFile;
            }else{
            return "Link Your Facebook";

            }

            }else{

            return "Link Your Facebook";
            }

        },
        instagram(val){
           let arr = '';
            if(val != ''){
                
            arr = val.split('/');
           let strFile = arr[arr.length-1];
            if(strFile != ''){
              return strFile;
            }else{
            return "Link Your Instagram";

            }

            }else{

            return "Link Your Instagram";
            }

        },
        twitter(val){
           let arr = '';
            if(val != ''){
                
            arr = val.split('/');
           let strFile = arr[arr.length-1];
            if(strFile != ''){
              return strFile;
            }else{
            return "Link Your Twitter";

            }

            }else{

            return "Link Your Twitter";
            }

        },
        snapchat(val){
           let arr = '';
            if(val != ''){
                
            arr = val.split('/');
           let strFile = arr[arr.length-1];
            if(strFile != ''){
              return strFile;
            }else{
            return "Link Your Snapchat";

            }

            }else{

            return "Link Your Snapchat";
            }

        },
        skype(val){
           let arr = '';
            if(val != ''){
                
            arr = val.split('/');
           let strFile = arr[arr.length-1];
            if(strFile != ''){
              return strFile;
            }else{
            return "Enter Skype id";

            }

            }else{

            return "Enter Skype id";
            }

        },
        whatsapp(val){
           let arr = '';
            if(val != ''){
                
            arr = val.split('/');
           let strFile = arr[arr.length-1];
            if(strFile != ''){
              return strFile;
            }else{
            return "Enter Whatsapp id";

            }

            }else{

            return "Enter Whatsapp id";
            }

        },
        onEndDatetimeChanged:function(val){
            console.log(val);
            console.log('test');
            
        },
        url_empty_check: function( val ){
            if( val == '' || val == null ){
                return '';
            }else{
                return val;
            }
        },
        cancel: function(){
            this.validated= 1;
             this.disabledscocial= 0;
            
            // this.userData1 = this.usermeta;
            this.editing = false;
            this.saved = true;
            
              this.$validator.validateAll().then(() => {
                    
                 }).catch(() => {
                         this.errors.clear();

                    return false
                    
                });
            
            
        },
        editForm: function(){
            this.validated= 0;
            this.editing = true;
            this.saved = false;
            this.hidelbs = false;
            this.disabledscocial = 1;

        },
        submitData(){
            this.userData1.athelete_birth = document.getElementById('calendar_birth').value;
            console.log(document.getElementById('calendar_birth').value);
            this.$validator.validateAll().then(() => {
                this.saving = true;
                 this.hidelbs = true;
                this.editing = false;
                this.saved = false;
                axios.post( '/profile', this.userData1 )
                .then(response=>{
                    this.validated= 1;
                    this.disabledscocial= 0;
                    this.saving = false;
                    this.editing = false;
                    this.saved = true;
                    console.log(response.data);
                    move(response.data);
                })
                .catch(error=>{
                    this.errors=error.errors;
               })
            }).catch(() => {
                    console.log("error");
                     
                    return false
         }); 
        }
    },
    created(){
       
        // if(this.usermeta.athelete_birth != '' || typeof(this.usermeta.athelete_birth) != 'undefined' ){

        // let datefor =  this.usermeta.athelete_birth.split("/");
        // let result = datefor[1]+'/'+datefor[2]+'/'+datefor[0];
        //     this.userData1.athelete_birth = result;
        // document.getElementById('calendar_birth1').value = result;

        // }

    },
    mounted(){

      
        if(this.usermeta.athelete_birth != '' || typeof(this.usermeta.athelete_birth) != 'undefined' ){

        let datefor =  this.usermeta.athelete_birth.split("/");
        let result = datefor[1]+'/'+datefor[2]+'/'+datefor[0];
            this.userData1.athelete_birth = result;
        document.getElementById('calendar_birth').value = result;

        }

    }
}
</script>