<template>
    <div class="parentvoeww">
        <input type="hidden" id="user1" :value="saved" />
        <h1>{{userData.athelete_firstname}} {{userData.athelete_lastname}} <a @click="editForm" v-show="saved" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a><a v-show="editing" @click="submitData" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i></a><a v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i></a><span class="saving" v-show="saving"><img src="/images/spin.gif" /></span></h1>
         <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="text" name="athelete_firstname" placeholder="First Name" v-validate="'required'" data-vv-as="First Name" v-model="userData.athelete_firstname" v-show="editing" v-on:change="changeHandler" />
            </div>
            
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="text" name="athelete_lastname" v-validate="'required'" placeholder="Last Name" data-vv-as="Last Name" v-model="userData.athelete_lastname" v-show="editing" v-on:change="changeHandler" />
            </div>
            
            <div class="col-md-12 col-sm-12 col-xs-12">
                <span><h2>{{ userData.school }} </h2>
                <input v-show="editing" placeholder="School Name" type="text" v-model="userData.school"/> </span>
            </div>
        </div>
        <ul class="top-listings">
            <li>
                <a class="btn orange">Class of {{userData.graduation}}</a>
                <select v-show="editing" name="graduation" v-model="userData.graduation" v-on:change="changeHandler">
                    <option value="">Select Graduation Year</option>
                    <option v-for="year in graduation" :value="year" >{{year}}</option>
                </select>
            </li>
            <li>
                <p>Sport: <span>{{userData.sport_name}}</span></p>
                <select @change="get_title( userData.sport)"  v-show="editing" name="sport" v-model="userData.sport">
                    <option value="">Select Sport</option>
                    <option v-for="(value, key, index) in sports" :value="key">{{value}}</option>
                </select>
            </li>
            <li class="postionselect">
               <p>Position: <span>{{userData.position_name}}</span></p>
                <select @change="syncPosition( userData.position )"  v-show="editing" v-model="userData.position" :disabled="validated == 1 ? true : false">
                    <option value="">Select Position</option>
                    <option v-for="(value, key, index) in postionw" :value="key">{{value}}</option>
                    <option>Other</option>
                </select>
            </li>
        </ul>
    </div>
</template>

<script>
    // import Vue fro
    export default{
        props:['usermeta', 'sports', 'graduation','schoolllist', 'athlete_sport_id', 'athlete_position_id', 'sync_sport'],
        data (){
            return{
                validated: 1,
                editing: false,
                saved: true,
                saving: false,
                showother:false,
                backup:{},
                sport_id: this.athlete_sport_id,
                position_id: this.athlete_sport_id,
                postionw:'',
                unsaved: true,
                userData: {
                    athelete_firstname: this.empty_check( this.usermeta.athelete_firstname ),
                    athelete_lastname: this.empty_check( this.usermeta.athelete_lastname ),
                    sport_name: ( this.empty_check_text( this.usermeta.sport ) == '' ) ? 'Select Sport' : this.sportname( this.usermeta.sport ),
                    position: this.empty_check( this.positionSync( this.usermeta.position ) ),
                    position_name: ( this.empty_check( this.usermeta.position ) == '' ) ? 'Select Position' : this.positionName( this.usermeta.position ),
                    sport: this.empty_check_text( this.usermeta.sport ),
                    graduation: this.empty_check_text( this.usermeta.graduation ),
                    school: this.usermeta.school
                }
            }  
        },
        watch:{
            athlete_position_id: function(val){
                if( val != '' ){
                    // console.log
                    this.userData.position = val;
                    this.userData.position_name = this.postionw[val];
                }
            },
            athlete_sport_id: function(val){
                if( val == '' ){
                //     this.sport_id = val;
                // }else{
                    this.userData.sport = val;
                    this.userData.sport_name = this.empty_check( this.sportname( val ) );
                    this.get_title(val);
                }
            },
            sync_sport: function(val){
                if( val == true ){
                    this.submitData();
                }
            }
        },
        methods:{
            positionName: function(id){
                // console.log( this.postionw );
                if( typeof( this.postionw ) != 'undefined' ){
                    // console.log( id );
                    return this.postionw[id];
                }else{
                    return 'Select Position';
                }
            },
            positionSync: function(val){
                this.$parent.athlete_position_id = val;
                return val;
            },
            syncPosition: function(val){
                this.$parent.athlete_position_id = val;
            },
            changeHandler: function(){
                this.unsaved = false;
            },
            sportname: function( id ){
                this.$parent.athlete_sport_id = id;
                return this.sports[id];
            },
            empty_check: function( val ){
                if( val == '' || val == null ){
                    return '';
                }else{
                    return val;
                }
            },
            empty_check_text: function( val ){
                if( val == '' || val == null ){
                    return '';
                }else{
                    return val;
                }
            },
            cancel: function(){
                // console.log( this.backup );
                this.userData = {
                    athelete_firstname: this.empty_check( this.usermeta.athelete_firstname ),
                    athelete_lastname: this.empty_check( this.usermeta.athelete_lastname ),
                    sport_name: this.empty_check( this.sportname( this.usermeta.sport ) ),
                    position: this.empty_check( this.usermeta.position ),
                    position_name: ( this.empty_check( this.usermeta.position ) == '' ) ? 'Select Position' : this.positionName( this.usermeta.position ),
                    sport: this.empty_check( this.usermeta.sport ),
                    graduation: this.empty_check( this.usermeta.graduation ),
                    school: this.empty_check( this.usermeta.school )
                };
                let formdata = new FormData();
                formdata.append('id',this.usermeta.sport);
                axios.post( '/sport/position', formdata )
                .then(response=>{

                      this.postionw = response.data;
                      this.saving = false;

                })
                .catch(error=>{
                     this.postionw = "";
                     this.saving = false;
                })
                this.unsaved = true;
                this.editing = false;
                this.saved = true;
                this.showother = false;
                this.validated = 1;
            },
            editForm: function(){
                // this.backup = this.userData;
                // console.log( this.userData );
                // console.log( this.backup );
                this.editing = true;
                this.saved = false;
                this.validated = 0;
            },
            get_title: function( id ){
                // this.$parent.athlete_sport_id = id;
                // this.unsaved = false;
                // // console.log(id);
                // this.saving = true,
                // this.userData.sport_name = this.sports[id];
                // // console.log(this.sports[id]);
                // if(typeof this.sports[id] == 'undefined'){
                //     this.showother = true;
                // }else{
                //      this.showother = false;
                // }
                
                // let formdata = new FormData();
                // formdata.append('id',id);
                // axios.post( '/sport/position', formdata )
                // .then(response=>{
                //        this.postionw = response.data;
                //        this.userData.position = '';
                //        this.saving = false;

                // })
                // .catch(error=>{
                //      this.postionw = "";
                //      this.saving = false;
                // })
                
            },
            submitData(){
                this.saving = true;
              
                // this.$validator.validateAll().then(() => {
                    axios.post( '/profile', this.userData )
                    .then(response=>{
                        move(response.data);
                        this.unsaved = true;
                        this.saving = false;
                        this.editing = false;
                        this.saved = true;
                        this.validated = 1;
                        if( this.$parent.sync_sport_user == false ){
                            this.$parent.sync_user_sport = true;
                        }else{
                            this.$parent.sync_sport_user = false;
                        }
                        this.sport_id = this.userData.sport;
                    })
                    .catch(error=>{
                        this.errors=error.errors;
                    })
                    
            }
        },
        created(){
            var id = this.usermeta.sport;
            let formdata = new FormData();
            formdata.append('id',id);
            axios.post( '/sport/position', formdata )
            .then(response=>{
                this.postionw = response.data;
                this.saving = false;
                if( this.userData.position != '' ){
                    // this.userData.position = this.userData.position;
                    this.userData.position_name = this.postionw[this.userData.position];
                }
            })
            .catch(error=>{
                this.postionw = "";
                this.saving = false;
            })
        },
        mounted(){
            // console.log('user1');
        }
    }
</script>