<template>


<div id="app">
    <form>
        <div class="form-group row no-gutters">
            <div v-bind:class="{'col-6': true, 'has-danger': errors.has('firstName')}">
                <input id="firstName" name="firstName" type="text" class="form-control" placeholder="First Name" v-model="firstName" v-validate="'required|min:2'">
                <span class="form-control-feedback" v-if="errors.has('firstName')">{{errors.first('firstName')}}</span>
            </div>
            <div v-bind:class="{'col-6': true, 'has-danger': errors.has('lastName')}">
                <input id="lastName" name="lastName" type="text" class="form-control" placeholder="Last Name" v-model="lastName" v-validate="'required|min:2'">
                <span class="form-control-feedback" v-if="errors.has('lastName')">{{errors.first('lastName')}}</span>
            </div>
        </div>
        <div v-bind:class="{'form-group': true, 'has-danger': errors.has('email')}">
            <input id="email" name="email" type="email" class="form-control" placeholder="Your email address" v-model="email" v-validate="'required|email'">
            <span class="form-control-feedback" v-if="errors.has('email')">{{errors.first('email')}}</span>
        </div>
        <div v-bind:class="{'form-group': true, 'has-danger': errors.has('password')}">
            <input id="password" name="password" type="password" class="form-control" placeholder="Choose a password" v-model="password" v-validate="'required|min:8|max:32'">
            <span class="form-control-feedback" v-if="errors.has('password')">{{errors.first('password')}}</span>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="button" v-on:click="signUp">Sign Up</button>
        </div>
    </form>
    </div>
</template>
<script>
import Vue from 'vue';
import VeeValidate from 'vee-validate';

Vue.use(VeeValidate);
export default {
  data: {
    	firstName: "",
        lastName: "",
        email: "",
        password: ""
    },
    methods: {
    	signUp: function(e) {
        	//Sign User Up
        }
    }
};
</script>