<template>
    <div id="app">  
    <div class="log-in-popup email-popup video-upload" v-show="video"><div class="sign-up-content">
        <a href="#"  @click.prevent ="uploadvideohide" v-show="videohide" class="close"><i class="icono-cross"></i></a> 
        <span class="saving" v-show="saving"><img src="/images/spin2.gif" /></span>
       
    <div class="panel-heading">Upload Video</div>
    <div class="panel-body"><div class="container">
        <span class="format-text"><p>Please paste link to YouTube, Vimeo or Hudl.</p></span>         

       <input type="text" class="form-control"  v-validate="'required|url'" data-vv-as="Video Url"  name="uploadvideo" id="videoval" value="" placeholder="Enter Video Url">
        <span class="form-control-feedback" v-if="errors.has('uploadvideo')">{{errors.first('uploadvideo')}}</span> 
         <span class="format" v-show="formatvideo"><p>Please Enter Valid Format</p></span>         
       </div> 
    <button type="submit" @click.prevent ="uploadvideo" class="btn btn-primary orange">Upload</button>
    </div>
    </div>
    </div>
        <h1>video highlights <p class="imagehide" v-show="imageuploadmore">{{imageipload}}</p>
          <a @click="editForm" v-show="saved" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
          <a v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Cancel</span></a>
          <a @click="showvideoinput" v-show="plusnew" class="edit"><i class="fa fa-plus" aria-hidden="true"></i><span>Add Video</span></a> 
          <span class="saving" v-show="saving"><img src="/images/spin2.gif" /></span></h1>
        <div v-show="imagesblock" class="uploaded-images">
            <div class="col-md-6 padding-10">
                <a class="upload" @click.prevent ="showvideoinput" href="#"><i class="fa fa-plus" aria-hidden="true"></i>Add Highlight Video</a>
                
                    
                </div>
            </div>
            
             <ul class="videoshow">
                <li v-for="(file,index) in files" :id="file.public">
                <button v-show="delete_video" v-on:click="onDelete(file.public,index)">&#10007;</button>
                <iframe :src="file.url"  width="100%" height="200"></iframe>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default{
          props:['usermeta'],
      data() {
        return{
             imageuploadmore:false,
                plusnew:false,
               video:false,
               saving:false,
               imagesblock:false,
               formatvideo:false,
               editing: false,
               videohide:true,
               saved: true,
               delete_video:false,
               files:this.usermeta,
              }
      },
      methods: {
        uploadFiless: function () {
             var files = this.$refs.file_input.files;
                var total = files.length;
                var totalfiles = filecount  +  total;
                if(totalfiles > 1){
                  
                    // this.imageipload ='Sorry, You Can Upload ONLY ONE VIDEO';
                    // setTimeout(function(){ 
                        
                    //  $('.imagehide').hide();    
                    // }, 5000);
                    // return false;
                }
            
            
            
            this.$validator.validateAll().then(() => {
            var files = this.$refs.file_inputs.files;
            for (var i = 0; i< files.length; i++) {
                    var  n = files[i].name,
                    s = files[i].size,
                    t = files[i].type;
                    var ValidImageTypes = ["video/mp4","video/ogg","video/WebM"];
                    if ($.inArray(t, ValidImageTypes) < 0) {
                        
                        alert("Sorry You Can upload Only Video format mp4,ogg,webm");
                        // invalid file type code goes here.
                        jQuery('#datafiles').val('');
                        
                        return false;
                     }
            }
            const config = { headers: { 'Content-Type': 'multipart/form-data' } };
                let self=this;
                var total = files.length;
                var valinc = 0;
                self.saving = true;
                for (var i = 0; i< files.length; i++) {
                    let data = new FormData();
                    data.append('file', document.getElementById('datafiles').files[i]);
                    axios.post('/photo/videostore', data,config).then(function (response) {
                        self.files = response.data[0];
                        move(response.data['prog']);
                        self.saved = true;
                        console.log(++valinc);   
                        if(valinc  == total){
                            self.saving = false;
                        }
                    });
                   
                  
                }
               }).catch(() => {
                            console.log("error");
                            return false
                 });
        },
        showvideoinput:function(){
            var filecount = this.files.length;
            let self = this;
            if(filecount > 3){
                            this.imageuploadmore = true;

                    this.imageipload ='Sorry, You Can Upload ONLY ONE VIDEO';
                    setTimeout(function(){ 
                        
                      self.imageuploadmore = false;
                    }, 5000);
                    return false;
                }
            
            
            this.video = true;
            
            
        },
        uploadvideohide:function(){
            this.video = false;
             document.getElementById('videoval').value = '';
              this.formatvideo = false;
               this.$validator.validateAll().then(() => {
                 this.errors.clear();
               }).catch(() => {
                console.log("error");
                this.errors.clear();
                return false
                });
        },
        uploadvideo:function(){
            
           
                 this.formatvideo = false;
            
             this.$validator.validateAll().then(() => {
           
            
            var url = document.getElementById('videoval').value;
            if (url != undefined || url != '') {        
                var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/;

                var match = url.match(regExp);
                if (match && match[2].length == 11) {
                    
                    
                    
                    this.saving = true;
                    let formdata = new FormData();
                    formdata.append('videoupload',document.getElementById('videoval').value);
                    axios.post('/photo/videostore1',formdata).then(response => {
                            this.video = false;
                            document.getElementById('videoval').value = '';
                            console.log(response.data);
                            this.files.push(response.data);
                            this.plusnew = true;
                            move(response.data['prog']);
                            this.saved = true;
                            this.imagesblock = false;
                            this.editing = false;
                            if(this.files.length > 2){
                              
                              this.plusnew = false;
                            }


                            this.saving = false;
                     });
                     
                     
                     
                } else {
                    
                     var url = document.getElementById('videoval').value;
                     if (url != undefined || url != '') {    
                         
                        var vimeo_Reg = /https:\/\/(www\.)?vimeo.com\/(\d+)($|\/)/;
      
                        var match = url.match(vimeo_Reg);
                       
                        if (match) {
                             this.formatvideo = false;
                             this.saving = true;
                                let formdata = new FormData();
                                formdata.append('videoupload',document.getElementById('videoval').value);
                                axios.post('/photo/videostore1',formdata).then(response => {
                                        this.video = false;
                                        document.getElementById('videoval').value = '';
                                        console.log(response.data);
                                        this.files.push(response.data);
                                        this.editing = false;
                                        move(response.data['prog']);
                                        this.saved = true;
                                        this.saving = false;
                                        this.imagesblock = false;
                                        if(this.files.length > 2){
                                               
                                               this.plusnew = false;
                                         }
                                        
                                        
                                 });
                            
                            
                        }else{


                           
                        var match = url.match("http://www.hudl.com/video/");
                       
                        if (match) {
                             this.formatvideo = false;
                             this.saving = true;
                                let formdata = new FormData();
                                formdata.append('videoupload',document.getElementById('videoval').value);
                                axios.post('/photo/videostore1',formdata).then(response => {
                                        this.video = false;
                                        document.getElementById('videoval').value = '';
                                        console.log(response.data);
                                        this.files.push(response.data);
                                        this.editing = false;
                                        move(response.data['prog']);
                                        this.saved = true;
                                        this.saving = false;
                                          this.imagesblock = false;
                                        if(this.files.length > 2){
                                          
                                            this.plusnew = false;
                                          }
                                        
                                        
                                 });
                            
                            
                        } else{

                            this.formatvideo = true;
                          }
                            
                        }  
                
                
                 }
                 
              
                }
                 
            }
                                   this.delete_video = false;

                         }).catch(() => {
                                        console.log("error");
                                        return false
                             });
               
        },
        onDelete:function(key,index){
            this.saving = true;
           this.files.splice(index,1);

            if(this.files.length != 0){
                this.imagesblock = false;
                this.plusnew = true;
            }else{
              this.imagesblock = true;
              this.plusnew = false;
            }


              let data1 = new FormData();
               data1.append('key', key);
                data1.append('index', index);
             axios.post('/photo/videodelete',data1).then(response => {
                 console.log("dfg");
                if(this.files.length == 0){
                    console.log("dfg");
                    this.editing = false;
                }
                move(response.data['prog']);
                
                this.saving = false;
             
            });
        },

          cancel: function(){
                this.editing = false;
                this.delete_video = false;
                this.saved = true;
            },
            editForm: function(){
                this.editing = true;
                this.saved = false;
                this.delete_video = true;
            },
          
      },
        created(){
            var lenght = this.usermeta;
            
             if(this.files.length == 3){
                this.imagesblock = false;
                this.plusnew = false;
            }
            else if(this.files.length >= 1){
                this.imagesblock = false;
                this.plusnew = true;
            }
            else if(this.files.length >= 2){
                this.imagesblock = false;
                this.plusnew = true;
            }
            else if(this.files.length == 0){
                this.imagesblock = true;
                this.plusnew = false;
            }
            else{
                this.imagesblock = true;
                this.plusnew = true;
            }
            if(lenght == '' || lenght.length == 0 ){
                this.saved = false;
            }

           
        }
     
    }
</script>
