<template>
    <div id="app">	
        <h1>video highlights <a @click="editForm" v-show="saved" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
        <a v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Cancel</span></a>
        <span class="saving" v-show="saving"><img src="/images/spin.gif" /></span></h1>
        <div class="uploaded-images">
            <div class="col-md-6 padding-10">
                <a class="upload" href="#"><i class="fa fa-plus" aria-hidden="true"></i>Add Highlight Video<input type="file" id="datafiles" ref="file_inputs" @change="uploadFiless" accept="video/*"></a>
            </div>
            <ul class="videoshow">
                <li v-for="(file,key) in files" :id="key">
                <button v-show="delete_video" v-on:click="onDelete(key)">&#10007;</button>

                <video width="320" height="240" controls>
                <source :src="file" type="video/mp4">
                </video>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    export default{
          props:['usermeta'],

      data() {
        return{
               saving:false,
               editing: false,
               saved: true,
               delete_video:false,
               files:this.usermeta,
              }
      },
      methods: {
        uploadFiless: function () {
            var files = this.$refs.file_inputs.files;
            for (var i = 0; i< files.length; i++) {
                    var  n = files[i].name,
                    s = files[i].size,
                    t = files[i].type;
                    var ValidImageTypes = ["video/mp4","video/ogg","video/WebM"];
                    if ($.inArray(t, ValidImageTypes) < 0) {
                        
                        alert("Sorry You Can upload Only Video format mp4,ogg,webm");
                        // invalid file type code goes here.
                        jQuery('#datafiles').val('');
                        
                        return false;
                     }
            }
            const config = { headers: { 'Content-Type': 'multipart/form-data' } };
                self=this;
                var total = files.length;
                var valinc = 0;
                self.saving = true;
                for (var i = 0; i< files.length; i++) {
                    let data = new FormData();
                    data.append('file', document.getElementById('datafiles').files[i]);
                    axios.post('/photo/videostore', data,config).then(function (response) {

                        self.files = response.data[0];
                        move(response.data['prog']);
                        self.saved = true;
                        console.log(++valinc);   
                        if(valinc  == total){
                            self.saving = false;
                        }
                    });
                }
        },
        onDelete:function(key){
             this.saving = true;
         

            jQuery('#'+key).remove();
            axios.post('/photo/videodelete',{key: key}).then(response => {
                console.log(response.data.result);
     
                this.saving = false;
                move(response.data.prog);
            });
        },
          cancel: function(){
                this.editing = false;
                this.delete_video = false;
                this.saved = true;
            },
            editForm: function(){
                this.editing = true;
                 this.saved = false;
                this.delete_video = true;
    
            },
          
      },
       created(){
            var lenght = this.usermeta;
            
            if(lenght == '' || lenght.length == 0 ){
                this.saved = false;
            }
            
        }
     
    }
</script>
