	/*****************************
--------------------------
About-Events-Style
--------------------------
*****************************/

.share{
	&-event {
	    float: left;
	    width: 100%;
	    background: #212427;
	    padding: 12px 0;
	    color: #fff;
	    font-size: 14px;
	    font-weight: 100;
	    @include bp(mobile-max){
	    	text-align: center;
	    }
	    a {
		    color: #fff;
		    font-weight: 100;
		    i {
			    margin: 0 10px 0 0;
			}
		}
	}
	&-section {
	    text-align: right;
	    @include bp(mobile-max){
	    	text-align: center;
	    	margin-top: 10px;
	    }
	    p {
		    display: inline-block;
		    vertical-align: top;
		    color: #fff;
		    margin: 0px;
		    font-size: 16px;
		    font-weight: 400;
		}
		ul {
		    display: inline-block;
		    margin: -1px 0 0 7px;
		    li {
			    display: inline-block;
			    margin: 0 0 0 8px;
			    a {
				    font-size: 20px;
				}
			}
		}
	}
}

.main{
	&-inner{
		section{
			&.white-bg{
				.right{
					&-content {
					    margin: 66px 0 0 0;
					}
					&-box {
					    border: 1px solid #E6E6F6;
					    border-radius: 3px;
					    padding: 20px;
					    float: left;
					    width: 100%;
					    @include bp(mobile-max){
					    	margin-bottom: 20px;
					    }
					    h1 {
						    font-family: "BebasNeue";
						    font-size: 23px;
						    margin: 10px 0 30px 0;
						    @include bp(tab-max){
						    	margin: 0px 0 20px 0;
						    	font-size: 21px;
						    }
						}
						.uploaded-images{
							.padding-10 {
							    padding: 0 2px;
							    margin: 0 0 5px 0;
							}
							@include bp(mobile-max){
								img{
									height: auto;
								}
							}
							a {
							    background: #F7F7F8;
							    min-height: 77px;
							    max-height: 77px;
							    display: block;
							    &.upload {
								    background: #fff;
								    border: 2px dashed #e4e3e3;
								    padding: 22px 20px;
								    text-align: center;
								    color: #000;
								    font-size: 11px;
								    i {
									    display: block;
									}
								}
							}
						}
					}
				}
			}
			&.grey-bg{
				.atheletes-heading {
				    border-bottom: 1px solid #e4e3e3;
				    float: left;
				    width: 100%;
				    margin: 0 0 30px 0;
				    &.noresultfound {
					    border: none;
					    background: #fff;
					    text-align: center;
					    padding: 180px 30px 30px 30px;
					    margin: 66px 0 0 0;
					    position: relative;
					    .col-md-8{
					    	width: 100%;
					    }
					    &:before {
						    content: "";
						    background: url(/images/no-imoframtion-availalbe.png);
						    background-position: left top;
						    width: 140px;
						    height: 140px;
						    position: absolute;
						    top: 30px;
						    left: 0;
						    right: 0;
						    margin: 0 auto;
						    background-size: 100%;
						    background-repeat: no-repeat;
						}
						&.nonotification{
							h4 {
							    font-family: "BebasNeue";
							    font-size: 38px;
							    margin: 0 0 20px 0;
							}
							ul{
								li {
								    margin: 0 0 5px 0;
								    font-size: 20px;
								    &:before {
									    content: "\f058";
									    font-family: fontawesome;
									    color: #fd5344;
									    margin: 0 11px 0 0;
									}
								}
							}
						}
						h4 {
						    font-size: 30px;
						}
					}
				    h2 {
					    font-size: 40px;
					    font-weight: bold;
					    margin: 0 0 20px 0;
					    font-family: "BebasNeue";
					    @include bp(tab-max){
					    	font-size: 33px;
					    }
					}
					.text-right{
						text-align: right;
						@include bp(mobile-max){
							text-align: left;
    						margin: -10px 0 14px 0;
						}
						@include bp(tab-max){
							a#show_login {
							    padding: 10px 20px;
							}
						}
						.btn.light {
						    background: #E6E6F6;
						    color: #b1adad;
						    margin: 4px 0;
						    padding: 13px 20px;
						    width: 170px;
						    text-align: center;
						    font-weight: 600;
						    @include bp(tab-max){
						    	margin: 0 0 14px 0;
							    padding: 13px 20px;
							    width: 100%;
						    }
						}
					}
				}
				.right{
					&-content {
					    margin: 66px 0 0 0;
					    @include bp(mobile-max){
					    	padding: 0px;
					    	margin: 0px;
					    }
					}
					&-box {
					    border: 1px solid #E6E6F6;
					    border-radius: 3px;
					    padding: 20px;
					    float: left;
					    width: 100%;
					    background: #fff;
					    h1 {
						    font-family: "BebasNeue";
						    font-size: 23px;
						    margin: 10px 0 30px 0;
						}
						.btn {
						    width: 100%;
						    padding: 13px 10px;
						    text-align: center;
						    @include bp(desktop-main){
						    	padding: 11px 0px !important;
							    text-align: center;
							    font-size: 12px;
							    height: 40px;
							    margin: 0 0 12px 0;
						    }
							@include bp(tab-max){
								font-size: 12px;
							}
						}
						form{
							&.filter-form{
								.row{
									@include bp(mobile-max){
										margin: 0px;
									}
								}
								&.athlete-list-form{
									.row {
										@include bp(mobile-max){
										    margin-left: -15px;
										    margin-right: -15px;
										}
									}
								}
								label {
								    font-size: 15px;
								    display: block;
								    margin: 0 0 10px 0;
								    color: #000;
								    font-weight: 700;
								    text-transform: uppercase;
								    @include bp(tab-max){
								    	font-size: 13px;
								    }
								    p.school-loader {
									    display: inline-block;
									    margin: -5px 0 0 0;
									    vertical-align: top;
									    line-height: inherit !important;
									    img {
										    width: 20px;
										    position: relative;
										    top: 5px;
										    right: -6px;
										}
									}
								}
								select {
								    border: 1px solid #c1c1c1;
								    width: 100%;
								    padding: 0px 10px;
								    height: 45px;
								    background: transparent;
								    margin: 0 0 14px 0;
								    background: #fff url(/storage/THPHMsNDuw6U2SomE0yo9FqKAqN3uoqnePsqVSp2.png);
								    appearance: none;
								    -moz-appearance: none;
								    -webkit-appearance: none;
								    background-size: 14px;
								    background-repeat: no-repeat;
								    background-position: 98% 50%;
								}
								.lbsplace{
									input {
									    padding: 0;
									    font-weight: normal !important;
									    color: #000 !important;
									    height: inherit;
									    font-size: 18px !important;
									    margin: 0 0 10px 0;
									    line-height: 24px;
									}
									span.lbs {
									    position: absolute;
									    right: 23px;
									    top: 43px;
									    font-size: 13px;
									}
								}
								input {
								    padding: 8px 10px;
								    margin: 0 0 14px 0;
								    border-radius: 3px;
								    border: 1px solid #d2d1d1;
								    display: inline-block;
								    width: 100%;
								    height: 46px;
								    background: #fff;
								    &[type="submit"] {
									    background: linear-gradient(to right, #fd3542, #fd7647);
									    color: #fff;
									    width: 100%;
									    padding: 13px 10px;
									    border-radius: 50px;
									    border: 0 none;
									    margin: 0 0 12px 0;
									    @include bp(desktop-main){
									    	height: 40px;
									    }
									}
								}
								.select2-container {
								    width: 100%;
								    margin: 0 0 16px 0;
								    a {
									    padding: 8px 10px;
									    margin: 0px;
									    border-radius: 3px;
									    border: 1px solid #d2d1d1;
									    display: inline-block;
									    width: 100%;
									    height: 46px;
									    background: #fff;
									    div {
										    background: transparent !important;
										    border: none;
										    top: 7px;
										}
									}
								}
								.dash {
								    position: relative;
								    margin-bottom: 20px;
								    span {
									    position: absolute;
									    right: 11px;
									    bottom: 16px;
									    font-size: 11px;
									}
								}
								.run {
									margin-bottom: 20px;
								    span {
									    position: absolute;
									    right: 27px;
									    bottom: 16px;
									    font-size: 11px;
									}
									label {
									    min-height: 20px;
									}
								}
							}
							.progress-bar {
							    display: inline-block;
							    max-width: 100%;
							    width: 100%;
							    margin-bottom: 14px;
							    .ui-slider {
								    display: inline-block;
								    max-width: 100%;
								    width: 100%;
								    margin: 0 9px 0 0;
								    background: linear-gradient(to right, #fd3542, #fd7647);
								    border: none;
								    border-radius: 23px;
								    height: 6px;
								    cursor: pointer;
								    span {
									    background: linear-gradient(to right, #fd3542, #fd7647);
									    border: 5px solid #fff;
									    border-radius: 40px;
									    top: -6px;
									}
								}
								ul.school-result {
								    margin: -27px 0 30px 0;
								    padding: 10px 10px;
								    background: #f5f5f5;
								    border: 1px solid #e0e0e0;
								    height: 130px;
								    overflow: auto;
								    list-style: none;
								    li.selectschool {
									    margin: 0 0 6px 0;
									    cursor: pointer;
									    font-size: 15px;
									}
								}
							}
						}
					}
				}
				.atheletes-main{
					.events-content{
						.events-data{
							padding: 20px 20px;
							vertical-align: middle;
							word-break: break-all;
							&:last-child {
							    width: 270px;
    							text-align: right;
    							@include bp(tab-max){
    								width: 165px;
    							}
    							@include bp(mobile-max){
    								width: 100%;
    							}
							}
							@include bp(desktop-main){
								padding: 20px 10px;
							}
							@include bp(mobile-max){
								padding: 8px 5px 0px 5px;
								&.athlete-img {
								    display: none;
								}
							}
							h3{
								font-family: 'Open Sans';
								font-weight: 700;
								font-size: 18px;
								word-break: inherit;
								a {
								    color: #000;
								    &:hover {
									    color: #fd5344;
									}
								}
								@include bp(tab-max){
    								font-size: 14px;
    							}
    							@include bp(mobile-max){
								    font-size: 14px;
								    background: linear-gradient(to right, #fd3542, #fd7647);
								    margin: -28px -5px 5px -5px;
								    padding: 8px 8px;
								    color: #fff;
								    a{
								    	color: #fff !important;
								    }
    							}
								span {
								    display: block;
								    font-size: 14px;
								}
							}
						}
					}
				}
			}
			.related-events {
			    float: left;
			    width: 100%;
			    margin: 40px 0 30px 0;
			    h1 {
				    border-bottom: 1px solid #e4e3e3;
				    font-size: 40px;
				    font-weight: 500;
				    margin: 0 0 40px 0;
				    font-family: "BebasNeue";
				    padding: 0 0 30px 0;
				    @include bp(mobile-max){
				    	margin: 0 0 22px 0;
					    padding: 0 0 15px 0;
				    }
				}
				.events-box {
				    background: #fff;
				    padding: 20px;
				    box-shadow: 1px 1px 40px 0px #e4e3e3;
				    margin: 0 0 25px 0;
				    img {
					    width: 100%;
					    margin: 0 0 10px 0;
					}
					h2 {
					    font-weight: 400;
					    font-size: 16px;
					    margin: 0 0 10px 0;
					    a {
						    font-weight: 700;
						    color: #000;
						    &:hover {
							    color: #FD3542;
							    text-decoration: underline;
							}
						}
					}
					p.date {
					    font-size: 12px;
					    color: #8c8a8a;
					}
					p {
					   font-size: 16px;
					}
					a.read-more {
					   color: #f43934 ;
					   margin: 15px 0 0 0;
					   display: inline-block;
					   position: relative;
					   &:after {
						   content: "\f0da";
						   font-family: fontawesome;
						   margin: 0px 10px;
						   position: relative;
						   top: 2px;
						   color: #f43934 ;
						   font-size: 18px;
						}
					}
				}
			}
		}
		ul.pagination{
			float: left;
		    width: 100%;
		    text-align: center;
		    margin: 40px 0 20px 0;
		    @include bp(mobile-max){
		    	margin: 5px 0 20px 0;
		    }
		    li {
			    display: inline-block;
			    margin: 0 2px 17px 2px;
			    font-size: 16px;
			    @include bp(mobile-max){
			    	margin: 0 1px 17px 1px;
					font-size: 12px;
			    }
			    span {
				    background: #fff;
				    color: #fd4443;
				    padding: 7px 15px;
				    border-radius: 4px;
				    font-weight: 600;
				}
				a {
				    background: #fff;
				    padding: 7px 15px;
				    color: #8a8a8a;
				    border-radius: 4px;
				    font-weight: 600;
				    display: block;
				    @include bp(mobile-max){
				    	padding: 6px 10px;
				    }
				    &:hover {
					    background: #fff;
    					color: #fd4443;
					}
				}
				&.prev{
					a{
						border-radius: 50px;
					}
					span{
						border-radius: 50px;
					}
				}
				&.next{
					a{
						border-radius: 50px;
					}
					span{
						border-radius: 50px;
					}
				}
			}
		}
	}
}



.schoolinfo {
    padding: 15px 15px;
    margin: 0 0 24px 0;
    .School {
	    background: #fff;
	    padding: 20px;
	    box-shadow: 1px 1px 1px #e6e6e6;
	    h2 {
		    border-bottom: 1px solid #ccc;
		    padding: 10px 20px;
		    margin: -20px -20px 20px -20px;
		    background: #333;
		    color: #fff;
		}
		p {
		    display: inline-block;
		    margin: 0 0 8px 0;
		    width: 49%;
		    vertical-align: top;
		    a {
			    color: #000;
			    &:hover {
				    color: #f53f39;
				}
			}
		}
	}
}


.single_school{
	.schoolinfo {
	    padding: 0;
	    float: left;
    	width: 100%;
	    h2 {
		    background: linear-gradient(to right, #fd3542, #fd7647);
		    @include bp(mobile-p-max){
		    	font-size: 20px;
		    }
		}
	    div[class*=col-md] {
		    width: 50%;
		    @include bp(mobile-max){
		    	width: 100%;
    			padding: 0 17px;
		    }
		}
		p {
		    width: 100%;
		    font-weight: 500;
		    font-size: 18px;
		    @include bp(tab-max){
		    	font-size: 14px;
		    }
		    @include bp(mobile-p-max){
		    	font-size: 14px;
    			margin: 0 0 15px 0;
		    }
		    &.school{
		    	&-contact-information, &-athletic-information, &-tuition, &-academic-information{
		    		border-bottom: 1px solid #000;
				    padding: 0 0 8px 0;
				    margin: 0 0 12px 0;
				    font-size: 20px;
				    font-weight: 900 !important;
				    @include bp(tab-max){
				    	font-size: 16px;
				    }
				    @include bp(mobile-p-max){
				    	font-size: 14px;
				    }
			    	span{
			    		font-weight: 600;
			    	}
			    }
		    }
		    label {
			    text-align: left;
			    float: left;
			    width: 50%;
			    font-weight: 600;
			    font-size: 18px;
			    @include bp(tab-max){
			    	width: 52%;
			    	font-size: 14px;
			    }
			    @include bp(mobile-p-max){
			    	width: 100%;
				    margin: 0 0 3px 0;
				    font-size: 12px;
			    }
			}
			&.school-tuition{
				label {
				    font-size: 22px;
				    border-bottom: 1px solid #ccc;
				    width: 100%;
				    padding: 0 0 4px 0;
				    margin: 0 0 3px 0;
				}
			}
		}
	}
}


