/*****************************
--------------------------
Blog-Style
--------------------------
*****************************/


.post.category-pet {
    background: #f3f3f3;
    padding: 2%;
    margin: 50px 0 0px 0;
    display: inline-block;
    clear: both;
    float: left;
    width: 96%;
    position: relative;
    @include bp(mobile-max){
    	padding: 20px;
    	width: 100%;
    }
    &:before {
	    content: "";
	    border-bottom: 1px solid #e6e6e6;
	    width: 100%;
	    position: absolute;
	    top: -25px;
	    left: 0;
	}
    &:first-child {
	    margin-top: 0;
	    &:before{
			border: 0 none;
	    }
	}
	img {
	    float: left;
	    margin: 0 2% 0 0;
	    width: 260px;
	    min-height: 260px;
	    max-height: 260px;
	    object-fit: cover;
	    object-position: 0 0;
	    background: #fff;
	    @include bp(mobile-max){
	    	margin: 0 0 20px 0;
		    width: 100%;
		    min-height: inherit;
		    max-height: inherit;
	    }
	}
	h2.entry-title {
	    font-size: 50px;
	    margin: 0 0 10px 0;
	    font-family: "BebasNeue";
	    @include bp(tab-max){
	    	font-size: 34px;
	    }
	    @include bp(mobile-max){
	    	font-size: 30px;
	    }
	    @include bp(mobile-p-max){
	    	font-size: 24px;
	    }
	    a {
		    color: #000;
		    &:hover {
			    color: #fe5045;
			}
		}
	}
	.entry-meta {
	    margin: 0 0 10px 0;
	    color: #484848;
	    font-size: 14px;
	}
	.entry-content {
	    font-size: 16px;
	    p {
		    margin: 0 0 21px 0;
		    @include bp(tab-max){
		    	font-size: 16px;
		    }
		    @include bp(mobile-p-max){
		    	font-size: 14px;
		    }
		}
		a.read-more {
		    background: #fe5045;
		    color: #fff;
		    padding: 10px 32px;
		    display: inline-block;
		    font-size: 15px;
		    font-family: 'Open Sans';
		    text-transform: uppercase;
		    font-weight: 600;
		    border-radius: 50px;
		    &:hover{
				background: #000;
		    }
		}
	}
}