/*****************************
--------------------------
Defaut-Style
--------------------------
*****************************/

html{
	overflow-x: hidden; 
	// -webkit-overflow-scrolling: touch;
}

select::-ms-expand {
    display: none;
}

h1{
	font-weight: 500;
}

h2, h3, h4, h5, h6{
	font-weight: 600;
}


.notification-bar{
	p.account-upgrade {
	    color: #fff;
	    margin: 10px 0;
	    text-transform: uppercase;
	    font-weight: 500;
	    line-height: 1.7em !important;
	    font-size: 17px;
	}
}



.main-inner{
	.left-content, .right-content, .full-width{ 
		ul {
		    list-style: disc inside;
		    padding: 0 0 0 50px;
		    li {
			    font-size: 18px;
			    color: #000000;
			    margin: 0 0 10px 0;
			    font-weight: 400;
			    font-family: 'Open Sans';
			}
		}
	}
	.full-width{
		hr{
			margin: 30px 0 25px 0;
		}
	}
}



a.btn{
	&.profile-btn {
	   background: #fd5344;
	   color: #fff;
	   margin: 15px 0 0px 0;
	}
}


div#toggle {
    display: block;
    background: #000;
    padding: 18px 30px;
    cursor: pointer;
}

img.img-responsive {
    max-width: 100%;
    width: 100%;
}
.hand-img{
	img.img-responsive{
		margin: 0 auto;
    	display: block;
	}
}

.padding-right {
    padding-right: 60px;
    @include bp(desktop-main){
    	padding-right: 10px;
    }
    @include bp(mobile-max){
    	padding-right: 0px;
    }
}

.loading-icon {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

.has-error{
	background: transparent !important;
}

a.back_home {
    color: #fd5a45;
    i.fa {
	    margin: 0 6px 0 0;
	}
}

p iframe {
    max-width: 100%;
}

.main{
	&-banner{
		&.inner-banner{
			padding: 70px 0 40px 0;
		    background-image: url(../images/inner-banner.png);
		    min-height: inherit;
		    background-position: center top;
		    color: #fff;
			@include bp(desktop-main){
				padding: 70px 0 40px 0;
			}
			@include bp(mobile-max){
				padding: 50px 20px 40px 20px;
			}
			h1{
				@include bp(desktop-main){
					font-size: 70px;
				}
				@include bp(tab-max){
					font-size: 58px;
				}
				@include bp(mobile-p-max){
					font-size: 30px;
				}
			}
			h2{
				@include bp(mobile-p-max){
					font-size: 14px;
					letter-spacing: 0;
				}
			}
		}
	}
	&-inner{
		section{
			&.white-bg{
				padding: 60px 0;
				.left-content{
					.main-title{
						font-size: 40px;
					    font-weight: 500;
					    margin: 0 0 30px 0;
					    font-family: "BebasNeue";
					    border-bottom: 1px solid #e4e3e3;
					    padding: 0 0 25px 0;
					}
					img{
						margin: 0 0 20px 0;
					}
					p {
					    font-size: 18px;
					    color: #000000;
					    margin: 0 0 24px 0;
					    font-weight: 100;
						@include bp(desktop-main){
							font-size: 16px;
						}
					}
				}
				.sidebar{
					.post{
						&-section{
							margin-top: 68px;
							margin-bottom: 20px;
						    border: 1px solid #E6E6F6;
						    border-radius: 3px;
						    padding: 20px;
						    h1 {
							    font-family: "BebasNeue";
							    font-size: 23px;
							    margin: 10px 0 30px 0;
							}
						}
						&-inner {
						    border-bottom: 1px solid #E6E6F6;
						    padding: 0 0 15px 0;
						    margin: 0 0 18px 0;
						    &:last-child{
						    	border-bottom: 0 none;
						    	padding-bottom: 0px;
						    	margin: 0;
						    }
						    .left-img {
							    float: left;
							    margin: 0 15px 0 0;
							}
							.right-content{
								margin: 0;
								h2 {
								    font-family: "BebasNeue";
								    font-size: 21px;
								    margin: 10px 0 5px 0;
								}
								p {
								    font-weight: 100;
								    color: #b9b9b9;
								}
								a.learn-more {
								    color: #000;
								    font-size: 15px;
								}
							}
						}
					}
					.get-recruited {
					    text-align: center;
					    padding: 58px 20px;
					    background: url(../images/get-recruited.png);
					    background-repeat: no-repeat;
					    width: 100%;
					    background-size: 100%;
					    border-radius: 3px;
					    @include bp(tab-max){
					    	padding: 45px 20px;
					    }
					    h1 {
						    color: #fff;
						    text-transform: uppercase;
						    font-family: "BebasNeue";
						    font-size: 52px;
						    @include bp(desktop-main){
								font-size: 42px;
						    }
						    @include bp(tab-max){
								font-size: 28px;
						    }
						    a {
							    color: #fff;
							    text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}

form{
	.select2-container {
	    width: 100%;
	    margin: 0 0 25px 0;
	    @include bp(mobile-max){
	    	margin: 0 0 15px 0;
	    }
	    a {
		    padding: 8px 10px;
		    margin: 0px;
		    border-radius: 3px;
		    border: 1px solid #d2d1d1;
		    display: inline-block;
		    width: 100%;
		    height: 46px;
		    background: transparent;
		    div {
			    background: transparent !important;
			    border: none;
			    top: 7px;
			}
		}
		.select2-choices {
		    border-radius: 3px;
		    border: 1px solid #d2d1d1;
		    box-shadow: 0 0;
		    background: #fff;
		    margin: 0;
		    input {
			    margin: 0;
			    border: none;
			    height: 45px !important;
    			padding: 0 10px !important;
			}
			li {
			    background: transparent !important;
			    border: 0 !important;
			    border-radius: 0 !important;
			    box-shadow: 0 0 !important;
			    padding: 0 !important;
			    line-height: inherit !important;
			    div {
				    background: linear-gradient(to right, #fd3542, #fd7647);
				    color: #fff;
				    padding: 4px 21px 4px 10px;
				    border-radius: 12px;
				    font-size: 13px;
				    width: auto;
				}
				a.select2-search-choice-close {
				    border: none;
				    height: auto;
				    position: absolute;
				    right: 5px;
				    width: 11px;
				    top: 4px;
				    padding: 0;
				    left: auto;
				    background: transparent !important;
				    &:before {
					    content: "\f00d";
					    font-family: fontawesome;
					    font-size: 13px;
					    color: #fff;
					}
				}
			}
		}
	}
}

div.select2-container .select2-choice div b {
    background: none !important;
    position: relative;
    height: 20px;
    top: 4px;
    &:before {
	    content: "\f107";
	    font-family: fontawesome;
	}
}

@include bp(mobile-max){
	.atheletes-heading > .row {
	    margin: 0;
	}
}

.dataTables_wrapper{
	table.table.dataTable{
		tr{
			a.btn.pull-right {
			    float: none !important;
			}
		}
	}
}

.main-inner{
	p {
	    font-size: 18px;
	    color: #000000;
	    font-weight: 400;
	    line-height: 1.7em !important;
	    font-family: 'Open Sans';
	    margin: 0 0 10px 0;
	}
	a {
	    color: #fd5344;
	    cursor: pointer;
	}
	.panel{
		&-default {
		   margin: 0 0 21px 0;
			.panel-heading{
				a {
				    background: linear-gradient(to right, #fd3542, #fd7647);
				    display: block;
				    color: #fff;
				    padding: 13px 41px 13px 20px;
				    text-transform: uppercase;
				    border-radius: 0px;
				    font-size: 18px;
				    margin: 0 0 10px 0;
				    transition: 0.3s ease-in-out;
				    position: relative;
				 //   &[data-toggle="collapse"] {
					//     border-radius: 20px;
					// }
				   &[aria-expanded="true"] {
					    border-radius: 0;
					}
				   &.collapsed {
					   border-radius: 25px;
					   transition: 0.3s ease-in-out;
					   &:before {
						    content: "";
						    background: #fff;
						    width: 15px;
						    height: 2px;
						    display: block;
						    position: absolute;
						    right: 23.1px;
						    top: 23px;
						    transition: 0.3s ease-in-out;
						}
						&:after {
						    content: "";
						    background: #fff;
						    width: 2px;
						    height: 15px;
						    display: block;
						    position: absolute;
						    right: 29.5px;
						    top: 17px;
						    transition: 0.3s ease-in-out;
						    transform: rotate(0deg);
					    	opacity: 1;
						}
					}
					&:before {
					    content: "";
					    background: #fff;
					    width: 15px;
					    height: 2px;
					    display: block;
					    position: absolute;
					    right: 23.1px;
					    top: 23px;
					    transition: 0.3s ease-in-out;
					}
					&:after {
					    content: "";
					    background: #fff;
					    width: 2px;
					    height: 15px;
					    display: block;
					    position: absolute;
					    right: 29.5px;
					    top: 17px;
					    transition: 0.3s ease-in-out;
					    transform: rotate(90deg);
					    opacity: 0;
					}
				}
			}
		}
		.panel-collapse {
		    background: #ffffff;
		    padding: 0;
		    margin: -10px 0 0px 0;
		    border-radius: 0;
		    transition: 0.3s ease-in-out;
		    box-shadow: 2px 2px 0px #ccc, 4px 4px 0px #ccc;
		    border: 1px solid #ccc;
		   &.collapse {
			   height: 0;
			   visibility: hidden;
			   opacity: 0;
			   transition: 0.3s ease-in-out;
				&.in {
				   height: auto;
				   visibility: visible;
				   opacity: 1;
				}
			}
		}
		.panel-body{
			padding: 20px 20px;
			font-size: 18px;
		}
		.collapse {
		    display: none;
		    &.in {
			    display: block;
			}
		}
	}
	ul.alert.alert-success {
	    z-index: 99;
	    top: 33%;
	    left: 0;
	    width: 100%;
	    max-width: 100%;
	    background: #fff;
	    margin: 0 auto 30px;
	    right: 0;
	    padding: 20px 20px;
	    border-radius: 6px;
	    text-align: center;
	    li {
		    font-size: 31px;
		    position: relative;
		    padding: 110px 0 10px 0;
		    @include bp(mobile-max){
		    	padding: 85px 0 10px 0;
		    	font-size: 20px;
		    }
		    &:before {
			    content: "\f0e0";
			    font-family: fontawesome;
			    position: absolute;
			    top: 10px;
			    left: 0;
			    right: 0;
			    background: #fd5645;
			    display: inline-block;
			    width: 90px;
			    height: 90px;
			    color: #fff;
			    border-radius: 92px;
			    padding: 17px 0;
			    margin: 0 auto;
			    font-size: 52px;
			    @include bp(mobile-max){
			    	width: 60px;
				    height: 60px;
				    padding: 16px 0;
				    font-size: 27px;
			    }
			}
		}
	}
}



ul.alert.alert-success.update_password {
    text-align: center;
    padding: 40px 0;
    position: relative;
    top: 30px;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    box-shadow: 1px 3px 7px 1px #ececec;
    li {
	    font-size: 30px;
	    position: relative;
	    padding: 80px 0 0 0;
	    &:before {
		    content: "\f058";
		    font-family: fontawesome;
		    position: absolute;
		    top: 0;
		    left: 0;
		    text-align: center;
		    width: 60px;
		    height: 60px;
		    margin: 0 auto;
		    right: 0;
		    background: #fd5544;
		    font-size: 39px;
		    color: #fff;
		    padding: 10px 0;
		    border-radius: 70px;
		}
	}
}


.notification-bar {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 9999;
    background: linear-gradient(to right, #fd3542, #fd7647);
    padding: 0 34px;
    p.account-upgrade {
	    color: #fff;
	    margin: 10px 0;
	    text-transform: uppercase;
	    font-weight: 500;
	    a {
		    color: #fff;
		    font-weight: 600;
		    &:hover {
			    text-decoration: underline;
			}
		}
	}
	a.close-notification-bar {
	    position: absolute;
	    right: 0;
	    top: 0;
	    z-index: 9999;
	    background: #000;
	    width: 30px;
	    height: 26px;
	    color: #fff;
	    &:before {
		    content: "x";
		}
	}
}


.succes-message {
    float: left;
    width: 100%;
}

.alert-success.homepage.sign-up-message {
    margin: 40px auto 20px;
    text-align: center;
    width: 85%;
    span.close-sign-up-message {
	    position: absolute;
	    right: -1px;
	    top: 4px;
	    a {
		    position: relative;
		    background: #000;
		    padding: 4px 10px 6px 10px;
		    color: #fff;
		    &:before {
			    content: "x";
			}
		}
	}
}

.delete-acc-box {
    padding: 20px 20px;
    border: 1px solid #e8e8e8;
    p {
        margin: 0 0 20px 0;
        a.delete-acc-btn {
            color: #fd4f44;
        }
    }
}




