/*****************************
--------------------------
Events-Style
--------------------------
*****************************/

.filter-section {
    padding: 20px 0;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    form#eventSearchForm {
	    padding: 0 40px;
	    @include bp(mobile-max){
	    	padding: 0px;
	    }
	}	
    h3 {
	    text-align: center;
	    text-transform: uppercase;
	    display: block;
	    font-weight: 700;
	    color: #000;
	    margin: 0px 0 20px 0;
	    font-size: 18px;
	}
    label {
	    text-transform: uppercase;
	    display: block;
	    font-weight: 700;
	    color: #000;
	    margin: 0 0 9px 0;
	    @include bp(desktop-main){
	    	font-size: 13px;
	    }
	}
	select {
	    width: 100%;
	    padding: 13px 25px 13px 10px;
	    margin: 0 0 21px 0;
	    border-radius: 3px;
	    border: 1px solid #d2d1d1;
	    height: 46px;
	    text-overflow: ellipsis;
	    background: transparent;
	    background: #fff url(/storage/THPHMsNDuw6U2SomE0yo9FqKAqN3uoqnePsqVSp2.png);
	    appearance: none;
	    -moz-appearance: none;
	    -webkit-appearance: none;
	    background-size: 14px;
	    background-repeat: no-repeat;
	    background-position: 98% 50%;
	    text-overflow: ellipsis;
	    &.newsportsingle {
		    -webkit-appearance: none;
			pointer-events: none;
			-moz-appearance: none;
			appearance: none;
			background: transparent;
		}
	}	
	input{
		width: 100%;
	    padding: 13px 10px;
	    margin: 0 0 21px 0;
	    border-radius: 3px;
	    border: 1px solid #d2d1d1;
	    height: 46px;
	    text-overflow: ellipsis;
	    text-transform: capitalize;
	    &[type="file"]{
			color: #fff;
	    }
	    @include bp(desktop-main){
	    	font-size: 15px;
	    }
	}
	.btn {
	    background: -webkit-gradient(linear, left top, right top, from(#fd3542), to(#fd7647));
	    background: linear-gradient(to right, #fd3542, #fd7647);
	    color: #fff;
	    border: none;
	    border-radius: 40px;
	    width: 100%;
	    text-align: center;
	    padding: 12px 0;
	    height: 44px;
	}
	ul.school-result {
	    margin: 0px 0 30px 0;
	    padding: 10px;
	    background: #f5f5f5;
	    border: 1px solid #e0e0e0;
	    height: 100px;
	    overflow: auto;
	    position: absolute;
	    top: 78%;
	    width: 89%;
	    z-index: 999;
	    li {
		    margin: 0 0 6px 0;
		    font-size: 14px;
		    cursor: pointer;
		    &:hover {
			    color: #fd5544;
		    }
		}
	}
	.padd-right-remove {
	    padding-right: 0;
	}
    .select2-container {
	    width: 100%;
	    margin-bottom: 16px;
	    a {
		    padding: 8px 10px;
		    margin: 0px;
		    border-radius: 3px;
		    border: 1px solid #d2d1d1;
		    display: inline-block;
		    width: 100%;
		    height: 46px;
		    background: #fff;
		    div {
			    background: transparent !important;
			    border: none;
			    top: 7px;
			}
		}
	}
	.row{
		@include bp(mobile-max){
			margin: 0px;
		}
	}
	@include bp(tab-max){
		.padd-left-remove {
		    padding-right: 0;
		}
	}
}

.main{
	&-inner{
		section{
			&.grey-bg{
				background: #F7F7F8;
    			padding: 40px 0;
    			&.completeprofile {
				    padding-bottom: 0;
				}
			}
		}
		.events{
			&-section{
				display: table;
				width: 100%;
				&.not-found {
			        position: relative;
    				margin: 0 0 32% 0;
    				@include bp(tab-max){
    					margin: 0 0 300px 0;
    				}
				    .events-data {
					    background: #fff;
					    width: 100%;
					    position: absolute;
					    text-align: center;
					    padding: 130px 0 42px 0;
					    &:before {
						    content: "\f06a";
						    color: #fe5045;
						    position: absolute;
						    top: 45px;
						    font-family: fontawesome;
						    font-size: 71px;
						    left: 0;
						    right: 0;
						}
						h3 {
						    font-size: 30px;
						    padding: 0 10%;
						    @include bp(tab-max){
						    	font-size: 24px;
						    }
						    @include bp(mobile-large){
						    	font-size: 18px;
						    }
						}
					}
				}
			}
			&-heading{
				display: table-row;
    			width: 100%;
    			.head {
				    display: table-cell;
				    padding: 19px 20px;
				    @include bp(mobile-max){
						display: none;
				    }
				    h2{
				    	font-size: 20px;
				   		font-family: "BebasNeue";
				    }
				}
			}
			&-content{
				display: table-row;
    			width: 100%;
    			&.notification_unread{
    				.events-data{
    					@include bp(tab-max){
    						width: 450px;
    					}
    					@include bp(mobile-max){
    						width: 100%;
    					}
    					&:last-child {
							width: 290px;	
							@include bp(mobile-max){
								width: 100%;
							}	
						}
    				}	
    			}
    			&.no-school-found {
				    display: block;
				    h3 {
					    background: #fff;
					    padding: 170px 30px 30px 30px;
					    text-align: center;
					    font-size: 30px;
					    position: relative;
					    &:before {
						    content: "";
						    background: url(/images/no-imoframtion-availalbe.png);
						    background-position: left top;
						    width: 140px;
						    height: 140px;
						    position: absolute;
						    top: 30px;
						    left: 0;
						    right: 0;
						    margin: 0 auto;
						    background-size: 100%;
						    background-repeat: no-repeat;
						}
					}
				}
				&.no-event-found {
				    display: block;
				    h3 {
					    background: #fff;
					    padding: 170px 30px 30px 30px;
					    text-align: center;
					    font-size: 30px;
					    position: relative;
					    &:before {
						    content: "";
						    background: url(/images/no-attendees-avaiable.png);
						    background-position: left top;
						    width: 140px;
						    height: 140px;
						    position: absolute;
						    top: 30px;
						    left: 0;
						    right: 0;
						    margin: 0 auto;
						    background-size: 100%;
						    background-repeat: no-repeat;
						}
					}
				}
			    @include bp(mobile-max){
					display: block;
				    width: 100%;
				    margin: 0 0 25px 0;
				    border-bottom: 0;
				    padding: 21px 0;
				    background: #fff;
			    }
    			.events-data {
				    display: table-cell;
				    background: #fff;
				    padding: 30px 15px;
				    border-bottom: 12px solid transparent;
				    position: relative;
				    h3 {
					    word-break: break-word;
					}
				    @include bp(desktop-main){
				    	padding: 30px 10px;
				    }
				    @include bp(mobile-max){
				    	padding: 1px 5px;
					    display: block;
					    width: 100%;
					    text-align: center;
					    border: 0;
				    }
				    &:before {
					    content: "";
					    position: absolute;
					    left: 0px;
					    bottom: -12px;
					    width: 100%;
					    height: 12px;
					    background: -webkit-gradient(linear, left top, left bottom, from(#ececfd), to(#f7f7f8));
					    background: linear-gradient(#ececfd, #f7f7f8);
					    @include bp(mobile-max){
					    	display: none;
					    }
					}
					&:last-child{
						text-align: right;
						width: 350px;
						@include bp(tab-max){
							width: 130px;
						}
						@include bp(mobile-max){
							width: 100%;
						}
					}
				    h2 {
					    font-size: 20px;
				   		font-family: "BebasNeue";
					    @include bp(desktop-main){
							font-size: 18px;
					    }
					    @include bp(tab-max){
							font-size: 16px;
					    }
					    @include bp(mobile-max){
					    	font-size: 22px;
						    background: -webkit-gradient(linear, left top, right top, from(#fd3542), to(#fd7647));
						    background: linear-gradient(to right, #fd3542, #fd7647);
						    margin: -22px -5px 5px -5px;
						    padding: 8px 0;
					    }
				   		a{
				   			color: #250A55;
    						font-weight: 600;
    						@include bp(mobile-max){
    							color: #ffffff;
    							font-weight: 400;
    						}
				   		}
					}
					p {
					    font-family: 'Open Sans';
					    color: #7f7f7f;
					    font-size: 16px;
					    font-weight: 400;
    					color: #333;
					    @include bp(desktop-main){
							font-size: 13px;
					    }
					    @include bp(mobile-max){
					    	text-align: center;
					    	margin: 0 0 3px 0;
					    	font-size: 15px;
					    }
					    a{
					    	color: #32195f;
						    border-left: 2px solid #250A55;
						    padding: 0 0 0px 10px;
						    margin: 0 8px 0 0;
						    text-transform: uppercase;
						    &:hover {
							    color: #fd5344;
							}
						    &:first-child {
							    border: none;
							    padding-left: 0;
							}
							@include bp(tab-max){
								margin: 0 2px 0 2px;
							    display: block;
							    border: 0 none;
							    font-size: 11px;
							    padding: 0;
							}
						    @include bp(mobile-max){
								display: inline-block;
						    	border-left: 2px solid #250A55;
						    	padding-left: 8px;
						    	font-size: 14px;
						    }
					    }
					}
				}
    		}
		}
	}
}



#add-event-new.addevent {
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    @include bp(mobile-max){
    	padding: 20px 10px;
    }
    img.img-responsive {
	    width: 270px;
	    margin: 10px 10px 0 0;
	    float: left;
	}
	#image_preview{
		br {
		    display: none;
		}
	}
    .half {
	    width: 49.5%;
	    display: inline-block;
	    float: none;
	    margin: 0 0 20px 0;
	    padding: 0px 10px;
	    vertical-align: top;
	    @include bp(mobile-p-max){
	    	width: 100%;
	    }
	}
	ul.type_of_event {
	    float: left;
	    width: 100%;
	    li {
		    display: inline-block;
		    width: auto;
		    margin: 10px 17px 5px 0;
		    position: relative;
			p {
			    margin: 0;
			    position: relative;
			    padding: 0 0 0 26px;
			    &:before {
				    content: "";
				    background: #ffffff;
				    width: 20px;
				    height: 20px;
				    position: absolute;
				    left: 0px;
				    border-radius: 50%;
				    top: 2px;
				    border: 2px solid #000;
				}
			}
			input[type="radio"] {
			    float: left;
			    padding: 0;
			    margin: 0;
			    -webkit-appearance: none !important;
			    appearance: none;
				-moz-appearance: none;
			    position: absolute;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    z-index: 99;
			    border: none;
			    opacity: 0;
			    &:checked{
			    	+ p:after {
					    content: "";
					    background: #000;
					    width: 10px;
					    height: 10px;
					    position: absolute;
					    left: 5px;
					    border-radius: 50%;
					    top: 7px;
					    border: 2px solid #000;
					}
			    }
			}
		}
	}
	.full{
		float: left;
		width: 100%;
		display: block;
		padding: 0px 15px 0px 10px;
		margin: 0 0 20px 0;
	}
    label {
	    font-size: 15px;
	    color: #212527;
	    display: block;
	    margin: 0 0 9px 0;
	    font-weight: 700;
	    text-transform: uppercase;
	    width: 100%;
	    float: left;
	    sup {
		    color: red;
		}
	}
	input {
	    padding: 10px 10px;
	    border-radius: 2px;
	    border: 1px solid #ccc;
	    width: 100%;
	    height: 45px;
	    background: transparent;
	    margin: 0;
	}
	select {
	    padding: 10px 10px;
	    border-radius: 2px;
	    border: 1px solid #ccc;
	    width: 100%;
	    height: 45px;
	    background: transparent;
	    margin: 0;
	}
	textarea {
	    padding: 10px 10px;
	    border-radius: 2px;
	    border: 1px solid #ccc;
	    width: 100%;
	    background: transparent;
	    margin: 0;
	}
	button.btn.orange {
	    margin: 20px auto 5px;
	    display: block;
	}
	ul.school-search-result {
	    margin: 0px 0 30px 0;
	    padding: 10px 10px;
	    background: #f5f5f5;
	    border: 1px solid #e0e0e0;
	    height: 100px;
	    overflow: auto;
	    li {
		    margin: 0 0 6px 0;
		    cursor: pointer;
		    &:hover {
			    color: #fd5544;
		    }
		}
	}
}


.progressbar {
    margin: 0 auto 40px;
    max-width: 850px;
    clear: both;
    @include bp(mobile-p-max){
    	margin: 0 auto 20px;
    }
	.maindiv {
	    background: #d5d6d6;
	    display: block;
	    width: 100%;
	    height: 7px;
	    border-radius: 10px;
	    margin: 0 0 40px 0;
	    position: relative;
	    .progressdiv {
		    background: #78d8b5;
		    display: block;
		    height: 7px;
		    border-radius: 15px;
		    position: absolute;
		    left: 0;
		    top: 0;
		    &:after {
			    content: "";
			    background: #78d8b5;
			    padding: 4px;
			    border: 5px solid #fff;
			    border-radius: 50px;
			    height: 20px;
			    width: 20px;
			    display: block;
			    position: absolute;
			    right: 0;
			    top: -6px;
			    -webkit-box-shadow: 1px 4px 11px -6px #000;
			            box-shadow: 1px 4px 11px -6px #000;
			}
		}
		h2 {
		    font-size: 14px;
		    font-weight: bold;
		    margin: 20px 0 10px 0;
		    font-family: 'Open Sans';
		    text-align: left;
		    float: left;
		    line-height: 20px;
		    text-transform: uppercase;
		    span{
		    	&.progressval{
					font-weight: bold;
		    	}
		    }
		    br{
		    	display: none;
		    }
		}
	}
}
.info-forms {
    float: left;
    width: 100%;
}

.no-result{
	.events-section.atheletes-main {
	    position: relative;
    	height: 370px;
	    &:before {
		    background: url(../images/no-search-result.png);
		    background-position: center top;
		    background-repeat: no-repeat;
		    background-size: 320px;
		    content: "";
		    position: absolute;
		    left: 0;
		    top: 0;
		    height: 100%;
		    display: block;
		    width: 100%;
		}
	}
	.atheletes-heading{
		a.btn{
			&.light {
			    pointer-events: none;
			    cursor: default;
			    opacity: 0.5;
			}
		}
	}
}

.importevent{
	text-align: center;
    margin: 40px 0 -10px 0;
	a.downloadbutton {
	    background: -webkit-gradient(linear, left top, right top, from(#fd3542), to(#fd7647));
	    background: linear-gradient(to right, #fd3542, #fd7647);
	    display: inline-block;
	    padding: 10px 40px;
	    border-radius: 33px;
	    font-size: 20px;
	    color: #fff;
	    text-transform: uppercase;
	    font-weight: 600;
	    &:after {
		    font-family: fontawesome;
		    margin: 0 0 0 15px;
		    content: "\f0f6";
		}
	}
}


.email{
	&-section {
	    float: left;
	    width: 100%;
	    margin: 0 0 20px 0;
	    border: 1px solid #ccc;
	}
	&-heading {
	    width: 100%;
	    float: left;
	    > div {
		    text-align: left;
		    border-top: 1px solid #ccc;
		    &:first-child {
			    border-top: 0 none;
			}
		}
	}
	&-content {
	    width: 100%;
	    float: right;
	    text-align: left;
	    > div {
		    border-top: 1px solid #ccc;
		    text-align: left !important;
		    &:first-child {
			    border-top: 0 none;
			}
		}
	}
}


