/*****************************
--------------------------
Front Style
--------------------------
*****************************/

.step-forms.front-form{
	.right-section{ 
		.main-info{
			.tab-content{
				.inner-content{
					form{
						input[type="text"] {
						    padding: 0 !important;
						    border-style: solid;
						    margin: 0 0 20px 0;
						    border-width: 0px 0 3px 0;
						    border-radius: 0;
						    border-color: #f0f0f1;
						    height: 34px;
						}
						.checbox {
						    border: none;
						    padding: 0;
						    margin: 10px 0 10px 0;
						}
					}
				}
				#achievements, #contact{
					&.tab-pane{
						.tab-inner{
							.inner-content{
								// textarea{
								// 	padding: 3px 0 !important;
								//     border-style: solid !important;
								//     margin: 0 0 20px 0 !important;
								//     border-width: 0px 0 3px 0 !important;
								//     border-radius: 0 !important;
								//     border-color: #f0f0f1 !important;
								//     height: 34px;
								// }
							}
						}
					}
				}
			}
		}
	}
}
