/*****************************
--------------------------
Login-Form-style
--------------------------
*****************************/


.log-in-popup {
    position: fixed;
    top: 0;
    z-index: 999999;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow-y: scroll;
    background: rgba(255, 255, 255, 0.9);
    &.card-update-popup{
        .display-td{
            img.img-responsive {
                max-width: 300px;
                float: none;
                margin: 10px 0 -15px 0;
            }
        }
        .credit-card-box{
            .panel-body {
                padding-top: 0;
            }
            form.card-update-popup-form{
                label {
                    font-size: 15px;
                    color: #212527;
                    display: block;
                    margin: 0 0 9px 0;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                input.form-control {
                    padding: 10px 10px;
                    border-radius: 2px;
                    border: 1px solid #ccc;
                    width: 100% !important;
                    height: 45px;
                    background: transparent;
                    margin: 0 0 7px 0 !important;
                }
                button.subscribe {
                    margin: 0 auto;
                    display: block;
                }
                .input-group{
                    position: relative;
                    span.input-group-addon {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                    }
                }
            }
        }
    }
    .sign-up-content{
    .email_sent{
        .success{
            span {
                font-size: 20px;
                padding: 80px 0 20px 0;
                display: block;
                position: relative;
                &:before {
                    content: "\f058";
                    font-family: fontawesome;
                    position: absolute;
                    top: 20px;
                    right: 0;
                    left: 0;
                    font-size: 50px;
                    color: #fe5045;
                }
            }
        }
    }
    .panel-heading {
        font-family: "BebasNeue";
        font-size: 44px;
        font-weight: 500;
        margin: 0 0 21px 0;
     }
      .panel-body{
        .email_sent {
            display: block;
            float: left;
            width: 100%;
            margin: 10px 0 -10px 0;
            span {
                color: red;
            }
        }
        form {
            text-align: left;
            margin: 20px 0 0px 0;
            label.control-label {
			    font-weight: 700;
			}
            .ql-container {
               height: 160px;
            }    
            .checbox {
		        margin: 5px 0px 14px 0;
                float: left;
                width: 100%;
                max-height: 200px;
                overflow-y: auto;
                overflow-x: hidden;
                border-radius: 3px;
                border: 1px solid #d2d1d1;
                padding: 9px 10px 5px 10px;
			    p {
				    position: relative;
                    padding: 0 3% 0 33px;
                    width: 50%;
                    display: block;
                    vertical-align: top;
                    float: left;
                    word-wrap: break-word;
				    input {
					    position: absolute;
					    left: 0;
					    top: 0;
					    width: 100%;
					    height: 100%;
					    opacity: 0;
					    z-index: 99;
					    + label:before {
						    content: "";
						    border: 2px solid #fe5045;
						    width: 22px;
						    height: 22px;
						    display: block;
						    border-radius: 50px;
						    position: absolute;
						    left: 0;
						    top: 3px;
						}
						&:checked{
							+ label:after {
							    content: "";
							    width: 7px;
							    height: 7px;
							    display: block;
							    border-radius: 50px;
							    position: absolute;
							    left: 6px;
							    top: 9px;
							    background: #fe5045;
							    padding: 5px;
							}
						}
					}
					label {
					    display: block;
					    margin: 2px 0 10px 0;
					    color: #212527;
					    font-weight: 400;
					    font-size: 17px;
					    text-transform: capitalize;
					}
				}
			}
            .half {
                width: 48%;
                display: inline-block;
                vertical-align: top;
                margin-left: 1%;
                @media (max-width: $mobile-large){
			    	width: 100%;
			    	margin: 0px;
			    }
                label {
                    font-size: 15px;
                    color: #212527;
                    display: block;
                    margin: 0 0 9px 0;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                input {
                    padding: 10px 10px;
                    border-radius: 2px;
                    border: 1px solid #ccc;
                    width: 100%;
                    height: 45px;
                    background: transparent;
                    margin: 0 0 16px 0;
                    @include bp(mobile-max){
				    	height: 34px;
				    	padding: 6px 10px;
				    }
                }
                span.help-block {
                    font-size: 12px;
                    color: red;
                    margin: -10px 0 10px 0 !important;
                    display: block;
                    strong {
                        font-weight: normal;
                    }
                }
            }
            .checkbox{
                @media (max-width: 544px){
                    text-align: center;
                    margin: 0 0 7px 0;
                }
            }
            a.btn.btn-link {
                padding: 0;
                color: #000;
                float: right;
                @media (max-width: $mobile-large){
                    padding: 0;
                    color: #000;
                    float: none;
                    width: 100%;
                    text-align: center;
                }
                &:hover{
                	color: #fd7647;
                }
            }
            .form-group {
                float: left;
                width: 100%;
                &.savetemplate {
                    position: relative;
                    padding: 18px 0 11px 0;
                    z-index: 99;
                    margin: 20px 0 0 0;
                    &:before {
                        background: #f1f1f1;
                        content: "";
                        left: -40px;
                        top: 0;
                        width: 120%;
                        display: block;
                        position: absolute;
                        z-index: -9;
                        height: 110%;
                    }
                    p.template-name-require {
                        color: red;
                        font-size: 12px;
                    }
                    input {
                        background: #fff;
                    }
                }
                span.form-control-feedback {
				    margin: -15px 0 15px 0 !important;
				}
                button.btn.orange {
                    display: block;
                    margin: 30px auto;
                }
            }
        }
      }
      span.notmatch.help-block {
        margin: 30px 0 -20px 0;
        display: block;
        strong {
            color: red;
            font-weight: 300;
            font-size: 14px;
        }
      }
    }
    &.site-login {
        position: relative;
        box-shadow: 0 0;
        overflow: hidden;
        z-index: 9;
        .sign-up-content {
            box-shadow: 0 0;
            padding: 60px 0 0 0;
            text-align: center;
            border: 0 none;
            position: relative;
            .panel-body{
                form{
                    text-align: center;
                    .half{
                        text-align: left;
                    }
                    .form-group {
                        text-align: left;
                    }
                }
                .signup-new{
                    form{
                        text-align: left;
                        .half{
                            width: 49%;
                            &:first-child{
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.email-popup{
        .sign-up-content {
            padding: 10px 20px;
            max-width: 580px;
            overflow: hidden;
            a.close {
                top: 0px;
            }
            .email_sent{
                span {
                   font-size: 25px;
                   padding: 70px 0 20px 0;
                   display: block;
                   position: relative;
                   margin: 30px 0 0 0;
                   &:before {
                       content: "\f058";
                       font-family: fontawesome;
                       position: absolute;
                       left: 0;
                       right: 0;
                       top: 0;
                       color: #fe5045 ;
                       font-size: 58px;
                    }
                }
            }
            .panel-heading {
                text-align: left;
                font-size: 18px;
                border-bottom: 1px solid #efeeee;
                margin: 0 -20px 0 -20px;
                padding: 8px 30px 15px 30px;
                font-family: 'Open Sans';
                font-weight: 700;
                span.saving {
                    position: absolute;
                   top: 0;
                   margin: 0;
                   left: 0;
                   height: 100%;
                   width: 100%;
                   background: rgba(255,255,255,0.97);
                   z-index: 9;
                   img {
                       position: absolute;
                       left: 44%;
                       top: 45%;
                       width: 50px;
                    }
                }
            }
            .format-text{
                p {
                    margin: 13px 0 -5px 0;
                    text-align: left;
                    font-size: 18px;
                }
            }
            .format{
                p {
                    margin: -7px 0 12px 0;
                    font-size: 13px;
                    color: red;
                }
            }
            .form-group{
                label{
                    display: block;
                    font-weight: 700;
                }
                input, select {
                    width: 100%;
                    padding: 13px 10px;
                    margin: 8px 0 20px 0;
                    border-radius: 3px;
                    border: 1px solid #d2d1d1;
                    height: 46px;
                    text-overflow: ellipsis;
                    background: transparent;
                }
                textarea {
                    width: 100%;
                    padding: 13px 10px;
                    margin: 8px 0 20px 0;
                    border-radius: 3px;
                    border: 1px solid #d2d1d1;
                    text-overflow: ellipsis;
                }
                button.btn {
                    margin: 13px auto 7px !important;
                    max-width: 310px;
                    width: 85%;
                    padding: 16px 15px;
                    @include bp(mobile-max){
                        padding: 11px 15px;
                    }
                }
            }
        }
        &.video-upload{
            .sign-up-content {
                padding: 10px 20px 30px 20px;
                span{
                    .format{
                        p {
                            color: red;
                            font-size: 13px !important;
                            margin: -12px 0 15px 0 !important;
                        }
                        &-text{
                            p {
                                color: #636363;
                                font-size: 13px !important;
                                margin: 15px 0 -8px 0 !important;
                                text-align: left;
                                text-transform: capitalize;
                            }
                        }
                    }
                }
                input#videoval {
                    width: 100%;
                    margin: 20px 0;
                    border: 1px solid #ccc;
                    padding: 11px 20px;
                    border-radius: 5px;
                }
                span.form-control-feedback {
                    margin: -12px 0 15px 0 !important;
                }
            }
        }
    }
}

.log-in-popup{
    &.email.email-popup {
        .previewing{
            text-align: initial;
            table{
                text-align: center;
            }
            .sign-up-content{
                a.close {
                    text-align: center;
                }
            }
        }
    }
}
