/*****************************
--------------------------
Sign-Up-Popup-style
--------------------------
*****************************/


html.popup {
    overflow: hidden;
    // -webkit-overflow-scrolling: auto;
}

.sign-up{
	&-popup {
	    position: fixed;
	    top: 0;
	    z-index: 999999;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    text-align: center;
	    overflow-y: scroll;
	    background: rgba(255,255,255,0.9);
	    -webkit-overflow-scrolling: touch;
	 //    &:before {
		//     background: #fff;
		//     content: "";
		//     opacity: 0.9;
		//     width: 100%;
		//     height: 100%;
		//     position: fixed;
		//     left: 0;
		//     top: 0;
		//     z-index: -9;
		// }
	}
	&-message {
	    padding: 175px 20px 60px 20px;
	    font-size: 30px;
	    position: relative;
	    background: #fff;
	    max-width: 560px;
	    margin: 250px auto;
	    box-shadow: 1px 4px 35px #cecece;
	    &.sign-up-messagenew.sign-up-without-popup {
		    position: fixed;
		    top: 0;
		    width: 100%;
		    margin: 250px auto;
		    left: 0;
		    right: 0;
		}
	    &:before {
		    background: url(../images/tikk.png);
		    background-repeat: no-repeat;
		    background-position: left top;
		    width: 110px;
		    height: 110px;
		    content: "";
		    position: absolute;
		    top: 13%;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		    background-size: 100%;
		}
		span {
		    font-size: 14px;
		}
	}
	&-content {
	    background: #fff;
	    max-width: 770px;
	    margin: 0 auto 90px;
	    padding: 70px 90px 110px 90px;
	    box-shadow: 3px 38px 133px -59px #000;
	    top: 10%;
	    position: absolute;
	    width: 95%;
	    border: 1px solid #f5f5f5;
	    left: 0;
	    right: 0;
	    @include bp(tab-max){
	    	padding: 50px 20px 50px 20px;
	    }
	    a.close {
		    position: absolute;
		    right: 0;
		    top: 0;
		    z-index: 9999;
		    background: #000;
		    width: 30px;
		    height: 30px;
		    color: #fff;
		    &:before {
			    content: "x";
			    line-height: 27px;
			}
		    i {
			    color: #000;
			    display: none;
			}
		}
		h1 {
		    font-family: "BebasNeue";
		    font-size: 44px;
		    font-weight: 500;
		    margin: 0 0 21px 0;
		    @media (max-width: $mobile-large){
		    	font-size: 34px;
		    }
		}
		h2 {
		    font-family: "BebasNeue";
		    font-weight: 500;
		    margin: 50px 0 40px 0;
		}
		.radio-section {
		    margin: 32px -7px 33px -7px;
		    a {
			    display: inline-block;
			    width: 32%;
			    color: #b5b5b5;
			    text-transform: uppercase;
			    font-weight: 600;
			    border-bottom: 1px solid #b5b5b5;
			    padding: 0 0 23px 0;
			    position: relative;
			    @media (max-width: $mobile-large){
			    	font-size: 11px;
			    }
			    &.checked {
				    border-bottom: 1px solid #FD3542;
				    color: #FD3542;
				}
				input {
				    width: 100%;
				    position: absolute;
				    left: 0;
				    height: 100%;
				    visibility: hidden;
				}
			}
		}
		.container{
			@include bp(tab-max){
				padding: 0;
			}
		}
		form{
			&.create-acc {
			    text-align: left;
			    .half {
				    width: 49%;
				    display: inline-block;
				    vertical-align: top;
				    margin-left: 1%;
				    &.width-30{
				    	width:25%;
				    	@media (max-width: $mobile-large){
					    	width: 100%;
					    	margin: 0px;
					    }
				    }
				    &.width-70{
				    	width:73%;
				    	@media (max-width: $mobile-large){
					    	width: 100%;
					    	margin: 0px;
					    }
				    }
				    @media (max-width: $mobile-large){
				    	width: 100%;
				    	margin: 0px;
				    }
				    &:first-child {
					    margin-left: 0;
					}
				}
				.small {
				    width: 24%;
				    display: inline-block;
				    vertical-align: top;
				    margin-right: 1%;
				    @media (max-width: $mobile-large){
				    	width: 100%;
				    }
				}
				.medium {
				    width: 74%;
				    display: inline-block;
				    vertical-align: top;
				    @media (max-width: $mobile-large){
				    	width: 100%;
				    }
				}
				label {
				    font-size: 15px;
				    color: #212527;
				    display: block;
				    margin: 0 0 9px 0;
				    font-weight: 700;
				    text-transform: uppercase;
				    @include bp(tab-max){
				    	font-size: 14px;
				    }
				    sup {
					    color: red;
					    font-weight: bold;
					}
					.saving{
						img{
							width: 20px;
							position: relative;
							top: 3px;
							right: -2px;
						}
					}
				}
				input {
				    padding: 10px 10px;
				    border-radius: 2px;
				    border: 1px solid #ccc;
				    width: 100%;
				    height: 45px;
				    background: transparent;
				    margin: 0 0 27px 0 !important;
				    @include bp(mobile-max){
				    	height: 34px;
				    	padding: 6px 10px;
				    }
				}
				.checkboxrequired{
					padding: 0;
    				margin: 0 0 30px 0;
					input{
						&[type="checkbox"] {
						    width: auto;
						    height: auto;
						    float: left;
						    margin: 4px 10px 0 0 !important;
						}
					}
					a {
					    color: #fe5045;
					}
					span.error {
					    margin: 0 0 0 25px !important;
					}
				}
				select {
				    padding: 10px 10px;
				    border-radius: 2px;
				    border: 1px solid #ccc;
				    width: 100%;
				    height: 45px;
				    background: transparent;
				    margin: 0 0 27px 0;
				    background: #f7f7f8 url(/storage/THPHMsNDuw6U2SomE0yo9FqKAqN3uoqnePsqVSp2.png);
				    appearance: none;
				    -moz-appearance: none;
				    -webkit-appearance: none;
				    background-size: 14px;
				    background-repeat: no-repeat;
				    background-position: 98% 50%;
				    @include bp(mobile-max){
				    	height: 34px;
				    	padding: 6px 10px;
				    }
				}
				select{
					&.searchresult {
					    margin: -28px 0 30px 0 !important;
					    display: block;
					    border-top: 0 none;
					    background: #fff;
					}
				}
				button.btn.orange {
			        margin: 6px auto 0;
				    display: block;
				    padding: 16px 100px;
				    font-size: 20px;
				    @media (max-width: $mobile-large){
				    	padding: 10px 10px;
				    	font-size: 15px;
					    max-width: 200px;
					    width: 100%;
				    }
				}
				span.error {
				    color: red;
				    font-size: 12px !important;
				    margin: -20px 0 20px 0 !important;
				    display: block;
				}
				.select2-container {
				    width: 100%;
				    margin: 0 0 16px 0;
				    a {
					    padding: 8px 10px;
					    margin: 0px;
					    border-radius: 3px;
					    border: 1px solid #d2d1d1;
					    display: inline-block;
					    width: 100%;
					    height: 46px;
					    background: #fff;
					    div {
						    background: transparent !important;
						    border: none;
						    top: 7px;
						}
					}
				}
				.checkbox{
			    	margin: 0 0 10px 0;
			    	li {
					    position: relative;
					    padding: 0 0 0 33px;
					    width: 32%;
					    display: inline-block;
					    @include bp(mobile-max){
					    	width: 142px;
					    	padding: 0 0 0 24px;
					    }
					    input {
						    position: absolute;
						    left: 0;
						    top: 0;
						    width: 100%;
						    height: 100%;
						    opacity: 0;
						    z-index: 99;
						    + label:before {
							    content: "";
							    border: 2px solid #fe5045;
							    width: 22px;
							    height: 22px;
							    display: block;
							    border-radius: 50px;
							    position: absolute;
							    left: 0;
							    top: 3px;
							     @include bp(mobile-max){
						     	    width: 16px;
									height: 16px;
							     }
							}
							&:checked + label:after {
							    content: "";
							    width: 7px;
							    height: 7px;
							    display: block;
							    border-radius: 50px;
							    position: absolute;
							    left: 6px;
							    top: 9px;
							    background: #fe5045;
							    padding: 5px;
							    @include bp(mobile-max){
							    	left: 4px;
    								top: 7px;
    								padding: 4px;
							    }
							}
						}
						label {
						    display: block;
						    margin: 0 0 10px 0;
						    color: #212527;
						    font-weight: 400;
						    font-size: 17px;
						    text-transform: capitalize;
						    @include bp(mobile-max){
						    	font-size: 15px;
						    }
						}
					}
			    }
				.full{
					float: left;
					width: 100%;
					.row{
						@include bp(mobile-max){
							margin: 0;
						}
					}
					.Password{
						max-width: 100%;
					    width: 100%;
					    margin: 0 0 50px 0;
						input{
							margin: 0;
						}
						.Password__strength-meter {
						    margin: 12px 0 30px 0;
						}
					}
					ul.school-list {
					   margin: -27px 0 30px 0;
					   padding: 10px 10px;
					   background: #f5f5f5 ;
					   border: 1px solid #e0e0e0 ;
					   height: 130px;
					   overflow: auto;
					   li {
						   margin: 0 0 6px 0;
						   cursor: pointer;
						   &:hover {
							    color: #fd5544;
						   }
						}
					}
					.searchable{
						.dropdown-toggle {
						    margin: 0 0 20px 0;
						    position: relative;
						    min-height: 45px;
						    padding: 0px 7px;
						    border-radius: 4px;
						    border: 1px solid #ccc;
						    width: 100%;
						    height: auto;
						    span.selected-tag {
							    border: none;
							    border-radius: 51px;
							    padding: 0px 0px;
							    height: auto;
							    font-family: 'Open Sans';
							    display: inline-block;
							    margin: 9px 14px 2px 0;
							    background: transparent;
							    position: relative;
							    z-index: 999;
							}
							input.form-control {
						        border: none;
							    height: 42px;
							    margin: 0;
							    /* width: 100% !important; */
							    /* display: block; */
							    padding: 0;
							    /* max-width: inherit !important; */
							    /* float: none; */
							    /* position: absolute; */
							    /* top: 0; */
							    /* z-index: 99; */
							    /* left: 0; */
							    /* min-height: 45px; */
							    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								  color: #000;
								}
								&::-moz-placeholder { /* Firefox 19+ */
								  color: #000;
								}
								&:-ms-input-placeholder { /* IE 10+ */
								  color: #000;
								}
								&:-moz-placeholder { /* Firefox 18- */
								  color: #000;
								}
							}
							i.open-indicator {
							    top: 10px;
    							right: 5px;
    							&:before {
								    content: "";
								    border-right: 0px solid transparent;
								    border-top: 4px solid transparent;
								    border-left: 6px solid #000;
								    border-bottom: 4px solid transparent;
								    transform: rotate(-90deg);
								    height: 0px;
								    width: 0;
								    position: absolute;
								    right: 0;
								    top: 2px;
								}
								&:after {
								    content: "";
								    border-right: 0px solid transparent;
								    border-top: 4px solid transparent;
								    border-left: 6px solid #000;
								    border-bottom: 4px solid transparent;
								    transform: rotate(90deg);
								    display: inline-block;
								    height: 0px;
								    width: 0;
								    position: absolute;
								    bottom: 1px;
								    right: 0;
								}
							}
						}
					}
				}
			}
		}
		.social-signup {
		    margin: 0 -15px;
		    @include bp(tab-max){
		    	margin: 0;
			    float: left;
			    width: 100%;
		    	.facebook{
		    		margin-bottom: 15px;
		    	}
		    }
		    .facebook{
		    	a {
				    background: #3B5998;
				    color: #fff;
				    display: block;
				    text-align: left;
				    padding: 10px 20px;
				    border-radius: 4px;
				    i{
				    	float: right;
					    font-weight: bold;
					    font-size: 21px;
				    }
				}
		    }
		    .twitter{
		    	a {
				    background: #1DA1F2;
				    color: #fff;
				    display: block;
				    text-align: left;
				    padding: 10px 20px;
				    border-radius: 4px;
				    i{
				    	float: right;
					    font-weight: bold;
					    font-size: 21px;
				    }
				}
		    }
		}
	}
}

.homepage.sign-up-message {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99999;
    text-align: center;
    &:after {
	    background: #fff;
	    position: fixed;
	    height: 100%;
	    width: 100%;
	    opacity: 0.9;
	    z-index: -9;
	    top: 0;
	    content: "";
	    left: 0;
	}
}


.alert-danger{
	&.homepage{
		&.sign-up-message{
			span.close-sign-up-message{
				a {
				   position: absolute;
				   right: 0;
				   top: 0;
				   width: 30px;
				   display: block;
				   height: 27px;
				   background: #000;
				    &:before {
					   content: "x";
					   color: #fff;
					   line-height: 27px;
					}
				}
			}
		}
	}
}


#show-term{
	&.sign-up-popup{
		text-align: left;
		span.close-term {
		    position: absolute;
		    right: 0;
		    top: 0;
		    z-index: 9999;
		    background: #000;
		    width: 30px;
		    height: 30px;
		    color: #fff;
		    font-size: 0;
		    text-align: center;
		    &:before {
			    content: "x";
			    font-size: 18px;
			}
		}
		.sign-up-content {
		    padding: 0;
		    &:before {
			    content: "";
			    background: linear-gradient(#fff, rgba(255,255,255,0.9) ,rgba(255,255,255,0.2));
			    width: 100%;
			    height: 50px;
			    position: absolute;
			    top: 0;
			    @include bp(mobile-max){
			    	height: 40px;
			    }
			}
			&:after {
			    content: "";
			    background: linear-gradient(rgba(255,255,255,0.2) ,rgba(255,255,255,0.9) ,#fff);
			    width: 100%;
			    height: 50px;
			    position: absolute;
			    bottom: 0;
			    @include bp(mobile-max){
			    	height: 40px;
			    }
			}
			.show-inner {
			    padding: 70px 90px 110px 90px;
			    height: 550px;
			    overflow-y: auto;
			    overflow-x: hidden;
			    @include bp(mobile-max){
			    	padding: 40px 40px 110px 30px;
    				height: 500px;
			    }
			}
		}
		h2 {
		    font-family: "BebasNeue" !important;
		    font-size: 40px !important;
		    font-weight: 500 !important;
		    margin: 0 0 21px 0 !important;
		    @include bp(mobile-max){
		    	font-size: 30px !important;
			    margin: 0 0 10px 0 !important;
			    line-height: 1.1em !important;
		    }
		}
		p {
			@include bp(mobile-max){
			    font-size: 14px;
			}
		}
	}
}



