/*****************************
--------------------------
Sign-Up-Forms-style
--------------------------
*****************************/


.info-forms {
	.sign-up-form{
	    max-width: 700px;
	    margin: 0 auto;
	    width: 96%;
	    ul.alert.alert-danger {
		    text-align: left;
		    padding: 0;
		    margin: 0 0 24px 0;
		    width: 95.5%;
		    border-radius: 0;
		    background: #f1f1f1;
		    li {
			    color: #ef0303;
			    font-size: 14px;
			    position: relative;
			    margin: 0 0 -12px 0;
			    padding: 13px 12px 9px 12px;
			    &:before {
				    content: "\f06a";
				    font-family: fontawesome;
				    margin: 0 8px 0 0;
				}
			}
		}
		&.thankyouclass-form {
		    text-align: center;
		    background: #efefef;
		    max-width: 650px;
		    padding: 160px 40px 30px 40px;
		    position: relative;
		    &:before {
			    content: "";
			    display: block;
			    position: absolute;
			    top: 35px;
			    left: 0;
			    right: 0;
			    margin: 0 auto;
			    width: 100px;
			    height: 100px;
			    background: url(../images/thnkyou-icon.png);
			    background-size: 100%;
			    background-repeat: no-repeat;
			    background-position: center center;
			}
		    h2 {
			    font-size: 22px;
			    margin: 0 0 10px 0;
			}
			p {
			    font-size: 25px;
			}
		}
	}
    h{
    	&1{
    		font-size: 50px;
		    font-weight: 500;
		    margin: 0 0 10px 0;
		    font-family: "BebasNeue";
		    text-align: center;
		    @include bp(tab-max){
		    	font-size: 45px;
		    }
		    @include bp(mobile-max){
		    	font-size: 38px;
		    }
		    @include bp(mobile-p-max){
		    	font-size: 32px;
		    }
    	}
    	&2 {
		    font-family: 'Open Sans';
		    font-weight: 700;
		    font-size: 15px;
		    text-align: center;
		    text-transform: uppercase;
		    margin: 0 0 40px 0;
		    @include bp(mobile-max){
		    	font-size: 13px;
		    }
		}
		&3 {
		    &.heading-form{
		    	font-family: 'Open Sans';
			    font-weight: 700;
			    font-size: 15px;
			    position: relative;
			    padding: 7px 0px 10px 57px;
			    margin: 0 0 18px -57px;
			    text-transform: uppercase;
			    text-align: left;
			    @include bp(mobile-max){
			    	padding: 7px 0px 10px 48px;
			    	margin-left: 0px;
			    	font-size: 12px;
			    }
			    span {
				    background: #E6E6F6;
				    padding: 9px 10px;
				    position: absolute;
				    left: 0;
				    top: 0;
				    border-radius: 50px;
				    font-weight: 700;
				    width: 34px;
				    height: 34px;
				    line-height: 18px;
				    font-size: 14px;
				    text-align: center;
				}
				a{
					color: #000000;
				    float: right;
				    text-decoration: underline;
				    cursor: pointer;
				    &.add-new {
					    color: #fff !important;
					    text-decoration: none;
					    margin: -11px 0;
					}
				    &:hover{
						color: #fd3542;
				    }
				}
		    }
		}
    }
    form.details{
    	padding: 0 57px;
    	text-align: center;
    	.loadericon {
		   position: relative;
		   .overlay-center {
			   position: absolute;
			   left: 0;
			   top: 0;
			   width: 100%;
			   height: 100%;
			   background: rgba(255,255,255,0.8);
			   padding: 22% 0;
			}
		}
    	@include bp(mobile-max){
    		padding: 0 17px;
    	}
    	.row{
    		text-align: left;
    	}
    	p {
		    margin: 0 0 20px 0;
		    font-weight: 200;
		    text-transform: uppercase;
		}
    	label{
			display: block;
		    margin: 0 0 13px 0;
		    color: #2b2b2b;
		    font-weight: 600;
		    font-size: 18px;
    	}
    	input{
    		&[type="text"] {
			    width: 100%;
			    padding: 13px 10px;
			    margin: 0 0 21px 0;
			    border-radius: 3px;
			    border: 1px solid #d2d1d1;
			    height: 50px;
			    @include bp(mobile-max){
			    	height: 34px;
			    	padding: 6px 10px;
			    }
			}
			&[type="email"] {
			    width: 100%;
			    padding: 13px 10px;
			    margin: 0 0 21px 0;
			    border-radius: 3px;
			    border: 1px solid #d2d1d1;
			    height: 50px;
			    @include bp(mobile-max){
			    	height: 34px;
			    	padding: 6px 10px;
			    }
			}
			&[type="tel"] {
			    width: 100%;
			    padding: 13px 10px;
			    margin: 0 0 21px 0;
			    border-radius: 3px;
			    border: 1px solid #d2d1d1;
			    height: 50px;
			    @include bp(mobile-max){
			    	height: 34px;
			    	padding: 6px 10px;
			    }
			}
    	}
    	textarea {
		    border: 1px solid #d2d1d1;
		    background: #fff;
		    border-radius: 3px;
		    padding: 10px;
		}
    	select{
    		width: 100%;
		    padding: 2px 13px;
		    margin: 0 0 21px 0;
		    border-radius: 3px;
		    border: 1px solid #d2d1d1;
		    background: #fff;
		    height: 47px;
		    color: #787a7b;
		    font-family: 'Open Sans';
		    @include bp(mobile-max){
		    	height: 34px;
		    	padding: 2px 6px;
		    }
    	}
    	.select2-container {
		    width: 100%;
		    margin: 0 0 25px 0;
		    a {
			    padding: 10px 10px;
			    margin: 0px;
			    border-radius: 3px;
			    border: 1px solid #d2d1d1;
			    display: inline-block;
			    width: 100%;
			    height: 50px;
			    background: #fff;
			    div {
				    background: transparent !important;
				    border: none;
				    top: 7px;
				}
			}
		}
    	button {
		    float: none;
		    padding: 14px 40px 14px 40px;
		    position: relative;
		    font-size: 22px;
		    margin: 15px auto 0;
		    display: inline-block;
		    max-width: inherit;
		    width: auto;
		    @include bp(mobile-max){
		    	font-size: 13px;
		    	padding: 15px 40px 14px 23px;
		    }
		    i {
			    font-weight: bold;
    			margin: 0 -10px 0 12px;
			}
		}
		@include bp(mobile-max){
			.send-now {
			    text-align: center;
			    button {
				    float: none !important;
				    padding: 15px 30px;
				}
			}
		}
	    .checkbox{
	    	margin: 0 0 10px 0;
	    	float: left;
    		width: 100%;
	    	li {
			    position: relative;
			    padding: 0 0 0 33px;
			    width: 160px;
			    display: inline-block;
			    float: left;
			    @include bp(mobile-max){
			    	width: 123px;
				    display: inline-block;
				    float: left;
				    padding: 0 0 0 21px;
			    }
			    input {
				    position: absolute;
				    left: 0;
				    top: 0;
				    width: 100%;
				    height: 100%;
				    opacity: 0;
				    + label:before {
					    content: "";
					    border: 2px solid #fe5045;
					    width: 22px;
					    height: 22px;
					    display: block;
					    border-radius: 50px;
					    position: absolute;
					    left: 0;
					    top: 3px;
					    @include bp(mobile-max){
					    	height: 16px;
					    	width: 16px;
					    }
					}
					&:checked + label:after {
					    content: "";
					    width: 7px;
					    height: 7px;
					    display: block;
					    border-radius: 50px;
					    position: absolute;
					    left: 6px;
					    top: 9px;
					    background: #fe5045;
					    padding: 5px;
					    @include bp(mobile-max){
					    	padding: 4px;
					    	top: 7px;
					    	left: 4px;
					    }
					}
				}
				label {
				    display: block;
				    margin: 0 0 10px 0;
				    color: #212527;
				    font-weight: 200;
				    font-size: 18px;
				    @include bp(mobile-max){
				    	font-size: 15px;
				    }
				}
			}
	    }
    }
    .enter-dashboard {
	    text-align: center;
	    margin: 0px;
	    p {
		    font-size: 12px;
		    color: #afafaf;
		    font-weight: 200;
		    a {
			    margin: 0 0 0 6px;
			    color: #250A55;
			}
		}
	}
}


.parent-info{
	.info-forms{
		h3.heading-form {
		    border-bottom: 1px solid #e6e6e6;
		    padding-bottom: 24px;
		    @include bp(mobile-max){
				padding-right: 34px;
				a.add-new {
				    margin: 0;
				    display: inline-block;
				    float: right;
				    position: absolute;
				    font-size: 0;
				    padding: 10px 0;
				    width: 30px;
				    height: 30px;
				    text-align: center;
				    right: 0;
				    top: 2%;
				    &:before {
					    content: "\f067";
					    font-family: fontawesome;
					    font-size: 12px;
					}
				}
		    }
		}
		span.form-control-feedback {
		    margin: -15px 0 15px 0 !important;
		}
		.parenttable {
		    border-top: 1px solid #e6e6e6 !important;
		    float: left;
		    width: auto !important;
		    padding: 20px 30px 0px 30px !important;
		    margin: 10px 0px 0 -10px !important;
		    .edit{
		    	span {
				    position: absolute;
				    top: -37px;
				    left: auto;
				    font-family: 'Open Sans';
				    font-size: 12px;
				    background: #000;
				    padding: 4px 10px;
				    border-radius: 5px;
				    color: #fff;
				    opacity: 0;
				    visibility: hidden;
				    transition: 0.3s ease-in-out;
				    display: inline-block;
				    white-space: nowrap;
				    transform: translate(-40%,0%);
				    &:after {
					    content: "";
					    background: #000;
					    width: 11px;
					    height: 10px;
					    position: absolute;
					    bottom: -4px;
					    right: 0;
					    left: 0;
					    margin: 0 auto;
					    transform: rotate(-45deg);
					}
				}
				&:hover{
					span{
						opacity: 1;
					    visibility: visible;
					    transition: 0.3s ease-in-out;
					}
				}
		    }
		    &:first-child {
			    border-top: 0 none !important;
			    margin-top: 0 !important;
			}
		    @include bp(mobile-p-max){
		    	padding: 20px 20px 0px 20px !important;
		    }
		    &.highlight {
			    border: 2px solid #e8e8e8;
			    box-shadow: 1px -1px 25px -16px #000 inset;
			    background: rgba(253, 76, 67, 0.03);
			}
		    &:nth-child(2) {
			    border-top: 0;
			    padding-top: 0;
			    margin-top: 0;
			}
		}
	}
}



