/*****************************
--------------------------
Home-page-style
--------------------------
*****************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');


body{
	font-family: 'Open Sans';
	color: #000;
}
.btn {
    padding: 13px 40px;
    display: inline-block;
    font-size: 15px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 50px;
    a{
    	color: #fff !important;
    }
    @include bp(mobile-max){
    	padding: 10px 23px;
    	font-size: 12px;
    }
    &.orange{
    	background: linear-gradient(to right, #fd3542, #fd7647);
    	background: #fd3542\9;
    	color: #fff;
    }
    &.black{
    	background: #232429;
    	color: #fff;
    }
    &.light{
		background: #E6E6F6;
	    color: #b1adad;
	    margin: 4px 0;
	    padding: 13px 20px;
	    width: 170px;
	    text-align: center;
	    font-weight: 600;
	    @include bp(mobile-max){
	    	padding: 10px 20px;
	    	font-size: 12px;
	    }
    }
    &.purple{
		background: #250A55;
    	color: #fff;
    }
}

.main{
	&-banner {
	    float: left;
	    width: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    padding: 40px 0 80px 0;
	    text-align: center;
	    background-position: center 100%;
	    min-height: 580px;
	    @media all and (-webkit-min-device-pixel-ratio: 1.5),
		       all and (-o-min-device-pixel-ratio: 3 / 2),
		       all and (min--moz-device-pixel-ratio: 1.5),
		       all and (min-device-pixel-ratio: 1.5) {
		    background: url("../images/banner-bg@2x.png") center center no-repeat;
		    background-size: cover;
		}

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		    background: url("../images/banner-bg@2x.png") center center no-repeat;
		    background-size: cover;
		}

		@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
		    background: url("../images/banner-bg@3x.png") center center no-repeat;
		    background-size: cover;
		}
		@include bp(mobile-max){
			padding: 20px 0 50px 0;
		}
	    h1 {
		    font-size: 81px;
		    font-weight: 500;
		    margin: 0 0 10px 0;
		    font-family: $bebas-font;
			@include bp(mobile-max){
				font-size: 50px;
			}
			@include bp(mobile-p-max){
				font-size: 32px;
			}
		}
		h2 {
		    font-family: 'Open Sans';
		    text-transform: uppercase;
		    font-weight: 700;
		    font-size: 16px;
		    margin: 0 0 18px 0;
		    letter-spacing: 1px;
		    span {
			    font-weight: 700;
			    color: #fe5045;
			}
		}
		h3 {
		    font-family: 'Open Sans';
		    text-transform: uppercase;
		    font-weight: 700;
		    font-size: 14px;
		    margin: 0 0 10px 0;
		    letter-spacing: 1px;
		}
		h4 {
		    font-family: 'Open Sans';
		    text-transform: uppercase;
		    font-weight: 700;
		    font-size: 12px;
		    margin: 0 0 10px 0;
		    letter-spacing: 1px;
		}
		h5 {
		    font-family: 'Open Sans';
		    text-transform: uppercase;
		    font-weight: 700;
		    font-size: 10px;
		    margin: 0 0 6px 0;
		    letter-spacing: 1px;
		}
		h6 {
		    font-family: 'Open Sans';
		    text-transform: uppercase;
		    font-size: 9px;
		    margin: 0 0 6px 0;
		    letter-spacing: 1px;
		}
		p {
		    font-size: 18px;
		    margin: 0 0 15px 0;
		    @include bp(mobile-max){
				font-size: 15px;
				line-height: 25px;
			}
			@include bp(mobile-p-max){
				font-size: 14px;
			}
			br{
				@include bp(mobile-max){
					display: none;
				}
			}
		}
		button {
		    padding: 13px 32px;
		    display: inline-block;
		    font-size: 13px;
		    font-family: 'Open Sans';
		    text-transform: uppercase;
		    border-radius: 50px;
		    margin: 30px 0 0 0;
		    font-weight: 600;
		    background: linear-gradient(to right, #fd3542, #fd7647);
		    color: #fff;
		}
		h3.sign-up-text {
		    font-family: 'Open Sans';
		    text-transform: uppercase;
		    font-weight: 700;
		    font-size: 16px;
		    letter-spacing: 1px;
		    position: relative;
		    max-width: 620px;
		    margin: 21px auto 27px;
		    &:before {
			    content: "";
			    border-bottom: 1px solid #FD3542;
			    width: 35%;
			    position: absolute;
			    left: 0;
			    top: 50%;
			}
			&:after {
			    content: "";
			    border-bottom: 1px solid #FD3542;
			    width: 35%;
			    position: absolute;
			    right: 0;
			    top: 50%;
			}	
		    @include bp(mobile-p-max){
				&:before, &:after{
					display: none;
				}
			}	
		}
		a {
		    margin: 0px 12px;
		    max-width: 308px;
		    width: 100%;
		    @include bp(mobile-max){
		    	margin: 0px 2px;
			    width: 48%;
			    font-size: 11px;
		    }
		    @include bp(mobile-p-max){
				width: 100%;
			    font-size: 11px;
			    display: block;
			    margin: 0 auto 14px;
			    max-width: 320px;
		    }
		}
	}
	&-slider{
		padding: 20px 0;
		.slick-track {
		    padding: 15px 0 0 0;
		}
		button{
			&.slick-next {
			    font-size: 0;
			    height: 100px;
			    width: 100px;
			    position: absolute;
			    right: -49px;
			    top: 40%;
			    background: rgba(255,255,255,0.8);
			    border-radius: 80px;
			    text-align: left;
				z-index: 999;
			    &:before {
				    content: "\f105";
				    font-family: fontawesome;
				    font-size: 27px;
				    padding: 10px 20px;
				}
			}
			&.slick-prev {
			    font-size: 0;
			    height: 100px;
			    width: 100px;
			    position: absolute;
			    left: -49px;
			    top: 40%;
			    background: rgba(255,255,255,0.8);
			    border-radius: 80px;
			    text-align: right;
			    z-index: 999;
			    &:before {
				    content: "\f104";
				    font-family: fontawesome;
				    font-size: 27px;
				    padding: 10px 20px;
				}
			}
		}
		.slides {
		    margin: 20px 20px;
		    border: 4px solid #fff;
			position: relative;
			transition: 0.3s ease-in-out;
    		border-radius: 10px;
    		a {
			    display: block;
			}
    		.slide-links {
			    position: relative;
			    &:after {
				    content: "";
				    height: 140px;
				    width: 100%;
				    background: linear-gradient(transparent, #000);
				    display: block;
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    opacity: 0.7;
				    border-radius: 6px;
				}
				&:before {
				    content: "\f105";
				    font-family: fontawesome;
				    position: absolute;
				    bottom: 37px;
				    right: -15px;
				    background: #fff;
				    padding: 10px 10px;
				    z-index: 99;
				    color: #f94747;
				    border-radius: 30px;
				    width: 45px;
				    height: 45px;
				    text-align: center;
				    font-size: 23px;
				    line-height: 23px;
				}
			}
			img{
				width: 100%;
				border-radius: 6px;
				min-height: 370px;
				max-height: 370px;
				object-fit: cover;
			}
			h2 {
			    position: absolute;
			    bottom: 40px;
			    margin: 0;
			    left: 30px;
			    color: #fff;
			    text-transform: uppercase;
			    z-index: 9999;
			    font-size: 20px;
			    a{
			    	color: #fff;
			    }
			}
			&.slick-center{
				border: 4px solid #f94747;
			    border-radius: 10px;
			    transform: translate(0, -9%);
			    transition: 0.3s ease-in-out;
				&:before {
				    content: "\f105";
				    font-family: fontawesome;
				    position: absolute;
				    bottom: 37px;
				    right: -15px;
				    background: #f94747;
				    padding: 10px 10px;
				    z-index: 99;
				    color: #fff;
				    border-radius: 30px;
				    width: 45px;
				    height: 45px;
				    text-align: center;
				    font-size: 23px;
				    line-height: 23px;
				}
			}
		}
	}
	&-bottom-slider {
	    padding: 30px 0;
	    .slick-track{
		   	padding: 0px;
		    .slides {
			    margin: 0 20px;
			    position: relative;
			    img{
					width: 100%;
				    min-height: 460px;
				    object-fit: cover;
				    transition: 0.3s ease-in-out;
				    max-height: 460px;
				    object-position: 0 0;
				}
				.content {
				    background: #fd5d47;
				    padding: 30px 30px;
				    color: #fff;
				    // position: absolute;
				    // bottom: -260px;
				    transition: 0.3s ease-in-out;
				    width: 100%;
				    p {
					    font-weight: 100;
					    color: #fff;
					    strong {
						    text-transform: uppercase;
						    font-weight: 600;
						    font-size: 14px;
						    color: #fff;
						}
					}
					h2 {
					    font-family: "BebasNeue";
					    font-size: 26px;
					    margin: 8px 0;
					    color: #fff;
					}
					a.event-link {
					    color: #fff;
					    font-weight: 100;
					    margin: 20px 0 0px 0;
					    display: block;
					    font-size: 14px;
					    &:after {
						    content: "\f0da";
						    font-family: fontawesome;
						    margin: 0px 10px;
						    position: relative;
						    top: 2px;
						    color: #fff;
						    font-size: 18px;
						}
					}
				}
				&.slick-center{
					img {
					    transform: translate(0, -16%);
					    transition: 0.3s ease-in-out;
					}
					.content {
					    z-index: 9;
					    bottom: 0;
					    transition: 0.3s ease-in-out;
					}
				}
				&:hover{
					img {
					    transform: translate(0, -16%);
					    transition: 0.3s ease-in-out;
					}
					.content {
					    z-index: 9;
					    bottom: 0;
					    transition: 0.3s ease-in-out;
					}
				}
			}
		}
	}
	&-container{
		float: left;
		width: 100%;
		section{
			&.online-recruting{
				background: url("../images/online-rec-bg.png");
				background-repeat: no-repeat;
				background-position: center center;
				text-align: center;
				background-size: cover;
				padding: 100px 0 130px 0;
				@media all and (-webkit-min-device-pixel-ratio: 1.5),
				       all and (-o-min-device-pixel-ratio: 3 / 2),
				       all and (min--moz-device-pixel-ratio: 1.5),
				       all and (min-device-pixel-ratio: 1.5) {
				    background: url("../images/online-rec-bg@2x.png") center center no-repeat;
				    background-size: cover;
				}

				@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
				    background: url("../images/online-rec-bg@2x.png") center center no-repeat;
				    background-size: cover;
				}

				@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
				    background: url("../images/online-rec-bg@3x.png") center center no-repeat;
				    background-size: cover;
				}
				@include bp(mobile-p-max){
					padding: 40px 0 80px 0;
				}
				h2 {
				    color: #fff;
				    font-family: 'Open Sans';
				    text-transform: uppercase;
				    font-weight: 600;
				    font-size: 14px;
				    margin: 0 0 18px 0;
				    letter-spacing: 1px;
				}
				h1 {
				    color: #fff;
				    font-size: 52px;
				    margin: 30px 0 20px 0;
				    font-family: "BebasNeue";
				    @include bp(mobile-max){
						font-size: 45px;
						margin-bottom: 10px;
				    }
				    @include bp(mobile-p-max){
						font-size: 32px;
						margin-bottom: 10px;
						margin-top: 10px;
				    }
				}
				p {
				    color: #fff;
				    font-weight: 200;
				    margin: 0 auto 30px;
				    max-width: 560px;
				    @include bp(mobile-max){
						font-size: 15px;
				    }
				    @include bp(mobile-p-max){
						font-size: 14px;
				    }
				    br{							
				    	display: none;
					}
				}
				a.btn {
				    width: 290px;
				    text-align: center;
				}
			}
			&.sport-contact{
				position: relative;
			    box-shadow: 0 0 black;
			    padding: 0px 0 140px 0;
			    min-height: 620px;
				@include bp(mobile-max){
					text-align: center;
				    min-height: inherit !important;
				    padding: 0 0 0;
				}
				// &:before {
				//     content: "";
				//     background: url(../images/sport-top.png);
				//     background-repeat: no-repeat;
				//     width: 130px;
				//     height: 140px;
				//     display: block;
				//     position: absolute;
				//     top: -69px;
				//     left: 0;
				//     right: 0;
				//     margin: 0 auto;
				// }
				@include bp(tab-max){
					min-height: 550px;
				}
				h2 {
				    text-align: center;
				    font-family: 'Open Sans';
				    text-transform: uppercase;
				    font-weight: 800;
				    font-size: 24px;
				    margin: 0px 0 18px 0;
				    letter-spacing: 1px;
				    padding: 23px 0 20px 0;
				    border-bottom: 1px solid #e8e8e8;
				    @include bp(mobile-p-max){
				    	padding: 23px 50px 20px 50px;
				    }
				}
				h1 {
				    font-size: 35px;
				    font-weight: 700;
				    margin: 70px 0 20px 0;
				    text-transform: uppercase;
				    @include bp(desktop-main){
				    	font-size: 28px;
				    }
				    @include bp(tab-max){
				    	font-size: 22px;
				    }
				    @include bp(mobile-p-max){
				    	font-size: 20px;
				    	br{
				    		display: none;
				    	}
				    }
				}
				p{
					color: #a0a0a2;
				    margin: 0 0 40px 0;
				    font-weight: 200;
				    font-size: 18px;
				    @include bp(desktop-main){
						margin-bottom: 28px;
						font-size: 15px !important;
				    }
				    @include bp(tab-max){
						margin-bottom: 28px;
						font-size: 14px !important;
				    }
				    @include bp(mobile-p-max){
				    	br{
				    		display: none;
				    	}
				    }
				}
				a.btn {
				    width: 290px;
				    text-align: center;
				    @include bp(desktop-main){
						width: 230px;
					}
				}
				.right-img {
				    position: static;
				    img {
					    position: absolute;
					    right: -20px;
					    max-width: 690px;
					    bottom: 0;
					    width: 55%;
						@include bp(mobile-max){
							position: relative;
						    right: 0;
						    max-width: 690px;
						    bottom: 0;
						    width: 100%;
						    margin: 20px 0 0 0;
					    }
					}
				}
			}
			&.not-sure {
			    // padding: 100px 0;
			    // background: url(../images/not-sure-bg.png);
			    // background-size: cover;
			    // background-position: center center;
			    // background-repeat: no-repeat;
			    // background-attachment: fixed;
			    // margin: -50px 0 0 0;
			    // z-index: 99;
			    // position: relative;
			    padding: 30px 0 0px 0;
			    background: url(../images/not-sure-bg.png);
			    background-size: cover;
			    background-position: center center;
			    background-repeat: no-repeat;
			    background-attachment: fixed;
			    margin: -50px 0 0 0;
			    z-index: 99;
			    position: relative;
			    min-height: 525px;
			    @media all and (-webkit-min-device-pixel-ratio: 1.5),
				       all and (-o-min-device-pixel-ratio: 3 / 2),
				       all and (min--moz-device-pixel-ratio: 1.5),
				       all and (min-device-pixel-ratio: 1.5) {
				    background: url("../images/not-sure-bg@2x.png") center center no-repeat;
				    background-size: cover;
				}

				@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
				    background: url("../images/not-sure-bg@2x.png") center center no-repeat;
				    background-size: cover;
				}

				@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
				    background: url("../images/not-sure-bg@3x.png") center center no-repeat;
				    background-size: cover;
				}
				@include bp(desktop-main){
					padding: 70px 0;
				}
				@include bp(tab-max){
					padding: 39px 0;
				}
				@include bp(mobile-max){
					text-align: center;
					padding: 39px 0 0 0;
					.pull-right{
						float: none;
					}
				}
			    &:before {
				    content: "";
				    background: #ebedfb;
				    position: absolute;
				    width: 100%;
				    height: 100%;
				    top: 0;
				    left: 0;
				    opacity: 0.85;
				    z-index: -9;
				}
			    .hand-img {
				    margin: -246px 0 -100px 0;
					@include bp(desktop-main){
						margin: -204px 0 -105px 0;
					}
					@include bp(tab-max){
						margin: -121px 0 -105px 0;
					}
					@include bp(mobile-max){
						margin: 0px;
						img{
						    max-width: 310px;
						}
					}
				}
				.col-md-6 {
				    position: static;
				}
				img {
				    margin: 0 0 -14px 0;
				    position: absolute;
				    left: 0;
				    max-width: 690px;
				    bottom: 0;
				    width: 55%;
				    @include bp(mobile-max){
						position: relative;
					    right: 0;
					    max-width: 690px;
					    bottom: 0;
					    width: 100%;
					    margin: 0 0 -15px 0;
				    }
				}
				h1 {
				    font-size: 35px;
				    font-weight: 700;
				    // margin: 0 0 20px 0;
				    margin: 70px 0 20px 0;
				    text-transform: uppercase;
				    @include bp(desktop-main){
				    	font-size: 28px;
				    }
				    @include bp(tab-max){
				    	font-size: 22px;
				    }
				    @include bp(mobile-max){
				    	margin-top: 30px;
				    }
				    @include bp(mobile-p-max){
				    	font-size: 20px;
				    	br{
				    		display: none;
				    	}
				    }
				}
				p {
				    color: #a0a0a2;
				    margin: 0 0 40px 0;
				    font-weight: 200;
				    font-size: 18px;
			    	@include bp(desktop-main){
						font-size: 15px !important;
				    }
				    @include bp(tab-max){
						font-size: 14px !important;
				    }
				    @include bp(mobile-p-max){
				    	br{
				    		display: none;
				    	}
				    }
				}
				a.btn.font-second {
				    width: 290px;
				    text-align: center;
				    @include bp(desktop-main){
						width: 230px;
					}
				}
				a.simple-link {
				    color: #ff2456;
				    font-weight: 700;
				    font-size: 17px;
				    position: relative;
				    i {
					    margin: 0px 0 0 10px;
					    font-size: 22px;
					    position: absolute;
					    right: -20px;
					    top: 2px;
					}
				}
			}
			&.event-section {
			    // padding: 100px 0 0 0;
			    // position: relative;
			    // min-height: 640px;
			    position: relative;
			    padding: 0px 0 140px 0;
			    min-height: 540px;
			    @include bp(desktop-main){
			    	min-height: 480px;
			    }
			    @include bp(tab-max){
			    	min-height: 430px;
			    }
			    @include bp(mobile-max){
			    	min-height: inherit;
			    	text-align: center;
			    	padding: 40px 0 0 0;
			    }
			    .hand-img {
				    margin: -250px 0 -105px 0;
				}
				h1 {
				    font-size: 35px;
				    font-weight: 700;
				    // margin: 0 0 20px 0;
				    margin: 70px 0 20px 0;
				    text-transform: uppercase;
				    @include bp(desktop-main){
				    	font-size: 28px;
				    }
				    @include bp(tab-max){
				    	font-size: 22px;
				    }
				    @include bp(mobile-p-max){
				    	font-size: 20px;
				    }
				    br{
				    	display: none;
				    }
				}
				p {
				    color: #a0a0a2;
				    margin: 0 0 40px 0;
				    font-weight: 200;
				    font-size: 18px;
			    	@include bp(desktop-main){
						font-size: 15px !important;
				    }
				    @include bp(tab-max){
						font-size: 14px !important;
				    }
				    @include bp(mobile-p-max){
				    	br{
				    		display: none;
				    	}
				    }
				}
				ul {
				    margin: 0 0 20px 0;
				    li {
					    position: relative;
					    margin: 0 0 9px 0;
					    &:before {
						    content: "";
						    border: 1px solid #ff2456;
						    background: #fff;
						    padding: 2px;
						    border-radius: 70px;
						    height: 10px;
						    width: 10px;
						    display: block;
						    position: absolute;
						    left: -23px;
						    top: 6px;
						}
					}	
				}
				a.btn.font-third {
				    width: 290px;
				    text-align: center;
				    @include bp(desktop-main){
						width: 230px;
					}
				}
				.right-img{
					img{
						position: absolute;
					    right: -20px;
					    max-width: 690px !important;
					    bottom: 0;
					    width: 55%;
					}
				}
				a.simple-link {
				    color: #ff2456;
				    font-weight: 700;
				    font-size: 17px;
				    position: relative;
				    i {
					    margin: 0px 0 0 10px;
					    font-size: 22px;
					    position: absolute;
					    right: -20px;
					    top: 2px;
					}
				}
				// .right-img {
				//     position: initial;
				//     img {
				// 	    position: absolute;
				// 	    right: -20px;
				// 	    max-width: 760px;
				// 	    width: 52%;
				// 	    bottom: 0;
				// 	    @media (max-width: $desktop-large){
				// 	    	max-width: 690px;
				// 	    }
				// 	    @include bp(mobile-max){
				// 			position: relative;
				// 		    right: 0;
				// 		    max-width: 690px;
				// 		    bottom: 0;
				// 		    width: 100%;
				// 		    margin: 20px 0 0 0;
				// 	    }
				// 	}
				// }
				.right-img {
				    position: static;
				    img {
					    position: absolute;
					    right: -20px;
					    max-width: 600px;
					    bottom: 7px;
					    width: 52%;
						@include bp(mobile-max){
							position: relative;
						    right: 0;
						    max-width: 690px;
						    bottom: 0;
						    width: 100%;
						    margin: 20px 0 0 0;
					    }
					}
				}
			}
			&.testimonial-seciton {
			    text-align: center;
			    padding: 80px 0;
			    background: url(../images/testimonial-bg.png);
			    background-size: cover;
			    background-repeat: no-repeat;
			    background-position: center center;
			    background-attachment: fixed;
			    margin: -14px 0 0 0;
			    position: relative;
			    z-index: 99;
			    overflow: hidden;
			    // float: left;
    			// width: 100%;
			    @media all and (-webkit-min-device-pixel-ratio: 1.5),
				       all and (-o-min-device-pixel-ratio: 3 / 2),
				       all and (min--moz-device-pixel-ratio: 1.5),
				       all and (min-device-pixel-ratio: 1.5) {
				    background: url("../images/testimonial-bg@2x.png") center center no-repeat;
				    background-size: cover;
				}

				@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
				    background: url("../images/testimonial-bg@2x.png") center center no-repeat;
				    background-size: cover;
				}

				@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
				    background: url("../images/testimonial-bg@3x.png") center center no-repeat;
				    background-size: cover;
				}
			    &:before {
				    content: "";
				    background: #ebedfb;
				    position: absolute;
				    width: 100%;
				    height: 110%;
				    top: -1px;
				    left: 0;
				    opacity: 0.85;
				    z-index: -9;
				}
				@include bp(tab-max){
					padding: 60px 0 40px 0;
				}
				@include bp(mobile-p-max){
					font-size: 32px;
    				margin: 0 0 30px 0;
				}
			    h1 {
				    font-size: 50px;
				    font-weight: 500;
				    margin: 0;
				    font-family: "BebasNeue";
				    @include bp(tab-max){
						font-size: 40px;
				    	margin: 0;
				    }
				    @include bp(mobile-p-max){
						font-size: 32px;
				    }
				}
				.content {
				    background: #fff;
				    margin: 50px 15px 20px 15px;
				    padding: 25px 40px 0px 40px;
				    @include bp(mobile-max){
				    	padding: 20px 20px 0px 20px;
				    }
				    img {
					    margin: -40px auto 20px;
					    border-radius: 50px;
					    object-fit: cover;
					    min-height: 100px;
					    max-height: 100px;
					    max-width: 100px;
					    width: 100%;
					    background: #fff;
					    padding: 4px;
					    object-position: 0 0;
					}
					h2 {
					    font-weight: 700;
					    font-size: 16px;
					    text-transform: uppercase;
					    margin: 0 0 10px 0;
					    letter-spacing: 1px;
					    color: #000;
					}
					p {
					    color: #a0a0a2;
					    margin: 0 0 23px 0;
					    font-weight: 200;
					    font-size: 16px;
					    text-align: left;
					}
					a{
						margin: 0 0 -20px 0;
						box-shadow: 0px 4px 15px -2px #FD3541;
						@include bp(mobile-p-max){
							font-size: 14px;
						}
					}
				}
			}
			&.founder-section {
			    padding: 100px 0 70px 0;
			    @include bp(mobile-max){
				    padding: 50px 0 20px 0;
			    }
				h1 {
				    font-size: 35px;
				    font-weight: 700;
				    margin: 0 0 20px 0;
				    text-transform: uppercase;
				    @include bp(desktop-main){
				    	font-size: 28px;
				    }
				    @include bp(tab-max){
				    	font-size: 22px;
				    }
				    @include bp(mobile-p-max){
				    	font-size: 20px;
				    	br{
				    		display: none;
				    	}
				    }
				}
				ul{
					margin: 0 0 20px 0;
					li {
					    position: relative;
					    margin: 0 0 9px 0;
					    @include bp(desktop-main){
					    	font-size: 15px;
					    }
					    @include bp(tab-max){
					    	font-size: 14px;
					    }
					    @include bp(mobile-p-max){
					    	padding-left: 25px;
					    }
					    &:before {
						    content: "";
						    border: 1px solid #ff2456;
						    background: #fff;
						    padding: 2px;
						    border-radius: 70px;
						    height: 10px;
						    width: 10px;
						    display: block;
						    position: absolute;
						    left: -23px;
						    top: 6px;
						    @include bp(mobile-p-max){
								left: 0;
						    }
						}
					}
				}
				p{
				    @include bp(desktop-main){
						font-size: 15px;
					}
					@include bp(tab-max){
						font-size: 14px;
					}
				    @include bp(mobile-max){
						margin: 0 0 30px 0;
				    }
				}
			}
			&.sign-up-section {
			    text-align: center;
			    padding: 40px 0;
			    h1 {
				    font-size: 50px;
				    font-weight: 500;
				    margin: 0 0 30px 0;
				    font-family: "BebasNeue";
				}
				a {
				    width: 360px;
				    margin: 6px 7px;
				    padding: 18px 40px;
				    @include bp(mobile-max){
					    width: 43%;
					    margin: 6px 7px;
					    padding: 18px 10px;
					    font-size: 12px;
				    }
				    @include bp(mobile-p-max){
				    	width: 100%;
					    margin: 6px 7px;
					    padding: 18px 10px;
					    font-size: 12px;
					    max-width: 260px;
				    }
				}
			}
		}
	}
}


.upgrade-popup {
    background: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    height: 100%;
    z-index: 999;
    .inner-popup {
	    max-width: 500px;
	    margin: 0 auto;
	    position: relative;
	    top: 24%;
	    background: url(../images/not-sure-bg.png);
	    background-position: center top;
	    padding: 110px 40px;
	    border-radius: 6px;
	    background-size: cover;
	    background-repeat: no-repeat;
	    z-index: 99;
	    box-shadow: 1px 11px 41px -17px #000;
	    &:before {
		    content: "";
		    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1) ,rgba(255, 255, 255, 1));
		    position: absolute;
		    top: 0;
		    left: 0;
		    height: 100%;
		    width: 100%;
		    z-index: -9;
		    border-radius: 5px;
		}
	    h1 {
		    font-family: "BebasNeue";
		    font-size: 50px;
		    font-weight: 500;
		    margin: 0 0 20px 0;
		}
		h3 {
		    margin: 0 0 20px 0;
		    font-size: 18px;
		    font-family: 'Open Sans';
		    font-weight: bold;
		    letter-spacing: 2px;
		}
		p {
		    font-size: 18px;
		}
		a.btn {
		    width: 90%;
		    margin: 26px 0 0 0;
		    max-width: 320px;
		}
	}
}


.paypal-form {
    margin: 50px auto 60px;
    max-width: 500px;
    padding: 50px 40px 50px 40px;
    position: relative;
    background: url(../images/not-sure-bg.png);
    background-position: center top;
    z-index: 9;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 5px 9px -7px #000;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    width: 95%;
    &:before {
	    content: "";
	    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1) ,rgba(255, 255, 255, 1));
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    z-index: -9;
	    border-radius: 0px;
	}
    .panel-heading {
	    text-align: center;
	    font-size: 40px;
	    margin: 0 0 40px 0;
	    font-family: "BebasNeue";
	    font-weight: 500;
	}
	.checkout-header{
		margin: 0 0 20px 0;
	    position: relative;
	    padding: 0 0 15px 0;
	    &:before {
		    border-bottom: 1px solid #d8d8d8;
		    width: 130%;
		    position: absolute;
		    bottom: 0;
		    left: -60px;
		    height: 1px;
		    content: "";
		    margin: 0;
		}
		h1 {
		    font-size: 3.9em;
		    font-weight: 500;
		    font-family: "BebasNeue";
		}
		h4 {
		    text-transform: uppercase;
		    font-weight: 700;
		    font-size: 15px;
		}
		h2 {
		    text-transform: uppercase;
		    font-size: 42px;
		    margin: 4px 0 4px 0;
		    font-weight: 500;
		    font-family: "BebasNeue";
		    word-wrap: break-word;
		}
		p {
		    font-size: 14px;
		    margin: 0 0 10px 0;
		}
	}
	.panel-body{
		text-align: center;
		p {
		    margin: 10px 0 17px 0;
		    &.methiod {
			    text-align: left;
			    font-weight: 600;
			}
		}
		span.sub {
		    font-size: 11px;
		    margin: 20px 0 0 0;
		    display: block;
		}
	}
	hr {
	    display: none;
	}
	button#payment-button, button{
	    background: linear-gradient(to right, #fd3542, #fd7647);
	    color: #fff;
	    border: none;
	    margin: 20px auto 0;
	    max-width: 260px;
	    width: 100%;
	}
	button.hidden{
		display: none;
	}
}

.back-top{
	text-align: center;
    margin: -140px 0 -150px 0;
    &.back-top-not-loged-in.not-log-in {
	    margin-bottom: -40px;
	}
	.container{
		position: relative;
		z-index: 99;
		a.back-top {
		    font-weight: 700;
		    font-size: 16px;
		    margin: 0 0 18px 0;
		    letter-spacing: 1px;
		    text-transform: uppercase;
		    color: #000;
		    &:before {
			    content: "";
			    border-bottom: 2px solid #FD3542;
			    width: 40%;
			    position: absolute;
			    left: 0;
			    top: 45%;
			 //    @include bp(mobile-max){
				// 	width: 36%;
			 //    }
			 //    @include bp(mobile-p-max){
				// 	display: none;
				// }
			}
			&:after {
			    content: "";
			    border-bottom: 2px solid #FD3542;
			    width: 40%;
			    position: absolute;
			    right: 0;
			    top: 45%;
			 //    @include bp(mobile-max){
				// 	width: 36%;
			 //    }
			 //    @include bp(mobile-p-max){
				// 	display: none;
				// }
			}
		}
	}
}

