/*****************************
--------------------------
Progress-Bar-style
--------------------------
*****************************/


@mixin prefix($property, $value) {
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    -o-#{$property}: #{$value};
    #{$property}: #{$value};
}

$bg: #f8f8f8;
$ltgrey: #ccc;
$grey: #DDDDDD;
$medgrey: #555;
$dkgrey: #888;
$black: #222;
$highlight: #ea463d;


.clear {clear: both;}

.progress_bar {
    max-width: 820px;
    width: 80%;
    margin: 115px auto 0;
    position: relative;
    height: 50px;
    z-index: 10;
    hr.all_steps {
        width: 100%;
        height: 7px;
        border: none;
        background: $grey;
        border-bottom: 1px solid #fff;
        position: absolute;
        bottom: 15px;
        left: 0;
        z-index: 1;
    }
    hr.current_steps {
        width: 0%;
        border: 0;
        height: 5px;
        background: $highlight;
        position: absolute;
        bottom: 17px;
        left: 0%;
        z-index: 3;
    }
    div.step {
        float: left;
        width: 31%;
        height: 50px;
        text-align: center;
        font-size: 12px;
        color: $ltgrey;
        position: relative;
        text-shadow: 1px 1px #fff;
        @include prefix(transition, all 0.3s ease-in);
        &:before {
            position: absolute;
            width: 12px;
            height: 12px;
            border-radius: 20px;
            border: 2px solid transparent;
            background: $highlight;
            bottom: 14px;
            left: 50%;
            margin-left: -6px;
            content: '';
            z-index: 4;
            display: none;
        }
        &:after {
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 20px;
            border: 2px solid $grey;
            background: $grey;
            bottom: 12px;
            left: 50%;
            margin-left: -8px;
            content: '';
            z-index: 2;
        }
        &.current {
            color: $black;
            &:before {display: block;}
        }
        &.complete {
            color: $dkgrey;
            cursor: pointer;
            &:before {display: block;}
            &:hover {color: $medgrey;}
        }
    }
}

#blocks {
    width: 100%;
    position: relative;
    height: 200px;
    .block {
        position: absolute;
        width: 100%;
        left: 100%;
        height: 200px;
        .wrap {width: 80%; margin: 0 auto;}
    }
}

/* CSS BUTTON By http://codepen.io/daneden/pen/rcFJE*/

.butt {
  /* Additions */
  cursor: pointer;
  margin-right: 5px;
  /* End Additions */
  
	font-size: .825em;
	text-decoration: none;
	font-weight: 700;
	padding: .35em 1em;
	background-color: #eaeef1;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
	border-radius: 3px;
	color: rgba(0,0,0,.6);
	text-shadow: 0 1px 1px rgba(255,255,255,.7);
	box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

.butt:hover, .butt.hover {
	background-color: #fff;
}

.butt:active, .butt.active {
	background-color: #d0d3d6;
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
	box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}