/*****************************
--------------------------
Steps-style
--------------------------
*****************************/

.step-forms{
	.heading-top{
		border-bottom: 1px solid #e4e3e3;
    	padding: 60px 0 10px 0 !important;
	}
	a.edit {
	    position: relative;
	    i{
	    	display: none;
	    }
	    span {
		    font-family: BebasNeue;
		    font-size: 16px;
		    text-transform: capitalize;
		    background: linear-gradient(to right, #fd3542, #fd7647);
		    padding: 9px 15px 7px 15px;
		    border-radius: 20px;
		    color: #fff;
		    vertical-align: middle;
		    letter-spacing: 0.5px;
		    @include bp(mobile-max){
			    font-size: 11px;
			    padding: 4px 8px;
		    }
		}
	}
	.left-section{
		&.class-mobile{
			.top-heading{
				@media (max-width: 976px){
					padding: 0 20px;
					.text-right{
						text-align: left;
					}
					h1{
						text-align: left;
						a.edit {
						    line-height: inherit;
						    font-size: 0;
						    display: inline-block;
						    vertical-align: middle;
						}
					}
					h2 {
					    text-align: left;
					    margin: 4px 0 19px 0;
					}
					input{
						position: relative;
					    top: -9px;
					    border: 1px solid #dadada;
					    border-radius: 3px;
					    padding: 3px 8px;
					    background: #fff;
					    font-size: 13px;
					    display: block;
					    height: 30px;
					    width: 100%;
					    text-transform: uppercase;
					}
					a.btn {
					    margin: 15px 0 4px 0;
					    padding: 9px 20px;
					    text-align: center;
					    font-size: 11px;
					    display: inline-block;
					    width: 170px;
					    i.fa {
						    position: relative;
						    font-size: 16px;
						    top: 1px;
						    right: -8px;
						}
					}
					.top-listings {
					    margin: 20px 0 20px 0;
					    float: left;
					    width: 100%;
					    li {
						    width: auto;
						    display: inline-block;
						    margin: 0 12px 10px 0;
						    vertical-align: middle;
						    float: left;
						    a.btn {
							    padding: 2px 19px;
							    width: auto;
							    margin: 0;
							}
							select {
							    border: 1px solid #dadada;
							    border-radius: 3px;
							    padding: 3px 8px;
							    background: #fff;
							    font-size: 13px;
							    display: block;
							    height: 30px;
							    width: 100%;
							    text-transform: uppercase;
							    margin: 10px 0 0 0;
							}
						}
					}
				}
			}
		}
		.upload-photo{
			margin-bottom: 30px;
			position: relative;
			span.saving {
			   position: absolute;
			   top: 0;
			   z-index: 999;
			   left: 0;
			   background: rgba(255,255,255,0.94);
			   height: 100%;
			   width: 100%;
			   img {
				   position: absolute;
				   top: 45%;
				   left: 45%;
				}
			}
			@include bp(tab-max){
				max-width: 220px;
    			margin: 0 auto 30px;
			}
			a.upload{
				background: #fff;
			    border: 2px dashed #e4e3e3;
			    padding: 100px 20px 42px 20px;
			    text-align: center;
			    color: #000;
			    font-size: 13px;
			    display: block;
			    min-height: 250px;
			    i {
				    display: block;
				    color: #c1c1c1;
				    font-size: 26px;
				    margin: 0 0 10px 0;
				}
			}
			.edit-icon{
				width: auto !important;
			    height: auto !important;
			    border-radius: 20px !important;
			    padding: 9px 15px 7px 15px !important;
			    letter-spacing: 0.5px;
				i{
			    	display: none;
			    }
			    span {
				    font-family: BebasNeue;
				    font-size: 16px;
				    padding: 0;
				    text-transform: uppercase;
				    letter-spacing: 0.5px;
				}
			}
			button{
				&.profileimage{
					span {
					    position: absolute;
					    top: -37px;
					    left: auto;
					    font-family: 'Open Sans';
					    font-size: 12px;
					    background: #000;
					    padding: 4px 10px;
					    border-radius: 5px;
					    color: #fff;
					    opacity: 0;
					    visibility: hidden;
					    transition: 0.3s ease-in-out;
					    display: inline-block;
					    white-space: nowrap;
					    transform: translate(-59%,0%);
					    &:after {
						    content: "";
						    background: #000;
						    width: 11px;
						    height: 10px;
						    position: absolute;
						    bottom: -4px;
						    right: 0;
						    left: 0;
						    margin: 0 auto;
						    transform: rotate(-45deg);
						}
					}
					&:hover{
						span{
							opacity: 1;
						    visibility: visible;
						    transition: 0.3s ease-in-out;
						}
					}
				}
			}
		}
		.left-box {
		    border: 1px solid #E6E6F6;
		    border-radius: 3px;
		    padding: 20px;
		    float: left;
		    width: 100%;
		    background: #fff;
		    margin: 0 0 20px 0;
		    .noinfo{
		    	h3 {
				    padding: 0px;
				    border: none;
				    font-family: "BebasNeue";
				    text-align: left;
				    font-size: 23px;
				    font-weight: 500;
				    @include bp(mobile-max){
				    	font-size: 20px;
				    }
				}
		    }
		    h1 {
			    font-family: "BebasNeue";
			    font-size: 23px;
			    margin: 10px 0 30px 0;
			    text-align: left;
			    position: relative;
			    a.edit {
				    float: right;
				    color: #fd3542;
				    font-size: 18px;
				    margin: 0 0 0 10px;
				    i{
				    	display: none;
				    }
				}
				p.imagehide {
				    color: red;
				    font-family: 'Open Sans';
				    font-size: 14px;
				    display: block;
				    margin: 0;
				    position: absolute;
				    top: 26px;
				    &:before {
					    content: "\f05e";
					    font-family: fontawesome;
					    margin: 0 5px 0 0;
					    background: linear-gradient(to right, #fd3542, #fd7647);
					    color: #fff;
					    padding: 2px 7px;
					    border-radius: 50px;
					    width: 25px;
					    height: 25px;
					    display: inline-block;
					    text-align: center;
					}
				}
			}
			.uploaded-images{
				position: relative;
				overflow: hidden;
				.popupbutton {
				    float: left;
				    width: 100%;
				    a.click.enchor-video {
					    float: left;
					    width: 100%;
					    z-index: 99;
					    position: absolute;
					    height: 100%;
					    display: block;
					    background: transparent;
					}
				}
				ul.gallery{
					li{
						width: 49% !important;
						button {
						    background: rgba(0, 0, 0, 1) !important;
						    z-index: 999;
						    padding: 5px 10px;
						    border-radius: 0;
						}
						&:first-child {
						    // width: 100% !important;
						}
						@media (max-width: 480px){
							width: 100% !important;
						}
					}
				}
				.padding-10 {
				    padding: 0 2px;
				    margin: 0 0 5px 0;
				}
				a {
				    background: #F7F7F8;
				    display: block;
				    &.popupbutton {
					    position: absolute;
					    width: 100%;
					    background: transparent;
					    z-index: 9999;
					    height: 300px;
					    top: 0;
					    left: 0;
					    display: block;
					    text-indent: -999999px;
					    font-size: 0;
					}
				    &.upload {
					    background: #fff;
					    border: 2px dashed #e4e3e3;
					    padding: 38px 20px 12px 20px;
					    text-align: center;
					    color: #000;
					    font-size: 11px;
					    i {
						    display: block;
						}
					}
				}
				.col-md-4{
					a{
						min-height: 80px;
				    	max-height: 80px;
					}
				}
				.videoshow{
					video {
					    width: 100%;
					}
				}
			}
			ul{
				&.videoshow{
					li{
						margin: 0 0 12px 0;
						button {
						    background: rgba(0, 0, 0, 1) !important;
						    z-index: 999;
						    padding: 5px 10px;
						    border-radius: 0;
						}
					}
				}
			}
			span.saving {
			    width: 21px;
			    position: relative;
			    top: 2px;
			    left: 8px;
			    img {
				    width: 20px;
				}
			}
			&.gallery-profile{
				.uploaded-images{
					ul.gallery{
						li {
						    width: 100% !important;
						    margin: 0 0 6px 0;
						}
					}
				}
			}
		}
	}
	&.front-form{
		.right-section{
			.top-heading{
				ul.top-listings{
					li{
						width: auto;
						&:first-child {
						    // width: 125px !important;
						}
					}
				}
			}
		}
	}
	&.coach_profile{
		.right-section{
			.top-heading{
				ul.top-listings{
					li{
						width: auto;
					}
				}
			}
		}
	}
	.right-section{
		a.edit {
		    color: #fd3542;
		    font-size: 19px;
		    display: inline-block;
		    vertical-align: middle;
		    margin: 0px 18px;
		}
		.top-heading{
			input[type="text"] {
			    position: relative;
			    top: -9px;
			    border: 1px solid #dadada;
			    border-radius: 3px;
			    padding: 3px 8px;
			    background: #fff;
			    font-size: 13px;
			    display: block;
			    height: 30px;
			    width: 100%;
			    text-transform: uppercase;
			    &:focus{
			    	border: 1px solid #fd4f44;
			    }
			}
			ul.school-search-result {
			    margin: -2px 0 11px 0;
			    padding: 10px 10px;
			    background: #ffffff;
			    border: 1px solid #e0e0e0;
			    height: 100px;
			    overflow: auto;
			    li {
				    margin: 0 0 6px 0;
				    font-size: 14px;
				}
			}
			.selectschool{
				input[type="text"] {
				    top: 0;
				}
				select.school-search-result {
				    border-top: 0 none;
				}
			}
			span.form-control-feedback{
				position: relative;
				top: -10px;
			}
			@include bp(mobile-max){
				padding: 0 15px;
			}
			@include bp(mobile-max){
				.text-right{
					text-align: left;
	   				margin: 20px 0 0 0;
				}
				// .row {
				//     margin: 0;
				// }
			}
			h1 {
			    text-align: left;
			}
			h2{
				text-align: left;
	    		margin: 0 0 15px 0;
			}
			a.btn {
			    margin: 0 0 10px 0;
			    padding: 9px 40px 9px 24px;
			    clear: both;
			    position: relative;
			    width: 195px;
			    text-align: left;
			    font-family: 'BebasNeue';
			    font-size: 20px;
			    i {
				    position: absolute;
				    right: 19px;
				    top: 12px;
				    font-weight: bold;
				}
			}
			.text-right{
				p{
					font-size: 14px;
					@include bp(desktop-main){
						font-size: 13px;
					}
					i{
						margin: 0 10px 0 0;
					}
				}
			}
			ul.top-listings{
				&.full-width{
					li{
						width: 100%;
					}
				}
				li {
			       	display: inline-block;
				    margin: 0 0 0 15px;
				    width: auto;
				    text-align: left;
				    vertical-align: top;
				    text-transform: uppercase;
				    font-size: 15px;
				    @include bp(mobile-p-max){
				    	width: inherit !important;
					    font-size: 13px;
					    display: block;
					    margin: 0 0 10px 0;
				    }
				    &:first-child {
					    margin-left: 0;
					}
					// &.postionselect {
					//     width: 38%;
					//     float: right;
					//     @include bp(desktop-main){
					//     	width: 107px;
					//     	float: none;
					//     }
					// }
				    @include bp(desktop-main){
				    	width: auto;
				    	font-size: 13px;
				    }
				    a.btn.orange {
					    padding: 5px 10px 3px 10px;
					    width: auto;
					    font-size: 16px;
					    text-align: center;
					    display: inline-block;
					    @include bp(desktop-main){
					    	font-size: 14px;
					    }
					    @include bp(mobile-p-max){
					    	width: auto;
					    }
					}
					p {
					    color: #000;
					    margin: 0 0 10px 0;
					    font-size: 16px;
					    display: inline-block;
					    font-weight: 600;
					    word-break: break-all;
					    span {
						    color: #000;
						    text-transform: uppercase;
						}
					}
					select {
					    position: relative;
					    top: -6px;
					    border: 1px solid #cccccc;
					    border-radius: 3px;
					    padding: 3px 8px;
					    background: #ffffff;
					    font-size: 13px;
					    height: 30px;
					    width: auto;
					    text-transform: uppercase;
					    -webkit-border-radius: 3px;
					    display: block;
    					&[disabled="disabled"] {
						    border: none;
						    color: #000;
						    border-width: 0 0 3px 0 !important;
						    padding: 6px 0 0px 0 !important;
						    border-radius: 0px !important;
						    border-color: #f0f0f1 !important;
						    background: transparent !important;
						    -webkit-appearance: inherit !important;
						    -moz-appearance: inherit !important;
						    appearance: inherit !important;
						    display: inline-block;
						    width: inherit !important;
						    font-size: 13px;
						    vertical-align: top;
						}
					}
					.checkbox{
				    	margin: 7px 0 0px 0;
				    	li {
						    position: relative;
						    padding: 2px 0 0 26px;
						    width: auto;
						    display: inline-block;
						    input {
							    position: absolute;
							    left: 0;
							    top: 0;
							    width: 100%;
							    height: 100%;
							    opacity: 0;
							    z-index: 99;
							    + label:before {
								    content: "";
								    border: 2px solid #fe5045;
								    width: 18px;
								    height: 18px;
								    display: block;
								    border-radius: 50px;
								    position: absolute;
								    left: 0;
								    top: 3px;
								}
								&:checked + label:after {
								    content: "";
								    width: 7px;
								    height: 7px;
								    display: block;
								    border-radius: 50px;
								    position: absolute;
								    left: 5px;
								    top: 8.2px;
								    background: #fe5045;
								    padding: 4px;
								}
							}
							label {
							    display: block;
							    margin: 0 0 3px 0;
							    color: #212527;
							    font-weight: 200;
							    font-size: 14px;
							}
						}
				    }
				}
			}
		}
		.main-info {
		    margin: 20px 0 0 0;
		    @include bp(mobile-max){
		    	margin: 0px;
		    }
		    ul.nav {
			    width: 100%;
			    display: block;
			    float: left;
			    margin: 0 0 20px 0;
			    li {
				    display: inline-block;
				    float: left;
				    overflow: hidden;
				    position: relative;
				    padding: 10px 0 0 0;
				    @include bp(mobile-p-max){
				    	width: 50%;
				    }
				 //    &:before {
					//     content: "\f068";
					//     font-family: fontawesome;
					//     position: absolute;
					//     right: 0;
					//     top: 3px;
					//     background: #FC3041;
					//     color: #fff;
					//     padding: 4px;
					//     z-index: 99;
					//     font-size: 8px;
					//     border-radius: 50px;
					//     width: 15px;
					//     height: 15px;
					//     text-align: center;
					// }
				    a {
					    background: #fff;
					    padding: 11px 15px;
					    color: #b5b5b5;
					    display: block;
					    font-weight: 700;
					    text-transform: uppercase;
					    font-size: 13px;
					    letter-spacing: 1px;
					    border-bottom: 3px solid #E6E6F6;
					    position: relative;
					    transition: 0.3s ease-in-out;
					    border-left: 1px solid #e6e6e6;
					    @include bp(mobile-max){
					    	padding: 11px 14px;
					    	font-size: 12px;
					    }
					    @include bp(mobile-p-max){
					    	letter-spacing: 0px;
					    }
					    &:before {
						    content: "";
						    border-bottom: 3px solid #fd3542;
						    left: -150%;
						    display: block;
						    position: absolute;
						    width: 100%;
						    bottom: -3px;
						    transition: 0.3s ease-in-out;
						}
						&:hover {
						    color: #000;
						    &:before {
							    left: 0;
							}
						}
					}
					&:first-child{
						a{
							border-left: 0 none;
						}
					}
					&.active {
					    a{
					    	color: #000;
						    &:before {
							    left: 0;
							}
						}
						// &:before {
						//     content: "\f00c";
						//     background: #78D8B6;
						// }
					}
				}
			}
			.inner-content{
				select{
					text-transform: uppercase;
    				color: #000;
				}
			}
			.tab-content {
			    float: left;
			    width: 100%;
			    #contact{
			    	&.tab-pane{
			    		.checkbox{
					    	margin: 5px 0 0px 0;
					    	@include bp(mobile-max){
					    		margin: 5px 0 10px 0;
					    	}
					    	li {
							    position: relative;
							    padding: 0 0 0 33px;
							    width: 32%;
							    display: inline-block;
							   	vertical-align: top;
							    @include bp(mobile-max){
									width: 160px;
							    }
							    input {
								    position: absolute;
								    left: 0;
								    top: 0;
								    width: 100%;
								    height: 100%;
								    opacity: 0;
								    z-index: 99;
								    + label:before {
									    content: "";
									    border: 2px solid #fe5045;
									    width: 22px;
									    height: 22px;
									    display: block;
									    border-radius: 50px;
									    position: absolute;
									    left: 0;
									    top: 3px;
									}
									&:checked + label:after {
									    content: "";
									    width: 7px;
									    height: 7px;
									    display: block;
									    border-radius: 50px;
									    position: absolute;
									    left: 6px;
									    top: 9px;
									    background: #fe5045;
									    padding: 5px;
									}
								}
								label {
								    display: block;
								    margin: 0 0 10px 0;
								    color: #212527;
								   	font-weight: 400;
    								font-size: 17px;
								}
							}
					    }
					    &.content-coach{
						    .tab-inner{
						    	.inner-content{
									.edit-input {
									   top: -7px !important;
									   text-transform: uppercase;
									}
									textarea{
										text-transform: uppercase;
										&[disabled="disabled"]{
											resize: none;
										}
										&[name="bio"]{
											top: -13px !important;
										}
									}
									p.coach-bio-p {
									    border-width: 0 0 0px 0;
									    padding: 0 0 2px 0;
									    border-radius: 0px;
									    border-color: #f0f0f1;
									    border-style: solid;
									    margin: 0 0 15px 0;
									    color: #000;
									    font-weight: 500;
									}
						    	}
						    }
						}
			    	}
			    }
			    .quillWrapper{
			    	.ql-container {
					    height: 200px;
					    margin: 0 0 15px 0;
					    p {
						    text-transform: none !important;
						}
					}
			    }
			    .tab-pane {
			    	display: none;
				    opacity: 0;
				    -webkit-transition: opacity .15s linear;
				    -o-transition: opacity .15s linear;
				    transition: opacity .15s linear;
				    &.active {
					    display: block;
					    &.in{
					    	opacity: 1;
					    }
					}
					.sports_fields{
						.tab-inner{
							h3 {
							    height: 69px;
							}
						}
					}
				    .tab-inner {
					    margin: 0 0 25px 0;
					    background: #fff;
					    border: 1px solid #E6E6F6;
					    float: left;
					    width: 100%;
					    border-radius: 3px;
					    select{
					    	&.edit-input.height-select {
							    display: inline-block;
							    width: 178px;
							    margin: 0;
							    &[disabled="disabled"]{
							    	height: auto;
							    }
							    @include bp(desktop-main){
							    	width: 132px;
							    }
							}
					    }
					    span.saving {
				            width: 21px;
				            position: relative;
				            top: 2px;
				            left: 8px;
				        }
						h3 {
						    padding: 20px 40px;
						    font-family: "BebasNeue";
						    font-size: 23px;
						    border-bottom: 1px solid #E6E6F6;
						    font-weight: 500;
						    position: relative;
						    background: linear-gradient(to right, #fd3542, #fd7647);
    						color: #fff;
    						a.edit {
							    color: #fff;
							    float: right;
							    margin-top: 4px;
							    span {
								    background: #fff;
								    color: #fd3542;
								    text-transform: uppercase;
								}
							}
						    @include bp(desktop-main){
						    	padding: 20px 20px;
						    }
						    @include bp(mobile-max){
						    	padding: 20px 15px;
							    display: inline-block;
							    width: 100%;
							    font-size: 18px;
						    }
						    .btn {
							    width: auto;
							    margin: -6px 0;
							    padding: 9px 30px 7px 30px;
							    background: #fff;
							    color: #fd3542;
							    font-family: BebasNeue;
							    font-size: 18px;
							    @include bp(mobile-max){
							    	font-size: 12px;
							    }
							    @include bp(mobile-p-max){
							    	font-size: 0;
								    margin: 0 0 -6px 0;
								    width: 25px;
								    display: inline-block;
								    padding: 7px 0;
								    height: 25px;
								    text-align: center;
								    &:before{
										content: "\f067";
									    font-family: fontawesome;
									    font-size: 12px;
								    }
							    }
							}
							span.small {
							    font-size: 10px;
							    text-transform: capitalize;
							    display: inline-block;
							    vertical-align: top;
							    font-family: 'Open Sans';
							    text-align: right;
							    max-width: 290px;
							    position: absolute;
							    top: 16px;
							    right: 190px;
							    @include bp(desktop-main){
							    	font-size: 9px;
								    max-width: 200px;
								    right: 160px;
								    top: 13px;
							    }
							    @include bp(tab-max){
							    	max-width: 250px;
								    position: absolute;
								    top: 17px;
								    right: 160px;
							    }
							    @include bp(mobile-max){
							    	max-width: 100%;
								    position: relative;
								    top: 6px;
								    left: 0;
								    text-align: left;
							    }
							}
						}
						.parenterror{
							padding-bottom: 10px;
							.inner-content {
							    padding-top: 15px;
    							padding-bottom: 10px;
							}
						}
						.information{
						    .inner-content{
						    	p{
						    		label{
						    			width: 86px;
						    		}
						    	}
						    }
						}
						.school{
							.inner-content{
								input.input-search {
								    width: 100%;
								    margin: 0 0 2px 0;
								    padding: 7px 10px;
								    border-radius: 3px;
								    border: 1px solid #dadada;
								}
								ul.school-list {
								    background: #efefef;
								    padding: 10px 15px;
								    margin: -2px 0 0 0;
								    overflow: auto;
								    height: 80px;
								    li {
									    margin: 0 0 5px 0;
									    cursor: pointer;
									    &:hover {
										    color: #fd5544;
									    }
									}
								}
							}
						}
						.inner-content {
						    padding: 20px 80px;
						    position: relative;
						    display: inline-block;
						    width: 100%;
						    @include bp(desktop-main){
						    	padding: 20px 50px;
						    }
						    @include bp(tab-max){
						    	padding: 20px 40px;
						    }
						    @include bp(mobile-max){
						    	padding: 20px 20px;
						    }
						    .row{
						    	@include bp(mobile-max){
							    	margin: 0px;;
							    	&.margin-none {
									    margin: 0 -15px;
									}
							    }
						    }
						    .disable-check{
						    	p{
						    		label {
									    display: none !important;
									}
									input[disabled="disabled"]:checked + label {
									    display: block !important;
									}
						    	}
						    }
						    .country-code{
						    	display: inline-block;
						    	width: 100%;
						    }
					    	.width-30{
					    		width:25%;
					    		float:left;
					    		select.edit-input{
					    			margin: 0 0 12px 0;
					    			font-size: 12px;
					    			padding: 0 18px 0 8px;
					    		}
					    	}
					    	.width-70{
					    		width:73%;
					    		float:right;
					    		input.edit-input{
					    			top:0px;
					    			position: static !important;
					    		}
					    	}
						    .noinfo{
						    	h3 {
								    padding: 0 0 20px 0;
								    border: none;
								    font-family: "BebasNeue";
								    text-align: left;
								    font-size: 23px;
								    background: transparent;
    								color: #000;
								    @include bp(mobile-max){
								    	font-size: 20px;
								    }
								}
								hr.light {
								    border: none;
								}
						    }
						    .champrun{
						    	p.champion-class {
								    margin: 2px 0 0 0;
								    font-weight: 600;
								    text-transform: uppercase;
								    vertical-align: bottom;
								    display: inline-block;
								}
						    	ul{
						    		&.checkbox {
									    margin: 31px 0 0 0;
									    @include bp(mobile-max){
											margin: 0px 0 20px 0;   	
										}
									    li {
										    width: auto;
										    margin: 0 10px 0 0;
										    @include bp(desktop-main){
										    	margin: 0 12px 0 0;
												padding-left: 25px;
												label {
												    font-size: 14px;
												    margin: 4px 0 0 0;
												}
										    }
										}
									}
						    	}
						    }
						    &.parent1view{
						    	line-height: 12px;
						    }
						    a.edit {
							    position: absolute;
							    right: 10px;
							    top: 10px;
							    z-index: 99;
							    cursor: pointer;
							    background: transparent;
							    padding: 0;
							    border-radius: 0;
							    height: auto;
							    width: auto;
							    color: #fff;
							    font-size: 15px;
							    &:hover {
								    background: #ccc;
								}
								@include bp(mobile-max){
								    right: 2px;
								    top: 3px;
								    padding: 0;
								    height: inherit;
								    width: auto;
								    font-size: 0;
								}
							}
							.col-md-12{
								position: static;
							}
							.vue-input-tag-wrapper {
							    border: 1px solid #d2d1d1;
							    border-radius: 3px !important;
							    padding: 14px 14px;
							    margin: 0 0 20px 0;
							    -webkit-appearance: inherit;
							    -moz-appearance: inherit;
								appearance: inherit;
							    &.read-only{
							        border-width: 0 0 0 0 !important;
								    padding: 0 0 0px 0 !important;
								    border-radius: 0px !important;
								    border-color: #f0f0f1 !important;
							    }
							    span.input-tag {
								    display: inline-block;
								    vertical-align: top;
								    position: relative;
								    margin: 0 4px 5px 0 !important;
								    color: #636667;
								    font-size: 15px;
								    word-wrap: break-word;
								    text-transform: uppercase;
								    background: linear-gradient(to right, #fd3542, #fd7647);
								    color: #fff;
								    padding: 3px 10px;
								    border-radius: 20px;
								    border: none;
								    a.remove {
									    color: #fff;
									}
								}
								input.new-tag {
								    width: auto !important;
								    height: inherit !important;
								    padding: 0 !important;
								    margin: 0 !important;
								    border: none !important;
								    background: transparent !important;
								}
							}
						    input{
						    	&[type="text"].edit-input, &[type="number"].edit-input {
								    position: relative;
								    top: -7px;
								    border: 1px solid #dadada;
								    border-radius: 3px;
								    padding: 3px 8px;
								    background: #f7f7f8;
								    font-size: 13px;
								    height: 36px;
								    width: 100%;
								    text-transform: uppercase;
								    &:focus{
								    	border: 1px solid #fd4f44;
								    }
								}
								&[type="email"].edit-input {
								    position: relative;
								    top: -7px;
								    border: 1px solid #dadada;
								    border-radius: 3px;
								    padding: 3px 8px;
								    background: #f7f7f8;
								    font-size: 13px;
								    display: block;
								    height: 36px;
								    width: 100%;
								    text-transform: uppercase;
								    &:focus{
								    	border: 1px solid #fd4f44;
								    }
								}
								&[type="tel"].edit-input {
								    position: relative;
								    top: -7px;
								    border: 1px solid #dadada;
								    border-radius: 3px;
								    padding: 3px 8px;
								    background: #f7f7f8;
								    font-size: 13px;
								    display: block;
								    height: 36px;
								    width: 100%;
								    text-transform: uppercase;
								    &:focus{
								    	border: 1px solid #fd4f44;
								    }
								}
								// &[data-vv-as="Email"].edit-input {
								//     text-transform: none !important;
								// }
						    }
						    h4 {
							    font-weight: 700;
							    color: #000000;
							    font-size: 15px;
							    margin: 0 0 18px 0;
							    text-transform: uppercase;
							    @include bp(mobile-p-max){
							    	font-size: 13px;
    								margin: 8px 0 12px 0;
							    }
							    i {
								    margin: 0 10px;
								    color: #fd5745;
								}
							}
							h2 {
							    text-align: left;
							    margin: 0px 0 20px 0;
							    text-transform: none;
							    font-size: 14px;
							}
							.lc {
							    text-transform: none;
							    p{
							    	text-transform: none;
							    }
							}
							p {
							    color: #000;
							    font-size: 15px;
							    margin: 0 0 12px 0;
							    word-wrap: break-word;
							    text-transform: uppercase;
							    font-weight: 500;
							    &[disabled="disabled"] {
								    text-transform: uppercase;
								}
							    &.lbsclass{
							    	position: relative;
									span.lbs{
										position: absolute;
										top: 30px;
										right: 10px;
										color: #7f7f7f;
									}
							    }
							    @include bp(mobile-max){
							    	font-size: 14px;
							    }
							    label {
								    display: inline-block;
								    font-weight: 600;
								}
							    span {
								    display: inline;
    								text-transform: none;
    								color: #000;
								    word-wrap: break-word;
								    text-transform: uppercase;
								    i {
									    color: #fd3542;
									    font-size: 26px;
									    margin: 0 4px 0 0;
									    width: 22px;
									    text-align: left;
									    position: relative;
    									top: 4px;
									    @include bp(mobile-max){
									    	font-size: 21px;
    										margin: 0 4px 0 0;
									    }
									}
									img {
									    display: inline-block;
									    opacity: 1;
									    margin: 0px 8px 0 0;
									    width: 21px;
									    vertical-align: top;
									}
								}
								
								select[name="state"]{
									position: relative;
								    border: 1px solid #dadada;
								    border-radius: 3px;
								    padding: 3px 8px;
								    background: #f7f7f8;
								    font-size: 13px;
								    display: block;
								    height: 36px;
								    width: 100%;
								    top: 2px;
								}
								input[type="text"].edit-input, input[type="tel"].edit-input {
								    position: relative;
								    top: 0;
								    border: 1px solid #dadada;
								    border-radius: 3px;
								    padding: 3px 8px;
								    background: #f7f7f8;
								    font-size: 13px;
								    display: block;
								    height: 36px;
								    width: 100%;
								    top: 2px;
								    text-transform: uppercase;
								    &:focus {
									    border: 1px solid #fd4f44;
									}
								}
								.checkbox{
									li {
									    display: inline-block;	
									}
								}
								&.star-text{
									span{
										i{
											font-size: 21px;
										}
									}
								}
							}
							.testmonials{
								.quillWrapper{
									margin: 0 0 20px 0;
								}
								p{
									text-transform: none !important;
								}
								textarea, p.testimonial-text {
								    text-transform: none !important;
								}
							}
							.position_front{
								p{
									label{
										background: transparent;
										color: #000;
										padding-left: 0px;
									}
								}
								.checbox{
									p{
										label {
										    background: #e8e8e8;
										    color: #250955;
										    padding: 3px 10px;
										}
									}
								}
							}
							textarea{
							    position: relative;
							    top: 0;
							    border: 1px solid #dadada;
							    border-radius: 3px;
							    padding: 8px 8px;
							    background: #fff;
							    font-size: 13px;
							    display: block;
							    width: 100%;
							    height: 60px;
							    background: #f7f7f8;
							    &[disabled="disabled"] {
								    border-width: 0 0 3px 0;
								    padding: 0 0 10px 0;
								    border-radius: 0px;
								    border-color: #f0f0f1;
								}
							    &:focus {
								    border: 1px solid #fd4f44;
								}
							}
							@include bp(mobile-p-max){
								table{
									width: 100%;
									display: block;
									tr{
										width: 100%;
										display: block;
										padding: 0;
										td, th{
											width: 100%;
											display: block;
											float: left;
										}
									}
									tbody{
										display: block;
										width: 100%;
									}
								}
							}
							
							&.padd-remove{
								padding: 20px 40px;
							}
							&.clubs-info {
							    padding: 0px;
							    display: table;
							    width: 100%;
							    select.dis-club {
								    background-color: #fff;
								    text-align: left !important;
								    padding: 0 10px !important;
								    font-size: 12px;
								    border: none;
								    text-align-last: left;
								    &[disabled="disabled"]{
								    	text-align-last: center;
								    	color: #fff;
								    	&:focus::-ms-value {
										  color: #ffffff !important;
										}
								    }
								    @include bp(mobile-p-max){
								    	margin: 9px 0;
									    border: 1px solid #dadada;
									    background-color: #f7f7f8;
									    color: #333333;
									    text-align-last: left !important;
									    padding: 0 10px !important;
									    &[disabled="disabled"] {
										    padding: 0 !important;
										}
								    }
								}
							    table{
							    	th {
									    padding: 0 3px;
									    background: linear-gradient(to right, #fd3542, #fd7647);
									    color: #fff;
									    width: 110px;
									    border-top: 1px solid #dcdcdc;
									    @include bp(mobile-p-max){
									    	width: 100%;
										    padding: 0;
										    border: none;
										    label {
											    line-height: 45px;
											}
									    }
									}
									td{
										padding: 30px 15px 20px 15px;
    									vertical-align: top;
    									border-top: 1px solid #dcdcdc;
    									position: relative;  
    									@include bp(mobile-p-max){
    										padding: 20px 15px;
    									} 									
										h4 {
										    margin: 0 0 6px 0;
										    word-break: break-all;
										}
										p {
										    margin: 0 0 4px 0;
										    word-break: break-all;
										}
										span {
										    text-transform: uppercase;
										    font-size: 14px;
										}
									}
							    }
							    .inner-content{
							    	padding: 0;
								    width: 100%;
								    border-top: 1px solid #e8e8e8;
								    display: table-row;
								    @include bp(mobile-p-max){
								    	display: block;
								    }
								    .highlight{
								    	border: 1px solid #e8e8e8;
    									margin: -1px 0px 0px 0px;
								    }
								    > div {
									    display: table-cell;
									    float: none;
									    border-top: 1px solid #ececec;
									    @include bp(mobile-p-max){
									    	width: 100%;
									    	display: block;
									    	padding: 0 20px;
									    }
									    &.orange-bg{
											background: linear-gradient(to right, #fd3542, #fd7647);
											width: 110px;
										    vertical-align: middle;
										    word-break: break-word;
										    @include bp(mobile-p-max){
										    	width: 100%;
											    display: block;
											    background: transparent;
										    	br{
										    		display: none;
										    	}
										    }
											label{
												color: #fff;
												&.club_type{
													width: 100%;
													display: block;
												    text-align: center;
													text-transform: uppercase;
												}
												@include bp(mobile-p-max){
													padding: 20px 0 0px 0;
    												display: block;
    												color: #333;
												}
											}
									    }
									}
							    }
							    .noinfo{
							    	padding: 20px 80px;
							    }
							    input[type="text"] {
								    top: 0;
    								display: block;
    								@include bp(mobile-p-max){
    									top: -8px;
									    display: block;
									    margin: 17px 0 0 0;
    								}
								}
							}
							hr.light {
							    margin: 20px 0 26px 0;
							    border-color: #E6E6F6;
							    border-width: 1px 0px 0px 0px;
							    opacity: 0.3;
							    float: left;
							    width: 100%;
							}
							.social-profile{
								a {
								    background: #f0f0f0;
								    width: 100%;
								    display: block;
								    margin: 0 0 10px 0;
								    padding: 9px 15px;
								    border-radius: 3px;
								    color: #888a8b;
								    font-weight: 600;
								    font-size: 14px;
								    &[disabled] {
									    pointer-events: none;
									}
								    i {
									    color: #c8c9c9;
									    width: 25px;
									    font-size: 19px;
									}
									&.facebook{
										&:hover{
											background: #3b5998;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
										&.active{
											background: #3b5998;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
									}
									&.twitter{
										&:hover{
											background: #1DA1F2;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
										&.active{
											background: #1DA1F2;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
									}
									&.snapchat{
										&:hover{
											background: #00bf8f;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
										&.active{
											background: #00bf8f;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
									}
									&.skype{
										&:hover{
											background: #00aff0;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
										&.active{
											background: #00aff0;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
									}
									&.instagram{
										&:hover{
											background: #fb3958;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
										&.active{
											background: #fb3958;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
									}
									&.whatsapp{
										&:hover{
											background: #00bf8f;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
										&.active{
											background: #00bf8f;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
									}
								}
								input[type="text"] {
								    position: relative;
								    top: -7px;
								    border: 1px solid #dadada;
								    border-radius: 3px;
								    padding: 3px 8px;
								    background: #f7f7f8;
								    font-size: 13px;
								    display: block;
								    height: 36px;
								    width: 100%;
								    &:focus {
									    border: 1px solid #fd4f44;
									}
								}
							}
							.text-center{
								h2, h3{
									text-align: center;
								}
							}
							.progress-bar{
								h2 {
								    display: inline-block;
								    width: 70px;
								    margin: 0px 13px 9px 0 !important;
								    @include bp(mobile-p-max){
									    display: block;
										margin: 0 !important;
							        }
								    &.light {
								        color: #000;
								        text-transform: uppercase;
								    }
								}
								div {
								    display: inline-block;
								    vertical-align: top;
								}
								.ui-slider {
								    display: inline-block;
								    max-width: 220px;
								    width: 100%;
								    margin: 0 9px 0 0;
								    background: linear-gradient(to right, #fd3542, #fd7647);
								    border: none;
								    border-radius: 23px;
								    height: 6px;
								    cursor: pointer;
								    span {
									    background: linear-gradient(to right, #fd3542, #fd7647);
									    border: 5px solid #fff;
									    border-radius: 40px;
									    top: -6px;
									}
								}
								input[type=range]{
							         margin: 10px 0 !important;
							         &::-webkit-slider-runnable-track{
								        max-width: 500px;
								    }
								    &::-moz-range-track{
								        max-width: 500px;
								    }
								    &::-ms-track{
								        max-width: 500px;
								    }
							    }
							    input.edit-input.inputslider {
								    display: inline-block;
								    width: 65px;
								    height: 24px;
								    vertical-align: bottom;
								    padding: 0 9px !important;
								}
							}
							// .lc{
							// 	text-transform: none !important;
							// }
						}
					}
					.relative{
						position: relative;
					}
				}
				#achievements.tab-pane{
					.tab-inner{
						.inner-content{
							.relative{
								position: relative;
								&.achive, &.awards, &.testmonials{
								    position: relative;
								    padding: 10px 0 0px 0;
								    a.edit{
										right: -24px !important;
										top: -5px !important;
								    }
								}
							}
							textarea{
							    padding: 7px 10px !important;
							    margin: 0 0 20px 0 !important;
							    border-radius: 3px !important;
							    border: 1px solid #d2d1d1 !important;
							    display: inline-block !important;
							    width: 100% !important;
							    background: #f7f7f8;
							    font-size: 16px;
							    height: 170px;
							    text-transform: inherit;
   								color: #000;
							    &[disabled="disabled"] {
								    border-width: 0 !important;
								    padding: 0 0 0px 0 !important;
								    border-radius: 0px !important;
								    border-color: #f0f0f1 !important;
								    background: transparent !important;
								    -webkit-appearance: inherit !important;
								    -moz-appearance: inherit !important;
								    appearance: inherit !important;
								    resize: none;
								    height: auto;
								}
							    @include bp(mobile-max){
							    	height: 34px;
							    	padding: 7px 10px !important;
							    }
							}
						}
						button.btn.light.big {
						    max-width: 300px;
						    display: block;
						    margin: 30px auto;
						    width: 90%;
						}
					}
				}
				#sports.tab-pane{
					.tab-inner{
						.inner-content{
							select[name="0_sport"]{
								width: 98%;
								left: 1%;
								position: relative;
							}
							form{
								.slider {
								    margin-bottom: 20px;
								    padding: 0;
								    label {
									    margin: 0;
									}
									.progress-bar{
										position: relative;
									    max-width: 400px;
									    text-align: center;
									    input[type=range] {
										    margin: 10px 0 !important;
										    width: 100% !important;
										}
										span {
										    position: absolute;
										    right: 9px;
										    top: 20px;
										    &:first-child {
											    left: 0;
											    right: auto;
											}
										}
									}
								}
								.front_sport_div{
									.slider{
										padding: 0px;
									}
									&.position_front{
										.col-md-12{
											padding: 0 20px;
										}
									}
								}
								input{
									margin: 0 0 20px 0;
								    text-transform: uppercase;
								    color: #000;
								}
								h4.instructionclass {
								    background: linear-gradient(to right, #fd3542, #fd7647);
								    color: #fff;
								    font-weight: 700;
								    font-size: 15px;
								    margin: 0 0 10px 0;
								    text-transform: uppercase;
								    padding: 5px;
								    border-radius: 5px;
								}
								> div {
									display: inline;
									.input-container{
										padding: 0 5px;
									}
									.clear {
									    display: block !important;
									    float: left !important;
									}
									.full-width{
										float: left;
										width: 100%;
										padding: 0 5px;
									}
									.one-forth{
										width: 25%;
										display: inline-block;
										vertical-align: top;
										margin-right: -1%;
										float: left;
										padding: 0 5px;
										margin: 0px;
										@include bp (mobile-max){
											width: 50%;
										}
										@include bp (mobile-p-max){
											width: 100%;
										}
										.col-md-12{
											padding: 0px;
										}
									}
									.half-width{
										width: 50%;
										display: inline-block;
										vertical-align: top;
										float: left;
										padding: 0 5px;
										margin: 0px;
										@include bp (mobile-p-max){
											width: 100%;
											padding: 0 5px;
										}
										.col-md-12{
											padding: 0px;
										}
									}
									.one-third{
										width: 33.333%;
										display: inline-block;
										vertical-align: top;
										float: left;
										padding: 0 5px;
										margin: 0px;
										@include bp (mobile-p-max){
											width: 100%;
										}
										.col-md-12{
											padding: 0px;
										}
									}
									ul.checkbox{
										width: 100%;
										margin: 0px;
										li{
											width: 50%;
										}
									}
								}
							}
						}
					}
				}
				#acadmics.tab-pane{
					.tab-inner{
						.inner-content{
							float: left;
							width: 100%;
							h2{
								text-transform: uppercase;
							}
							p{
								label{
									width: 90px;
								    font-weight: 600;
								    text-transform: uppercase !important;
								    color: #000 !important;
								}
							}
							input[type="text"].edit-input{
								top: 0px !important;
							}
							a.edit{
								right: -30px;
    							top: -10px;
							}
							.progress-bar{
								vertical-align: top;
								display: inline-block;
								width: 100%;
								margin: 0;
								h2{
									vertical-align: top;
								}
								input[type=range] {
								    margin: 8px 0 !important;
									width: 60% !important;
									vertical-align: top;
									padding: 0px;
								}
							}
						}
					}
				}
				#school{
					&.tab-pane{
						.tab-inner{
							.inner-content{
								.school-info{
									table{
										td{
											// padding: 0 0 0 0;
											text-transform: uppercase;
										}
									}
								}
								input[type="text"].edit-input, input[type="number"].edit-input, input[type="tel"].edit-input{
   									top: 0;
   									margin: 0;
   									text-transform: uppercase;
								}
							}
						}
					}
				}
				#contact{
					.tab-inner{
						.inner-content{
							p{
								&.email-coach{
									text-transform: initial;
									a{
										img{
											margin: 2px 8px 0 0;
										}
									}
								}
								&.star-text{
									text-transform: initial;
									a{
										i{
											font-size: 20px;
										}
									}
								}
							}
							label{
								sup {
								    top: 12px;
								    float: right;
								    display: block;
								}
							}
						}
					}
				}
				#event{
					&.tab-pane.eventattend{
						.inner-content{
							h1 {
							    text-align: left;
							    font-size: 20px;
							    font-family: 'Open Sans' !important;
							    font-weight: 700 !important;
							    text-transform: uppercase;
							    a{
								    color: #000;
								    font-weight: 700 !important;
								}
							}
						}
					}
				}
			}
		}
	}
	.message {
	    text-align: center;
	    background: #f7f7f8;
	    max-width: 560px;
	    margin: 60px auto 70px;
	    color: #f03833;
	    padding: 30px 0;
	    border-radius: 6px;
	    font-weight: bold !important;
	    border: 1px solid #eaeaea;
	    font-size: 24px;
	    position: relative;
	    img {
		    width: 70px;
		    margin: 0 auto 25px;
		    display: block;
		}
	    a.eventclose {
		    position: absolute;
		    top: 0;
		    right: 0;
		    font-size: 0;
		    background: #000;
		    height: 25px;
		    width: 30px;
		    &:before {
			    content: "";
			    background: #fff;
			    height: 19px;
			    width: 1px;
			    display: block;
			    position: absolute;
			    left: 15px;
			    top: 3px;
			    transform: rotate(45deg);
			}
			 &:after {
			    content: "";
			    background: #fff;
			    height: 19px;
			    width: 1px;
			    display: block;
			    position: absolute;
			    left: 15px;
			    top: 3px;
			    transform: rotate(-45deg);
			}
		}
	}
	span.saving.importsaving {
	    text-align: center;
	    margin: 30px auto -30px;
	    display: inherit;
	}
	.loder{
		.upload {
		    max-width: 640px;
		    margin: 50px auto;
		    padding: 30px 20px;
		    border: 1px solid #ccc;
		    border-radius: 5px;
		    input#datafile {
			    padding: 10px 10px;
			    border-radius: 2px;
			    border: 1px solid #ccc;
			    width: 100%;
			    height: 45px;
			    background: transparent;
			    margin: 0 0 16px 0;
			    color: #fff;
			}
			button#buttonup {
			    background: linear-gradient(to right, #fd3542, #fd7647);
			    color: #fff;
			    margin: 10px auto 0;
			    display: block;
			}
		}
	}
	&.coach_profile{
		.vue-input-tag-wrapper {
		    border-style: solid !important;
		    border-width: 0px 0 3px 0 !important;
		    border-radius: 0 !important;
		    border-color: #f0f0f1 !important;
		    padding: 9px 0 !important;
		}
		textarea {
		    border-style: solid !important;
		    border-width: 0px 0 3px 0 !important;
		    border-radius: 0 !important;
		    border-color: #f0f0f1 !important;
		    padding: 9px 0 !important;
		}
	}
}

.highlight {
    border: 2px solid #e8e8e8;
    margin: -1px -1px 0px -1px;
    // box-shadow: 1px -1px 25px -16px #000 inset;
    // background: rgba(253, 76, 67, 0.03);
    hr.light {
	    display: none;
	}
}

#school{
	span{
		&.form-control-feedback {
		    margin: 4px 0 15px 0 !important;
		}
	}
	.inner-content{
		select{
			    margin: 0px;
			    border: 1px solid #dadada;
			    border-radius: 3px;
			    padding: 3px 8px;
			    font-size: 13px;
			    height: 36px;
			    width: 100%;
			    background: #f7f7f8 url("../images/down-arrow.png");
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                background-size: 14px;
                background-repeat: no-repeat;
                background-position: 98% 50%;
                font-size: 14px;
				&[disabled="disabled"] {
				    border-width: 0 !important;
				    padding: 0 0 0px 0;
				    border-radius: 0px;
				    border-color: #f0f0f1;
				    background: transparent;
				    -webkit-appearance: inherit;
				    -moz-appearance: inherit;
					appearance: inherit;
					font-size: 16px;
				}
		}
	}
}

.showpop-message {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: rgba(255,255,255,0.8);
    height: 100%;
    z-index: 9999999;
    .message {
	    top: 15%;
	    padding-top: 140px;
	    &:before {
		    content: "";
		    background: url(../images/event-icon.png);
		    background-repeat: no-repeat;
		    background-position: left top;
		    width: 100px;
		    height: 100px;
		    display: block;
		    background-size: 100%;
		    position: absolute;
		    top: 30px;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		}
		p {
		    font-size: 25px;
		    font-weight: 400;
		}
	}
	&.event{
		.message {
		    padding-left: 20px;
		    padding-right: 20px;
		    h2.eventmessage {
			    font-size: 26px;
			    margin: 0 0 14px 0;
			}
			p {
			    font-size: 20px;
			    span {
				    margin: 20px 0 0 0;
				    display: block;
				}
			}
		}
	}
}

.selectschool{
	select {
	    background: #fff;
	    padding: 0;
	    display: block;
	    width: 100%;
	    height: 31px;
	    font-size: 13px;
	    margin: 0 0 9px 0;
	    color: #333;
		border: 1px solid #cccccc;
		&[disabled="disabled"] {
		   border-width: 0;
		   padding: 0 0 0px 0;
		   border-radius: 0px;
		   border-color: #f0f0f1 ;
		   background: transparent;
		   -webkit-appearance: inherit;
		   -moz-appearance: inherit;
		   appearance: inherit;
		   font-weight: 700;
		   font-family: 'Open Sans';
		   font-size: 15px;
		   margin: 0;
		   position: relative;
		   text-transform: uppercase;
		   top: -9px;
		}
	}
}

.inner-content{
    input[disabled="disabled"], textarea[disabled="disabled"] {
        border-width: 0 0 0px 0 !important;
        padding: 0 0 0px 0 !important;
        border-radius: 0px !important;
        border-color: #f0f0f1 !important;
        background: transparent !important;
        -webkit-appearance: inherit !important;
        -moz-appearance: inherit !important;
        appearance: inherit !important;
    }
    select{
    	&[disabled="disabled"]{
	    	border-width: 0 0 0px 0 !important;
		    padding: 0 0 0px 0 !important;
		    border-radius: 0px !important;
		    border-color: #f0f0f1 !important;
		    background: transparent !important;
		    -webkit-appearance: inherit !important;
		    -moz-appearance: inherit !important;
		    appearance: inherit !important;
		    color: #000;
	    }
	    &.dis-club{
	    	text-align-last: center;
	    	text-transform: uppercase;
	    	font-size: 14px; 
	    	&[disabled="disabled"]{
	    		color: #fff;
    			border: none !important;
    			text-transform: uppercase;
	    	}
	    }
    }
    td[showinput="true"]{
        input.edit-input {
            border: 1px solid #dadada !important;
            border-radius: 3px !important;
            padding: 3px 8px !important;
            background: #f7f7f8 !important;
            font-size: 13px !important;
        }
    }
}

.high-school-lable{
	p {
	    font-weight: 600;
	    color: #000 !important;
	}
}

form#form-change-password{
	label{
		&#password-error, &#password_confirmation-error {
		    color: red;
		    font-weight: normal;
		    text-transform: none;
		    font-size: 13px;
		    margin: -10px 0 10px 0;
		}
	}
}



.multiselect {
    box-sizing: content-box;
    display: block;
    position: relative;
    margin: 0 0 7px 0;
    width: 100%;
    min-height: 40px;
    text-align: left;
    color: #35495e;
    font-family: inherit;
    font-size: 14px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    &__select {
	    position: absolute;
	    width: 40px;
	    height: 38px;
	    right: 1px;
	    top: 1px;
	    padding: 4px 8px;
	    text-align: center;
	    transition: transform .2s ease;
	    line-height: 16px;
	    box-sizing: border-box;
	    display: block;
	    margin: 0;
	    text-decoration: none;
	    cursor: pointer;
	    z-index: 9;
	    &:before {
		    position: relative;
		    right: 0;
		    top: 65%;
		    color: #999;
		    margin-top: 4px;
		    border-style: solid;
		    border-width: 5px 5px 0;
		    border-color: #999 transparent transparent;
		    content: "";
		}
	}
	&__tags {
	   min-height: 30px;
	   display: block;
	   padding: 6px 0px 0px 7px;
	   border-radius: 5px;
	   border: 1px solid #d2d1d1 !important;
	   background: #f7f7f8;
	    &-wrap {
		    display: inline;
		    .custom{
		    	&__tag {
			        display: inline-block;
				    padding: 3px 12px;
				    background: linear-gradient(to right, #fd3542, #fd7647);
				    margin-right: 8px;
				    margin-bottom: 5px;
				    border-radius: 50px;
				    cursor: pointer;
				    color: #fff;
				    margin-left: 0px;
				}
				&__remove {
				    padding: 0;
				    font-size: 10px;
				    margin-left: 5px;
				    color: #fff;
				}
		    }
		}
		input.multiselect__input {
		   border: none !important;
		   margin: -6px 0 0 0 !important;
		   padding: 0 12px !important;
		   background: transparent !important;
		   border-radius: 3px !important;
		   text-transform: uppercase;
		    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: #000;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: #000;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: #000;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: #000;
			}

		}
	}
	&__spinner {
	    position: absolute;
	    right: 1px;
	    top: 1px;
	    width: 48px;
	    height: 35px;
	    background: #fff;
	    display: block;
	}
	&__input, &__single {
	    position: relative;
	    display: inline-block;
	    min-height: 20px;
	    line-height: 20px;
	    border: none;
	    border-radius: 5px;
	    background: #fff;
	    padding: 1px 0 0 5px;
	    width: 100%;
	    transition: border .1s ease;
	    box-sizing: border-box;
	    margin-bottom: 8px;
	    // display: none !important;
	}
	&__content-wrapper {
	    position: absolute;
	    display: block;
	    background: #fff;
	    width: 100%;
	    max-height: 240px;
	    overflow: auto;
	    border: 1px solid #e8e8e8;
	    border-top: none;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	    z-index: 9999;
	    -webkit-overflow-scrolling: touch;
	}
	&__content {
	    list-style: none;
	    display: inline-block;
	    padding: 0;
	    margin: 0;
	    min-width: 100%;
	}
	&__element {
	    display: block;
	}
	&__option {
	    display: block;
	    padding: 12px;
	    min-height: inherit;
	    line-height: 16px;
	    text-decoration: none;
	    text-transform: none;
	    vertical-align: middle;
	    position: relative;
	    cursor: pointer;
	    white-space: normal;
	}
}


.multiselect--disabled{
	.multiselect__select{
		display: none;
	}
	.multiselect__tags{
		background: transparent !important;
		border: 0 none !important;
		padding-left: 0px;
		input.multiselect__input {
		    background: transparent !important;
		    padding: 0 !important;
		    border: 0 none !important;
		    color: #000 !important;
		}
	}
}

.videowatch {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
    .modal{
    	&-dialog {
		    width: 90%;
		    max-width: 1000px;
		    margin: 5% auto;
		    position: relative;
		    top: 44%;
		    transform: translate(0, -50%);
		}
		&-content {
		    background: #fff;
		    padding: 20px 30px;
		    position: relative;
		    @include bp(mobile-max){
		    	padding: 20px 20px 5px 20px;
		    	iframe {
				    height: 370px;
				}
		    }
		}
		&-header {
		    position: absolute;
		    right: -20px;
		    top: -20px;
		    @include bp(mobile-max){
		    	right: -10px;
		    	top: -10px;
		    }
		    button.close {
			    background: #e1331b;
			    border: none;
			    color: #fff;
			    font-size: 22px;
			    padding: 6px 7px 10px 7px;
			    line-height: 12px;
			    cursor: pointer;
			}
		}
    }
}

.simple-lightbox{
	.sl-image {
	    top: 50% !important;
	    right: 0;
	    left: 0 !important;
	    transform: translate(0,-50%) !important;
	    height: 100% !important;
	    padding: 1.2% 0;
	    img {
		    max-width: 840px;
		    margin: 0 auto !important;
		    height: 100% !important;
		    display: block !important;
		    object-fit: contain;
		}
	}
}

.sl-wrapper{
	.sl-navigation{
		button{
			z-index: 99999 !important;
		}
	}
	.sl-counter{
		z-index: 99999 !important;
	}
	.sl-close {
	    z-index: 99999 !important;
	}
}

.sl-overlay {
    z-index: 9999 !important;
}

h3.payment-heading {
    text-align: center;
    font-size: 28px;
    margin: 0 0 20px 0;
}

.payment-history{
	&.new {
	    margin: 0 0 50px 0;
	    background: #e2e2e2;
	    text-align: center;
	    float: left;
	    width: 100%;
	    .no_result_found_payment {
		    padding: 20px 0 25px 0;
		    font-size: 26px;
		    float: left;
		}
		.payment-content{
			div {
			    width: 11%;
			    float: left;
			    font-size: 12px;
			    text-align: center;
			    padding: 11px 0;
			    @include bp(desktop){
			    	font-size: 10px;
			    }
			    @include bp(tab-max){
			    	width: 100%;
			    	border-top: 1px solid #adaaaa;
			    }
			    a {
				    background: #000;
				    color: #fff;
				    padding: 4px 14px;
				}
			}
		}
	}
	div {
	    width: 100%;
	    display: block;
	    &.heading {
		    background: #000;
		    float: left;
		    width: 100%;
		    div {
			    width: 11%;
			    float: left;
			    color: #fff;
			    font-size: 12px;
			    text-align: center;
			    padding: 11px 0;
			    @include bp(desktop){
			    	font-size: 10px;
			    }
			    @include bp(tab-max){
			    	width: 100%;
			    	border-top: 1px solid #adaaaa;
			    }
			}
		}
	}
}

#step_1.details span.form-control-feedback {
   margin: -12px 0 12px 0 !important;
}