<template>
    <div class="container">
            <span class="notmatch help-block" v-show="error_email">
            <strong>These credentials do not match our records.</strong>
         </span>

        <form class="form-horizontal" role="form"  @submit.prevent="submitProfile">
            <div class="half">
                <div class="form-group">                
                    <label for="email" class="control-label">E-Mail Address</label>
                    <input id="log_email" type="email"   v-validate="'required|email'" data-vv-as="Email" class="form-control" name="log_email" v-model="LoginData.email" />
                    <span class="form-control-feedback help-block" v-if="errors.first">{{errors.first('log_email')}}</span>
                </div>
            </div>
            <div class="half">
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input id="log_password" type="password" v-validate="'required'" data-vv-as="password" class="form-control" name="password" v-model="LoginData.password" />
                    <span class="form-control-feedback help-block" v-if="errors.first">{{errors.first('password')}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember" v-model="LoginData.remember"/> Remember Me
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                     <a class="btn btn-link" href="/password/reset">
                        Forgot Your Password?
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="overlay-center" v-show="saved" style="text-align: center;"><img src="/images/loader.gif" style="width: 50px;"></div>
                <button type="submit" class="btn btn-primary orange" :disabled="saved == true ? true : false">
                    Login
                </button>
            </div>
        </form>
   </div>
</template>

<script>
    export default {
        data(){
            return{
                saved: false,
                error_email:false,
                LoginData:{
                    password:"",
                    email:"",
                    remember:"",
                    issue:'',
                },
                   // error:{
                    
                   // },
                   // errors:{
                   //  first:'',
                  
                   // }
            }
        },
        methods:{
            submitProfile(){
                this.error_email = false;
                this.saved = true;
                this.$validator.validateAll().then(() => {
                    axios.post('/login',this.LoginData)
                    .then(response=>{
                        // console.log( response );
                        setTimeout(function(){ 
                            $('.form-control-feedback').hide();   
                        }, 10);
                        this.LoginData='';
                        this.error = '';
                        if( response.data == 'admin' )
                            location.assign("/admin");
                        else
                            location.assign("/profile");
                    })
                    .catch(error=>{
                        console.log(error.response);
                        this.error_email = true;
                        // this.loginData.issue = error.response.data;
                        this.saved = false;    
                    })
                }).catch(() => {
                    this.saving = false;
                    this.saved = false;
                    console.log("error");
                    return false
                }); 
            }
        }
    }
</script>
