<div v-cloak v-show="signup_popup" class="sign-up-popup">
	<div class="sign-up-content">
		<a @click="signup_close" href="#" class="close"><i class="icono-cross"></i></a>
		<h1>Create an account</h1>
		<div class="radio-section">
			<a @click="signup_url(2)" class="checked" href="#"><input type="radio" checked name="role" value="2">i&#39;m an athlete</a>
			<a @click="signup_url(4)" href="#"><input type="radio" name="role" value="4">i&#39;m a coach</a>
			<a @click="signup_url(3)" href="#"><input type="radio" name="role" value="3">i&#39;m an parent</a>
		</div> 
		<form class="create-acc" id="signup-user" v-show="athelete_show" action=" {{ url( '/ajax_create' ) }} " method="post">
			<?php
				$data = \Session::get('social_info');
			?>
			<div class="half">
				<input type="hidden" name="role" value="2">
				<label>First Name <sup>*</sup></label>
				<input type="text" name="first_name" id="first_name" value="@if(isset($data['first_name'])) {{ $data['first_name'] }} @endif ">
			</div>
			<div class="half">
				<label>Last Name <sup>*</sup></label>
				<input type="text" name="last_name" id="last_name"value="@if(isset($data['last_name'])) {{ $data['last_name'] }} @endif">
			</div>
			<div class="full">
				<label>Email Address <sup>*</sup></label>
				<input type="email" name="email" id="email" value="@if(isset($data['email'])) {{ $data['email'] }} @endif ">
			</div>
			<div class="full">
				<label>Password <sup>*</sup></label>
				<input type="password" name="password" id="password">
			</div>
			<div class="full">
				<label>Sport</label>
				<select name="sport" class="js-example-basic-single">
					<option value="">Select Sport</option>
					@foreach( $sports as $s_sport )
						<option @if( isset($sport) && $sport == $s_sport->id ){{'selected'}}@endif value="{{ $s_sport->id }}">{{ $s_sport->title }}</option>
					@endforeach
			        <option value="other">Others</option>
			    </select>
			</div>
			<div class="full">
				<div class="col-md-6">
					<label>Gender</label>
					<ul class="checkbox">
						<li>
							<input type="radio" name="athelete_gender" value="Men" @if( isset($athelete_gender) && $athelete_gender == 'Men' ){{'checked'}}@else{{'checked'}}@endif />
							<label>Men</label>
						</li>
						<li>
							<input type="radio" name="athelete_gender" value="Women" @if( isset($athelete_gender) && $athelete_gender == 'Women' ){{'checked'}}@else{{''}}@endif />
							<label>Women</label>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<label>Graduation Year</label>
					<select name="graduation" class="js-example-basic-single">
						<option value="">Select Graduation Year</option>
				        @for( $i = date('Y'); $i <= intval(date('Y'))+7; $i++ ):
				        	<option value="{{ $i }}">{{ $i }}</option>
				        @endfor
				    </select>
				</div>
			</div>
			<button class="btn orange">Sign Up</button>
			<div style="display: none;">{{ csrf_field() }}</div>
		</form>
		<form class="create-acc" v-show="coach_show" id="signup-coach" action=" {{ url( '/ajax_create' ) }} " method="post">
			<?php
				$data = \Session::get('social_info');
			?>
			<div class="half">
				<input type="hidden" name="role" value="4">
				<label>First Name <sup>*</sup></label>
				<input type="text" name="first_name" id="first_name" value="@if(isset($data['first_name'])) {{ $data['first_name'] }} @endif ">
			</div>
			<div class="half">
				<label>Last Name <sup>*</sup></label>
				<input type="text" name="last_name" id="last_name"value="@if(isset($data['last_name'])) {{ $data['last_name'] }} @endif">
			</div>
			<div class="small">
				<label>Country Code</label>
				<select name="countrycode" id="countrycode">
					<option>+1</option>
					<option>+11</option>
					<option>+12</option>
					<option>+12</option>
					<option>+13</option>
				</select>
			</div>
			<div class="medium">
				<label>Phone Number</label>
				<input type="number" name="phone" id="phone">
			</div>
			<div class="full">
				<label>Email Address <sup>*</sup></label>
				<input type="email" name="email" id="email" value="@if(isset($data['email'])) {{ $data['email'] }} @endif ">
			</div>
			<div class="full">
				<label>Password <sup>*</sup></label>
				<input type="password" name="password" id="password">
			</div>
				<div class="full">
					<label>Sport</label>
					<select name="sport" multiple id="select-coach">
						<option>Select Sport</option>
						@foreach( $sports as $s_sport )
							<option @if( isset($sport) && $sport == $s_sport->id ){{'selected'}}@endif value="{{ $s_sport->id }}">{{ $s_sport->title }}</option>
						@endforeach
				        <option value="other">Others</option>
				    </select>
				</div>
			<button class="btn orange">Sign Up</button>
			<div style="display: none;">{{ csrf_field() }}</div>
		</form>
		<form class="create-acc" v-show="parent_show" id="signup-parent" action=" {{ url( '/ajax_create' ) }} " method="post">
			<?php
				$data = \Session::get('social_info');
			?>
			<div class="full">
				<div class="col-md-6">
					<p>Parent</p>
					<input type="hidden" name="parent_count" value="@if( isset($parent_count) ){{ $parent_count }}@else{{1}}@endif"/>
					<ul class="checkbox">
						<li>
							<input type="radio" name="parent_gender_0" value="Father" @if( isset($parent_gender_0) && $parent_gender_0 == 'Father' ){{'checked'}}@else{{'checked'}}@endif />
							<label>Father</label>
						</li>
						<li>
							<input type="radio" name="parent_gender_0" value="Mother" @if( isset($parent_gender_0) && $parent_gender_0 == 'Mother' ){{'checked'}}@else{{''}}@endif />
							<label>Mother</label>
						</li>
					</ul>
				</div>
			</div>
			<div class="half">
				<input type="hidden" name="role" value="3">
				<label>First Name <sup>*</sup></label>
				<input type="text" name="first_name" id="first_name" value="@if(isset($data['first_name'])) {{ $data['first_name'] }} @endif ">
			</div>
			<div class="half">
				<label>Last Name <sup>*</sup></label>
				<input type="text" name="last_name" id="last_name"value="@if(isset($data['last_name'])) {{ $data['last_name'] }} @endif">
			</div>
			<div class="small">
				<label>Country Code</label>
				<select name="countrycode" id="countrycode">
					<option>+1</option>
					<option>+11</option>
					<option>+12</option>
					<option>+12</option>
					<option>+13</option>
				</select>
			</div>
			<div class="medium">
				<label>Phone Number</label>
				<input type="number" name="phone" id="phone">
			</div>
			<div class="full">
				<label>Email Address <sup>*</sup></label>
				<input type="email" name="email" id="email" value="@if(isset($data['email'])) {{ $data['email'] }} @endif ">
			</div>
			<div class="full">
				<label>Password <sup>*</sup></label>
				<input type="password" name="password" id="password">
			</div>
			<button class="btn orange">Sign Up</button>
			<div style="display: none;">{{ csrf_field() }}</div>
		</form>
		<h2>or, sign up using:</h2>
		<div class="social-signup">
			<div class="col-md-6 facebook">
				<a :href="facebook_url">Facebook<i class="fa fa-facebook" aria-hidden="true"></i></a>
			</div>
			<div class="col-md-6 twitter">
				<a :href="twitter_url">Twitter<i class="fa fa-twitter" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>
