<template>
    <div>
        <input type="hidden" id="academics" :value="saved" />
            <h3>Academic Achievements
                <a v-if="total > 0" @click="editForm" v-show="saved" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
                <a v-if="total > 0" v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Cancel</span></a>
                <a v-if="total > 0" v-show="editing" @click="submitData" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save</span></a>
                <span class="saving" v-show="saving"><img src="/images/spin.gif" /></span>
                
            <span class="small">Please enter your best achievements below. Coaches will be viewing this, so check for typos & professionalism.</span>
            </h3>
            <div class="inner-content" v-for="( n, index ) in total" :id="index" :class="add_class(index, academics.length)">
                <div class="row">
                    <div class="relative achive errorachive">
                    <a  class="edit" v-show="delete_row_test" @click="deleterow(index)" ><i class="fa fa-trash-o" aria-hidden="true"></i><span>Delete</span></a>
                    <form>
                        <div class="col-md-8">
                            <label>Achievement</label>
                            <p v-show="show_achiv" class="content-achi">{{academics[index]['achivment']}}</p>
                            <div v-show="hide_achiv">
                            <textarea v-validate="'required'"  data-vv-as="Achivement" :name="'achivement'+index+'_achievements'" v-model="academics[index]['achivment']" :disabled="validated == 1 ? true : false"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Select Year</label>
                            <!-- <select :name="'achivement'+index+'_year'" :yearshow="validated == 1 ? true : false" v-validate="'required|numeric'"  data-vv-as="Years" v-model="academics[index]['year']" :disabled="validated == 1 ? true : false">
                                            <option value="null">Select Year</option>
                                            <option v-for="yearac in yearac" :value="yearac" >{{yearac}}</option>      
                            </select> -->
                              <multiselect :disabled="validated == 1 ? true : false" :show-labels="true" v-model="academics[index]['year']" :options="options" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" placeholder="Select Year" label="name" track-by="name">
                            <template  slot="tag" scope="props"><span class="custom__tag"><span>{{ props.option.language }}</span><span v-show="hidetem" class="custom__remove" @click="props.remove(props.option)">x</span></span></template>
                           </multiselect>
                        </div>
                    </form>
                    <div class="clear"></div>
                    <hr class="light" />
                </div>
            </div>
            </div>
                <button class="btn light big" @click="add_sport">Add Academic Achievement</button>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'
    export default{
        props: ['sportsdata','yearac','yearacn'],
        data(){
            return {
                validated: 1,
                editing: false,
                saving: false,
                options: this.yearac,
                 show_achiv:true,
                hide_achiv:false,
                hidetem:false,
                yearac : this.yearac,
                delete_row_test:false,
                saved: true,
                sports: this.allsports,
                academics: this.arrayCreate( this.sportsdata ),
                total: this.totalCount( this.sportsdata ),
                fields: []
            }
        },
        components: { Multiselect },
        methods:{
            arrayCreate: function( r_data = null ){
              
                if( r_data == null ){
                    return new Array();
                }else{
                    if( r_data == '' ){
                        return new Array();
                    }else if( Array.isArray(r_data)){
                      
                        return r_data;
                    }else{
                        return JSON.parse( r_data );
                    }
                }
            },
            totalCount: function( data = null ){
                if( data == null ){
                    return 0;
                }else{
                    // if( data == '' ){
                        return 0;
                    // }else{
                    //  let rx_data = JSON.parse( data );
                    //  return parseInt(rx_data.length) - 1;
                    // }
                }
            },
             add_class( i, x ){
                console.log( i );
                console.log( x );
                var x = x - 1;
                if( i == x && this.editing == true){
                    return "highlight";
                }else{
                    return "";
                }
            },
            deleterow: function(data){
                this.total = this.total - 1;
                this.academics.splice(data,1);  
                this.$validator.validateAll().then(() => {
                
                }).catch(() => {
                    this.errors.clear();
                    return false
                });
                if(this.academics.length == 0){
                    axios.post( '/profile', {athelete_acadmic_achivment: this.academics} )
                    .then(response=>{
                        console.log(response);
                        move(response.data);
                    })
                    .catch(error=>{
                        console.log(error);
                        this.errors=error.errors;
                    })
              }
            },
            add_sport: function(){
                // console.log('Add Sport');
                Vue.set( this.academics, parseInt(this.total), {year:''} );
                // this.academics[ this.total + 1 ] = {};
                this.total = this.total + 1;
                this.fields[ this.total ] = {};
                
                
                
                this.editForm();
            },

            check: function( value ){
                if( value == 'undefined' ){
                    return '';
                }
            },
            cancel: function(){
                 this.total = 0;
                this.academics = this.arrayCreate( this.sportsdata );
                if( this.academics != null ){
                    for( let i = 0; i < this.academics.length; i++ ){
                        this.total = this.total + 1;
                    }
                }
                  this.validated = 1;
                this.editing = false;
                this.saved = true;
                this.hidetem = false;
                this.delete_row_test=false;
                this.show_achiv =true;
                this.hide_achiv = false;

            },
            editForm: function(){
                this.editing = true;
                this.saved = false;
                this.validated = 0;
                this.hidetem = true;
                this.delete_row_test=true;
                this.show_achiv =false;
                this.hide_achiv = true;

            },
            submitData(){
               // this.$validator.validateAll().then(() => {
                    this.editing = false;
                    this.saved = false;
                    this.saving = true;
                    axios.post( '/profile', { athelete_acadmic_achivment: this.academics } )
                    .then(response=>{
                        this.sportsdata = this.academics;
                        move(response.data);
                        this.editing = false;
                        this.saved = true;
                        this.saving = false;
                        this.hidetem = false;
                        this.validated = 1;
                        this.delete_row_test=false;
                        this.show_achiv =true;
                        this.hide_achiv = false;
    
                    })
                    .catch(error=>{
                        this.errors=error.errors;
                   })
                    
               // }).catch(() => {
            //         console.log("error");
            //          $('html, body').animate({
            //             scrollTop: ($('.errorachive .form-control-feedback').first().offset().top - 80)
            //         },1000);
            //         return false
                    
            //     }); 
            }
        },
        created(){
            if( this.academics != null ){
                for( let i = 0; i < this.academics.length; i++ ){
                    // this.add_sport();
                    this.total = this.total + 1;
                }
            }
        },
    }
</script>