<template>
    <div>
        <input type="hidden" id="athletic_ach" :value="saved" />
            <h3>athletic achievements
                <a v-if="total > 0" @click="editForm" v-show="saved" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
                <a v-if="total > 0" v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Cancel</span></a>
                <a v-if="total > 0" v-show="editing" @click="submitData" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save</span></a>
                <span class="saving" v-show="saving"><img src="/images/spin.gif" /></span>
                <span class="small">Please enter your best achievements newest to oldest. Coaches will be viewing this, so check for typos & professionalism.</span>
            </h3>
            <div class="inner-content" v-for="( n, index ) in total" :class="add_class(index, academics.length)">
                <div class="row">
                    <div class="relative achive">
                    <a  class="edit" v-show="delete_row_test" @click="deleterow(index)" ><i class="fa fa-trash-o" aria-hidden="true"></i><span>Delete</span></a>

                    <form>

                        <div class="col-md-8"><label>ACHIEVEMENT</label>
                            <p v-show="show_achiv" class="content-achi">{{academics[index]['athleticname']}}</p>
                            <div v-show="hide_achiv">
                            <textarea  :name="'athletic'+index+'athleticname'" v-validate="'required'"  data-vv-as="Achievement Name"  v-model="academics[index]['athleticname']" :disabled="validated == 1 ? true : false"/></textarea>
                             </div>
                                <!-- 
                                <select @change="get_title( $event.target.value,index )" v-model="academics[index]['athleticname']" :disabled="validated == 1 ? true : false">
                                <option value="null">Select Achievements</option>
                                <option v-for="achivement_athletes in achivement_athlete" :value="achivement_athletes" >{{achivement_athletes}}</option>
                                <option value="other">Other</option>
                                </select> -->
                        </div> 
                     

                       <div class="col-md-4">
                          <label class="typo__label">Select Year</label>
                            <multiselect :disabled="validated == 1 ? true : false" :show-labels="true" v-model="academics[index]['years']" :options="options" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" placeholder="Select Year" label="name" track-by="name">
                            <template  slot="tag" scope="props"><span class="custom__tag"><span>{{ props.option.language }}</span><span v-show="hidetem" class="custom__remove" @click="props.remove(props.option)">x</span></span></template>
                           </multiselect>
                       </div> 
                        <div class="clear"></div>

                      <!--   <div  v-show="newachive" v-if=" academics[index]['athleticname'] == 'other' " class="col-md-12"><label>Add New ACHIEVEMENT</label> <input  type="text" :name="'athletic'+index+'newachive'" v-model="academics[index]['newachive']"/> </div>  -->
                            
<!--                         <div class="col-md-4"><label>Tournament</label> <input type="text"  :name="'athletic'+index+'tournamentname'" v-validate="'required'"  data-vv-as="Tournament Name"  v-model="academics[index]['school']" :disabled="validated == 1 ? true : false"/></div> 
 -->                        
                      <!--   <div class="col-md-6"><label>Tournament NAME</label> <input  type="text" :name="'athletic'+index+'tournament'" v-validate="'required'"  data-vv-as="Tournament Name"  v-model="academics[index]['tournamentname']" :disabled="validated == 1 ? true : false"/> </div>  
                        <div class="col-md-6 champrun">
                        <p class="champion-class" v-show="beforesave">{{academics[index]['champ_run']}}</p>
                            <ul style="width:100%" class="checkbox" v-show="editing">
                           
                                    <li>
                                        <input type="radio" value="champion" name="cha" v-model="academics[index]['champ_run']"/>
                                        <label>Champion</label>
                                    </li>
                                    <li>
                                        <input type="radio" value="runner up" name="cha" v-model="academics[index]['champ_run']"/> 
                                        <label>Runner Up</label>
                                    </li>
                                   
                            </ul>       
                        </div> -->
                       <!--  <div class="col-md-4"><label>Years</label>
                            <select :name="'athletic'+index+'years'" :yearshow="validated == 1 ? false : true" v-validate="'required|numeric'"  data-vv-as="Years" v-model="academics[index]['year1']" :disabled="validated == 1 ? true : false">
                                <option value="null">Select Year</option>
                                <option v-for="yearac in yearacn" :value="yearac" >{{yearac}}</option>
                            </select>
                        </div>  -->
                    </form> 
                
                <div class="clear"></div>
                <hr class="light" />
                </div>
            </div>
            </div>
            <button class="btn light big" @click="add_sport">Add Athletic Achievement</button>
        </div>
    
  
</template>

<script>
  import Multiselect from 'vue-multiselect'

    export default{
        props: ['sportsdata','yearac','yearacn','achivement_athlete'],
        data(){
            return {
                newachive:true,
                show_achiv:true,
                hide_achiv:false,
                value: null,
                options: this.yearac,
                validated: 1,
                editing: false,
                hidetem:false,
                saved: true,
                saving: false,
                beforesave:true,
               
                delete_row_test:false,
                sports: this.allsports,
                academics: this.arrayCreate( this.sportsdata ),
                total: this.totalCount( this.sportsdata ),
                fields: []
            }
        },
        components: { Multiselect },
        methods:{
           arrayCreate: function( r_data = null ){
              
                if( r_data == null ){
                    return new Array();
                }else{
                    if( r_data == '' ){
                        return new Array();
                    }else if( Array.isArray(r_data)){
                      
                        return r_data;
                    }else{
                        return JSON.parse( r_data );
                    }
                }
            },
            get_title(achivmment,indexpostion){


                if(achivmment !='null' && achivmment == 'other' ){

                    this.newachive = true;
                }

                // }else{

                //     $('[name="athletic'+indexpostion+'newachive"]').val(achivmment);
                // }

            },
            callbackMethod: function(){
                
                console.log(this.tagsArray);

            },
            
            deleterow: function(data){
                this.total = this.total - 1;
                this.academics.splice(data,1);   
                 this.$validator.validateAll().then(() => {
                    
                    }).catch(() => {
                        this.errors.clear();
                        return false
                    });
                if(this.academics.length == 0){
                
                    axios.post( '/profile', { athletic_achievements: this.academics } )
                    .then(response=>{
                        console.log(response);
                    move(response.data);
                    // this.editing = false;
                    // this.saved = true;
                    // this.saving = false;
                    // this.beforesave = true;
                    // this.validated = 1;
                    // this.delete_row_test=false;
                    // this.hidetem = false;
                    // this.newachive = false;
                        
                    })
                    .catch(error=>{
                        console.log(error);
                        this.errors=error.errors;
                    })
                }
                
            },
            totalCount: function( data = null ){
                if( data == null ){
                    return 0;
                }else{
                    // if( data == '' ){
                        return 0;
                    // }else{
                    //  let rx_data = JSON.parse( data );
                    //  return parseInt(rx_data.length) - 1;
                    // }
                }
            },
            add_sport: function(){
                // console.log('Add Sport');
                Vue.set( this.academics, parseInt(this.total), {athleticname:'',year1:'null'} );
                // this.academics[ this.total + 1 ] = {};
                this.total = this.total + 1;
                this.fields[ this.total ] = {};
                this.editForm();

            },
            check: function( value ){
                if( value == 'undefined' ){
                    return '';
                }
            },
            cancel: function(){
                this.total = 0;
                this.academics = this.arrayCreate( this.sportsdata );
                if( this.academics != null ){
                    for( let i = 0; i < this.academics.length; i++ ){
                        this.total = this.total + 1;
                    }
                }
                this.newachive = false;
                this.beforesave = true;
                this.editing = false;
                this.saved = true;
                this.hidetem = false;
                this.validated = 1;
                this.delete_row_test=false;
                this.show_achiv =true;
                this.hide_achiv = false;
            },add_class( i, x ){
                console.log( i );
                console.log( x );
                var x = x - 1;
                if( i == x && this.editing == true){
                    return "highlight";
                }else{
                    return "";
                }
            },
            editForm: function(){
                    this.validated = 0;
                this.editing = true;
                this.saved = false;
                this.delete_row_test=true;
                this.hidetem = true;
                this.beforesave = false;
                this.show_achiv =false;
                this.hide_achiv = true;
            },
            submitData(){
                // this.$validator.validateAll().then(() => {
                    this.editing = false;
                    this.saved = false;
                    this.saving = true;
                axios.post( '/athletic_achievements', { athletic_achievements: this.academics } )
                .then(response=>{
                    this.sportsdata = this.academics;

                   move(response.data['prog']);

                    this.achivement_athlete = response.data['achive'];
                    var jsondata = response.data['value'];
                   // this.academics = this.arrayCreate( jsondata ),

                    // var jsondata = response.data['value'];
                    //console.log(jsondata);
                    for(var k = 0; k < jsondata.length; k++) {
                        console.log(jsondata[k]);
                        Vue.set( this.academics, k ,jsondata[k]);
                        
                    }
                    //console.log(response.data['achive']);
                    // for(var i = 0; i < json.length; i++) {


                    //     this.achivement_athlete.push(json[i]);

                    // }   
                    this.editing = false;
                    this.saved = true;
                    this.saving = false;
                    this.beforesave = true;
                    this.validated = 1;
                    this.delete_row_test=false;
                    this.hidetem = false;
                    this.newachive = false;
                    this.show_achiv =true;
                    this.hide_achiv = false;
                    })
                    .catch(error=>{
                        this.errors=error.errors;
                   })
            }
        },
        created(){
            if( this.academics != null ){
                for( let i = 0; i < this.academics.length; i++ ){
                    // this.add_sport();
                    this.total = this.total + 1;
                }
            }
        },
    }
</script>