<template>
    <div>
        <input type="hidden" id="awards" :value="saved" />
            <h3>Coaches Awards
                <a v-if="total > 0" @click="editForm" v-show="saved" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
                <a v-if="total > 0" v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Cancel</span></a>
                <a v-if="total > 0" v-show="editing" @click="submitData" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save</span></a>
                <span class="saving" v-show="saving"><img src="/images/spin.gif" /></span>
                
            </h3>
            <div class="inner-content"  v-for="( n, index ) in total" :class="add_class(index, academics.length)">
                <div class="row">
                    <div class="relative awards">
                        <a class="edit"  v-show="delete_row_test" @click="deleterow(index)" ><i class="fa fa-trash-o" aria-hidden="true"></i><span>Delete</span></a>
                        <form>
                                <div class="col-md-4">
        						<label>Award type</label>
                                <select class="js-example-basic-single" :yearshow="validated == 1 ? true : false" :name="'awards'+index+'awardtype'"  v-model="academics[index]['type']" :disabled="validated == 1 ? true : false">
                                    <option value="null">Select Award</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                                </div>
                                <div class="col-md-4"><label>Award Name</label> <input type="text" :name="'awards'+index+'name'" v-validate="'required'"  data-vv-as="Name" v-model="academics[index]['name']" :disabled="validated == 1 ? true : false"/></div>
                                
                                <div class="col-md-4"><label>Add Year</label>
                                    <select :name="'awards'+index+'year'" :yearshow="validated == 1 ? true : false" v-validate="'required|numeric'"  data-vv-as="Years" v-model="academics[index]['year']" :disabled="validated == 1 ? true : false">
                                    <option value="null">Select Year</option>
                                    <option v-for="yearac in yearac" :value="yearac" >{{yearac}}</option>  
                                    </select>
                               </div> 
                                
                                <div class="col-md-6"><label>School Name</label> <input type="text" :name="'awards'+index+'school'" v-validate="'required'"  data-vv-as="School"  v-model="academics[index]['school']" :disabled="validated == 1 ? true : false"/> </div> 
                                <div class="col-md-6"><label>Coach name</label> <input type="text" :name="'awards'+index+'coachname'" v-validate="'required'"  data-vv-as="CoachName" v-model="academics[index]['coachname']" :disabled="validated == 1 ? true : false"/>
                                </div> 
                        </form>
                        <div class="clear"></div>
                        <hr class="light" />
                </div>
            </div>
            </div>
                <button class="btn light big" @click="add_sport">Add New Award</button>
               
    
    </div>
</template>

<script>
    export default{
    	props: ['sportsdata','yearac'],
        data(){
            return {
            	validated: 1,
				editing: false,
				yearac : this.yearac,
				saved: true,
				saving: false,
				delete_row_test:false,

				sports: this.allsports,
				academics: this.arrayCreate( this.sportsdata ),
				total: this.totalCount( this.sportsdata ),
				fields: []
			}
		},
        methods:{
        	arrayCreate: function( r_data = null ){
              
                if( r_data == null ){
                    return new Array();
                }else{
                    if( r_data == '' ){
                        return new Array();
                    }else if( Array.isArray(r_data)){
                      
                        return r_data;
                    }else{
                        return JSON.parse( r_data );
                    }
                }
            },
        	deleterow: function(data){
        	     this.total = this.total - 1;
                this.academics.splice(data,1); 
                this.$validator.validateAll().then(() => {
                
                }).catch(() => {
                    this.errors.clear();
                    return false
                });
                 if(this.academics.length == 0){
                         axios.post( '/profile', { awards: this.academics } )
                        .then(response=>{
                            console.log(response);
                            move(response.data);
                            
                        })
                        .catch(error=>{
                            console.log(error);
                            this.errors=error.errors;
                        })
                 }
            },
        	totalCount: function( data = null ){
        		if( data == null ){
        			return 0;
				}else{
        			// if( data == '' ){
        				return 0;
        			// }else{
        			// 	let rx_data = JSON.parse( data );
	        		// 	return parseInt(rx_data.length) - 1;
        			// }
        		}
        	},add_class( i, x ){
                console.log( i );
                console.log( x );
                var x = x - 1;
                if( i == x && this.editing == true){
                    return "highlight";
                }else{
                    return "";
                }
            },
            add_sport: function(){
            	// console.log('Add Sport');
            	Vue.set( this.academics, parseInt(this.total), {year:'',type:'null'} );
                // this.academics[ this.total + 1 ] = {};
                this.total = this.total + 1;
                this.fields[ this.total ] = {};
                this.editForm();
            },
            check: function( value ){
                if( value == 'undefined' ){
                    return '';
                }
            },
            cancel: function(){
	        	this.total = 0;
	        	this.academics = this.arrayCreate( this.sportsdata );
                if( this.academics != null ){
    	        	for( let i = 0; i < this.academics.length; i++ ){
    	        		this.total = this.total + 1;
    		    	}
            	}
	            this.editing = false;
	        	this.saved = true;
	        	this.validated = 1;
	        	this.delete_row_test=false;
	        },
	        editForm: function(){
	            	this.validated = 0;
	            this.editing = true;
	            this.saved = false;
	            this.delete_row_test=true;
	        },
	        submitData(){
	           // this.$validator.validateAll().then(() => {
	                this.editing = false;
	                this.saved = false;
	                this.saving = true;
	            axios.post( '/profile', { awards: this.academics } )
	            .then(response=>{
                    this.sportsdata = this.academics;
	                move(response.data);
	                this.editing = false;
	                this.saved = true;
	                this.validated = 1;
	                this.saving = false;
	                this.delete_row_test=false;

    	            })
    	            .catch(error=>{
    	                this.errors=error.errors;
    	           })
	           // }).catch(() => {
            //         console.log("error");
            //           $('html, body').animate({
            //             scrollTop: ($('.awards .form-control-feedback').first().offset().top - 80)
            //         },1000);
            //         return false
                    
            //     }); 
	        }
        },
        created(){
        	if( this.academics != null ){
	        	for( let i = 0; i < this.academics.length; i++ ){
	        		// this.add_sport();
	        		this.total = this.total + 1;
	        	}
        	}
        },
    }
</script>