<template>
    <div>
        <input type="hidden" id="testimonials" :value="saved" />
        <h3>Reference Letter
            <a v-if="total > 0" @click.prevent="editForm" v-show="saved" class="edit" href="#"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
           
            <a v-if="total > 0" v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Cancel</span></a>
            <a v-if="total > 0" v-show="editing" @click="submitData" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save</span></a>
            <span class="saving" v-show="saving"><img src="/images/spin.gif" /></span>
            
            <span class="small">Please Enter Your Reference Letters Below. Coaches Will Be Viewing This, So Check For Typos & Professionalism.</span>
        </h3>
            
        <div class="inner-content" v-for="( n, index ) in total" :class="add_class(index, testimonails.length)">
            <form>
                <div class="">
                    <div class="row">
                        <div class="relative testmonials">
                            <a class="edit" v-show="delete_row_test" @click="deleterow(index)" ><i class="fa fa-trash-o" aria-hidden="true"></i><span>Delete</span></a>
                            <div class="col-md-12">
                                <label v-show="hide-content">Testimonial</label>
                                <div v-show="editing">
                                <!-- <vue-editor :id="'testimonials'+index+'content'" v-model="testimonails[index]['testimonail']" :disabled="false" :editorToolbar="customToolbar"></vue-editor> -->
                                    <textarea :id="'testimonials'+index+'content'"  v-model="testimonails[index]['testimonail']" :name="'testimonials'+index+'content'" :disabled="false" ></textarea>
                                </div>
                               <span class="testimonial-text" v-html="testimonails[index]['testimonail']" :name="'testimonials'+index+'content'" v-show="saved">{{ testimonails[index]['testimonail'] }}</span>
                            </div>
                            <div v-show="hide-content" class="col-md-4">
                                <label>Select Year</label>
                                <multiselect :disabled="validated == 1 ? true : false" :show-labels="true" v-model="testimonails[index]['year']" :options="options" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" placeholder="Select Years" label="name" track-by="name">
                            <template  slot="tag" scope="props"><span class="custom__tag"><span>{{ props.option.language }}</span><span v-show="hidetem" class="custom__remove" @click="props.remove(props.option)">x</span></span></template>
                            </multiselect>
                               <!--  <select :name="'testimonials'+index+'year'"  :yearshow="validated == 1 ? true : false"  data-vv-as="Years" v-model="testimonails[index]['year']" :disabled="validated == 1 ? true : false">
                                <option value="null">Select Year</option>
                                <option v-for="yearac in yearac" :value="yearac" >{{yearac}}</option>

                                </select> -->
                            </div>
                            <div l v-show="hide-content" class="col-md-4">
                                <label>Coach Name</label>
                                <input type="text" v-model="testimonails[index]['coach']"   data-vv-as="Coachname" :name="'testimonials'+index+'coachname'" :disabled="validated == 1 ? true : false">
                            </div>
                                <div l v-show="hide-content" class="col-md-4">
                                <label>Coach email address</label>
                                <input type="email" v-model="testimonails[index]['email']" v-validate="'email'"  data-vv-as="Email" :name="'testimonials'+index+'coachaddress'" :disabled="validated == 1 ? true : false">
                                <span class="form-control-feedback" v-if="errors.has('testimonials'+index+'coachaddress')">{{errors.first('testimonials'+index+'coachaddress')}}</span>
                            </div>
                        </div>
                        <hr class="light" />
                    </div> 
                </div>
             </form>
        </div>
        <button class="btn light big" @click.prevent="add_sport">Add Reference Letter</button>
        
    </div>
</template>

<script>
// import { VueEditor } from 'vue2-editor';
import Multiselect from 'vue-multiselect'

    export default{
        props: ['sportsdata','yearac'],
        components: {
             Multiselect
        },
        data(){
            return {
                delete_row_test:false,
                validated: 1,         
                yearac : this.yearac,
                options: this.yearac,
                hidetem:false,
                editing: false,
                saved: true,
                saving: false,
                sports: this.allsports,
                testimonails: this.arrayCreate( this.sportsdata ),
                total: this.totalCount( this.sportsdata ),
                fields: []
            }
        },
        methods:{
            arrayCreate: function( r_data = null ){
              
                if( r_data == null ){
                    return new Array();
                }else{
                    if( r_data == '' ){
                        return new Array();
                    }else if( Array.isArray(r_data)){
                      
                        return r_data;
                    }else{
                        return JSON.parse( r_data );
                    }
                }
            },
            totalCount: function( data = null ){
                if( data == null ){
                    return 0;
                }else{
                    return 0;
                }
            },add_class( i, x ){
                console.log( i );
                console.log( x );
                var x = x - 1;
                if( i == x && this.editing == true){
                    return "highlight";
                }else{
                    return "";
                }
            },
            deleterow: function(data){
                this.total = this.total - 1;
                this.testimonails.splice(data,1);  
                this.$validator.validateAll().then(() => {
                
                }).catch(() => {
                    this.errors.clear();
                    return false
                });
                 if(this.testimonails.length == 0){
                    axios.post( '/profile', { testimonails: this.testimonails } )
                    .then(response=>{
                        console.log(response);
                        move(response.data);
                       
                    })
                    .catch(error=>{
                        console.log(error);
                        this.errors=error.errors;
                    })
                 }
            },
            add_sport: function(){
                Vue.set( this.testimonails, parseInt(this.total), {year:''} );
                this.total = this.total + 1;
                this.fields[ this.total ] = {};
                this.editForm();
            },
            check: function( value ){
                if( value == 'undefined' ){
                    return '';
                }
            },
            cancel: function(){
                this.total = 0;
                this.testimonails = this.arrayCreate( this.sportsdata );
                if( this.testimonails != null ){
                    for( let i = 0; i < this.testimonails.length; i++ ){
                        this.total = this.total + 1;
                    }
                }
                this.editing = false;
                this.saved = true;
                this.hidetem = false;
                this.validated = 1;
                this.delete_row_test=false;

            },
            editForm: function(){
                this.validated = 0;
                this.editing = true;
                this.saved = false;
                this.hidetem = true;
                this.delete_row_test=true;

            },
            submitData(){
                this.$validator.validateAll().then(() => {
                    this.editing = false;
                    this.saved = false;
                    this.saving = true;
                axios.post( '/profile', { testimonails: this.testimonails } )
                .then(response=>{
                    this.sportsdata = this.testimonails;
                    move(response.data);
                    this.editing = false;
                    this.saved = true;
                    this.saving = false;
                    this.hidetem = false;
                    this.validated = 1;
                    this.delete_row_test=false;

                })
                .catch(error=>{
                    this.errors=error.errors;
               })
                 }).catch(() => {
                    console.log("error");
                     $('html, body').animate({
                        scrollTop: ($('.testmonials .form-control-feedback').first().offset().top - 80)
                    },1000);
                    return false
                    
                }); 
            }
        },
        created(){
            if( this.testimonails != null ){
                for( let i = 0; i < this.testimonails.length; i++ ){
                    this.total = this.total + 1;
                }
            }
        }
    }
</script>