/* Breakpoints*/
$mobile:			360px !default;
$mobile-large:		544px !default;

$tablet:			768px !default;
$tab:				992px !default;
$tablet-large:		1024px !default;

$desktop-main:      1199px !default;
$desktop:			1170px !default;
$desktop-medium:	1440px !default;
$desktop-large:		1500px !default;