<template>
    <div :class="'row '+conponentdetails.class">
        <div class="col-md-12">
            <label>{{ componentdata.display_name }} <small v-if="typeof(conponentdetails.units) != 'undefined'">({{conponentdetails.units}})</small><span v-if="typeof(conponentdetails.instructions) != 'undefined'">{{ conponentdetails.instructions }}</span></label>
            <p class="radiobutton" style="font-weight:normal" v-show="hideedit">{{value}}</p>

            <ul class="checkbox">
                <li v-show="inputedit" v-for="(value1, key) in options">
                    <input type="radio" :value="key" v-model="value" class="" :name="componentdata.key"  @click="updateCode( $event.target.value )" :disabled="validated == true ? true : false"/>
                    <label>{{value1}}</label>
                </li>
            </ul>
        </div> 
    </div>
</template>

<script>
    export default{
        props: ['data', 'content', 'disabled'],
        data(){
            return{
                  inputedit:false,
                hideedit:true,
                componentdata: this.data,
                validated : this.disabled,
                conponentdetails: this.existance_check( JSON.parse( this.data.details ) ),
                options: this.getOptions( JSON.parse( this.data.details ) ),
                value: ""
            }
        },
        watch : {
            data: function(val){
                this.componentdata = val;
                this.validated = this.disabled;
                this.conponentdetails = this.existance_check( JSON.parse( val.details ) );
                this.options = this.getOptions( JSON.parse( val.details ) );
                this.value = "";
            },
            disabled: function(val){
                if( val == true ){
                    this.validated = true;
                    this.inputedit = false;
                    this.hideedit = true;
                   
                }else{
                    this.validated = false;
                    this.inputedit = true;
                    this.hideedit = false;
                    
                }
            },
            content : function (new_prop) {
                let field = this.componentdata.key;
                if( new_prop != null ){
                    let field_value = new_prop[field];
                    this.value = field_value;
                }
            }
        },
        methods: {
            updateCode: function( val ){
                // console.log( val );
                this.$emit( 'input', val );
            },
            getOptions: function( details ){
                if( details == null ){
                    return {};
                }else{
                    // console.log( details );
                    return details.options;
                }
            },
            existance_check: function( details ){
                if( details == null ){
                    return {};
                }else{
                    return details;
                }
            }
        },
        created(){
            let field = this.componentdata.key;
            if( this.content != null ){
                let field_value = this.content[field];
                this.value = field_value;
            }
        },
    }
</script>
