<template>
    <div :class="'row '+conponentdetails.class">
        <div class="col-md-12">
            <label>{{ componentdata.display_name }} <small v-if="typeof(conponentdetails.units) != 'undefined'">({{conponentdetails.units}})</small><span v-if="typeof(conponentdetails.instructions) != 'undefined'">{{ conponentdetails.instructions }}</span></label>
            <select v-model="value" class="" :name="componentdata.key" @change="updateCode( $event.target.value )" :disabled="validated == true ? true : false">
                <option value=''>Select One</option>
                <option v-for="(value1, key) in options" :value="key">{{ value1 }}</option>
            </select>
        </div> 
    </div>
</template>

<style scoped>
    select{
        width: 100%;
        border: 1px solid #d2d1d1;
        border-radius: 3px;
        padding: 14px 14px;
        margin: 0 0 20px 0;
        background: transparent;
        height: 48px;
    }
</style>

<script>
    export default{
        props: ['data', 'content', 'disabled'],
        data(){
            return{
                componentdata: this.data,
                validated : this.disabled,
                conponentdetails: this.existance_check( JSON.parse( this.data.details ) ),
                options: this.getOptions( JSON.parse( this.data.details ) ),
                value: ''
            }
        },
        watch: {
            data: function(val){
                this.componentdata = val;
                this.validated = this.disabled;
                this.conponentdetails = this.existance_check( JSON.parse( val.details ) );
                this.options = this.getOptions( JSON.parse( val.details ) );
                this.value = '';
            },
            disabled: function(val){
                if( val == true ){
                    this.validated = true;
                }else{
                    this.validated = false;
                }
            },
            content: function(new_prop){
                let field = this.componentdata.key;
                if( new_prop != null ){
                    let field_value = new_prop[field];
                    if( typeof(field_value) == 'undefined' ){
                        this.value = '';
                    }else{
                        this.value = field_value;
                    }
                }else{
                    this.value = '';
                }
            }
        },
        methods: {
            updateCode: function( val ){
                // console.log( val );
                this.$emit( 'input', val );
            },
            getOptions: function( details ){
                if( details == null ){
                    return {};
                }else{
                    // console.log( details );
                    return details.options;
                }
            },
            existance_check: function( details ){
                if( details == null ){
                    return {};
                }else{
                    return details;
                }
            }
        },
        created(){
            let field = this.componentdata.key;
            if( this.content != null ){
                let field_value = this.content[field];
                if( typeof(field_value) == 'undefined' ){
                    this.value = '';
                }else{
                    this.value = field_value;
                }
            }else{
                this.value = '';
            }
        },
    }
</script>
