<template>
    <!-- <div class="row"> -->
        <div :class="'' + component_details.class">
            <div class="slider col-md-12">
                <label>{{ component_data.display_name }} </label>
                <div class="progress-bar">
                <span>{{min}}</span><input type="range" :min="min" :max="max" v-model="value" name="" :disabled="validated == true ? true : false"/><span>{{max}}</span>  {{ value }} {{units}}
                </div>
            </div>
        </div>
    <!-- </div> -->
</template>
<script>
    export default{
        props: ['data', 'content', 'disabled'],
        data(){
            return{
                component_data: this.data,
                validated : this.disabled,
                component_details: this.existance_check( JSON.parse( this.data.details ) ),
                value: this.type_checker( JSON.parse( this.data.details ) ),
                min: this.min_check( JSON.parse( this.data.details ) ),
                max: this.max_check( JSON.parse( this.data.details ) ),
                units: this.get_units( JSON.parse( this.data.details ) )
            }
        },
        methods: {
            get_units: function( detail_is ){
                return detail_is.units;
            },
            sendValue: function(){
                console.log( 'asdas' );
            },
            min_check: function( detail_is ){
                return detail_is.input.min;
            },
            max_check: function( detail_is ){
                return detail_is.input.max;
            },
            type_checker: function( detail_is ){
                if( detail_is.type == 'single' ){
                    let field = this.data.key;
                    if( this.content != null && this.content[field] != 'undefined' ){
                        let field_value = this.content[field];
                        return field_value;
                    }else{
                        return detail_is.input.min;
                    }
                }else{
                    return [ detail_is.input.min, detail_is.input.max ];
                }
            },
            checkLength: function( detail ){
                if( detail == null ){
                    return 0;
                }else{
                    return detail.inputs.length;
                }
            },
            existance_check: function( details ){
                if( details == null ){
                    return new Array();
                }else{
                    return details;
                }
            },
            resett(){
                this.$refs.slider.refresh();
            }
        },
        mounted(){
 
        },
        watch: {
            data: function(val){
                this.component_data = val;
                this.validated = this.disabled;
                this.component_details = this.existance_check( JSON.parse( val.details ) );
                this.value = this.type_checker( JSON.parse( val.details ) );
                this.min = this.min_check( JSON.parse( val.details ) );
                this.max = this.max_check( JSON.parse( val.details ) );
                this.units = this.get_units( JSON.parse( val.details ) )
            },
            disabled: function(val){
                if( val == true ){
                    this.validated = true;
                }else{
                    this.validated = false;
                }
            },
            'value': function(val, oldVal){
                this.$emit( 'input', val );
            },
            content : function (new_prop) {
                let field = this.component_data.key;
                if( new_prop != null && new_prop[field] != 'undefined' ){
                    let field_value = new_prop[field];
                    this.value =  field_value;
                }
                // console.log('coupon changed to '+value);
            }
        }
    }
</script>