<template>
    <div :class="'row '+conponentdetails.class">
        <div class="col-md-12">
    		<label>{{ componentdata.display_name }} <small v-if="typeof(conponentdetails.units) != 'undefined'">({{conponentdetails.units}})</small><span v-if="typeof(conponentdetails.instructions) != 'undefined'">{{ conponentdetails.instructions }}</span></label>
        	
        	<div v-if="parseInt( componentLength ) > 0">
            	<div v-for="input in conponentdetails.inputs">
            		<input  v-if="input.name" :data-vv-as="input.unit" v-validate="'required'"  type="text" :name="componentdata.key+'_'+input.name" :disabled="validated == true ? true : false">
            		<sub v-if="input.unit">{{ input.unit }}</sub>
        	    </div>
    	    </div>
    	    <div v-else >
        		<input v-model="value" type="text" :data-vv-as="componentdata.display_name" v-validate="'required'" :name="componentdata.key" @input="updateCode( $event.target.value )" :disabled="validated == true ? true : false">
        	</div>
        	
    	</div>
	</div>
</template>
<script type="text/javascript">
    export default{
        props: ['data', 'content', 'disabled'],
        data(){
            return{
                componentdata: this.data,
                validated : this.disabled,
                conponentdetails: this.existance_check( JSON.parse( this.data.details ) ),
                componentLength: this.checkLength( JSON.parse( this.data.details ) ),
                value: ''
            }
        },
        watch : {
            disabled: function(val){
                if( val == true ){
                    this.validated = true;
                }else{
                    this.validated = false;
                }
            },
            content : function (new_prop) {
                // console.log( new_prop );
                let field = this.componentdata.key;
                // console.log( field );
                if( new_prop != null ){
                    let field_value = new_prop[field];
                    // console.log( field_value );
                    this.value = field_value;
                }
                // console.log('coupon changed to '+value);
            },
            data: function(val){
                this.componentdata = val;
                this.validated = this.disabled;
                this.conponentdetails = this.existance_check( JSON.parse( val.details ) );
                this.componentLength = this.checkLength( JSON.parse( val.details ) );
                this.value = '';
            }
        },
        methods: {
            updateCode: function( value ){
                // this.$validator.validateAll().then(() => {
                    this.$emit( 'input', value );
                // }).catch(() => {
                //     console.log("error");
                //     return false
                    
                // });
            },
            checkLength: function( detail ){
                if( detail == null ){
                    return 0;
                }else{
                    if( typeof(detail.inputs) == 'undefined' ){
                        return 0;
                    }else{
                        return detail.inputs.length;
                    }
                }
            },
            existance_check: function( details ){
                if( details == null ){
                    return new Array();
                }else{
                    return details;
                }
            }
        },
        created(){
            let field = this.componentdata.key;
            if( this.content != null ){
                let field_value = this.content[field];
                this.value = field_value;
            }
            // console.log( field_value );
        },
    }
</script>