
$font-path: '../fonts' !default;

@font-face {
	font-family: 'BebasNeue';
	src: url('#{$font-path}/BebasNeue.eot');
	src: local('☺'), 
		url('#{$font-path}/BebasNeue.woff2') format('woff2'),
	 	url('#{$font-path}/BebasNeue.ttf') format('truetype'),
	 	url('#{$font-path}/BebasNeue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


$bebas-font: 	'BebasNeue';
