.dataTables_wrapper{
    .row{
        td{
            text-transform: capitalize;
            word-break: break-all;
            @media (max-width: 991px){
                padding: 6px 4px;
                width: 290px;
                font-size: 12px;
                img {
                    width: 60px !important;
                }
            }
        }
    }
}
a.url-link {
    color: #22a7f0;
}

.popup-verlay {
    background: rgba(0,0,0,0.6);
    height: 100%;
    position: fixed;
    width: 100%;
    display: block;
    left: 0;
    top: 0;
    z-index: 9999;
}

.panel{
    &-heading{
        h3.panel-title {
            background: #545454;
            color: #fff;
        }
    }
    &-body{
        .form-group{
            label {
                font-size: 16px;
                color: #333;
                font-weight: bold;
                margin: 0 0 7px 0;
            }
            input[type="text"], input[type="file"], select {
                background: #f1f1f1;
                padding: 9px 13px;
                border-radius: 0;
                border: 1px solid #f1f1f1;
                margin: 0 0 10px 0;
                height: 40px;
            }
            textarea{
                background: #f1f1f1;
                padding: 9px 13px;
                border-radius: 0;
                border: 1px solid #f1f1f1;
                margin: 0 0 10px 0;
            }
            .select2-container{
                span.select2-selection {
                    background: #f1f1f1;
                    padding: 2px 4px;
                    border-radius: 0;
                    border: 1px solid #f1f1f1;
                    margin: 0 0 10px 0;
                    height: 40px;
                }
            }
        }
    }
    &.popup {
        position: fixed;
        top: 9%;
        z-index: 99999;
        left: 0;
        right: 0;
        max-width: 640px;
        margin: 0 auto;
        padding: 20px 0;
        transform: translate(0, -5%);
        .panel-heading.new-setting {
            display: none;
            
        }
        form{
            .col-md-3 {
                width: 50%;
                margin: 0 0 10px 0;
            }
        }
    }
}

.flat-blue{
    .right-box{
        &.school-lists{
            label {
                font-weight: 300;
                float: left;
                width: 100%;
                padding: 0 15px;
            }
            input.btn {
                margin: 0;
            }
        }
    }
    .side-body{
        .btn{
            &.btn-warning.fetch-btn {
                background-color: #FABE28;
                color: #FFF;
                border-color: #FABE28;
                margin: 33px 0 0 0;
            }
        }
    }
    .dataTables_wrapper{
        .table{
            th.sorting {
                background: #545454;
                color: #fff;
            }
        }
    }
}

.navbar .dropdown.profile .dropdown-menu h6{
    text-align: left;
}

.page-content{
    form#paymentsSearch {
        background: #ececec;
        margin: 0 0 22px 0;
        padding: 20px 20px 30px 20px;
        .row {
            display: inline-block;
            vertical-align: top;
            margin: 0;
            .col-md-4, .col-md-3 {
                margin: 0;
                width: auto;
                padding: 0;
            }
            input.btn, .btn {
                margin: 0px 4px 0 4px;
            }
        }
        select {
            height: 36px;
            border-color: #ccc;
            background: #fff;
        }
    }
}
table.payment-history {
    width: 100%;
    td {
        padding: 10px 10px;
        text-align: center;
        font-size: 15px;
        color: #656565;
        border: 1px solid #ccc;
    }
    th {
        background: #333;
        color: #fff;
        padding: 10px 10px;
        font-size: 15px;
        border-left: 1px solid #636363;
        text-align: center;
    }   
    th:first-child {
        text-align: left;
    }
    td:first-child {
        text-align: left;
        // border-left: 0px;
    }
}

.form-css{
    .row > [class*="col-"] {
        margin: 0 0 9px 0;
    }  
    table.table{
        th {
            vertical-align: top;
            width: 100px !important;
            &:nth-child(1), &:nth-child(2) {
                width: 60px !important;
            }
        }
    }
    .btn {
        margin: 0 !important;
        vertical-align: top;
    }
    select{
        width: 100%;
        height: 34px;
        background: #fff;
        border: 1px solid #ccc;
    }
    #bread-actions{
        a {
            margin: 2px 2px !important;
        }
    }
}

select#user_select, select.graph_select {
    width: 100%;
    height: 45px;
    padding: 0 10px;
    margin: 10px 0 0 0;
}

.user_signin_row select{
    width: 100% !important;
    height: 45px !important;
    padding: 0 10px !important;
    margin: 10px 0 0 0 !important;
}

.coach-import-main a.coach_import {
    background: #333;
    color: #fff;
    padding: 10px 21px;
    display: inline-block;
    border-radius: 3px;
}

.side-body canvas {
    width: 100% !important;
}

.btn {
    &[type="submit"] {
        background: #73b1ec;
        color: #fff;
    }
}

@media (max-width: 1220px){
    .flat-blue .dataTables_wrapper .table th.sorting {
        font-size: 12px;
        padding: 8px 6px;
    }
}

@media (max-width: 991px){
    .table-responsive{
        overflow: inherit;
    }
}
