/*****************************
--------------------------
Header-style
--------------------------
*****************************/

header{
	&.main-header {
	    padding: 25px 30px;
	    text-align: center;
	    float: left;
	    width: 100%;
	    border-bottom: 1px solid #e8e8e8;
	    z-index: 9999;
    	position: relative;
	    @include bp(mobile-max){
	    	padding: 20px 18px;
	    }
	    .main-menu{
	    	ul{
	    		li{
	    			display: inline-block;
	    			position: relative;
	    			@include bp(tab-max){
	    				margin: 6px 0 0 0;
	    			}
	    			a{
	    				padding: 16px 22px;
					    color: #000;
					    font-size: 22px;
					    display: inline-block;
					    font-family: $bebas-font;
					    font-weight: 500;
					    @media (max-width: 1480px){
					    	padding: 16px 14px;
					    }
					    @media (max-width: 1300px){
					    	padding: 15px 11px 13px 11px;
						    font-size: 21px;
					    }
					    @include bp(desktop-main){
					    	padding: 14px 14px;
						    font-size: 20px;
					    }
					    @include bp(tab-max){
					    	padding: 5px 14px;
						    color: #000;
						    font-size: 18px;
					    }
					    &:hover{
							color: #fe5045;
					    }
	    			}
	    			ul.childrens {
				        // position: absolute;
					    /* left: -6px; */
					    width: 100%;
					    /* top: 50px; */
					    box-shadow: 1px 6px 21px -9px #000;
					    /* transition: 0.3s ease-in-out; */
					    /* opacity: 0; */
					    /* display: none; */
					    /* transform: translate(0%, 19%); */
					    /* z-index: 99999; */
					    visibility: hidden;
					    opacity: 0;
					    position: absolute;
					    top: 100%;
					    left: -32%;
					    /* width: 100%; */
					    transform: translateY(-2em);
					    z-index: -1;
					    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
					    min-width: 180px;
					    li {
						    display: block;
						    a {
							    background: #fff;
							    border-top: 1px solid #ccc;
							    padding: 12px 0;
							    display: block;
							    color: #000;
							    &:hover {
								    background: #fe5045;
								    color: #fff;
								}
							}
							&:first-child{
								a{
									border-top: 0;
								}
							}
						}
					}
					&:hover{
						ul.childrens {
						    /* transform: translate(0%, 0%); */
						    transition: 0.3s ease-in-out;
						    opacity: 1;
						    /* display: block; */
						    visibility: visible;
						    opacity: 1;
						    z-index: 1;
						    transform: translateY(0%);
						    transition-delay: 0s, 0s, 0.3s;
						}
						
					}
					&.has-children{
	    				> a{
	    					&:after {
							    content: "\f107";
							    font-family: fontawesome;
							    position: absolute;
							    right: 4px;
							    font-size: 16px;
							    top: 21px;
							    @media (max-width: 1480px){
							    	right: 0px;
								    font-size: 16px;
								    top: 21px;
							    }
							    @media (max-width: 1300px){
							    	right: -3px;
								    font-size: 14px;
								    top: 20px;
							    }
							    @include bp(desktop-main){
							    	right: 3px;
								    top: 18px;
							    }
							    @include bp(tab-max){
									right: 0px;
								    font-size: 14px;
								    top: 8px;
							    }
							}
	    				}
	    			}
	    		}
	    	}
	    }
	    .logo {
		    text-align: left;
		    max-width: 100%;
		    @include bp(mobile-max){
			    width: 110px;
			    float: left;
		    }
		    img{
			    @include bp(tab-max){
					width: 100%;
					height: auto;
				}   	
		    }
		}
		div{
			&[class*="col-md-"] {
				@media (max-width: 1480px){
				    padding: 0;
				}
			}
		}
		.menu-top{
			&.mean-container {
			    position: absolute;
			    right: 0;
			    top: 86px;
			    width: 100%;
			    .mean-bar {
				    background: transparent;
				    padding: 0;
				    z-index: 999;
				    a.meanmenu-reveal {
					    margin: -61px 0 0 0;
					    background: linear-gradient(to right, #fd3542, #fd7647);
					    border-radius: 50px;
					    right: 16px !important;
					    padding: 11px 10px 8px 10px;
					    width: 23px;
					    height: 23px;
					}
					.mean-nav {
					    background: linear-gradient(to right, #fd3542, #fd7647);
					    margin: 0;
					    ul{
					    	li{
					    		a{
					    			padding: 11px 5%;
					    		}
					    		ul.childrens{
					    			li{
					    				a{
					    					padding: 11px 10%;
					    				}
					    			}
					    		}
					    	}
					    }
					    a.mean-expand {
						    height: 23px;
						    padding: 10px 11px !important;
						}
					}
				}
			}
		}
		.sign-up{
			text-align: right;
			padding: 0;
			@include bp(mobile-max){
    			width: 118px;
    			margin-right: 52px;
			}
			@include bp(mobile-p-max){
				width: auto;
			}
			ul{
				&.user_notifications {
				    display: inline-block;
				    vertical-align: middle;
				    position: absolute;
				    margin: 8px 0 0 -33px;
				    @include bp(desktop-main){
				    	margin: 3px 0 0 -33px;
				    }
				    a {
					    padding: 0;
					    top: 5px;
					    &:before{
					    	font-size: 0px;
					    }
					    @include bp(mobile-max){
					    	font-size: 15px;
    						top: 9px;
					    }
					    i {
						    border: none;
						    color: #333;
						    border-radius: 50%;
						    background: transparent;
						    padding: 7px 7px;
						    position: relative;
						    span.badge.notification-count {
							    position: absolute;
							    background: #fd5344;
							    border-radius: 50%;
							    padding: 2px 6px;
							    top: 0;
							    font-weight: 600;
							    right: 0;
							    color: #fff;
							    font-size: 11px;
							}
						}
					}
				}
				&.navbar-right {
				    display: inline-block;
				}
			}
			a {
			    margin: 4px 0;
			    padding: 13px 20px;
			    max-width: 210px;
			    text-align: center;
			    width: 100%;
			    position: relative;
			    @include bp(tab-max){
			    	margin: -3px 0;
				    padding: 13px 7px;
				    font-size: 12px;
			    }
			    @include bp(mobile-max){
			    	margin: 0px 0 1px 0;
					width: 100%;
			    }
			    @include bp(mobile-max){
			    	// width: 45px;
				    /* font-size: 0px; */
				    padding: 13px 11px;
			    	&.btn.orange {
					    top: 4px;
					}
			    	&:before {
					    content: "\f090";
					    font-family: fontawesome;
					    font-size: 18px;
					    display: none;
					}
			    }
			}
			.dropdown.profile {
			    position: relative;
    			margin: 6px 0 0 0;
    			@include bp(tab-max){
    				margin: 0;
    			}
			    @include bp(mobile-max){
			    	margin: 6px 0 0 0;
			    	a:before{
			    		display: none;
			    	}
			    }
			    > a {
				    padding: 0 0 50px 0;
				    img.profile-img {
					    display: inline-block;
					    max-width: 43px;
					    vertical-align: middle;
					    margin: 0 10px 0 0;
					    border-radius: 50%;
					    width: 43px;
					    min-height: 43px;
					    object-fit: cover;
					    height: 46px;
					    @include bp(mobile-max){
					    	margin: 0 5px 0 0;
					    }
					}
					span.caret {
					    display: inline-block;
					    vertical-align: middle;
					    margin: 0;
					    color: #000;
					    position: relative;
					    @include bp(desktop-main){
					    	font-size: 0px;
					    }
					    &:after {
						    content: "\f107";
						    font-family: fontawesome;
						    margin: 0 0 0 9px;
						    @include bp(desktop-main){
						    	font-size: 22px;
						    	margin: 0;
						    	line-height: 0px;
						    }
						}
					}
					@include bp(mobile-p-max){
						&:before {
						    float: right;
						    background: linear-gradient(to right, #fd3542, #fd7647);
						    color: #fff;
						    padding: 12px 0px !important;
						    border-radius: 50px;
						    width: 43px;
						    height: 43px;
						    display: block;
						    position: relative;
						    top: -7px;
						    font-size: 19px;
						    display: none;
						}
					}
				}
				.dropdown-menu {
				    display: none;
				    position: absolute;
				    right: 0;
				    width: 210px;
				    background: #fff;
				    padding: 20px 20px;
				    border-radius: 4px;
				    box-shadow: 0px 8px 12px -7px #969696;
				    border: 1px solid #efefef;
				    top: 45px;
				    text-align: left;
				    z-index: 9999;;
				    @include bp(mobile-p-max){
				    	width: 190px;
				    }
				    &:before {
					    content: "";
					    border-bottom: 10px solid #fff;
					    border-right: 10px solid transparent;
					    width: 20px;
					    position: absolute;
					    right: 1px;
					    border-left: 10px solid transparent;
					    display: block;
					    height: 10px;
					    top: -10px;
					    z-index: 9;
					}
					&:after {
					    content: "";
					    border-bottom: 10px solid #8a8989;
					    border-right: 10px solid transparent;
					    width: 20px;
					    position: absolute;
					    right: 1px;
					    border-left: 10px solid transparent;
					    display: block;
					    height: 10px;
					    top: -10px;
					}
				    h6 {
					    font-size: 15px;
					    margin: 0 0 8px 0;
					}
					li{
						a {
						    padding: 9px 0 2px 0;
						    display: block;
						    text-align: left;
						    color: #000;
						    border-top: 1px solid #ccc;
						    width: 100%;
						    font-size: 14px;
						    &:before{
								display: none;
						    }
						    &:hover {
							    color: #fd4f44;
							}
						}
						button[type="submit"] {
						    background: linear-gradient(to right, #fd3542, #fd7647);
						    color: #fff;
						    padding: 7px 30px;
						    margin: 7px 0 0 0;
						    width: 100%;
						}
						&:first-child{
							a{
								border-top: 0;
							    padding-top: 0;
							    margin-top: 0;
							}
						}
					}
				}
				&:hover{
					.dropdown-menu {
					    display: block;
					}
				}
			}
		}
	}
}

.mean-container{
	.mean-nav{
		ul{
			@include bp(mobile-max){
				li.mobile {
				    display: block !important;
				}
			}
		}
	}
}