<template>
    <div class="container">
        <div v-show="showmessage" class="showpop-message">
            <div  class="message">
                        <p>
                        <!-- <img src="https://scusa-live-prnka47.c9users.io/storage/PgK5uf3ONOam5TSUQPkvNo8ElmuCHetz5i4KTXgT.png" class="imageurl"> -->
                        Events Imported Successfully.
                        </p>
                         <a href="#" class="eventclose" @click="closefunction">Close</a>        
            </div>
        </div>
       
        <span class="saving importsaving" v-show="saving"><img src="/images/spin2.gif" /></span>
        <div class="loder">
            <div class="upload">
                <input type="file"  id="datafile" ref="file_input" name="csv" placeholder="Import Csv" v-validate="'required|ext:csv'" data-vv-as="CSV">
                <span class="form-control-feedback" v-if="errors.has('csv')">{{errors.first('csv')}}</span>
                <span v-show="showerrormessage" class="form-control-feedback" > Errors in CSV File. Please Check and Import a Correct File.</span>
                <button v-show="upload_btn" class="btn btn-success btn-block" id="buttonup" @click="upload">Upload</button>
                     
            </div>
        </div>
    </div>
</template>
<script>
    export default{
        data(){
            return {
                saving :false,
                upload_btn:true,
                showmessage : false,
                showerrormessage : false,
                saving : false,
                thumb:{
                image: "",
                publicid:''
            },
            }
        },
        methods: {
            closefunction(){
                this.showmessage = false;
                this.showerrormessage = false;
            },
            upload(){
                var files = this.$refs.file_input.files;
                let formdata = new FormData();
                for (var i = 0; i< files.length; i++) {
                    formdata.append('file', document.getElementById('datafile').files[i]);
                 }
                  this.$validator.validateAll().then(() => {
                    this.saving = true;
                    axios.post('/event_import/import',formdata).then(response => {
                        console.log("true");
                        console.log(response);
                        if(response.data == "success"){
                        this.showmessage = true;
                        this.saving = false;
                        document.getElementById('datafile').value = '';
                        }else{
                            this.showerrormessage = true;
                            this.saving = false;
                            document.getElementById('datafile').value = '';  
                        }
                        
                        });
                  }).catch(() => {
                    this.saving = false;

                    console.log("error");
                    return false
                });
            }
            
        },

    }
</script>