<template>
    
    <div class="container">
        <div v-show="showmessage" class="showpop-message event">
            <div  class="message">
                        <h2 class="eventmessage">Thank you for submitting your event!.</h2>

                        <p class="scucess-mesegge">
                        One of our admins will approve the event and then you will be able to share with athletes. You will automatically be shown as attending this event once it is approved.
                        <span>Once this page refreshed, you can add another event.</span>
                        </p>
                         <a href="#" class="eventclose" @click="closefunction">Close</a>        
            </div>
        </div>       
        <div v-show="saving" class="showpop-message">
            <div  class="message">
                        <p>
                        <img src="/images/spin2.gif" />
                        </p>
                            
            </div>
        </div>  
      
         <form class="addevent" v-show="showevent" id="add-event-new" method="post" @submit.prevent="submitProfile">
         
            <div v-show="imagenot" class="full">
                    <label>Image</label>
                    <input type="file" v-on:change="onFileChange" name="image" class="form-control image-profile">
                                
                    
                     <img :src="event.image" v-show="imagepreview" class="img-responsive">
            </div>
                <div class="full">
                    <label>Event Title<sup>*</sup></label>
                    <input type="text" name="title" v-validate="'required'" data-vv-as="Event Title" id="title" v-model="event.title" />
                        <span class="form-control-feedback" v-if="errors.has('title')">{{errors.first('title')}}</span>
    
                </div>
                <div class="full">
                    <label>Description<sup>*</sup></label>
                    <textarea type="text" name="description" v-validate="'required'" data-vv-as="Description" id="description" v-model="event.description" /></textarea>
                    <span class="form-control-feedback" v-if="errors.has('description')">{{errors.first('description')}}</span>
    
                </div>
                <div class="full">
                    <label>EVENT URL</label>
                    <input type="text" name="event_url" id="title"  v-model="event.event_url" />
                    
                </div>
                <div class="half">
                    <label>Event Start <sup>*</sup></label>

                    <input type="text"  v-on:change="changeHandler" name="event_start" value="" id="event_start" v-validate="'required'" data-vv-as="Event Start Date"/>
                        <span class="form-control-feedback eventstart" v-if="errors.has('event_start')">{{errors.first('event_start')}}</span>
    
                </div>
                <div class="half">
                    <label>Event End<sup>*</sup></label>
                    <input type="text"  v-on:change="changeHandler1" name="event_end" value="" v-validate="'required'" data-vv-as="Event End Date" id="event_end"/>
                        <span class="form-control-feedback eventend" v-if="errors.has('event_end')">{{errors.first('event_end')}}</span>
                </div>
                <div v-show="hidediv" class="half">
                    <label>Sport<sup>*</sup></label>
                    <select name="sport" v-model="event.sport_id" data-vv-as="Sport" >
                        <option value="">Select Sport</option>
                        <option v-for="sport in orderedSports" :value="sport.id">{{sport.title}}</option>
                    </select>
                        <span class="form-control-feedback" v-if="errors.has('sport')">{{errors.first('sport')}}</span>
                </div>
            
                <div v-show="hidediv" class="half">
                    <label>Division</label>
                    <select name="division" v-model="event.division" data-vv-as="Division" >
                        <option value="">Select Division</option>
                        <option v-for="(divisionss,key) in divisionss" :value="divisionss" >{{key}}</option>
                    </select>
                </div>
                <div class="half Malefemale">
                    <label>Gender</label>
                    <ul class='type_of_event'>
                       <li><input type="radio" data-vv-as="Gender" v-validate="'required|in:Male,Female,Both'" name="gender" value="Male"  v-model="event.event_gender"/><p>Male</p></li>
                       <li><input type="radio" name="gender" value="Female"  v-model="event.event_gender"/><p>Female</p></li>
                       <li><input type="radio" name="gender" value="Both"  v-model="event.event_gender"/><p>Both</p></li>
                        <span class="form-control-feedback" v-if="errors.has('gender')">{{errors.first('gender')}}</span>

                    </ul>
                </div>
               <!--  <div class="half">
                    <label>School Attending  <span class="saving" v-show="saving1"><img src="/images/spin2.gif" /></span></label>

                    <input class="school-search-find" type="text" placeholder="Search School" v-on:keyup="search" v-model="schoolinput" />

                    <ul v-show="hideschool"  class="school-search-result">

                    <li @click="click(schoolllist.id)" v-for="schoolllist in schoolllist" :value="schoolllist.id" >{{schoolllist.school_name}}</li>

                    </ul>
                </div> -->
                <div class="half eventtypediv">
                    <label>Type of Event</label>
                    <ul class='type_of_event '>
                        <li><input type="radio" name="typeevent" value="tournament"  v-model="event.typeevent"/><p>Tournament</p></li>
                        <li><input type="radio" name="typeevent" value="camp"  v-model="event.typeevent"/><p>Camp</p></li>
                        <li><input type="radio" name="typeevent" value="clinic"  v-model="event.typeevent"/><p>Clinic</p></li>
                    </ul>
                </div>
                <div style="display:none" class="half">
                    <label>Place<sup>*</sup></label>
                    <input type="text" name="place" id="title" v-model="event.place" data-vv-as="Place" />
                </div>
                 <div class="half">
                    <label>Address</label>
                    <input type="text" name="address" id="title" v-model="event.address" data-vv-as="Address" />
                </div>
                <div class="half">
                    <label>City<sup>*</sup></label>
                    <input type="text" name="city" id="title" v-validate="'required'" v-model="event.city" data-vv-as="City" />
                        <span class="form-control-feedback" v-if="errors.has('city')">{{errors.first('city')}}</span>
                </div>
                <div class="half">
                    <label>State</label>
                <select name="state"  v-model="event.state" data-vv-as="State">
            
                <option value="">Select State</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>

                        <span class="form-control-feedback" v-if="errors.has('state')">{{errors.first('state')}}</span>
                </div>
                    <div class="half">
                    <label>Zip Code</label>
                    <input type="text" name="zipcode" id="title"  v-model="event.zipcode" data-vv-as="Zip Code" />
                </div>
                 
                <div v-show="imagenotgal" class="full imagegalley">
                     <label>Gallery</label>
                     <input type="file" multiple id="datafile" ref="file_input" v-on:change="uploadFiles">
                     <div id="image_preview"></div>
                 </div> 
                 
                 
    
                <button class="btn orange">Submit</button>
                <!--<div style="display: none;">{{ csrf_field() }}</div>-->
            </form>
            
        </div>
</template>
<script>

export default {
        props:['allsports','tournamentsss','divisionss','schoolllist'],
        data(){
            return{
                saving:false,
                saving1:false,
                schoolinput:'',
                imagenotgal:false,
                imagenot:false,
                imagepreview : false,
                showmessage : false,
                showevent : true,
                hidediv:false,
                tournamentsss : this.tournamentsss,
                divisionss : this.divisionss,
                event:{
                    title:"",
                    event_url:"",
                    description:"",
                    event_gender:"",
                    event_start:"",
                    event_end:"",
                    sport_id:'',
                    image: '',
                    place:'',
                    city:'',
                    state:'',
                    zipcode:'',
                    typeevent:'',
                    address:'',

                    school_attending: '',
                    division: ''
                    
                },            }
        },
        computed:{
            orderedSports: function () {
            return _.orderBy(this.allsports , 'title')
        }
        },
        methods:{
            search(){
                let schoolname = this.schoolinput;
                
                if(schoolname.length > 1){
                    this.saving1 = true;
                    let formdata = new FormData();
                    formdata.append('schoolname',schoolname);
                    axios.post( '/api/schoolname', formdata )
                    .then(response=>{
                    this.hideschool = true;
                    this.schoolllist = [];
                    if(response.data.length > 0){
                        this.saving1 = false;
                        for (let i = 0; i < response.data.length; i++) {
                            console.log(response.data[i]);
                            this.schoolllist.push(response.data[i]);
                        }
                    }else{

                        this.hideschool = false;
                        this.saving1 = false;
                    }
                    })
                    .catch(error=>{

                    })
                }else{
                    this.saving1 = false;
                    this.hideschool = false;
                }
            },
            click(val){
                console.log(val);
                this.event.school_attending = val;
                for (let i = 0; i < this.schoolllist.length; i++) {
                        if(this.schoolllist[i].id == val){
                               this.schoolinput = this.schoolllist[i].school_name;
//this.userData.schoolname = this.schoolllist[i].school_name;
                        }
                  }
                  this.hideschool = false;
           },  
              
            closefunction(){
                self.showmessage = false;
                location.reload();
            },
            submitProfile(){
            this.$validator.validateAll().then(() => {
                $('.form-control-feedback').hide();
                console.log("tes");
                console.log(document.getElementById('event_start').value);
                
                  var files = this.$refs.file_input.files;
                    setTimeout(function(){ 
                
                  self.$validator.validateAll().then(() => {
            

                    self.errors.clear();
                 }).catch(() => {
                
                    self.errors.clear();
                    
                });
                
                
                
                
                }, 100);

                
                    let formdata = new FormData();
                    
                    formdata.append('image','');

                    formdata.append('title',this.event.title);
                    formdata.append('description',this.event.description);
                    formdata.append('event_start',document.getElementById('event_start').value);
                    formdata.append('event_end',document.getElementById('event_end').value);
                    formdata.append('sport_id',this.allsports);
                    formdata.append('place',this.event.place);
                    formdata.append('city',this.event.city);
                    formdata.append('state',this.event.state);
                    formdata.append('zipcode',this.event.zipcode);
                    formdata.append('typeevent',this.event.typeevent);
                    // formdata.append('campus_clinics',this.event.campus_clinics);
                    formdata.append('school_attending',this.event.school_attending);
                    formdata.append('schoolinput',this.schoolinput);
                    formdata.append('division',this.event.division);
                    formdata.append('address',this.event.address);
                    formdata.append('file0', '');
                    formdata.append('event_gender',this.event.event_gender);
                    formdata.append('event_url',this.event.event_url);

            

                     this.saving = true;
                     $('.form-control-feedback').remove();
                    axios.post('/add/event',formdata)
                    .then(response=>{
                    $('.form-control-feedback').hide();
                    $('#image_preview').empty();
                    $("#event_start").val('');
                    $("#event_end").val('');
                    this.event="";

                    this.showmessage = true;
                    this.showevent  = true; 
                    this.saving = false;
                    self = this;
                     setTimeout(function(){ 
                    location.reload();
                },10000);  
                   setTimeout(function(){ 
                
                      self.$validator.validateAll().then(() => {
                        $('.form-control-feedback').hide();
                       
                        this.event="";
                        self.errors.clear();
                     }).catch(() => {
                       $('.form-control-feedback').hide();
                       this.event="";
                        return false;
                    
                });
                },45);


                });
               
                $('.form-control-feedback').remove();
                }).catch(() => {
                    if(document.getElementById('event_start').value == ''){
                        $('.eventstart').show();
                    }
                    if(document.getElementById('event_end').value == ''){
                        $('.eventend').show();
                    }
                    $('html, body').animate({
                        scrollTop: ($('.form-control-feedback').first().offset().top - 80)
                    },500);
                    return false
               }); 
            },
             },
        
        created(){

        },
        mounted() {


        }
    }
</script>