<template>
    <div class="container"> 
        <div class="sign-up-content">
            <a href="#" class="close" @click.prevent="hidepopemail">
                <i class="icono-cross"></i>
            </a>
            <div v-show="previewing" v-html="preview_message" class="previewing"></div>
            <div v-show="message" class="email_sent">
                <div class="panel-heading">Email Sent</div> 
                <span>Email Sent Successfully.</span>
            </div>
            <div v-show="messagefalse" class="email_sent">
               
            </div>
            <div v-if="valide == 0" class="email_sent">
                <div class="panel-heading">Notice</div>
                <span ><p v-if="message_send == false">Email Sent Successfully.</p>
                 <p style="font-size: 22px; ">You have reached the limit of emails you can send on your free trial account. In order to access full capabilities of the site,<a  style="color: #fd5344; " href="/plan/athlete"> please upgrade today.</a></p>
                </span>
            </div>
            <div v-else v-show="message_send">
                <div class="panel-heading">SEND EMAIL<span class="saving" v-show="saving"><img src="/images/spin2.gif" /></span></div> 
                <div class="panel-body">
                    <div v-show="messagecheck" class="email_sent">
                        <span>Please Select Atlest one User.</span>
                    </div>
                    <div class="container">
                        <form role="form" id='email_form' class="form-horizontal">
                            <input id="eventID" type="hidden" v-model="event_sending" name="eventID" class="form-control">
                            <input id="datacheck" type="hidden" name="sportsID" class="form-control">
                            <label for="" class="control-label">To</label> 
                            <input type="hidden" v-model="preview" class="messageCheckbox" name="data[]">
                            <div class="checbox">
                                <p v-for="( file, key ) in this.userdata">
                                    <input type="checkbox" v-model="all_emails" class="messageCheckbox" name="data[]" :value="file.userid">
                                    <label>{{ file.username }}</label>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="" class="control-label">SELECT TEMPLATE</label> 
                                <select v-model="template" name='template' id='template' @change="getting_template( $event.target.value )" class='form-control'>
                                    <option value="">None</option>
                                    <option v-for="( templated, val, index ) in templatedat" :value="val">{{templated.value}}</option>
                                </select>
                            </div> 
                            <div class="form-group">
                                <label for="" class="control-label">SUBJECT LINE</label> 
                                <input v-validate="'required'" v-model="subject" data-vv-as="Subject" id="subject" type="text" name="subject" class="form-control"> 
                                <span class="form-control-feedback" v-if="errors.has('subject')">{{errors.first('subject')}}</span>
                            </div> 
                            <div class="form-group">
                                <label for="" class="control-label">Available Shortcodes</label> 
                                <div>
                                {{shortcode}}
                                </div>
                                <br>
                            </div> 
                            <div class="form-group">
                                <label for="" class="control-label">MESSAGE</label> 
                                <textarea id="message" v-model="message_text"  data-vv-as="Message" name="message" class="form-control"> </textarea>
                                <span class="form-control-feedback" v-if="errors.has('message')">{{errors.first('message')}}</span>
                            </div> 
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                         <button type="submit" @click.prevent="preview_mail" class="btn btn-primary orange">Preview Email</button>
                                    </div>
                                    <div class="col-md-12">
                                         <button type="submit" @click.prevent="upload_email" class="btn btn-primary orange">SEND MAIL</button>
                                    </div>
                                    <div class="col-md-12">
                                         <button  v-show="buttonhide" type="submit" @click.prevent="templateinput" class="btn btn-primary orange">save your own Template</button>
                                    </div>
                                </div>
                            </div>

                            <div v-show='template_hide' class="form-group savetemplate">
                                <label for="" class="control-label">Template Name</label> 
                                <input  v-model="templatename" type="text" name="subject" class="form-control"> 
                                <p v-show="nametemp" class="template-name-require">Name Is Required.</p>
                                <p v-show="already" class="template-name-require">Template Name Already Exist.</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" @click.prevent="savetemplate" class="btn btn-primary orange">save your own Template</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" @click.prevent="cancelsave" class="btn btn-primary orange">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    props: [ 'userdata', 'userdatabkd', 'templateda', 'event_id', 'shortcodes','validemail' ],
    
    data(){
        return {
            preview_message:'',
            previewing: false,
            preview:'',
            nametemp:false,
            sendemail:true,
            already:false,
            valide:this.validemail,
            event_sending: this.event_id,
            templatedat: this.templateda,
            templatedat_len: this.templateda.length,
            saving:false,
            buttonhide:true,
            templatename:'',
            message:false,
            messagecheck:false,
            message_send:true,
            messagefalse:false,
            template_hide:false,
            file: this.userdata,
            all_emails: [],
            template: "",
            subject: "Your Subject",
            message_text: "Your Message",
            customToolbar: [
                ['bold', 'italic', 'underline'],
                [{ 'list': 'bullet' }],
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'align': [] }],
            ],
            shortcode: this.get_shortcode( this.shortcodes ),
        }
    },
    watch: {
        userdata: function (val) {
            this.all_emails = this.get_all_emails( this.userdata );
        },
        event_id: function( id ){
            this.event_sending = id;
            if( id != 'undefined' && id != '' && id > 0 ){ 
                this.shortcode = this.shortcodes['event'];
            }else{  
                this.shortcode = this.shortcodes['without'];
            }
        }
    },
    methods: {
        get_shortcode: function(val1){
            // console.log(val1);
            // console.log(this.event_sending);
            if( val1 != 'undefined' && val1 != '' && val1 > 0 ){
                return val1['event'];
                // console.log(val2);
            }else{
                return val1['without']; 
            }
        },
        getting_template( val_is ){
            let number = val_is;
            if( number >= 0 ){
                console.log(number);
                if( number == "" ){
                    this.subject = "Your Subject";
                    this.message_text = "Your Message";
                }else{
                    this.subject = this.templatedat[""+number+""]["value"];    
                    this.message_text = this.templatedat[""+number+""]["message"];
                }
            }else{
                this.subject = "Your Subject";
                this.message_text = "Your Message";
            }
        },
        get_all_emails( new_users ){
            let allUserEmails = [];
            let x = '';
            for( x in new_users ){
                allUserEmails[x] = new_users[x]['userid'];
            }
            return allUserEmails;
            // console.log( new_users );
        },
        hidepopemail(){
            console.log( this.previewing );
            if( this.previewing == true ){
                this.previewing = false;
                this.message_send = true;
            }else{
                this.$parent.showpop_email = false;
                $('html').removeClass('popup');
                $('#email_form')[0].reset();
                this.message = false;
                this.messagefalse =false;
                this.$validator.validateAll().then(() => {
                    // no
                }).catch(() => {
                    this.errors.clear();
                });
                this.already = false;
                this.message_send = true;
                this.messagefalse =false;
                this.messagecheck=false;
                this.preview_message = '';
                this.previewing = false;
            }
        },
       preview_mail(){
            this.preview = 'preview';
            
            this.upload(2);
        },
        upload_email(){
            this.preview = '';

            this.upload(1);
        },
        upload(val){
            if(val == 1){
                this.message = true;  
                this.saving = false;
                this.message_send = false;  
            }else{
                this.message = false;  
                this.saving = true;

            }
            let formdata = new FormData();
            var checkboxes = document.getElementsByName('data[]');
            var vals = "";
            for (var i=0, n=checkboxes.length;i<n;i++){
                if (checkboxes[i].checked){
                    this.messagecheck=false;
                    vals += ","+checkboxes[i].value;
                }
            }

            var  actual = this.all_emails;
            var newArray = new Array();
            for(var i = 0; i<actual.length; i++)
            {
                if (actual[i])
                {
                    newArray.push(actual[i]);
                }
            }

            formdata.append('preview', this.preview );
            formdata.append('subject', this.subject );
            formdata.append('message', this.message_text);
            formdata.append('eventid', this.event_sending);
            formdata.append('user_ids', newArray);
            // formdata.append('template', document.getElementById('template').value);

            if(vals == ''){
                this.messagecheck=true;
                return false;
            }

            this.$validator.validateAll().then(() => {
               // this.saving = true;
                // this.already = false;
                // this.message_send = false;    
                // $('#email_form')[0].reset();  
               // this.saving = false;
               // $('#email_form')[0].reset();  
                axios.post('/contact-coaches',formdata).then(response => {
                    console.log(response.data);
                    if( this.preview == 'preview' ){
                        this.preview_message = response.data.message;
                        this.previewing = true;
                    }else{
                        this.valide = response.data.valid;
                        if(this.valide == 0){
                            this.message = false;
                        }else{
                            // this.message_send = true;
                        }
                          
                        // this.messagefalse = true; 
                    }
                    this.saving = false;
                    if(response.data.message == 'yes'){
                        // this.message_send = false;    
                      //  this.message = true;  
                        $('#email_form')[0].reset();  
                        this.saving = false;
                    }else{
                        this.message_send = false;    
                        this.messagefalse = true; 
                        $('#email_form')[0].reset();  
                        this.saving = false;
                    }
                });

            }).catch(() => {

            });
        },
        templateinput(){
            this.template_hide = true;
            this.buttonhide = false;
            this.sendemail = false;
        },
        cancelsave(){
            this.template_hide = false;
            this.buttonhide = true;
            this.templatename = '';
            this.sendemail = true;
            this.already = false;
        },
        savetemplate(){
            let formdata = new FormData();
            formdata.append('message', this.message_text);
            formdata.append('templatename', this.templatename);
            formdata.append('eventid', this.event_sending);
            //console.log(this.templatename);
            // console.log('asa');

            if(typeof(this.templatename)!= 'undefined' && this.templatename != ''){  
                // console.log(this.templatedat.length);
                this.nametemp = false;
                let j = '';
                for (let i = 0; i < this.templatedat_len; i++) {
                    let res = this.templatename;
                    console.log(this.templatedat[i].value);
                    // console.log(this.templatedat_len);
                    let res2  = this.templatedat[i].value;
                    if( res == res2 ){
                          j = 'data';
                    }
                    // if(this.templatename == this.templatedat[i].value){
                    //     j = 'datafound';
                    // }
                }
                // console.log(j);
                if(j == ''){
                    this.nametemp = false;
                    this.already = false;
                    axios.post('/save-template',formdata).then(response => {
                       this.templatedat.push( response.data );
                       this.templatename = '';

                       //console.log(this.templatedat.length);
                       this.sendemail = true;
                       this.template_hide = false;
                       this.buttonhide = true;
                       this.template = this.templatedat.length - 1;
                       this.getting_template(this.templatedat.length - 1);
                       this.templatename ='';
                    });
                }else{
                    j = '';
                    this.already = true;

                }


            }else{

                this.nametemp = true;

            }
        
        }
    }, 

    created(){

    },
    mounted(){

    },
}
</script>