<template>
 	<div class="container profile">
 	    		<div class="sign-up-content">
		    <a href="#" class="close" @click.prevent="hidepopemail">
		        <i class="icono-cross"></i>
		    </a>
		    <div v-show="message" class="email_sent">
		    <div class="panel-heading">Email Sent</div> 
		    <span>Email Send Successfully.</span>
		   	</div>
		   	<div v-show="messagefalse" class="email_sent">
		    <div class="panel-heading">Email Sent</div> 
		    <span>Sorry, Email Not Send Successfully.</span>
		   	</div>
		   	<div v-show="message_send">
		    <div class="panel-heading">SEND EMAIL<span class="saving" v-show="saving"><img src="/images/spin2.gif" /></span></div> 
		    <div class="panel-body">
		        <div class="container">
		            <form role="form" id='email_form1' class="form-horizontal">
		                <input id="to_user" type="hidden" name="to_user" class="form-control">
		                	<!--<div class="checbox">-->
                   <!-- 			<p v-for="( file, key ) in file">-->
                   <!-- 			<input type="checkbox"  checked :value="file.childMsg" v-model="selected_checkbox">-->
                   <!-- 			<label>{{ file.childMsg1 }}</label>-->
                   <!-- 			</p>-->
	                  <!--  	</div>-->
	                  <div class="form-group">
		                    <label for="" class="control-label">To</label> 
		                    <input  type="text" :disabled = "true"  id="username" class="form-control"> 
		                </div> 
		                <div class="form-group">
		                    <label for="" class="control-label">SUBJECT LINE</label> 
		                    <input id="subjectprofile" v-validate="'required'" data-vv-as="subject" type="text" name="subject" class="form-control"> 
		                    <span class="form-control-feedback" v-if="errors.has('subject')">{{errors.first('subject')}}</span>
		                </div> 
		                <div class="form-group">
		                    <label for="" class="control-label">MESSAGE</label> 
		                    <textarea id="messageprofile" v-validate="'required'" data-vv-as="message" name="message" class="form-control"> </textarea>
		                    <span class="form-control-feedback" v-if="errors.has('message')">{{errors.first('message')}}</span>
		                </div> 
		                <div class="form-group">
		                    <label for="" class="control-label">SELECT TEMPLATE</label> 
		                    <select name='template' id='templateprofile' class='form-control'>

		                    <option v-for="templateda in templateda" :value="templateda.key">{{templateda.value}}</option>
		                       
		                    </select>
		                </div> 
		                <div class="form-group">
		                    <button type="submit" @click.prevent="upload" class="btn btn-primary orange">SEND MAIL</button>
		                </div>
		            </form>
		        </div>
		    </div>
		   </div>
		</div>
	</div>
</template>
<script>
    export default{
        props: ['userdata','templateda'],
        data(){
            return {
              templateda:this.templateda,
            	saving:false,
                message:false,
                message_send:true,
                messagefalse:false,
               
            }
        },
        methods: {
            hidepopemail(){
                 this.$parent.profile_email = false;
                $('html').removeClass('popup');
              
                $('#email_form1')[0].reset();
                
                this.message = false;
                this.$validator.validateAll().then(() => {
                }).catch(() => {
                   this.errors.clear();
               });
               this.message_send = true;
               this.messagefalse =false;

            },
            upload(){
                let formdata = new FormData();
                formdata.append('subject', document.getElementById('subjectprofile').value);
                formdata.append('message', document.getElementById('messageprofile').value);
                formdata.append('to_user', document.getElementById('to_user').value);
                formdata.append('template', document.getElementById('templateprofile').value);

                 this.$validator.validateAll().then(() => {
                 this.saving = true;
                 
                    axios.post('/contact-profile',formdata).then(response => {
                     if(response.data == 'yes'){
                      this.message_send = false;		
                      this.message = true;	
                      $('#email_form')[0].reset();	
                      this.saving = false;
                     }else{
                     	
                      this.message_send = false;		
                      this.messagefalse = true;	
                      $('#email_form')[0].reset();	
                      this.saving = false;
                     }
                    });
                
                  }).catch(() => {
                   
               });
            }
            
        },
        
       
    }
</script>