<template>
    <div>
        <loading-bar id="loading-bar-id" custom-class="" :progress="progress" :width="100"></loading-bar>
    </div>
</template>

<script>
    import LoadingBar from 'vue2-loading-bar';
    export default{
        props:[ 'progress' ],
        components: { LoadingBar },
        data(){
            return {
                progress: 20,
            }
        },
    }
</script>