<template>
 	<div class="container">
 	    		<div class="sign-up-content">
		    <a href="#" class="close" @click.prevent="hidepopemail">
		        <i class="icono-cross"></i>
		    </a>
		    <div v-show="message" class="email_sent">
		    <div class="panel-heading">Email Sent</div> 
		    <span>Email Send Successfully.</span>
		   	</div>
		   	<div v-show="messagefalse" class="email_sent">
		    <div class="panel-heading">Email Sent</div> 
		    <span>Sorry, Email Not Send Successfully.</span>
		   	</div>
		   	<div v-show="message_send">
		    <div class="panel-heading">SEND EMAIL<span class="saving" v-show="saving"><img src="/images/spin2.gif" /></span></div> 
		    <div class="panel-body">
            <div v-show="messagecheck" class="email_sent">
        		    <span>Please Select Atlest one User.</span>
		   	</div>
		        <div class="container">
		            <form role="form" id='email_form2' class="form-horizontal">
		            	<input id="user_ids" type="hidden" name="user_ids" class="form-control">
		                    <label for="" class="control-label">To</label> 
		                 		<div class="checbox">
                    			<p v-for="( file, key ) in file">
                    			<input type="checkbox"  class="messageCheckbox" name="data[]" checked="true" :value="file.userid" >
                    			<label>{{ file.username }}</label>
                    			</p>
	                    	</div>
		                <div class="form-group">
		                    <label for="" class="control-label">SUBJECT LINE</label> 
		                    <input id="subject_event_all"  v-validate="'required'" data-vv-as="subject" type="text" name="subject_event_all" class="form-control"> 
		                    <span class="form-control-feedback" v-if="errors.has('subject_event_all')">{{errors.first('subject_event_all')}}</span>

		                </div> 
		                <div class="form-group">
		                    <label for="" class="control-label">MESSAGE</label> 
		                    <textarea id="message_event_all"  v-validate="'required'" data-vv-as="message" name="message_event_all" class="form-control"> </textarea>
		                    <span class="form-control-feedback" v-if="errors.has('message_event_all')">{{errors.first('message_event_all')}}</span>

		                </div> 
		                <div class="form-group">
		                    <label for="" class="control-label">SELECT TEMPLATE</label> 
		                    <select name='template_event_all' id='template_event_all' class='form-control'>
		                          <option v-for="templateda in templateda" :value="templateda.key">{{templateda.value}}</option>
		                    </select>
		                </div> 
		                <div class="form-group">
		                    <button type="submit" @click.prevent="upload" class="btn btn-primary orange">SEND MAIL</button>
		                </div>
		            </form>
		        </div>
		    </div>
		</div>
	</div>
	</div>
</template>
<script>
    export default{
        props: ['userdata','userdatabkd','templateda'],
        data(){
             return {
              templateda:this.templateda,
            	saving:false,
            	messagecheck:false,
                message:false,
                message_send:true,
                messagefalse:false,
                file: this.userdata
            }
        },
        methods: {
            hidepopemail(){
                this.file = this.userdatabkd;
                this.$parent.sendemail_allattendees = false;
                $('html').removeClass('popup');
                $('#email_form2')[0].reset();
                this.message = false;
                this.$validator.validateAll().then(() => {
                }).catch(() => {
                   this.errors.clear();
               });
               this.message_send = true;
               this.messagefalse =false;
                this.messagecheck=false;
            },
            upload(){
                let formdata = new FormData();
                
                var checkboxes = document.getElementsByName('data[]');
                var vals = "";
                for (var i=0, n=checkboxes.length;i<n;i++) 
                {
                    if (checkboxes[i].checked) 
                    {
                         this.messagecheck=false;
                        vals += ","+checkboxes[i].value;
                    }
                }
                
                formdata.append('subject', document.getElementById('subject_event_all').value);
                formdata.append('message', document.getElementById('message_event_all').value);
                // formdata.append('user_ids', document.getElementById('user_ids').value);
                formdata.append('user_ids', vals);

                formdata.append('template', document.getElementById('template_event_all').value);
                if(vals == ''){
                    
                    this.messagecheck=true;
                    return false;
                }
                 this.$validator.validateAll().then(() => {
                    this.saving = true;
                 
                 axios.post('/sendemail-allattendees',formdata).then(response => {
                     if(response.data == 'yes'){
                      this.message_send = false;		
                      this.message = true;	
                      $('#email_form')[0].reset();	
                      this.saving = false;
                     }else{
                     	
                      this.message_send = false;		
                      this.messagefalse = true;	
                      $('#email_form')[0].reset();	
                      this.saving = false;
                     }
                      
                    });
                
                  }).catch(() => {
                   
               });
            }
            
        },
        
       
    }
</script>