<template>
 	<div class="container">
 	    		<div class="sign-up-content">
		    <a href="#" class="close" @click.prevent="hidepopemail">
		        <i class="icono-cross"></i>
		    </a>
		    <div v-show="message" class="email_sent">
		    <div class="panel-heading">Email Sent</div> 
		    <span>Email Send Successfully.</span>
		   	</div>
		   	<div v-show="messagefalse" class="email_sent">
		    <div class="panel-heading">Email Sent</div> 
		    <span>Sorry, Email Not Send Successfully.</span>
		   	</div>
		   	<div v-show="message_send">
		    <div class="panel-heading">SEND EMAIL<span class="saving" v-show="saving"><img src="/images/spin2.gif" /></span></div> 
		    <div class="panel-body">

		        <div class="container">
		            <form role="form" id='email_form3' class="form-horizontal">
		            	
		                <input id="itemid" type="hidden" name="user_id" class="form-control">
                        <div class="form-group">
		                    <label for="" class="control-label">To</label> 
		                    <input id="user_id" :disabled ="true" data-vv-as="subject" type="text" name="name" class="form-control"> 
		                    

		                </div> 
		                <div class="form-group">
		                    <label for="" class="control-label">SUBJECT LINE</label> 
		                    <input id="subject_event"  v-validate="'required'" data-vv-as="subject" type="text" name="subject_event" class="form-control"> 
		                     <span class="form-control-feedback" v-if="errors.has('subject_event')">{{errors.first('subject_event')}}</span>

		                </div> 
		                <div class="form-group">
		                    <label for="" class="control-label">MESSAGE</label> 
		                    <textarea id="message_event"  v-validate="'required'" data-vv-as="message" name="message_event" class="form-control"> </textarea>
		                    <span class="form-control-feedback" v-if="errors.has('message_event')">{{errors.first('message_event')}}</span>

		                </div> 
		                <div class="form-group">
		                    <label for="" class="control-label">SELECT TEMPLATE</label> 
		                    <select name='template_event' id='template_event' class='form-control'>
		                        <option v-for="templateda in templateda" :value="templateda.key">{{templateda.value}}</option>
		                    </select>
		                </div> 
		                <div class="form-group">
		                    <button type="submit" @click.prevent="upload" class="btn btn-primary orange">SEND MAIL</button>
		                </div>
		            </form>
		        </div>
		    </div>
		   </div>
		</div>
	</div>
</template>
<script>
    export default{
    	 props: ['templateda'],
        data(){
          return {
          	templateda:this.templateda,
            	saving:false,
                message:false,
                message_send:true,
                messagefalse:false,
            }
        },
        methods: {
            hidepopemail(){

                this.$parent.sendemail_attend = false;
                $('html').removeClass('popup');
                $('#email_form3')[0].reset();
                this.message = false;
                this.$validator.validateAll().then(() => {
                }).catch(() => {
                   this.errors.clear();
               });
               this.message_send = true;
               this.messagefalse =false;
            },
            upload(){
                let formdata = new FormData();
                formdata.append('subject', document.getElementById('subject_event').value);
                formdata.append('message', document.getElementById('message_event').value);
                formdata.append('user_id', document.getElementById('itemid').value);
               
                formdata.append('template', document.getElementById('template_event').value);

                 this.$validator.validateAll().then(() => {
                 this.saving = true;
                 
                    axios.post('/sendemail-attendee',formdata).then(response => {
                      if(response.data == 'yes'){
                      this.message_send = false;		
                      this.message = true;	
                      $('#email_form')[0].reset();	
                      this.saving = false;
                     }else{
                     	
                      this.message_send = false;		
                      this.messagefalse = true;	
                      $('#email_form')[0].reset();	
                      this.saving = false;
                     }
                    });
                
                  }).catch(() => {
                   
               });
            }
            
        },
        
       
    }
</script>