<template>
    <section class="main-slider">
        <slick ref="slick" :options="slickOptions">
            <div class="slides">
                <img src="images/baseball.jpg">
                <h2>Soccer</h2>
            </div>
            <div class="slides">
                <img src="images/baseball.jpg">
                <h2>Soccer</h2>
            </div>
            <div class="slides">
                <img src="images/baseball.jpg">
                <h2>Soccer</h2>
            </div>
            <div class="slides">
                <img src="images/baseball.jpg">
                <h2>Soccer</h2>
            </div>
            <div class="slides">
                <img src="images/baseball.jpg">
                <h2>Soccer</h2>
            </div>
            <div class="slides">
                <img src="images/baseball.jpg">
                <h2>Soccer</h2>
            </div>
            <div class="slides">
                <img src="images/baseball.jpg">
                <h2>Soccer</h2>
            </div>
            <div class="slides">
                <img src="images/baseball.jpg">
                <h2>Soccer</h2>
            </div>
            <div class="slides">
                <img src="images/baseball.jpg">
                <h2>Soccer</h2>
            </div>
            <div class="slides">
                <img src="images/baseball.jpg">
                <h2>Soccer</h2>
            </div>
            <div class="slides">
                <img src="images/baseball.jpg">
                <h2>Soccer</h2>
            </div>
        </slick>
    </section>
</template>

<script>
    import Slick from 'vue-slick';
    // import 'node_modules/slick-carousel/slick/slick.css';
    export default{
        props: [],
        components: { Slick },
        data() {
            return {
                slickOptions: {
                    centerMode: true,
                    centerPadding: '60px',
                    slidesToShow: 4,
                    dots: false,
                    infinite: true,
                    autoplay: true,
                    speed: 300,
                    responsive: [
                        {
                            breakpoint: 1100,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '40px',
                                slidesToShow: 3
                            }
                        },
                        {
                            breakpoint: 800,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '20px',
                                slidesToShow: 2
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                arrows: false,
                                centerMode: true,
                                centerPadding: '20px',
                                slidesToShow: 1
                            }
                        }
                    ]
                },
            };
        },
        
        // All slick methods can be used too, example here
        methods: {
            next() {
                this.$refs.slick.next();
            },
        
            prev() {
                this.$refs.slick.prev();
            },
        
            reInit() {
                // Helpful if you have to deal with v-for to update dynamic lists
                this.$refs.slick.reSlick();
            },
        },
    }
</script>