<template>
	<div>
	<div class="col-md-8">	
		<input type="hidden" id="coach1" :value="saved" />
		<h1>{{userData.coach_firstname}} {{userData.coach_lastname}} 
			<a @click="editForm" v-show="saved" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
			<a v-show="editing" @click="submitData" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save</span></a>
			<a v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Close</span></a>
			<span class="saving" v-show="saving"><img src="/images/spin2.gif" /></span></h1>
		<div class="row">
		
			<div class="col-md-6">
				<input type="text" v-validate="'required'" data-vv-as="First Name" placeholder="First Name" name="coach_firstname" v-model="userData.coach_firstname" v-show="editing" />
				<span class="form-control-feedback" v-if="errors.has('coach_firstname')">{{errors.first('coach_firstname')}}</span>

			</div>
			<div class="col-md-6">
				<input type="text" data-vv-as="Last Name" placeholder="Last Name" name="coach_lastname" v-model="userData.coach_lastname" v-show="editing" />
			</div>
		</div>
		<div class="university coach selectschool" v-show="false">
			<select :disabled="validated == 1 ? true : false" v-model="userData.school">
				<option value="">Select School/Univ Name</option>
				<option v-for="(schoolllist, id) in schoolllists" :value="id" >{{schoolllist}}</option>
			</select>
		</div>
		<ul class="top-listings full-width">
			<li><p>School: <span>{{ userData.school_name }}</span></p></li>
		</ul>
		</div>


	<div class="col-md-4 text-right">
		<a  v-if="userauth['role_id'] == '4'" :href="'profile/coach/'+userauth['user_slug']"  id='' class="btn orange">View Profile<i class="fa fa-angle-right" aria-hidden="true"></i></a>
		<a  v-if="userauth['role_id'] != '4'" :href="'profile/coach/'+userauth['user_slug']"  id='' class="btn orange">View Profile <i class="fa fa-angle-right" aria-hidden="true"></i></a>
		<a v-if="userauth['role_id'] != '4'" :href="'exportToPdf/'+userauth['user_slug']"   class="btn purple dfgd">Export to PDF<i aria-hidden="true" class="fa fa-angle-right"></i></a> 
	</div>

	<div class="col-md-12">	
		<ul class="top-listings">
			<li>
				<p>Title: <span>{{ userData.coach_title }}</span></p>
				<select v-show="editing" name="coach_title" v-model="userData.coach_title">
                    <option value="">Select Title</option>
					<option value="Head Coach">Head Coach</option> 
					<option value="Assistant Coach">Assistant Coach</option>
                </select>
			</li>
			<li>
				<p>Sport: <span>{{ userData.sport_name }}</span></p>
				<select @change="get_title( userData.sport )" v-show="false" name="sport" v-model="userData.sport">
					<option value="">Select Sport</option>
					<option v-for="(value, key, index) in sports" :value="key">{{value}}</option>
				</select>
			</li>
			<li>
				<p>Gender Coached: <span v-if=" userData.coach_gender == 'Men' ">Male</span>
					<span v-if=" userData.coach_gender == 'Women' ">Female</span>
					<span v-if=" userData.coach_gender == 'Both' ">Male/Female</span>

					<ul v-show="hidediv" class="checkbox">
						<li>
						
							<input type="radio" checked  name="athelete_gender" value="Men" v-model="userData.coach_gender"/>
							<label>Male</label>
						</li>
						<li>
							<input type="radio" name="athelete_gender" value="Women" v-model="userData.coach_gender" />
							<label>Female</label>
						</li>
						<li>
							<input type="radio" name="athelete_gender" value="Both" v-model="userData.coach_gender" />
							<label>Both</label>
						</li>
					</ul>
				</p>
			</li>
		</ul>
	</div>
	</div>
</template>

<script>
	export default{
	    props:['usermeta', 'sports', 'userauth','graduation','schoolllist', 'sport', 'sync_coach', 'school', 'coach_school_add','genderid'],
	    data (){
	        return{
	           	validated: 1,
	           	schoolllists: this.schoolllist,
	            editing: false,
	            saved: true,
	            hidediv:false,
	            saving: false,
	            backup:{},
	            userData: {
	                coach_firstname: this.empty_check( this.usermeta.coach_firstname ),
	                coach_lastname: this.empty_check( this.usermeta.coach_lastname ),
	                coach_gender: this.empty_check( this.usermeta.coach_gender ),
	                sport_name: this.empty_check( this.sportname( this.usermeta.sport ) ),
	                sport: this.empty_check( this.usermeta.sport ),
	                coach_title: this.empty_check( this.usermeta.coach_title ),
	                school: this.empty_check( this.usermeta.school ),
	                school_name: this.empty_check( this.schoolname( this.usermeta.school ) ),
	            }
	        }  
	    },
	    watch:{
	    	sport: function(val){
				if( val != '' ){
					this.userData.sport = val;
					this.userData.sport_name = this.sportname( val );
				}
	    	},
	    	genderid:function(val){
	    	this.userData.coach_gender = val;
	    	},
	    	school: function(val){
	    		if( val != '' ){
	    			this.userData.school = val;
	    			this.userData.school_name = this.schoolllist[val];
	    		}
	    	},
	    	sync_coach: function( val ){
	    		if( val == true ){
	    			this.$parent.sync_coach = false;
	    			this.submitData();
	    		}
	    	},
	    	coach_school_add: function( val ){
	    		if( val != '' ){
	    			this.schoolllists[ val.school_id ] = val.school_name;
	    			this.userData.school = val.school_id;
	    			this.userData.school_name = val.school_name;
	    			this.$parent.sync_coach = true;
	    		}
	    	}
	    },
	    methods:{
	    	schoolname: function(val){
	    		// console.log( val );
	    		return this.schoolllist[val];
	    	},
	        sportname: function( id ){
	            return this.sports[id];
	        },
	        empty_check: function( val ){
	            if( val == '' || val == null ){
	                return '';
	            }else{
	                return val;
	            }
	        },
	        cancel: function(){
	             // console.log( this.usermeta.coach_title );
	            this.userData = {
	                coach_firstname: this.empty_check( this.usermeta.coach_firstname ),
	                coach_lastname: this.empty_check( this.usermeta.coach_lastname ),
	                coach_gender: this.empty_check( this.usermeta.coach_gender ),
	                sport_name: this.empty_check( this.sportname( this.usermeta.sport ) ),
	                sport: this.empty_check( this.usermeta.sport ),
	                coach_title: this.empty_check( this.usermeta.coach_title ),
	                school: this.empty_check( this.usermeta.school ),
	                school_name: this.empty_check( this.schoolname( this.usermeta.school ) ),
	            };
				this.editing = false;
				this.saved = true;
				this.validated= 1;
				this.$validator.validateAll().then(() => {
				}).catch(() => {
					console.log("error");
					return false
				}); 
	        },
	        editForm: function(){
	            console.log( this.backup );
	            this.editing = true;
	            this.saved = false;
	            this.validated= 0;
	        },
	        get_title: function( id ){
	            this.userData.sport_name = this.sports[id];
	        },
	        submitData(){
	            this.$validator.validateAll().then(() => {
	            this.saving = true;
	            this.editing = false;
	            this.saved = false;
	            axios.post( '/profile', this.userData )
	            .then(response=>{
	                move(response.data);
	                this.saving = false;
	                this.editing = false;
	                this.saved = true;
	                this.validated= 1;

	            })
	            .catch(error=>{
	                this.errors=error.errors;
	            })
	            }).catch(() => {


              	});
	        }
	    },
	    created(){
	        // sprt_data = this.usermeta.sport;
	        // console.log(this.usermeta.athelete_firstname);  
	    },
	    mounted(){
	        console.log('user1');
	    }
	}
</script>