<template>
    <div>
        <input type="hidden" id="coach2" :value="saved" />
        <h3>Coach information
            <a @click="editForm" v-show="saved" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
            <a v-show="editing" @click="cancel" class="edit"><i class="fa fa-close" aria-hidden="true"></i><span>Cancel</span></a>
            <a v-show="editing" @click="submitData" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save</span></a>
            <span class="saving" v-show="saving"><img src="/images/spin.gif" /></span></h3>
        <div class="inner-content">
            <h4>Contact Information</h4>
            <p class="email-coach">
                <span><img src="images/icon/Send.png" />{{userData1.coach_email}}</span>  </p>
                    <div class="row"><div class="col-md-6"><input v-show="editing" v-validate="'required|email'" data-vv-as="Email" class="edit-input " type="text" placeholder="Enter Email" name="coach_email" v-model="userData1.coach_email"/></div>
                    <span class="form-control-feedback" v-if="errors.has('coach_email')">{{errors.first('coach_email')}}</span>

                    </div>
            <p><span><i class="fa fa-mobile" aria-hidden="true"></i>{{userData1.phone}}</span> </p>
                <div class="row">
                    <div class="col-md-6">

                    <input  class="edit-input phone"  v-validate="'numeric|min:10|max:10'"  v-show="editing" name="phone" v-model="userData1.phone" placeholder="Phone number" type="text" />

                      <span class="form-control-feedback" v-if="errors.has('phone')">{{errors.first('phone')}}</span>


                    </div>
                </div>
                <p></p>
            <h4>Coach Bio</h4>
            
            <p class="coach-bio-p lc" name="efdfds" v-html="userData1.bio" v-show="saved">{{ userData1.bio }}</p>


            <!-- <vue-editor id="userData1bio" v-show="editing" v-model="userData1.bio" :disabled="false" :editorToolbar="customToolbar"></vue-editor> -->
            <textarea id="userData1bio" v-show="editing" v-model="userData1.bio" :disabled="false" ></textarea>

            <form>
                <label class="typo__label">National Championship</label>
               <!--  <input-tag placeholder="Add Years" :tags="userData1.coach_ncaa" validate="digits" :read-only="saved"></input-tag>
                 -->
                <multiselect :disabled="validated == 1 ? true : false" :show-labels="true" v-model="userData1.coach_ncaa" :options="options" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" placeholder="Select Year" label="name" track-by="name">
                    <template  slot="tag" scope="props">
                        <span class="custom__tag"><span>{{ props.option.language }}</span><span v-show="hidetem" class="custom__remove" @click="props.remove(props.option)">x</span></span>
                    </template>
               </multiselect>

                <label>Final Four </label>
               <!--  <input-tag placeholder="Add Years" :tags="userData1.coach_ncaa_f_f" validate="digits" :read-only="saved"></input-tag> -->
                <multiselect :disabled="validated == 1 ? true : false" :show-labels="true" v-model="userData1.coach_ncaa_f_f" :options="options" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" placeholder="Select Year" label="name" track-by="name">
                    <template  slot="tag" scope="props">
                        <span class="custom__tag"><span>{{ props.option.language }}</span><span v-show="hidetem" class="custom__remove" @click="props.remove(props.option)">x</span></span>
                    </template>
               </multiselect>
                <label>National Tournament</label>
                <!-- <input-tag placeholder="Add Years" :tags="userData1.coach_ncaa_n_t" validate="digits" :read-only="saved"></input-tag> -->
                 <multiselect :disabled="validated == 1 ? true : false" :show-labels="true" v-model="userData1.coach_ncaa_n_t" :options="options" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" placeholder="Select Year" label="name" track-by="name">
                    <template  slot="tag" scope="props">
                        <span class="custom__tag"><span>{{ props.option.language }}</span><span v-show="hidetem" class="custom__remove" @click="props.remove(props.option)">x</span></span>
                    </template>
               </multiselect>
                <label>Post Season Appearance</label>
                <!-- <input-tag placeholder="Add Years" :tags="userData1.coach_ncaa_p_s" validate="digits" :read-only="saved"></input-tag> -->
                 <multiselect :disabled="validated == 1 ? true : false" :show-labels="true" v-model="userData1.coach_ncaa_p_s" :options="options" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" placeholder="Select Year" label="name" track-by="name">
                    <template  slot="tag" scope="props">
                        <span class="custom__tag"><span>{{ props.option.language }}</span><span v-show="hidetem" class="custom__remove" @click="props.remove(props.option)">x</span></span>
                    </template>
               </multiselect>
                <label>Conference Championship</label>
                <!-- <input-tag placeholder="Add Years" :tags="userData1.coach_ncaa_c_c" validate="digits" :read-only="saved"></input-tag> -->
                 <multiselect :disabled="validated == 1 ? true : false" :show-labels="true" v-model="userData1.coach_ncaa_c_c" :options="options" :multiple="true" :close-on-select="true" :clear-on-select="true" :hide-selected="false" placeholder="Select Year" label="name" track-by="name">
                    <template  slot="tag" scope="props">
                        <span class="custom__tag"><span>{{ props.option.language }}</span><span v-show="hidetem" class="custom__remove" @click="props.remove(props.option)">x</span></span>
                    </template>
               </multiselect>
                <label>Players Drafted Professionally</label>

                 <span class="testimonial-text lc" v-html="userData1.players" name="userData1.players" v-show="saved">{{ userData1.players }}</span>
                <!-- <vue-editor id="userData1bito" v-show="editing" v-model="userData1.players" :disabled="false" :editorToolbar="customToolbar"></vue-editor> -->
                <textarea id="userData1bito" v-show="editing" v-model="userData1.players" :disabled="false"  ></textarea>
                                 
                              

            </form>
            
        </div>
    </div>
</template>

<script>
// import { VueEditor } from 'vue2-editor';

// import InputTag from 'vue-input-tag'
// import MaskedInput from 'vue-masked-input';
import Multiselect from 'vue-multiselect'
export default{
    props:['usermeta','yearac'],
    data (){
        return{
            editing: false,
            saved: true,
            saving: false,
            validated: 1,
            hidetem: false,
            userData1: {
                coach_email: this.empty_check( this.usermeta.coach_email ),
                phone: this.empty_check( this.usermeta.phone ),
                // coach_www: this.empty_check_url( this.usermeta.coach_www ),
                coach_ncaa: this.array_check( this.usermeta.coach_ncaa ),
                coach_ncaa_f_f: this.array_check( this.usermeta.coach_ncaa_f_f ),
                coach_ncaa_p_s: this.array_check( this.usermeta.coach_ncaa_p_s ),
                coach_ncaa_c_c: this.array_check( this.usermeta.coach_ncaa_c_c ),
                coach_ncaa_n_t: this.array_check( this.usermeta.coach_ncaa_n_t ),
                players: this.empty_check( this.usermeta.players ),
                bio: this.empty_check( this.usermeta.bio ),
                
            },
            options: this.yearac,
        }  
    },
    components: { Multiselect },
    methods:{
        array_check: function( val = null ){
            // console.log( val );
            if( val == '' || val == null ){
                return new Array();
            }
            return JSON.parse( val );
        },
        empty_check_url: function( url ){
            if( url == '' || url == null ){
                return '';
            }else{
                if( url.includes("http") ){
                    return url;
                }
                return 'http://'+url;
            }
        },
        empty_check: function( val ){
            if( val == '' || val == null ){
                return '';
            }else{
                return val;
            }
        },
        url_empty_check: function( val ){
            if( val == '' || val == null ){
                return '#';
            }else{
                return val;
            }
        },
        cancel: function(){
            this.userData1 = {
                coach_email: this.empty_check( this.usermeta.coach_email ),
                phone: this.empty_check( this.usermeta.phone ),
                // coach_www: this.empty_check( this.usermeta.coach_www ),
                coach_ncaa: this.array_check( this.usermeta.coach_ncaa ),
                coach_ncaa_f_f: this.array_check( this.usermeta.coach_ncaa_f_f ),
                coach_ncaa_p_s: this.array_check( this.usermeta.coach_ncaa_p_s ),
                coach_ncaa_c_c: this.array_check( this.usermeta.coach_ncaa_c_c ),
                coach_ncaa_n_t: this.array_check( this.usermeta.coach_ncaa_n_t ),
                players: this.empty_check( this.usermeta.players ),
                bio: this.empty_check( this.usermeta.bio ),
            };
            this.editing = false;
            this.saved = true;
            this.hidetem = false;
            this.validated = 1;
            this.$validator.validateAll().then(() => {  
            
                    
                }).catch(() => {
                        console.log("error");
                        return false
                }); 
        },
        editForm: function(){
            this.validated = 0;
            this.editing = true;
            this.saved = false;
            this.hidetem = true;

        },
        submitData(){
            this.$validator.validateAll().then(() => {
                this.editing = false;
                this.saved = false;
                this.saving = true;
                axios.post( '/profile', this.userData1 )
                .then(response=>{



                    move(response.data);
                    this.editing = false;
                    this.saving = false;
                    this.saved = true;
                    this.validated = 1;
                    this.hidetem = false;
                })
                .catch(error=>{
                    this.errors=error.errors;
                })
            }).catch(() => {
                console.log("error");
                return false
            });
        }
    },
    mounted(){
        console.log('user2');
    },
    created(){
        this.userData1 = {
                coach_email: this.empty_check( this.usermeta.coach_email ),
                phone: this.empty_check( this.usermeta.phone ),
                // coach_www: this.empty_check( this.usermeta.coach_www ),
                coach_ncaa: this.array_check( this.usermeta.coach_ncaa ),
                coach_ncaa_f_f: this.array_check( this.usermeta.coach_ncaa_f_f ),
                coach_ncaa_p_s: this.array_check( this.usermeta.coach_ncaa_p_s ),
                coach_ncaa_c_c: this.array_check( this.usermeta.coach_ncaa_c_c ),
                coach_ncaa_n_t: this.array_check( this.usermeta.coach_ncaa_n_t ),
                players: this.empty_check( this.usermeta.players ),
                bio: this.empty_check( this.usermeta.bio ),
            };
    },
}
</script>