<template>
	<div class="tab-inner">
		<input type="hidden" id="coach3" :value="saved" />
		<h3>School Information
			<a v-if="total > 0" @click="editForm" v-show="saved" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span></a>
			<a v-if="total > 0" v-show="editing" @click="cancel" class="edit"><!-- <i class="fa fa-close" aria-hidden="true"></i> --></a>
			<a v-if="total > 0" v-show="editing" @click="submitData" class="edit"><i class="fa fa-floppy-o" aria-hidden="true"></i><span>Save</span></a>
			<span class="saving" v-show="saving"><img src="/images/spin.gif" /></span><!-- <a class="btn orange pull-right" @click.prevent="add_sport" href="#">Add New</a> --></h3>
		<div class="school">
			<div class="inner-content" v-for="( n, index ) in academics.length" :class="add_class(index, academics.length)">
				<p>{{academics[index]['school_name']}}</p>
				<input v-show="inputhide" class="input-search" type="text" v-on:keyup="search(index)" v-model="academics[index]['school_input']" placeholder="Search School" />
				<ul v-if=" academics[index]['school_input'] == showdiv" v-show="hideschool" name="sport" class="js-example-basic-single school-list">
					<li @click="get_title(schoolllist.id,index)" v-for="schoolllist in schoolllist" :value="schoolllist.id" >{{schoolllist.school_name}}</li>

				</ul>
				<span v-show="school_name_re" class="form-control-feedback">School name is required.</span>
				<div class="school-info">
					<table>
					
						<tr>
							<!-- <a href="#" class="edit" v-show="editing" @click.prevent="deleterow(index,academics[index]['id'])"><i class="fa fa-trash-o" aria-hidden="true"></i></a> -->
						</tr>
						<tr v-show="schoolname">
							<td>Enter School Name:</td>
							<input type="text"  v-model="academics[index]['id']" />
							<td v-show="editing"><input type="text"  :disabled="validated == 1 ? true : false" class="edit-input" v-model="academics[index]['schoolnameother']" placeholder="Enter School Name" /></td>
						</tr>
						<tr>
							<td>Gender Coached:</td>
							<td><select :disabled="validateds == 1 ? true : false" @change="get_gender_fields( $event.target.value )"  class="js-example-basic-single edit-input"  v-model="academics[index]['gender']">
								<option value="null" >Select Gender</option>
								<option value="Men">Male</option>
								<option value="Women">Female</option>
								<option value="Both">Both</option>
							</select></td>
						</tr>
						<tr>
							<td>Year:</td>
							<td v-show="saved">{{ academics[index]['year'] }}</td>
							<td v-show="editing"><input data-vv-as="Year" type="text" :name="'academics'+index+'year'" v-validate="'required'" class="edit-input" v-model="academics[index]['year']" placeholder="From-To Year" /></td>
						</tr>
						<tr style="display:none">
							<td>Students Coached:</td>
							<td v-show="saved">{{ academics[index]['students_coached'] }}</td>
							<td v-show="editing"><input data-vv-as="Students Coached"   :name="'academics'+index+'coach'" v-validate="'required'" type="text" class="edit-input"  v-model="academics[index]['students_coached']" placeholder="# of students" /></td>
						</tr>
						<tr>
							<td>School Tuition:</td>
							<td v-show="saved" >{{ formatPrice( academics[index]['school_tuition'] ) }}</td>
							<td class="doller-sign" :showinput="validateds == 1 ? false : true" v-show="editing"><input data-vv-as="School Tution"  :disabled="validateds == 1 ? true : false" :name="'academics'+index+'Tution'" min="0" v-validate="'required|numeric'" type="number" class="edit-input" v-model="academics[index]['school_tuition']" placeholder="2000" /></td>
						</tr>
						<tr>
							<td>Room/Board:</td>
							<td v-show="saved">{{ formatPrice( academics[index]['tuition_room'] ) }}</td>
							<td class="doller-sign" :showinput="validateds == 1 ? false : true" v-show="editing"><input type="number" :disabled="validateds == 1 ? true : false" data-vv-as="Tuition Room/Board"  min="0" :name="'academics'+index+'Board'" v-validate="'required|numeric'" class="edit-input" v-model="academics[index]['tuition_room']" placeholder="2000" /></td>
						</tr>
						<tr>
							<td>School Size:</td>
							<td v-show="saved">{{ academics[index]['school_size'] }}</td>
							<td v-show="editing"><input type="text" data-vv-as="School Size"  :name="'academics'+index+'Size'" v-validate="'required'" class="edit-input" v-model="academics[index]['school_size']" placeholder="Number of students" /></td>
						</tr>
						<tr>
							<td>Website Name:</td>
							<td v-show="saved">{{ academics[index]['school_url'] }}</td>
							<td v-show="editing"><input type="text" class="edit-input"  v-model="academics[index]['school_url']" placeholder="Enter Website" /></td>
						</tr>
						<tr>
							<td>Address:</td>
							<td v-show="saved">{{ academics[index]['address1'] }}</td>
							<td v-show="editing"><input type="text" data-vv-as="Address"  :name="'academics'+index+'Address'" v-validate="'required'" class="edit-input"  v-model="academics[index]['address1']" placeholder="Address of School" /></td>
						</tr>
						<tr>
							<td>Address 2:</td>
							<td v-show="saved">{{ academics[index]['address2'] }}</td>
							<td v-show="editing"><input type="text" data-vv-as="Address"  :name="'academics'+index+'Address'" v-validate="'required'" class="edit-input"  v-model="academics[index]['address2']" placeholder="Address 2 of School" /></td>
						</tr>
						
						<tr>
							<td>City:</td>
							<td v-show="saved">{{ academics[index]['city'] }}</td>
							<td v-show="editing" :showinput="validateds == 1 ? false : true"><input type="text" :disabled="validateds == 1 ? true : false" data-vv-as="Address"  :name="'academics'+index+'Address'" v-validate="'required'" class="edit-input"  v-model="academics[index]['city']" placeholder="City" /></td>
						</tr>
						<tr>
							<td>State:</td>
							<td>
								<select name="division" :disabled="validateds == 1 ? true : false" v-model="academics[index]['state']" v-validate="'required'" data-vv-as="Division" >
									<option value="">Select State</option>
									<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">District of Columbia</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Zip:</td>
							<td v-show="saved">{{ academics[index]['zip'] }}</td>
							<td v-show="editing" :showinput="validateds == 1 ? false : true"><input type="text" :disabled="validateds == 1 ? true : false" data-vv-as="Address"  :name="'academics'+index+'Address'" v-validate="'required'" class="edit-input"  v-model="academics[index]['zip']" placeholder="Zip Code" /></td>
						</tr>
							<tr>
							<td>Phone:</td>
							<td v-show="saved">{{ academics[index]['phone'] }}</td>
							<td v-show="editing"><input  class="edit-input phone"   v-show="editing"   data-vv-name="Phone" v-model="academics[index]['phone']"  placeholder="Phone number" type="text" /></td>
						</tr>
						<tr>
							<td>Fax:</td>
							<td v-show="saved">{{ academics[index]['fax'] }}</td>
							<td v-show="editing">
							<input  class="edit-input fax"   v-show="editing"   data-vv-name="Phone" v-model="academics[index]['fax']" placeholder="Fax number" type="text" />
							</td>
						</tr>
						<tr>
							<td>Division:</td>
							<td><select name="division" :disabled="validateds == 1 ? true : false" v-model="academics[index]['division']" v-validate="'required'" data-vv-as="Division" >
								<option value="null">Select Division</option>
								<option v-for="(divisionss,key) in divisionss" :value="divisionss" >{{key}}</option>
							</select>
							</td>
						</tr>
						<tr style="display:none;">
							<td>Sport:</td>
							<td>
								<select class="sportsdropdown" name="sport" :disabled="validateds == 1 ? true : false" @change="get_sport_fields( $event.target.value )" v-model="academics[index]['sport_id']">
									<option value="null">Select Sport</option>
									<option v-for="sport in orderedSports" :value="sport.id">{{sport.title}}</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>Conference:</td>
							<td v-show="saved">{{ academics[index]['conference'] }}</td>
							<td v-show="editing"><input type="text" class="edit-input"  data-vv-as="Division Level"  :name="'academics'+index+'Level'" v-validate="'required'" v-model="academics[index]['conference']" placeholder="Conference" /></td>
						</tr>
						<tr>
							<td>Position:</td>
							<td><select class="js-example-basic-single edit-input"  :disabled="validateds == 1 ? true : false" v-model="academics[index]['head_coach']">
							<option value="null">Select Position</option>
							<option value="True">Head Coach</option>
							<option value="False" >Assistant Coach</option>
							</select></td>
						</tr>
					</table>
				</div>
				<hr class="light">
			</div>
		</div>
	</div>
</template>
<script>
	// import MaskedInput from 'vue-masked-input';
	export default{
        props: ['sportsdata','schoollist','divisionss','allsports'],
        data(){
        	return {
        		school_name_re:false,
        		showdiv:'',
        		schoolname:false,
        		inputhide:false,
        		hideschool:false,
            	validated: 1,
            	validateds: 1,
				editing: false,
				saved: true,
				schoollist:this.schoollist,
				saving: false,
				delete_row_test:false,
				sports: this.allsports,
				academics: this.arrayCreate( this.sportsdata ),
				total: this.totalCount( this.sportsdata ),
				fields: [],
			}
		},
		computed:{
            orderedSports: function () {
            return _.orderBy(this.sports , 'title')
        }
        },
		// components: { MaskedInput },
		methods:{
			get_sport_fields: function( val ){
				console.log( this.academics[0] );
				if( typeof(this.academics[0]) != 'undefined' ){
					this.$parent.coach_sport_id = this.academics[0]['sport_id'];
				}
			},
			get_gender_fields: function( val ){
				//alert(val);
				//console.log( this.academics[0] );
				//if( typeof(this.academics[0]) != 'undefined' ){
					this.$parent.coach_gender_id = this.academics[0]['gender'];
				//}
			},
			search(val){
        		let schoolname = this.academics[val].school_input;
        		// 
        		if(schoolname.length > 1){
	        		this.saving = true;
	        		this.showdiv = schoolname;
					let formdata = new FormData();
					formdata.append('schoolname',schoolname);
					axios.post( '/api/schoolname', formdata )
					.then(response=>{
						this.saving = false;
						this.schoolllist = [];
						if(response.data.length > 0){
							this.hideschool = true;
							for (let i = 0; i < response.data.length; i++) {
								console.log(response.data[i]);
		                        this.schoolllist.push(response.data[i]);
		                    }
		                }else{

		                	this.hideschool = false;
		                }
					})
					.catch(error=>{
						
					})
        		}else{
        			this.saving = false;
        			console.log('scho'+schoolname.length);
        			this.hideschool = false;
        		}
        	},
        	arrayCreate: function( r_data = null ){
        		if( r_data == null ){
        			return new Array();
        		}else{
        			if( r_data == '' ){
        				return new Array();
        			}else{
        				return r_data ;
        			}
        		}
        	},add_class( i, x ){
                console.log( i );
                console.log( x );
                if( i == 0 && this.editing == true ){
                    return "highlight";
                }else{
                    return "";
                }
            },
        	deleterow: function(data,deleteid){
        	    this.total = this.total - 1;
                this.academics.splice(data,1); 
	            let data1 = new FormData();
               	data1.append('key', deleteid);
                axios.post( '/profile/deleteacoach', data1 )
                .then(response=>{
                	move(response.data);
                    console.log(response);
                })
                .catch(error=>{
                    console.log(error);
                    this.errors=error.errors;
                })    
            },
            get_title: function( id,indexpostion){
					this.hideschool = false;
					if(id == 'other'){
						
						this.validated = 0;
						this.schoolname = true;
					}else{
						if (typeof(id) != "undefined"){
						this.validated = 1;
						this.schoolname = false;
			            this.saving = true;
			            let formdata = new FormData();
			            formdata.append('id',id);
				           axios.post( '/resultsearch', formdata ).then(response=>{
				            Vue.set( this.academics, indexpostion, { school_id : id,school_url : response.data.school_url,year:'',address2:'',tuition_room:response.data.tuition_revenue_per_fte,school_tuition:response.data.tuition_in_state,school_size:'',address1:response.data.address,rank:'',city:response.data.city,state:response.data.state,zip:response.data.zip,coach:'',division:'null',head_coach:'null',phone:'',email:'',fax:'',division_name:'',conference:'',sport_id:'null',gender:'null',school_name:response.data.school_name,school_input:response.data.school_name,school_size:response.data.school_size_total,head_coach:response.data.member_naa,phone:response.data.telephone} );
				                this.saving = false;
				            });
			            if( typeof(this.academics[0]) != 'undefined' && indexpostion == 0 ){
			            	this.$parent.coach_school_id = id;
			            }
					}
				}
					
    		},
        	totalCount: function( data = null ){
        		if( data == null ){
        			return 0;
				}else{
        			return 0;
        		}
        	},
        	formatPrice: function(n){
        		if( n != '' && n != null ){
        			let number = parseInt(n);
	        		return "$" + number.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,");
    			}else{
    				return '';
    			}		
			},
            add_sport: function(){
            	this.academics.unshift({head_coach:'null',division:'null',sport_id:'null',gender:'null'});
                this.total = this.total + 1;
                this.fields[ this.total ] = {};
                this.editForm();
            },
            check: function( value ){
                if( value == 'undefined' ){
                    return '';
                }
            },
            cancel: function(){
	        	this.total = 0;
	        	this.academics = this.arrayCreate( this.sportsdata );
                if( this.academics != null ){
    	        	for( let i = 0; i < this.academics.length; i++ ){
    	        		this.total = this.total + 1;
    		    	}
            	}
            	this.inputhide = false;
	            this.editing = false;
	        	this.saved = true;
	            this.validated = 1;
		        this.validateds = 1;
	        	this.delete_row_test=false;
	        	this.$validator.validateAll().then(() => {	
            	this.hideschool = false;

                    
                }).catch(() => {
                	 this.errors.clear();
                        console.log("error");
                        return false;
                        
        		}); 
	        },
	        editForm: function(){
				this.validated = 1;
				this.validateds = 0;
				this.editing = true;
				this.saved = false;
				this.inputhide = true;
				this.delete_row_test=true;
	        },
	        submitData(){
				    if((typeof(this.academics[0]['school_input']) == 'undefined') && (this.academics[0]['school_input'] != '')){
				    	if((typeof(this.academics[0]['school_name']) == 'undefined') && (this.academics[0]['school_name'] !='')){

				    		this.school_name_re = true;
				    		//alert("School Name Is Required.");
				    		return false;
			       		}
			       }	
			        this.school_name_re = false;
		            this.saving = true;
	                this.editing = false;
	                this.saved = false;
		            axios.post( '/coacheshool', { coachings: this.academics } )
		            .then(response=>{
						let jsondata = response.data['value'];
						for(let k = 0; k < jsondata.length; k++) {
							Vue.set( this.academics, k ,jsondata[k]);
							this.$parent.coach_school_add = jsondata[k];
						}
						this.inputhide = false;
						this.hideschool = false;
						this.schoolname = false;
						move(response.data['prog']);
						this.editing = false;
						this.saving = false;
						this.saved = true;
						this.validated = 1;
						this.validateds = 1;
						this.$parent.sync_coach = true;
    	            })
    	            .catch(error=>{
    	                this.errors=error.errors;
    	        	})
    	        
	            
	        },
	          submitData1(){
	            // this.$validator.validateAll().then(() => {

	            	console.log(this.academics[0]['school_name']);

	            	
		            this.saving = true;
	                this.editing = false;
	                this.saved = false;
		            axios.post( '/coacheshool', { coachings: this.academics } )
		            .then(response=>{
						let jsondata = response.data['value'];
						for(let k = 0; k < jsondata.length; k++) {
							Vue.set( this.academics, k ,jsondata[k]);
							this.$parent.coach_school_add = jsondata[k];
						}
						this.inputhide = false;
						this.hideschool = false;
						this.schoolname = false;
						move(response.data['prog']);
						this.editing = false;
						this.saving = false;
						this.saved = true;
						this.validated = 1;
						this.validateds = 1;
						this.$parent.sync_coach = true;
    	            })
    	            .catch(error=>{
    	                this.errors=error.errors;
    	        	})
    	        
	        }
        },
        created(){
        	if(this.academics.length == 0){
        		this.add_sport();
        		this.submitData1();
        	}
        	if( this.academics != null ){
	        	for( let i = 0; i < this.academics.length; i++ ){
	        		// this.add_sport();
	        		this.total = this.total + 1;


	        	}
        	}
        },
    }
</script>