/*****************************
--------------------------
About-Events-Style
--------------------------
*****************************/

.share{
	&-event {
	    float: left;
	    width: 100%;
	    background: #212427;
	    padding: 12px 0;
	    color: #fff;
	    font-size: 14px;
	    font-weight: 100;
	    @include bp(mobile-max){
	    	text-align: center;
	    }
	    a {
		    color: #fff;
		    font-weight: 100;
		    i {
			    margin: 0 10px 0 0;
			}
		}
	}
	&-section {
	    text-align: right;
	    @include bp(mobile-max){
	    	text-align: center;
	    	margin-top: 10px;
	    }
	    p {
		    display: inline-block;
		    vertical-align: top;
		}
		ul {
		    display: inline-block;
		    margin: -4px 0 0 7px;
		    li {
			    display: inline-block;
			    margin: 0 0 0 8px;
			    a {
				    font-size: 20px;
				}
			}
		}
	}
}

.main{
	&-inner{
		section{
			&.white-bg{
				.right{
					&-content {
					    margin: 66px 0 0 0;
					}
					&-box {
					    border: 1px solid #E6E6F6;
					    border-radius: 3px;
					    padding: 20px;
					    float: left;
					    width: 100%;
					    h1 {
						    font-family: "BebasNeue";
						    font-size: 23px;
						    margin: 10px 0 30px 0;
						    @include bp(tab-max){
						    	margin: 0px 0 20px 0;
						    	font-size: 21px;
						    }
						}
						.uploaded-images{
							.padding-10 {
							    padding: 0 2px;
							    margin: 0 0 5px 0;
							}
							a {
							    background: #F7F7F8;
							    min-height: 77px;
							    max-height: 77px;
							    display: block;
							    &.upload {
								    background: #fff;
								    border: 2px dashed #e4e3e3;
								    padding: 22px 20px;
								    text-align: center;
								    color: #000;
								    font-size: 11px;
								    i {
									    display: block;
									}
								}
							}
						}
					}
				}
			}
			&.grey-bg{
				.atheletes-heading {
				    border-bottom: 1px solid #e4e3e3;
				    float: left;
				    width: 100%;
				    margin: 0 0 30px 0;
				    h2 {
					    font-size: 40px;
					    font-weight: bold;
					    margin: 0 0 20px 0;
					    font-family: "BebasNeue";
					    @include bp(tab-max){
					    	font-size: 33px;
					    }
					}
					.text-right{
						text-align: right;
						.btn.light {
						    background: #E6E6F6;
						    color: #b1adad;
						    margin: 4px 0;
						    padding: 13px 20px;
						    width: 170px;
						    text-align: center;
						    font-weight: 600;
						    @include bp(tab-max){
						    	margin: 0 0 14px 0;
							    padding: 13px 20px;
							    width: 100%;
						    }
						}
					}
				}
				.right{
					&-content {
					    margin: 66px 0 0 0;
					    @include bp(mobile-max){
					    	padding: 0px;
					    }
					}
					&-box {
					    border: 1px solid #E6E6F6;
					    border-radius: 3px;
					    padding: 20px;
					    float: left;
					    width: 100%;
					    background: #fff;
					    h1 {
						    font-family: "BebasNeue";
						    font-size: 23px;
						    margin: 10px 0 30px 0;
						}
						.btn {
						    width: 100%;
							padding: 13px 10px;
							@include bp(tab-max){
								font-size: 12px;
							}
						}
						form{
							&.filter-form{
								label {
								    font-size: 15px;
								    display: block;
								    margin: 0 0 10px 0;
								    color: #000;
								    font-weight: 700;
								    text-transform: uppercase;
								    @include bp(tab-max){
								    	font-size: 13px;
								    }
								}
								select {
								    border: 1px solid #c1c1c1;
								    width: 100%;
								    padding: 0px 0;
								    height: 45px;
								    background: transparent;
								    margin: 0 0 14px 0;
								}
								input {
								    padding: 8px 10px;
								    margin: 0px;
								    border-radius: 3px;
								    border: 1px solid #d2d1d1;
								    display: inline-block;
								    width: 100%;
								    height: 46px;
								    background: #fff;
								}
								.select2-container {
								    width: 100%;
								    margin: 0 0 16px 0;
								    a {
									    padding: 8px 10px;
									    margin: 0px;
									    border-radius: 3px;
									    border: 1px solid #d2d1d1;
									    display: inline-block;
									    width: 100%;
									    height: 46px;
									    background: #fff;
									    div {
										    background: transparent !important;
										    border: none;
										    top: 7px;
										}
									}
								}
								.dash {
								    position: relative;
								    margin-bottom: 20px;
								    span {
									    position: absolute;
									    right: 11px;
									    bottom: 16px;
									    font-size: 11px;
									}
								}
								.run {
									margin-bottom: 20px;
								    span {
									    position: absolute;
									    right: 27px;
									    bottom: 16px;
									    font-size: 11px;
									}
									label {
									    min-height: 20px;
									}
								}
							}
							.progress-bar {
							    display: inline-block;
							    max-width: 100%;
							    width: 100%;
							    margin-bottom: 20px;
							    .ui-slider {
								    display: inline-block;
								    max-width: 100%;
								    width: 100%;
								    margin: 0 9px 0 0;
								    background: linear-gradient(to right, #fd3542, #fd7647);
								    border: none;
								    border-radius: 23px;
								    height: 6px;
								    cursor: pointer;
								    span {
									    background: linear-gradient(to right, #fd3542, #fd7647);
									    border: 5px solid #fff;
									    border-radius: 40px;
									    top: -6px;
									}
								}
							}
						}
					}
				}
				.atheletes-main{
					.events-content{
						.events-data{
							padding: 20px 20px;
							vertical-align: middle;
							@include bp(desktop-main){
								padding: 20px 10px;
							}
							h3{
								font-family: 'Open Sans';
								font-weight: 700;
								font-size: 20px;
								span {
								    display: block;
								    font-size: 14px;
								}
							}
						}
					}
				}
			}
			.related-events {
			    float: left;
			    width: 100%;
			    margin: 40px 0 30px 0;
			    h1 {
				    border-bottom: 1px solid #e4e3e3;
				    font-size: 40px;
				    font-weight: bold;
				    margin: 0 0 40px 0;
				    font-family: "BebasNeue";
				    padding: 0 0 30px 0;
				    @include bp(mobile-max){
				    	margin: 0 0 22px 0;
					    padding: 0 0 15px 0;
				    }
				}
				.events-box {
				    background: #fff;
				    padding: 20px;
				    box-shadow: 1px 1px 40px 0px #e4e3e3;
				    margin: 0 0 25px 0;
				    img {
					    width: 100%;
					    margin: 0 0 10px 0;
					}
					h2 {
					    font-weight: 400;
					    font-size: 16px;
					    margin: 0 0 10px 0;
					    a {
						    font-weight: 700;
						    color: #000;
						    &:hover {
							    color: #FD3542;
							    text-decoration: underline;
							}
						}
					}
					p.date {
					    font-size: 12px;
					    color: #8c8a8a;
					}
				}
			}
		}
	}
}