/*****************************
--------------------------
Defaut-Style
--------------------------
*****************************/

html, body{
	overflow-x: hidden; 
}

div#toggle {
    display: block;
    background: #000;
    padding: 18px 30px;
    cursor: pointer;
}

img.img-responsive {
    max-width: 100%;
    width: 100%;
}
.hand-img{
	img.img-responsive{
		margin: 0 auto;
    	display: block;
	}
}

.padding-right {
    padding-right: 60px;
    @include bp(desktop-main){
    	padding-right: 10px;
    }
    @include bp(mobile-max){
    	padding-right: 0px;
    }
}

.loading-icon {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

.main{
	&-banner{
		&.inner-banner{
			padding: 100px 0 100px 0;
			background-image: url("../images/inner-banner.png");
			@include bp(desktop-main){
				padding: 70px 0 60px 0;
			}
			@include bp(mobile-max){
				padding: 50px 20px 40px 20px;
			}
			h1{
				@include bp(desktop-main){
					font-size: 70px;
				}
				@include bp(tab-max){
					font-size: 58px;
				}
				@include bp(mobile-p-max){
					font-size: 40px;
				}
			}
			h2{
				@include bp(mobile-p-max){
					font-size: 14px;
				}
			}
		}
	}
	&-inner{
		section{
			&.white-bg{
				padding: 60px 0;
				.left-content{
					.main-title{
						font-size: 40px;
					    font-weight: bold;
					    margin: 0 0 30px 0;
					    font-family: "BebasNeue";
					    border-bottom: 1px solid #e4e3e3;
					    padding: 0 0 25px 0;
					}
					img{
						margin: 0 0 20px 0;
					}
					p {
					    font-size: 18px;
					    color: #9e9e9e;
					    margin: 0 0 24px 0;
					    font-weight: 100;
						@include bp(desktop-main){
							font-size: 16px;
						}
					}
				}
				.sidebar{
					.post{
						&-section{
							margin-top: 68px;
							margin-bottom: 20px;
						    border: 1px solid #E6E6F6;
						    border-radius: 3px;
						    padding: 20px;
						    h1 {
							    font-family: "BebasNeue";
							    font-size: 23px;
							    margin: 10px 0 30px 0;
							}
						}
						&-inner {
						    border-bottom: 1px solid #E6E6F6;
						    padding: 0 0 15px 0;
						    margin: 0 0 18px 0;
						    &:last-child{
						    	border-bottom: 0 none;
						    	padding-bottom: 0px;
						    	margin: 0;
						    }
						    .left-img {
							    float: left;
							    margin: 0 15px 0 0;
							}
							.right-content{
								margin: 0;
								h2 {
								    font-family: "BebasNeue";
								    font-size: 21px;
								    margin: 10px 0 5px 0;
								}
								p {
								    font-weight: 100;
								    color: #b9b9b9;
								}
								a.learn-more {
								    color: #000;
								    font-size: 15px;
								}
							}
						}
					}
					.get-recruited {
					    text-align: center;
					    padding: 58px 20px;
					    background: url(../images/get-recruited.png);
					    background-repeat: no-repeat;
					    width: 100%;
					    background-size: 100%;
					    border-radius: 3px;
					    @include bp(tab-max){
					    	padding: 45px 20px;
					    }
					    h1 {
						    color: #fff;
						    text-transform: uppercase;
						    font-family: "BebasNeue";
						    font-size: 52px;
						    @include bp(desktop-main){
								font-size: 42px;
						    }
						    @include bp(tab-max){
								font-size: 28px;
						    }
						    a {
							    color: #fff;
							    text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}

form{
	.select2-container {
	    width: 100%;
	    margin: 0 0 25px 0;
	    @include bp(mobile-max){
	    	margin: 0 0 15px 0;
	    }
	    a {
		    padding: 8px 10px;
		    margin: 0px;
		    border-radius: 3px;
		    border: 1px solid #d2d1d1;
		    display: inline-block;
		    width: 100%;
		    height: 46px;
		    background: transparent;
		    div {
			    background: transparent !important;
			    border: none;
			    top: 7px;
			}
		}
		.select2-choices {
		    border-radius: 3px;
		    border: 1px solid #d2d1d1;
		    box-shadow: 0 0;
		    background: #fff;
		    margin: 0;
		    input {
			    margin: 0;
			    border: none;
			    height: 45px !important;
    			padding: 0 10px !important;
			}
			li {
			    background: transparent !important;
			    border: 0 !important;
			    border-radius: 0 !important;
			    box-shadow: 0 0 !important;
			    padding: 0 !important;
			    line-height: inherit !important;
			    div {
				    background: linear-gradient(to right, #fd3542, #fd7647);
				    color: #fff;
				    padding: 4px 21px 4px 10px;
				    border-radius: 12px;
				    font-size: 13px;
				    width: auto;
				}
				a.select2-search-choice-close {
				    border: none;
				    height: auto;
				    position: absolute;
				    right: 5px;
				    width: 11px;
				    top: 4px;
				    padding: 0;
				    left: auto;
				    background: transparent !important;
				    &:before {
					    content: "\f00d";
					    font-family: fontawesome;
					    font-size: 13px;
					    color: #fff;
					}
				}
			}
		}
	}
}

div.select2-container .select2-choice div b {
    background: none !important;
    position: relative;
    height: 20px;
    top: 4px;
    &:before {
	    content: "\f107";
	    font-family: fontawesome;
	}
}

@include bp(mobile-max){
	.atheletes-heading > .row {
	    margin: 0;
	}
}


