/*****************************
--------------------------
Events-Style
--------------------------
*****************************/

.filter-section {
    padding: 20px 0;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    label {
	    text-transform: uppercase;
	    display: block;
	    font-weight: 700;
	    color: #000;
	    margin: 0 0 9px 0;
	    @include bp(desktop-main){
	    	font-size: 13px;
	    }
	}
	input{
		width: 100%;
	    padding: 13px 10px;
	    margin: 0 0 21px 0;
	    border-radius: 3px;
	    border: 1px solid #d2d1d1;
	    height: 46px;
	    text-overflow: ellipsis;
	    @include bp(desktop-main){
	    	font-size: 15px;
	    }
	}
	.padd-right-remove {
	    padding-right: 0;
	}
    .select2-container {
	    width: 100%;
	    margin-bottom: 16px;
	    a {
		    padding: 8px 10px;
		    margin: 0px;
		    border-radius: 3px;
		    border: 1px solid #d2d1d1;
		    display: inline-block;
		    width: 100%;
		    height: 46px;
		    background: #fff;
		    div {
			    background: transparent !important;
			    border: none;
			    top: 7px;
			}
		}
	}
}

.main{
	&-inner{
		section{
			&.grey-bg{
				background: #F7F7F8;
    			padding: 40px 0;
			}
		}
		.events{
			&-section{
				display: table;
				width: 100%;
			}
			&-heading{
				display: table-row;
    			width: 100%;
    			.head {
				    display: table-cell;
				    padding: 19px 20px;
				    @include bp(mobile-max){
						display: none;
				    }
				    h2{
				    	font-size: 20px;
				   		font-family: "BebasNeue";
				    }
				}
			}
			&-content{
				display: table-row;
    			width: 100%;
			    @include bp(mobile-max){
					display: block;
				    width: 100%;
				    margin: 0 0 25px 0;
				    border-bottom: 1px solid #cecece;
				    padding: 0 0 18px 0;
			    }
    			.events-data {
				    display: table-cell;
				    background: #fff;
				    padding: 30px 20px;
				    border-bottom: 12px solid transparent;
				    position: relative;
				    @include bp(desktop-main){
				    	padding: 30px 10px;
				    }
				    @include bp(mobile-max){
				    	padding: 20px 10px;
					    display: block;
					    width: 100%;
					    text-align: center;
				    }
				    &:before {
					    content: "";
					    position: absolute;
					    left: 0px;
					    bottom: -12px;
					    width: 100%;
					    height: 12px;
					    background: linear-gradient(#ececfd, #f7f7f8);
					}
				    h2 {
					    font-size: 20px;
				   		font-family: "BebasNeue";
					    @include bp(desktop-main){
							font-size: 18px;
					    }
					    @include bp(tab-max){
							font-size: 16px;
					    }
				   		a{
				   			color: #250A55;
				   		}
					}
					p {
					    font-family: 'Open Sans';
					    color: #7f7f7f;
					    @include bp(desktop-main){
							font-size: 13px;
					    }
					    a{
					    	color: #250A55;
						    border-left: 2px solid #250A55;
						    padding: 0 0 0px 10px;
						    margin: 0 8px 0 0;
						    &:first-child {
							    border: none;
							    padding-left: 0;
							}
							@include bp(tab-max){
								margin: 0 2px 0 2px;
							    display: block;
							    border: 0 none;
							    font-size: 11px;
							    padding: 0;
							}
						    @include bp(mobile-max){
								display: inline-block;
						    	border-left: 2px solid #250A55;
						    	padding-left: 8px;
						    }
					    }
					}
				}
    		}
		}
	}
}