/*****************************
--------------------------
Sign-Up-Forms-style
--------------------------
*****************************/


.info-forms {
	.sign-up-form{
	    max-width: 700px;
	    margin: 0 auto;
	    width: 96%;
	}
    h{
    	&1{
    		font-size: 50px;
		    font-weight: bold;
		    margin: 0 0 10px 0;
		    font-family: "BebasNeue";
		    text-align: center;
		    @include bp(tab-max){
		    	font-size: 45px;
		    }
		    @include bp(mobile-max){
		    	font-size: 38px;
		    }
		    @include bp(mobile-p-max){
		    	font-size: 32px;
		    }
    	}
    	&2 {
		    font-family: 'Open Sans';
		    font-weight: 700;
		    font-size: 15px;
		    text-align: center;
		    text-transform: uppercase;
		    margin: 0 0 40px 0;
		    @include bp(mobile-max){
		    	font-size: 13px;
		    }
		}
		&3 {
		    &.heading-form{
		    	font-family: 'Open Sans';
			    font-weight: 700;
			    font-size: 15px;
			    position: relative;
			    padding: 7px 0px 10px 57px;
			    margin: 0 0 18px 0;
			    text-transform: uppercase;
			    @include bp(mobile-max){
			    	padding: 7px 0px 10px 48px;
			    }
			    span {
				    background: #E6E6F6;
				    padding: 9px 10px;
				    position: absolute;
				    left: 0;
				    top: 0;
				    border-radius: 50px;
				    font-weight: 700;
				    width: 34px;
				    height: 34px;
				    line-height: 18px;
				    font-size: 14px;
				    text-align: center;
				}
				a{
					color: #250A55;
				    float: right;
				    font-size: 12px;
				    text-decoration: underline;
				}
		    }
		}
    }
    form.details{
    	padding: 0 57px;
    	text-align: center;
    	@include bp(mobile-max){
    		padding: 0 17px;
    	}
    	.row{
    		text-align: left;
    	}
    	p {
		    margin: 0 0 20px 0;
		    font-weight: 200;
		    text-transform: uppercase;
		}
    	label{
			display: block;
		    margin: 0 0 13px 0;
		    color: #2b2b2b;
		    font-weight: 600;
		    font-size: 18px;
    	}
    	input{
    		&[type="text"] {
			    width: 100%;
			    padding: 13px 10px;
			    margin: 0 0 21px 0;
			    border-radius: 3px;
			    border: 1px solid #d2d1d1;
			    height: 50px;
			}
			&[type="email"] {
			    width: 100%;
			    padding: 13px 10px;
			    margin: 0 0 21px 0;
			    border-radius: 3px;
			    border: 1px solid #d2d1d1;
			    height: 50px;
			}
    	}
    	select{
    		width: 100%;
		    padding: 13px 13px;
		    margin: 0 0 21px 0;
		    border-radius: 3px;
		    border: 1px solid #d2d1d1;
		    background: #fff;
		    height: 47px;
		    color: #787a7b;
		    font-family: 'Open Sans';
    	}
    	.select2-container {
		    width: 100%;
		    margin: 0 0 25px 0;
		    a {
			    padding: 10px 10px;
			    margin: 0px;
			    border-radius: 3px;
			    border: 1px solid #d2d1d1;
			    display: inline-block;
			    width: 100%;
			    height: 50px;
			    background: #fff;
			    div {
				    background: transparent !important;
				    border: none;
				    top: 7px;
				}
			}
		}
    	button {
		    float: none;
		    padding: 14px 40px 14px 40px;
		    position: relative;
		    font-size: 20px;
		    margin: 15px auto 0;
		    display: inline-block;
		    max-width: inherit;
		    width: auto;
		    @include bp(mobile-max){
		    	font-size: 13px;
		    	padding: 15px 40px 14px 23px;
		    }
		    i {
			    font-weight: bold;
			    position: absolute;
			    right: 23px;
			    top: 18px;
			}
		}
	    .checkbox{
	    	margin: 0 0 10px 0;
	    	li {
			    position: relative;
			    padding: 0 0 0 33px;
			    width: 43%;
			    display: inline-block;
			    input {
				    position: absolute;
				    left: 0;
				    top: 0;
				    width: 100%;
				    height: 100%;
				    opacity: 0;
				    + label:before {
					    content: "";
					    border: 2px solid #fe5045;
					    width: 22px;
					    height: 22px;
					    display: block;
					    border-radius: 50px;
					    position: absolute;
					    left: 0;
					    top: 3px;
					}
					&:checked + label:after {
					    content: "";
					    width: 7px;
					    height: 7px;
					    display: block;
					    border-radius: 50px;
					    position: absolute;
					    left: 6px;
					    top: 9px;
					    background: #fe5045;
					    padding: 5px;
					}
				}
				label {
				    display: block;
				    margin: 0 0 10px 0;
				    color: #212527;
				    font-weight: 200;
				    font-size: 18px;
				}
			}
	    }
    }
    .enter-dashboard {
	    text-align: center;
	    margin: 0px;
	    p {
		    font-size: 12px;
		    color: #afafaf;
		    font-weight: 200;
		    a {
			    margin: 0 0 0 6px;
			    color: #250A55;
			}
		}
	}
}

