/*****************************
--------------------------
Sign-Up-Popup-style
--------------------------
*****************************/


html.popup {
    overflow: hidden;
}

.sign-up{
	&-popup {
	    position: fixed;
	    top: 0;
	    z-index: 999;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    text-align: center;
	    overflow-y: scroll;
	    background: rgba(255,255,255,0.9);
	 //    &:before {
		//     background: #fff;
		//     content: "";
		//     opacity: 0.9;
		//     width: 100%;
		//     height: 100%;
		//     position: fixed;
		//     left: 0;
		//     top: 0;
		//     z-index: -9;
		// }
	}
	&-content {
	    background: #fff;
	    max-width: 770px;
	    margin: 0 auto 90px;
	    padding: 70px 90px 110px 90px;
	    box-shadow: 3px 38px 133px -59px #000;
	    top: 10%;
	    position: relative;
	    width: 95%;
	    a.close {
		    position: absolute;
		    right: 20px;
		    top: 20px;
		    i {
			    color: #000;
			}
		}
		h1 {
		    font-family: "BebasNeue";
		    font-size: 44px;
		    font-weight: 800;
		    margin: 0 0 21px 0;
		}
		h2 {
		    font-family: "BebasNeue";
		    font-weight: 800;
		    margin: 50px 0 40px 0;
		}
		.radio-section {
		    margin: 32px -7px 33px -7px;
		    a {
			    display: inline-block;
			    width: 32%;
			    color: #b5b5b5;
			    text-transform: uppercase;
			    font-weight: 600;
			    border-bottom: 1px solid #b5b5b5;
			    padding: 0 0 23px 0;
			    position: relative;
			    &.checked {
				    border-bottom: 1px solid #FD3542;
				    color: #FD3542;
				}
				input {
				    width: 100%;
				    position: absolute;
				    left: 0;
				    height: 100%;
				    visibility: hidden;
				}
			}
		}
		form{
			&.create-acc {
			    text-align: left;
			    .half {
				    width: 49%;
				    display: inline-block;
				    vertical-align: top;
				    margin-left: 1%;
				    &:first-child {
					    margin-left: 0;
					}
				}
				.small {
				    width: 24%;
				    display: inline-block;
				    vertical-align: top;
				    margin-right: 1%;
				}
				.medium {
				    width: 74%;
				    display: inline-block;
				    vertical-align: top;
				}
				label {
				    font-size: 15px;
				    color: #212527;
				    display: block;
				    margin: 0 0 9px 0;
				    font-weight: 700;
				    text-transform: uppercase;
				    sup {
					    color: red;
					    font-weight: bold;
					}
				}
				input, select {
				    padding: 10px 10px;
				    border-radius: 2px;
				    border: 1px solid #ccc;
				    width: 100%;
				    height: 45px;
				    background: transparent;
				    margin: 0 0 16px 0;
				}
				button.btn.orange {
			        margin: 6px auto 0;
				    display: block;
				    padding: 16px 100px;
				    font-size: 20px;
				}
				span.error {
				    color: red;
				    font-size: 12px;
				    margin: -15px 0 5px 0;
				    display: block;
				}
				.select2-container {
				    width: 100%;
				    margin: 0 0 16px 0;
				    a {
					    padding: 8px 10px;
					    margin: 0px;
					    border-radius: 3px;
					    border: 1px solid #d2d1d1;
					    display: inline-block;
					    width: 100%;
					    height: 46px;
					    background: #fff;
					    div {
						    background: transparent !important;
						    border: none;
						    top: 7px;
						}
					}
				}
			}
		}
		.social-signup {
		    margin: 0 -15px;
		    .facebook{
		    	a {
				    background: #3B5998;
				    color: #fff;
				    display: block;
				    text-align: left;
				    padding: 10px 20px;
				    border-radius: 4px;
				    i{
				    	float: right;
					    font-weight: bold;
					    font-size: 21px;
				    }
				}
		    }
		    .twitter{
		    	a {
				    background: #1DA1F2;
				    color: #fff;
				    display: block;
				    text-align: left;
				    padding: 10px 20px;
				    border-radius: 4px;
				    i{
				    	float: right;
					    font-weight: bold;
					    font-size: 21px;
				    }
				}
		    }
		}
	}
}