/*****************************
--------------------------
Steps-style
--------------------------
*****************************/

.step-forms{
	.heading-top{
		border-bottom: 1px solid #e4e3e3;
    	padding: 60px 0 10px 0 !important;
	}
	.left-section{
		.upload-photo{
			margin-bottom: 30px;
			a.upload{
				background: #fff;
			    border: 2px dashed #e4e3e3;
			    padding: 100px 20px 42px 20px;
			    text-align: center;
			    color: #000;
			    font-size: 13px;
			    display: block;
			    min-height: 250px;
			    i {
				    display: block;
				    color: #c1c1c1;
				    font-size: 26px;
				    margin: 0 0 10px 0;
				}
			}
		}
		.left-box {
		    border: 1px solid #E6E6F6;
		    border-radius: 3px;
		    padding: 20px;
		    float: left;
		    width: 100%;
		    background: #fff;
		    margin: 0 0 20px 0;
		    h1 {
			    font-family: "BebasNeue";
			    font-size: 23px;
			    margin: 10px 0 30px 0;
			    text-align: left;
			    a.edit {
				    float: right;
				    color: #fd3542;
				    font-size: 18px;
				}
			}
			.uploaded-images{
				.padding-10 {
				    padding: 0 2px;
				    margin: 0 0 5px 0;
				}
				a {
				    background: #F7F7F8;
				    min-height: 107px;
				    max-height: 107px;
				    display: block;
				    &.upload {
					    background: #fff;
					    border: 2px dashed #e4e3e3;
					    padding: 38px 20px 12px 20px;
					    text-align: center;
					    color: #000;
					    font-size: 11px;
					    i {
						    display: block;
						}
					}
				}
				.col-md-4{
					a{
						min-height: 80px;
				    	max-height: 80px;
					}
				}
			}
		}
	}
	.right-section{
		a.edit {
		    color: #fd3542;
		    font-size: 19px;
		    display: inline-block;
		    vertical-align: middle;
		    margin: 0px 18px;
		}
		.top-heading{
			@include bp(mobile-max){
				padding: 0 15px;
			}
			@include bp(mobile-max){
				.text-right{
					text-align: left;
	   				margin: 20px 0 0 0;
				}
			}
			h1 {
			    text-align: left;
			}
			h2{
				text-align: left;
	    		margin: 0 0 15px 0;
			}
			a.btn {
			    margin: 0 0 10px 0;
			    padding: 9px 40px 9px 24px;
			    clear: both;
			    position: relative;
			    width: 180px;
			    text-align: left;
			    i {
				    position: absolute;
				    right: 19px;
				    top: 12px;
				    font-weight: bold;
				}
			}
			.text-right{
				p{
					font-size: 14px;
					i{
						margin: 0 10px 0 0;
					}
				}
			}
			ul.top-listings{
				li {
				    display: inline-block;
				    margin: 0 15px 0 0;
				    a.btn.light {
					    padding: 4px 8px;
					    width: 100%;
					    color: #888;
					    font-size: 13px;
					}
					p {
					    color: #a7a7a7;
					    span {
						    color: #000;
						}
					}
				}
			}
		}
		.main-info {
		    margin: 20px 0 0 0;
		    @include bp(mobile-max){
		    	margin: 0px;
		    }
		    ul.nav {
			    width: 100%;
			    display: block;
			    float: left;
			    margin: 0 0 20px 0;
			    li {
				    display: inline-block;
				    float: left;
				    overflow: hidden;
				    position: relative;
				    padding: 10px 0 0 0;
				 //    &:before {
					//     content: "\f068";
					//     font-family: fontawesome;
					//     position: absolute;
					//     right: 0;
					//     top: 3px;
					//     background: #FC3041;
					//     color: #fff;
					//     padding: 4px;
					//     z-index: 99;
					//     font-size: 8px;
					//     border-radius: 50px;
					//     width: 15px;
					//     height: 15px;
					//     text-align: center;
					// }
				    a {
					    background: #fff;
					    padding: 11px 15px;
					    color: #b5b5b5;
					    display: block;
					    font-weight: 700;
					    text-transform: uppercase;
					    font-size: 13px;
					    letter-spacing: 1px;
					    border-bottom: 3px solid #E6E6F6;
					    position: relative;
					    transition: 0.3s ease-in-out;
					    &:before {
						    content: "";
						    border-bottom: 3px solid #fd3542;
						    left: -150%;
						    display: block;
						    position: absolute;
						    width: 100%;
						    bottom: -3px;
						    transition: 0.3s ease-in-out;
						}
						&:hover {
						    color: #000;
						    &:before {
							    left: 0;
							}
						}
					}
					&.active {
					    a{
					    	color: #000;
						    &:before {
							    left: 0;
							}
						}
						// &:before {
						//     content: "\f00c";
						//     background: #78D8B6;
						// }
					}
				}
			}
			.tab-content {
			    float: left;
			    width: 100%;
			    .tab-pane {
			    	display: none;
				    opacity: 0;
				    -webkit-transition: opacity .15s linear;
				    -o-transition: opacity .15s linear;
				    transition: opacity .15s linear;
				    &.active {
					    display: block;
					    &.in{
					    	opacity: 1;
					    }
					}
				    .tab-inner {
					    margin: 0 0 25px 0;
					    background: #fff;
					    border: 1px solid #E6E6F6;
					    float: left;
					    width: 100%;
					    border-radius: 3px;
						h3 {
						    padding: 20px 40px;
						    font-family: "BebasNeue";
						    font-size: 23px;
						    border-bottom: 1px solid #E6E6F6;
						    font-weight: 700;
						    @include bp(mobile-max){
						    	padding: 20px;
						    }
						    .btn {
							    width: auto;
							    margin: -6px 0;
							    padding: 10px 35px;
							}
							span.small {
							    font-size: 10px;
							    text-transform: capitalize;
							    display: inline-block;
							    vertical-align: top;
							    font-family: 'Open Sans';
							    text-align: right;
							    max-width: 410px;
							}
						}
						.inner-content {
						    padding: 20px 80px;
						    @include bp(tab-max){
						    	padding: 20px 40px;
						    }
						    @include bp(mobile-max){
						    	padding: 20px;
						    }
						    h4 {
							    font-weight: 700;
							    color: #000000;
							    font-size: 15px;
							    margin: 0 0 18px 0;
							    text-transform: uppercase;
							    i {
								    margin: 0 10px;
								    color: #cacaca;
								}
							}
							h2 {
							    text-align: left;
							    margin: 0px 0 20px 0;
							    text-transform: none;
							    font-size: 14px;
							}
							p {
							    color: #5d5d5d;
							    font-size: 17px;
							    margin: 0 0 12px 0;
							    @include bp(mobile-max){
							    	font-size: 14px;
							    }
							    label {
								    width: 76px;
								    display: inline-block;
								}
							    span {
								    color: #afafaf;
								}
							    a {
								    color: #000;
								    i {
									    color: #fd3542;
									    font-size: 26px;
									    margin: 0 2px 0 0;
									    width: 22px;
									    text-align: center;
									    @include bp(mobile-max){
									    	font-size: 21px;
    										margin: 0 4px 0 0;
									    }
									}
									img {
									    display: inline-block;
									    opacity: 0.4;
									    margin: 0px 8px 0 0;
									    width: 21px;
									    vertical-align: top;
									}
								}
							}
							&.padd-remove{
								padding: 20px 40px;
							}
							&.clubs-info {
							    padding: 0px;
							    table{
							    	th {
									    padding: 0 3px;
									    background: linear-gradient(to right, #fd3542, #fd7647);
									    color: #fff;
									    width: 110px;
									        border-top: 1px solid #dcdcdc;
									}
									td{
										padding: 30px 15px 20px 15px;
    									vertical-align: top;
    									    border-top: 1px solid #dcdcdc;
										h4 {
										    margin: 0 0 6px 0;
										}
										p {
										    margin: 0 0 4px 0;
										}
										span {
										    text-transform: uppercase;
										    font-size: 14px;
										    color: #9e9d9d;
										}
									}
							    }
							}
							hr.light {
							    margin: 20px 0 26px 0;
							    border-color: #E6E6F6;
							    border-width: 1px 0px 0px 0px;
							    opacity: 0.3;
							}
							.social-profile{
								a {
								    background: #f0f0f0;
								    width: 100%;
								    display: block;
								    margin: 0 0 10px 0;
								    padding: 9px 15px;
								    border-radius: 3px;
								    color: #888a8b;
								    font-weight: 600;
								    font-size: 14px;
								    i {
									    color: #c8c9c9;
									    width: 25px;
									    font-size: 19px;
									}
									&.facebook{
										&:hover{
											background: #3b5998;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
									}
									&.twitter{
										&:hover{
											background: #1DA1F2;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
									}
									&.snapchat{
										&:hover{
											background: #00bf8f;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
									}
									&.skype{
										&:hover{
											background: #00aff0;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
									}
									&.instagram{
										&:hover{
											background: #fb3958;
		    								color: #fff;
		    								i{
		    									color: #fff;
		    								}
										}
									}
								}
							}
							.text-center{
								h2, h3{
									text-align: center;
								}
							}
							.progress-bar{
								h2 {
								    display: inline-block;
								    margin-right: 13px;
								    width: 80px;
								}
								.ui-slider {
								    display: inline-block;
								    max-width: 220px;
								    width: 100%;
								    margin: 0 9px 0 0;
								    background: linear-gradient(to right, #fd3542, #fd7647);
								    border: none;
								    border-radius: 23px;
								    height: 6px;
								    cursor: pointer;
								    span {
									    background: linear-gradient(to right, #fd3542, #fd7647);
									    border: 5px solid #fff;
									    border-radius: 40px;
									    top: -6px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


