/*****************************
--------------------------
Steps-Forms-style
--------------------------
*****************************/

.tab-content{
	.inner-content{
		form{
			label{
				display: block;
			    margin: 0 0 8px 0;
			    font-weight: 700;
			    color: #000000;
			    font-size: 15px;
			    text-transform: uppercase;
			    @include bp(mobile-max){
			    	font-size: 14px;
			    }
				span{
					float: right;
				    font-size: 10px;
				    text-transform: capitalize;
				    display: inline-block;
				    vertical-align: top;
				}
			}
			input{
				&[type="text"] {
				    padding: 12px 10px;
				    margin: 0 0 30px 0;
				    border-radius: 3px;
				    border: 1px solid #d2d1d1;
				    display: inline-block;
				    width: 100%;
				    height: 46px;
				    @include bp(mobile-max){
				    	margin: 0 0 15px 0;
				    }
				}
				&.average-input {
				    width: 100% !important;
				}
			}
			textarea {
			    padding: 12px 10px;
			    margin: 0 0 30px 0;
			    border-radius: 3px;
			    border: 1px solid #d2d1d1;
			    display: inline-block;
			    width: 100%;
			    height: 46px;
			    @include bp(mobile-max){
			    	margin: 0 0 15px 0;
			    }
			}
			.btn.big {
			    width: 100%;
			    max-width: 310px;
			    margin: 0 auto;
			    float: none;
			    display: block;
			}
			.padd-right-remove{
				padding-right: 0px;
			}
			.checbox {
			    border: 1px solid #d2d1d1;
			    border-radius: 3px;
			    padding: 14px 14px;
			    margin: 0 0 20px 0;
			    p {
				    display: inline-block;
				    vertical-align: top;
				    position: relative;
				    margin: 0 0 !important;
				    input {
					    position: absolute;
					    left: 0;
					    top: 0;
					    width: 100%;
					    height: 100%;
					    opacity: 0;
					    + label {
						    background: #f0f0f0;
						    padding: 3px 10px;
						    width: 100% !important;
						    display: block !important;
						    color: #888a8b;
						    border-radius: 20px;
						    font-size: 14px;
						    font-weight: 600;
						}
						&:checked{
							+ label {
							    background: linear-gradient(to right, #fd3542, #fd7647);
							    color: #fff;
							}
						}
					}
				}
			}
			.checkbox{
		    	margin: 0 0 10px 0;
		    	display: inline-block;
		    	li {
				    position: relative;
				    padding: 0 0 0 30px;
				    width: 78px;
				    display: inline-block;
				    input {
					    position: absolute;
					    left: 0;
					    top: 0;
					    width: 100%;
					    height: 100%;
					    opacity: 0;
					    + label:before {
						    content: "";
						    border: 2px solid #000;
						    width: 20px;
    						height: 20px;
						    display: block;
						    border-radius: 50px;
						    position: absolute;
						    left: 0;
						    top: 3px;
						}
						&:checked + label:after {
						    content: "";
						    width: 7px;
						    height: 7px;
						    display: block;
						    border-radius: 50px;
						    position: absolute;
						    left: 5px;
						    top: 8px;
						    background: #000;
						    padding: 5px;
						}
					}
					label {
					    display: block;
					    margin: 0 0 10px 0;
					    color: #212527;
					    font-weight: 200;
					    font-size: 18px;
					}
				}
		    }
		    .year {
			    display: inline-block;
			    label {
				    display: inline-block;
				    font-weight: normal;
				    font-size: 16px;
				    color: #6d6a6a;
				}
			}
			.select2-container {
			    width: 100%;
			    margin: 0 0 25px 0;
			    @include bp(mobile-max){
			    	margin: 0 0 15px 0;
			    }
			    a {
				    padding: 8px 10px;
				    margin: 0px;
				    border-radius: 3px;
				    border: 1px solid #d2d1d1;
				    display: inline-block;
				    width: 100%;
				    height: 46px;
				    background: transparent;
				    div {
					    background: transparent !important;
					    border: none;
					    top: 7px;
					}
				}
				.select2-choices {
				    border-radius: 3px;
				    border: 1px solid #d2d1d1;
				    box-shadow: 0 0;
				    background: #fff;
				    margin: 0;
				    input {
					    margin: 0;
					    border: none;
					    height: 45px !important;
		    			padding: 0 10px !important;
					}
					li {
					    background: transparent !important;
					    border: 0 !important;
					    border-radius: 0 !important;
					    box-shadow: 0 0 !important;
					    padding: 0 !important;
					    line-height: inherit !important;
					    div {
						    background: linear-gradient(to right, #fd3542, #fd7647);
						    color: #fff;
						    padding: 4px 21px 4px 10px;
						    border-radius: 12px;
						    font-size: 13px;
						    width: auto;
						}
						a.select2-search-choice-close {
						    border: none;
						    height: auto;
						    position: absolute;
						    right: 5px;
						    width: 11px;
						    top: 4px;
						    padding: 0;
						    left: auto;
						    background: transparent !important;
						    &:before {
							    content: "\f00d";
							    font-family: fontawesome;
							    font-size: 13px;
							    color: #fff;
							}
						}
					}
				}
			}
		}
		.school-info {
		    margin: 0 0 30px 0;
		    table {
			    width: 100%;
			    td{
			    	@include bp(mobile-max){
			    		display: block;
					    width: 100%;
					    margin: 0 0 6px 0;
			    	}
			    }
			    .progress-bar {
				    display: inline-block;
				    max-width: 380px;
				    width: 70%;
				}
			}
		}
	}
}

#sports{
	input{
		&[type="text"] {
		    width: 91px;
		}
	}
}

#achievements .tab-inner .inner-content {
    padding: 20px 40px;
}