/*****************************
--------------------------
Footer-style
--------------------------
*****************************/

footer.main-footer {
    background: #0d0e10;
    float: left;
    width: 100%;
    padding: 0;
    border-top: 2px solid #fc6e46;
    .top-footer {
		padding: 60px 0 40px 0;
		@include bp(mobile-p-max){
			text-align: center;
		}
		.social {
		    margin: 20px 0;
		    li {
			    display: inline-block;
			    margin: 0 20px 0 0;
			    a {
				    color: #898989;
				    font-size: 28px;
				}
			}
		}
		h2 {
		    color: #fff;
		    text-transform: uppercase;
		    font-size: 12px;
		    letter-spacing: 3px;
		    font-weight: 600;
		    margin: 0 0 18px 0;
			@include bp(mobile-p-max){
				margin: 0 0 7px 0;
			}
		}
		ul{
			@include bp(mobile-p-max){
				margin-bottom: 30px;
			}
			li {
			    margin: 0 0 12px 0;
				@include bp(mobile-p-max){
					margin: 0 0 5px 0;
			    }
			    a {
				    color: #fff;
				    font-weight: 100;
				    font-size: 14px;
				    @include bp(desktop-main){
				    	font-size: 12px;
				    }
				}
			}
		}
	}
	.bottom-footer {
	    border-top: 1px solid #848587;
	    padding: 30px 0;
	    @include bp(mobile-max){
	    	text-align: center;
	    }
	    .text-right{
	    	text-align: right;
		    @include bp(mobile-max){
				text-align: center;
				margin: 10px 0 0 0;
		    }	
	    }
	    p {
		    color: #848587;
		    font-weight: 100;
		    font-size: 14px;
		    a{
		    	color: #fe5045;
		    	text-decoration: none;
		    	font-weight: 100;
		    }
		}
	}
}