/*****************************
--------------------------
Header-style
--------------------------
*****************************/

header{
	&.main-header {
	    padding: 25px 30px;
	    text-align: center;
	    float: left;
	    width: 100%;
	    border-bottom: 1px solid #e8e8e8;
	    @include bp(mobile-max){
	    	padding: 20px 18px;
	    }
	    .main-menu{
	    	ul{
	    		li{
	    			display: inline-block;
	    			position: relative;
	    			a{
	    				padding: 16px 22px;
					    color: #000;
					    font-size: 22px;
					    display: inline-block;
					    font-family: $bebas-font;
					    font-weight: 700;
					    @include bp(tab-max){
					    	padding: 5px 14px;
						    color: #000;
						    font-size: 18px;
					    }
					    &:hover{
							color: #fe5045;
					    }
	    			}
	    			ul.childrens {
				        position: absolute;
					    left: -6px;
					    width: 120px;
					    top: 50px;
					    box-shadow: 1px 6px 21px -9px #000;
					    transition: 0.3s ease-in-out;
					    opacity: 0;
					    display: none;
					    transform: translate(0%, 19%);
					    li {
						    display: block;
						    a {
							    background: #fff;
							    border-top: 1px solid #ccc;
							    padding: 12px 0;
							    display: block;
							    color: #000;
							    &:hover {
								    background: #fe5045;
								    color: #fff;
								}
							}
							&:first-child{
								a{
									border-top: 0;
								}
							}
						}
					}
					&:hover{
						ul.childrens {
						    transform: translate(0% , 0%);
						    transition: 0.3s ease-in-out;
						    opacity: 1;
						    display: block;
						}
						
					}
					&.has-children{
	    				> a{
	    					&:after {
							    content: "\f107";
							    font-family: fontawesome;
							    position: absolute;
							    right: 4px;
							    font-size: 16px;
							    top: 21px;
							    @include bp(tab-max){
									right: 0px;
								    font-size: 14px;
								    top: 8px;
							    }
							}
	    				}
	    			}
	    		}
	    	}
	    }
	    .logo {
		    text-align: left;
		    @include bp(mobile-max){
			    width: 130px;
			    float: left;
		    }
		    img{
			    @include bp(tab-max){
					width: 100%;
					height: auto;
				}   	
		    }
		}
		.menu-top{
			&.mean-container {
			    position: absolute;
			    right: 0;
			    top: 93px;
			    width: 100%;
			    .mean-bar {
				    background: transparent;
				    padding: 0;
				    a.meanmenu-reveal {
					    margin: -65px 0 0 0;
					    background: linear-gradient(to right, #fd3542, #fd7647);
					    border-radius: 50px;
					    right: 16px !important;
					    padding: 10px;
					    width: 23px;
					    height: 23px;
					}
					.mean-nav {
					    background: linear-gradient(to right, #fd3542, #fd7647);
					    margin: 0;
					    ul{
					    	li{
					    		a{
					    			padding: 11px 5%;
					    		}
					    		ul.childrens{
					    			li{
					    				a{
					    					padding: 11px 10%;
					    				}
					    			}
					    		}
					    	}
					    }
					    a.mean-expand {
						    height: 23px;
						    padding: 10px 11px !important;
						}
					}
				}
			}
		}
		.sign-up{
			text-align: right;
			padding: 0;
			@include bp(mobile-max){
    			width: 118px;
    			margin-right: 52px;
			}
			@include bp(mobile-p-max){
				width: auto;
			}
			a {
			    margin: 4px 0;
			    padding: 13px 20px;
			    max-width: 210px;
			    text-align: center;
			    width: 100%;
			    position: relative;
			    @include bp(tab-max){
			    	margin: -3px 0;
				    padding: 13px 7px;
				    font-size: 12px;
			    }
			    @include bp(mobile-max){
			    	margin: 8px 0 1px 0;
					width: 100%;
			    }
			    @include bp(mobile-p-max){
			    	width: 45px;
			    	font-size: 0px;
			    	&:before {
					    content: "\f090";
					    font-family: fontawesome;
					    font-size: 18px;
					}
			    }
			}
			.dropdown.profile {
			    position: relative;
			    > a {
				    padding: 0 0 40px 0;
				    img.profile-img {
					    display: inline-block;
					    max-width: 43px;
					    vertical-align: top;
					    margin: 0 10px 0 0;
					}
					span.caret {
					    display: inline-block;
					    vertical-align: middle;
					    margin: 11px 0 0 0;
					    color: #000;
					    position: relative;
					    &:after {
						    content: "\f107";
						    font-family: fontawesome;
						    margin: 0 0 0 9px;
						}
					}
				}
				.dropdown-menu {
				    display: none;
				    position: absolute;
				    right: 0;
				    width: 210px;
				    background: #fff;
				    padding: 20px 20px;
				    border-radius: 4px;
				    box-shadow: 0px 8px 12px -7px #969696;
				    border: 1px solid #efefef;
				    top: 55px;
				    text-align: left;
				    &:before {
					    content: "";
					    border-bottom: 10px solid #fff;
					    border-right: 10px solid transparent;
					    width: 20px;
					    position: absolute;
					    right: 1px;
					    border-left: 10px solid transparent;
					    display: block;
					    height: 10px;
					    top: -10px;
					    z-index: 9;
					}
					&:after {
					    content: "";
					    border-bottom: 10px solid #8a8989;
					    border-right: 10px solid transparent;
					    width: 20px;
					    position: absolute;
					    right: 1px;
					    border-left: 10px solid transparent;
					    display: block;
					    height: 10px;
					    top: -10px;
					}
				    h6 {
					    font-size: 15px;
					    margin: 0 0 8px 0;
					}
					li{
						a {
						    padding: 9px 0 2px 0;
						    display: block;
						    text-align: left;
						    color: #000;
						    border-top: 1px solid #ccc;
						    width: 100%;
						}
						button[type="submit"] {
						    background: linear-gradient(to right, #fd3542, #fd7647);
						    color: #fff;
						    padding: 7px 30px;
						    margin: 7px 0 0 0;
						    width: 100%;
						}
					}
				}
				&:hover{
					.dropdown-menu {
					    display: block;
					}
				}
			}
		}
	}
}